Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

gas:
  name: go abstract syntax (gas) scanner
  entry: bin/gas -exclude=G104 -fmt text -quiet ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

dep-status:
  name: dep status
  entry: dep status -v
  language: system
  description: If this hook fails, try running `dep ensure`

Show correct upload preview
  src/scenes/TransportationServiceProvider/DocumentViewerContainer.jsx
Due: prettier

Adjust styling to match wireframe
  src/scenes/Moves/Hhg/DatesSummary.jsx
Due: prettier

config managment adr
  .spelling
  docs/adr/0028-config-management.md
  docs/adr/index.md
Due: markdown-toc, mdspell

Imports 400ng items to database [delivers #160732595] (#1096)
  docs/schema/dp3.sqs
  migrations/20181009000639_import_400ng_items.up.sql
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/handlers/publicapi/tariff400ng_items.go
  pkg/models/accessorial.go
  pkg/models/shipment_accessorial.go
  pkg/models/shipment_test.go
  pkg/models/tariff400ng_item.go
  pkg/models/tariff400ng_item_test.go
  pkg/testdatagen/make_accessorial_records.go
Due: gas, dep-status

Add a check on e2e that the dates summary has shown up
  cypress/integration/mymove/shipment.js
Due: prettier

Fixes comments
  pkg/handlers/publicapi/tariff400ng_items.go
Due: gas, dep-status

Implements GET handler for Tariff400ng items
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/handlers/publicapi/tariff400ng_items.go
  pkg/handlers/publicapi/tariff400ng_items_test.go
  pkg/models/shipment_test.go
  pkg/models/tariff400ng_item.go
  pkg/models/tariff400ng_item_test.go
  pkg/testdatagen/make_accessorial_records.go
  pkg/testdatagen/make_tariff400ng_items.go
  pkg/testdatagen/shared.go
  swagger/api.yaml
Due: gas, dep-status

Remove unused import
  src/scenes/Moves/Hhg/DatePicker.jsx
Due: prettier

Implements GET handler for Tariff400ng items [delivers #160876387] (#1098)
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/handlers/publicapi/tariff400ng_items.go
  pkg/handlers/publicapi/tariff400ng_items_test.go
  pkg/models/shipment_test.go
  pkg/models/tariff400ng_item.go
  pkg/models/tariff400ng_item_test.go
  pkg/testdatagen/make_accessorial_records.go
  pkg/testdatagen/make_tariff400ng_items.go
  pkg/testdatagen/shared.go
  swagger/api.yaml
Due: gas, dep-status

Fixed issues with move-related date calculations
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/moves_test.go
Due: gas, dep-status

Enable HHG on staging.
  src/shared/featureFlags.js
Due: prettier

make db migration use non-locking operations
  migrations/20181009012435_add_tsp_enrolled.up.fizz
Due: none

Imports 400ng items to database
  pkg/handlers/publicapi/tariff400ng_items.go
Due: gas, dep-status

Implements GET handler for Tariff400ng items
  pkg/handlers/publicapi/api.go
Due: gas, dep-status

Implements handler for approving shipment_accessorials
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/models/shipment_accessorial.go
  pkg/testdatagen/make_accessorial_records.go
  swagger/api.yaml
Due: gas, dep-status

Implements handler for approving shipment_accessorials [delivers #160705009] (#1103)
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/handlers/publicapi/tariff400ng_items.go
  pkg/models/shipment_accessorial.go
  pkg/testdatagen/make_accessorial_records.go
  swagger/api.yaml
Due: gas, dep-status

Change schema to use the correct date
  src/shared/Entities/schema.js
Due: prettier

Create WeightEstimate component wizard page and add new route in getWorkFlowRoutes and tests
  src/scenes/Moves/Hhg/WeightEstimate.jsx
  src/scenes/Moves/Hhg/WeightEstimates.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
Due: prettier

circleci comments
  .circleci/config.yml
Due: none

Removes duplicate handler instantiation
  pkg/handlers/publicapi/api.go
Due: gas, dep-status

wip
  src/scenes/TransportationServiceProvider/DocumentViewerContainer.jsx
  src/scenes/TransportationServiceProvider/NewDocumentContainer.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/Entities/modules/shipmentDocuments.js
  src/shared/Swagger/request.js
Due: prettier

Removes duplicate handler instantiation (#1116)
  pkg/handlers/publicapi/api.go
Due: gas, dep-status

Enable HHG on staging. (#1113)
  src/shared/featureFlags.js
Due: prettier

WIP - doesn't even build yet
  Gopkg.lock
  cmd/webserver/main.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/users.go
  pkg/handlers/providers.go
  pkg/models/models.go
  pkg/models/service_member.go
  pkg/services/errors.go
  pkg/services/providers.go
  pkg/services/user/fetch_service_member.go
Due: gas, dep-status

change name of func to 'onFormActivation' and add proptype
  src/shared/PreApprovalRequest/Creator.jsx
  src/shared/PreApprovalRequest/PreApprovalPanel.jsx
Due: prettier

rename func in test
  src/shared/PreApprovalRequest/Creator.test.js
Due: prettier

start on redux
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/Entities/modules/accessorials.js
  src/shared/Entities/schema.js
Due: prettier

move comments inline
  .circleci/config.yml
Due: none

document that RBS still replies 200 OK when there are no matches
  pkg/iws/rbs_edi.go
  pkg/iws/rbs_pids.go
  pkg/iws/rbs_wkema.go
Due: gas, dep-status

add new schema
  docs/schema/dp3.sqs
Due: none

Remove unused reducer and api
  src/appReducer.js
  src/scenes/Moves/Hhg/api.js
Due: prettier

Account for if dates are a range or a single date; add a loader to the display of dates summary
  src/scenes/Moves/Hhg/DatesSummary.jsx
Due: prettier

format better
  cypress/integration/tsp/weightsAndItemsPanel.js
  cypress/support/testPremoveSurvey.js
  src/scenes/TransportationServiceProvider/Weights.jsx
  src/shared/formatters.js
Due: prettier

fix e2e
  cypress/integration/tsp/weightsAndItemsPanel.js
Due: prettier

The GBL number is required for shipments that are generated
  pkg/testdatagen/make_shipment_records.go
Due: gas, dep-status

Fix bug where calendar date requires a double click related to state and mounting and assigning selected value to state
  src/scenes/Moves/Hhg/DatePicker.jsx
Due: prettier

Don't let shipments automatically create GBL numbers
  pkg/testdatagen/make_shipment_offer_records.go
  pkg/testdatagen/make_shipment_records.go
Due: gas, dep-status

Use the existing id on the api for the selectDateSummary instead of just the date
  src/scenes/Moves/Hhg/DatesSummary.jsx
  src/shared/Entities/modules/moves.js
  src/shared/Entities/schema.js
Due: prettier

Clean up worked on files - Add prop types for NewDocumentView - Remove console logs
  cypress/integration/tsp/documentViewer.js
  src/scenes/Moves/Hhg/ducks.js
  src/scenes/Moves/Ppm/PaymentRequest.jsx
  src/scenes/Office/DocumentViewer/index.jsx
  src/scenes/TransportationServiceProvider/DocumentViewerContainer.jsx
  src/scenes/TransportationServiceProvider/NewDocumentContainer.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/DocumentViewer/NewDocumentView.jsx
  src/shared/Entities/modules/shipmentDocuments.js
  src/shared/Swagger/request.js
Due: prettier

Add cypress tests for pickup and destination addresses.
  cypress/integration/tsp/locationsPanel.js
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  gas: any of: \.go$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  dep-status: any of: \.go$
