Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.21.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs


  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.19.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ["docs/adr"]
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs-index
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

removing reference in config.yml
  .circleci/config.yml
Due: none

Optionally create GHC models when a move is submitted. (#3227)
  .envrc
  cmd/milmove/serve.go
  pkg/cli/featureflag.go
  pkg/handlers/internalapi/moves.go
  pkg/models/convert.go
  pkg/models/convert_test.go
Due: go-version

Update README.md (#3394)
  README.md
Due: gen-docs-index

Move file opening to inside of subtests; add wrong file type test
  pkg/services/payment_request/testdata/test.txt
  pkg/services/payment_request/upload_creator_test.go
Due: go-version

Log in all cases when submitting move.
  pkg/handlers/internalapi/moves.go
Due: go-version

Setup swagger yaml
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_parameters.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_parameters.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primemessages/m_t_o_shipment.go
  pkg/gen/primemessages/m_t_o_shipments.go
  swagger/prime.yaml
Due: go-version, swagger

Upgrade aws-vault version to 5.2.X
  scripts/check-aws-vault-version
Due: none

working early pass of pulling in service_params for pricing
  migrations/20200122144606_modify_payment_service_item.up.sql
  migrations_manifest.txt
  pkg/handlers/primeapi/payment_request.go
  pkg/models/payment_service_item.go
  pkg/models/payment_service_item_test.go
  pkg/payment_request/payment_request_helper.go
  pkg/payment_request/service_param_list_fetcher.go
  pkg/payment_request/service_param_list_valid.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup.go
  pkg/payment_request/service_param_value_lookups/service_area_origin_lookup.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/weight_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_billed_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_estimated_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_dest_address_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_pickup_address_lookup.go
  pkg/services/payment_request/payment_request_creator.go
  pkg/services/payment_request/payment_request_creator_test.go
Due: go-version

fix to struct scope and go-lint erroros
  pkg/payment_request/payment_request_helper.go
  pkg/payment_request/service_param_list_fetcher.go
  pkg/payment_request/service_param_list_valid.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup.go
  pkg/payment_request/service_param_value_lookups/service_area_origin_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_billed_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_estimated_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_dest_address_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_pickup_address_lookup.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

Update pre-commit hooks
  .golangci.yml
  .pre-commit-config.yaml
Due: none

MB-608 ma implement soft delete for users_roles
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/role.go
  pkg/handlers/adminapi/office_users.go
  pkg/models/users_roles.go
  pkg/services/users_roles/users_roles.go
  swagger/admin.yaml
Due: go-version, swagger

Write placeholder function for fuel surcharge pricing
  pkg/services/fuelprice/diesel_fuel_price_storer.go
  pkg/services/fuelprice/diesel_fuel_price_storer_test.go
  pkg/services/fuelprice/domestic_fuel_surcharge.go
Due: go-version

Add FEATURE_FLAG_CONVERT_PPMS_TO_GHC to all env files.
  config/env/experimental.app.env
  config/env/prod.app.env
  config/env/staging.app.env
Due: none

Log in all cases when submitting move. (#3397)
  pkg/handlers/internalapi/moves.go
Due: go-version

Add endpoint and service object for updating shipment status
  migrations/20200113173707_add_shipment_type_to_mto_shipments.up.sql
  migrations/20200121184927_add_status_to_mto_shipments.up.sql
  migrations_manifest.txt
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/patch_m_t_o_shipment_status.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/patch_m_t_o_shipment_status_parameters.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/patch_m_t_o_shipment_status_responses.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/patch_m_t_o_shipment_status_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_shipments.go
  pkg/handlers/ghcapi/mto_shipments_test.go
  pkg/models/mto_shipments.go
  pkg/services/mocks/MTOShipmentStatusUpdater.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_service_test.go
  pkg/services/mto_shipment/mto_shipment_status_updater.go
  pkg/services/mto_shipment/mto_shipment_status_updater_test.go
  pkg/testdatagen/make_mto_shipment.go
  swagger/ghc.yaml
Due: go-version, swagger

Add documentation for fuel surcharge and fix some type mismatches
  .spelling
  docs/backend/fuel-surcharge.md
  pkg/services/fuelprice/domestic_fuel_surcharge.go
Due: go-version, gen-docs-index

Only make PUT endpoint for prime; create service object to fetch mto shipments; write test for service object
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_parameters.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/mto_shipment/mto_shipment_fetcher_test.go
  pkg/services/mto_shipment/mto_shipment_service_test.go
  swagger/prime.yaml
Due: go-version, swagger

remove unnecessary check from service object
  pkg/services/mto_shipment/mto_shipment_status_updater.go
Due: go-version

Move interface to ghcrateengine and implement function in the ghcratengine instead of fuel price storer
  docs/backend/fuel-surcharge.md
  pkg/services/fuelprice/diesel_fuel_price_storer.go
  pkg/services/fuelprice/diesel_fuel_price_storer_test.go
  pkg/services/fuelprice/domestic_fuel_surcharge.go
  pkg/services/ghc_rate_engine.go
  pkg/services/ghcrateengine/domestic_fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/domestic_fuel_surcharge_pricer_test.go
Due: go-version, gen-docs-index

Use struct instead of id for updating shipment status
  pkg/gen/ghcapi/embedded_spec.go
  pkg/handlers/ghcapi/mto_shipments.go
  pkg/services/mocks/MTOShipmentStatusUpdater.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_status_updater.go
  pkg/services/mto_shipment/mto_shipment_status_updater_test.go
  swagger/ghc.yaml
Due: go-version, swagger

Use string type for enum
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_shipments.go
  swagger/ghc.yaml
Due: go-version, swagger

Remove doc
  docs/backend/fuel-surcharge.md
Due: gen-docs-index

Add FEATURE_FLAG_CONVERT_PPMS_TO_GHC to all env files. (#3402)
  config/env/experimental.app.env
  config/env/prod.app.env
  config/env/staging.app.env
Due: none

Pass move date as argument to fuel surcharge pricer
  .spelling
  pkg/services/ghc_rate_engine.go
  pkg/services/ghcrateengine/domestic_fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/domestic_fuel_surcharge_pricer_test.go
Due: go-version

WIP
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/patch_m_t_o_shipment_status_parameters.go
  pkg/handlers/ghcapi/mto_shipments.go
  pkg/services/mto_shipment/mto_shipment_status_updater.go
  swagger/ghc.yaml
Due: go-version, swagger

give some feedback when script runs successfully
  scripts/cac-prereqs
Due: none

Set up update sql query and modify payload for mto shipments
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_parameters.go
  pkg/gen/primemessages/m_t_o_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  swagger/prime.yaml
Due: go-version, swagger

Add more errors
  pkg/handlers/primeapi/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
Due: go-version

Revert "add audit logging to creating payment request"
  pkg/handlers/primeapi/payment_request.go
Due: go-version

update tests and fix props err
  src/scenes/Review/PPMShipmentSummary.jsx
  src/scenes/Review/PPMShipmentSummary.test.jsx
Due: prettier, eslint

react doesnt like dataCy attr.. change to datacy
  src/scenes/Review/PPMShipmentSummary.jsx
Due: prettier, eslint

add ppm shpiment summary estimate tests
  src/scenes/Review/PPMShipmentSummary.jsx
  src/scenes/Review/PPMShipmentSummary.test.jsx
Due: prettier, eslint

prevent submitting short haul moves from review page
  src/scenes/Review/PPMShipmentSummary.jsx
  src/scenes/Review/Review.jsx
Due: prettier, eslint

rename vars
  src/scenes/Review/PPMShipmentSummary.jsx
  src/scenes/Review/PPMShipmentSummary.test.jsx
Due: prettier, eslint

add canMoveNext bool and tests
  src/shared/WizardPage/index.jsx
  src/shared/WizardPage/index.test.js
Due: prettier, eslint

refactor short haul error check
  src/shared/incentive.js
  src/shared/incentive.test.js
Due: prettier, eslint

use refactored hasShortHaulError fcn
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Review/PPMShipmentSummary.jsx
Due: prettier, eslint

removed react-router-redux; replace with connected-react-router; updated dependencies with latest version
  package.json
  yarn.lock
Due: none

remove react-mock-router and replace with react-router-dom; react-mock-router does not support latest version (^v5)
  src/scenes/Moves/Ppm/WeightTicket.test.js
  src/scenes/Office/MoveInfo.test.js
  src/scenes/SystemAdmin/Home.test.jsx
Due: prettier, eslint

prettier changes
  src/scenes/SystemAdmin/Home.test.jsx
Due: prettier, eslint
