Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

Creates notification handler for mtoshipment events
  pkg/services/event/event.go
  pkg/services/event/event_test.go
  pkg/services/event/notification.go
Due: go-version

Add remaining props, state-to-props, and action creators; not yet next incomplete page
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Overview moved to wiki
  README.md
Due: none

Update orders table storybook references
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Basic.png
Due: none

initial commit
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

switch to mock out right query in moveorders test
  src/pages/Office/MoveOrders/MoveOrders.test.jsx
Due: prettier, eslint

created the switch statement for default payment service items
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

added clarifying varible name and comment
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

update new OrdersDetailForm storybook references
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
Due: none

remove references to Xfloat2
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

remove named function parameters
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Rerun after updating references
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
Due: none

Flex behavior for shipment cards
  src/components/Office/requestedShipments.module.scss
  src/components/Office/requestedShipments.stories.jsx
Due: prettier, eslint

Move RequestedShipments into its own folder
  src/components/Office/RequestedShipments/RequestedShipments.jsx
  src/components/Office/RequestedShipments/RequestedShipments.module.scss
  src/components/Office/RequestedShipments/RequestedShipments.stories.jsx
  src/components/Office/RequestedShipments/RequestedShipments.test.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Add L3 segment
  pkg/edi/segment/l3.go
  pkg/edi/segment/l3_test.go
Due: go-version

move l0 into switch case
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Update Loki references
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_multiple_approved_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_multiple_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_one_approved_shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_one_shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_two_approved_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_two_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Shipment_Display_Approved_Shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Shipment_Display_HHG_Shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Shipment_Display_NTS_Shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Shipment_Display_Postal_Only_Destination.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_multiple_approved_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_multiple_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_one_approved_shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_one_shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_two_approved_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_two_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Shipment_Display_Approved_Shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Shipment_Display_HHG_Shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Shipment_Display_NTS_Shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Shipment_Display_Postal_Only_Destination.png
Due: none

updates loki images
  .loki/reference/chrome_iphone7_Customer_Components_DocsUploaded_Basic.png
Due: none

Update no reference stories again
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_empty_values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
Due: none

Add some more l3 validations
  pkg/edi/segment/l3.go
  pkg/edi/segment/l3_test.go
Due: go-version

Rename order detail form stories
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_Empty_Values.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_Initial_Values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_Empty_Values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_Initial_Values.png
  src/components/Office/OrdersDetailForm/OrdersDetailForm.stories.jsx
Due: prettier, eslint

removes space from either side of the shipment cntent box to give the status bar more space
  src/scenes/Landing/MoveSummary.jsx
Due: prettier, eslint

Update and approve modified story names
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_Empty_Values.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersDetailForm_Initial_Values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_Empty_Values.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_Initial_Values.png
Due: none

Add better L3 validations
  pkg/edi/segment/l3.go
  pkg/edi/segment/l3_test.go
Due: go-version

Create prime upload and proof of service doc seed data in e2e
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Revert loki img
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized.png
Due: none

create the l5 segment
  pkg/edi/segment/l5.go
  pkg/edi/segment/l5_test.go
Due: go-version

Add nextIncompletePage code; refactor updateComponent so create isn't called twice
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

add proof of service document package to ghc payment request payload
  pkg/handlers/ghcapi/documents.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/payment_request.go
Due: go-version

Added mto service item handler
  pkg/services/event/event.go
  pkg/services/event/event_test.go
  pkg/services/event/notification.go
Due: go-version

Ensure user goes to home on login and next step in orders if needed
  src/pages/MyMove/Home/index.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
Due: prettier, eslint

Remove trailing slash in orders path; update client tests
  src/pages/MyMove/Home/index.test.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
Due: prettier, eslint

remove shipment action button if move is submitted
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Re-add shipment action btn and only disable if move is submitted
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Update a couple path-related cypress tests
  cypress/integration/mymove/hhg.js
  cypress/integration/mymove/orders.js
Due: prettier

pr fixes for lading description and valid num of elements
  pkg/edi/segment/l5.go
  pkg/edi/segment/l5_test.go
Due: go-version

update ladinglineitemnumber validation
  pkg/edi/segment/l5.go
Due: go-version

Turned off APIs in prod; set support API to default to disabled like other APIs
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/prod.app-client-tls.env
  docker-compose.circle.yml
  docker-compose.prime.yml
  pkg/cli/services.go
Due: go-version

MB-4209 Add endpoint to update MTO agents to prime.yaml
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_agent.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_agent_parameters.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_agent_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_agent_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primeclient/mto_shipment/mto_shipment_client.go
  pkg/gen/primeclient/mto_shipment/update_m_t_o_agent_parameters.go
  pkg/gen/primeclient/mto_shipment/update_m_t_o_agent_responses.go
  swagger/prime.yaml
Due: go-version, swagger

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
