Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.21.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs


  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.19.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ["docs/adr"]
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs-index
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

Trying yet another path
  .github/CODEOWNERS
Due: none

Touching the migration file
  migrations/app/schema/20200212204528_testing_codeowners.up.sql
Due: none

WIP
  pkg/models/office_user.go
  pkg/services/admin_user/admin_user_fetcher.go
  pkg/services/admin_user/admin_user_fetcher_test.go
  pkg/services/admin_user/admin_user_updater.go
  pkg/services/admin_user/admin_user_updater_test.go
  pkg/services/office_user/office_user_fetcher.go
  pkg/services/office_user/office_user_fetcher_test.go
  pkg/services/office_user/office_user_updater.go
  pkg/services/office_user/office_user_updater_test.go
  pkg/services/payment_request/payment_request_status_updater.go
  pkg/services/payment_request/payment_request_status_updater_test.go
  pkg/services/query/query_builder.go
  pkg/services/query/query_builder_test.go
Due: go-version

Trying explicit paths
  .github/CODEOWNERS
Due: none

Fix paths for database codeowners
  .github/CODEOWNERS
Due: none

Remove extra plugin from merge conflict
  yarn.lock
Due: none

make note in instructions so staging and experimental has the name and EPIDI value and only local environment should have github username instead
  docs/how-to/use-mtls-with-cac.md
Due: gen-docs-index

Remove unused prime api endpoints
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_prime_entitlements.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_prime_entitlements_parameters.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_prime_entitlements_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_prime_entitlements_urlbuilder.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_actual_weight.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_actual_weight_parameters.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_actual_weight_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_actual_weight_urlbuilder.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_destination_address.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_destination_address_parameters.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_destination_address_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_destination_address_urlbuilder.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_estimated_weight.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_estimated_weight_parameters.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_estimated_weight_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_estimated_weight_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primeclient/move_task_order/get_prime_entitlements_parameters.go
  pkg/gen/primeclient/move_task_order/get_prime_entitlements_responses.go
  pkg/gen/primeclient/move_task_order/move_task_order_client.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_actual_weight_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_actual_weight_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_estimated_weight_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_estimated_weight_responses.go
  swagger/prime.yaml
Due: go-version, swagger

setFeatureFlag in all related tests and correct path
  cypress/integration/mymove/ppm.js
Due: prettier, eslint

Removed @jim from codeowners
  .github/CODEOWNERS
Due: none

Update scripts and docs. Regenerate the CAC fingerprints.
  config/tls/README.md
  migrations/orders/secure/20200212000001_devlocal_faux_air_force.up.sql
  migrations/orders/secure/20200212000002_devlocal_faux_army_hrc.up.sql
  migrations/orders/secure/20200212000003_devlocal_faux_coast_guard.up.sql
  migrations/orders/secure/20200212000004_devlocal_faux_marine_corps.up.sql
  migrations/orders/secure/20200212000005_devlocal_faux_navy.up.sql
  migrations/orders/secure/20200212000006_devlocal_faux_all.up.sql
  scripts/README.md
  scripts/cac-extract-fingerprint
  scripts/mutual-tls-extract-fingerprint
  scripts/mutual-tls-extract-subject
Due: gen-docs-index

Remove jim from DB codeowners
  .github/CODEOWNERS
Due: none

Pass failing and successful cases
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/testdatagen/make_mto_shipment.go
Due: go-version

Add env files for Orders
  config/env/experimental.orders.env
  config/env/prod.orders.env
  config/env/staging.orders.env
Due: none

Rearragen
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

Remove nil thing.
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

Remove the extra migration file
  migrations/20200211184638_add_approved_date_to_mto_shipments.up.sql
Due: none

Run orders api as a subcommand of milmove binary
  .envrc
  Makefile
  cmd/milmove/main.go
  cmd/milmove/orders.go
  config/README.md
  docs/database/database.md
  scripts/ecs-deploy-service-container
Due: go-version, gen-docs-index

Slowly debug why mto shipment status updater tests are failing
  pkg/services/mto_shipment/mto_shipment_status_updater.go
  pkg/services/mto_shipment/mto_shipment_status_updater_test.go
Due: go-version

Missing comma so that solves some of the failed tests
  pkg/services/mto_shipment/mto_shipment_status_updater.go
Due: go-version

Revert "Bump github.com/pdfcpu/pdfcpu from 0.2.5 to 0.3.2"
  go.mod
  go.sum
Due: gomod

Fixed tests hurray
  pkg/services/mto_shipment/mto_shipment_status_updater_test.go
Due: go-version

Eliminate flags that are not used for orders
  cmd/milmove/orders.go
Due: go-version

Okay, fix tests again
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_shipment.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  swagger/prime.yaml
Due: go-version, swagger

Set entry points in docker compose and dockerfiles. Remove orders from cypress testing
  Dockerfile
  Dockerfile.local
  docker-compose.local.app.yml
  docker-compose.local.orders.yml
  scripts/run-e2e-test-docker
Due: none

For the love of all deities, let this be the final tests fix
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version

use reflect to output log data
  pkg/handlers/internalapi/personally_procured_move.go
Due: go-version

formatting...
  pkg/handlers/internalapi/personally_procured_move.go
Due: go-version

psss zapFields not move
  pkg/handlers/internalapi/personally_procured_move.go
Due: go-version

add logging for ppm
  pkg/handlers/internalapi/personally_procured_move.go
Due: go-version

Added contract id to a few missed queries
  pkg/services/ghcimport/import_re_domestic_service_area.go
  pkg/services/ghcimport/import_re_domestic_service_area_test.go
Due: go-version

add actual_move_date and original_move_date to queues payload
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/move_queue_item.go
  pkg/handlers/internalapi/move_queue_items.go
  pkg/models/queue.go
  swagger/internal.yaml
Due: go-version, swagger

Update docs/how-to/use-mtls-with-cac.md
  docs/how-to/use-mtls-with-cac.md
Due: gen-docs-index

Fix bug for when there is no size est with flag
  src/scenes/Moves/Ppm/ducks.js
Due: prettier, eslint

add actual_move_date and original_move_date to queues payload (#3538)
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/move_queue_item.go
  pkg/handlers/internalapi/move_queue_items.go
  pkg/models/queue.go
  swagger/internal.yaml
Due: go-version, swagger

Add license scan report and status
  README.md
Due: gen-docs-index

add send-payment-reminder task
  .circleci/config.yml
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  scripts/deploy-app-tasks
Due: go-version

Update command
  .circleci/config.yml
Due: none

Add deploy task for payment reminder email (#3540)
  .circleci/config.yml
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  scripts/deploy-app-tasks
Due: go-version

Add error message to response
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/gen/primeclient/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  swagger/prime.yaml
Due: go-version, swagger
