Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

For the DTOD mock, add zips that return errors
  pkg/route/dtod_zip5_distance_mock.go
Due: go-version, ato-go-linter, appcontext-linter

Set DTOD_USE_MOCK=true in CI for server_test to match local dev
  .circleci/config.yml
Due: none

add test for disregarding rejected weight ticket
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

clean up code
  pkg/services/ppmshipment/ppm_estimator.go
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

Update DTOD mock to return 0 distance for PO Box & invalid zips
  pkg/route/dtod_zip5_distance_mock.go
Due: go-version, ato-go-linter, appcontext-linter

Rename error variable
  pkg/handlers/internalapi/moving_expense.go
  pkg/handlers/internalapi/progear_weight_ticket.go
  pkg/handlers/internalapi/weight_ticket.go
Due: go-version, ato-go-linter, appcontext-linter

remove assertions that passes locally and fails in ci
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

add client tests
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.test.jsx
Due: prettier, eslint

fix undefined error
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding a migration for adding Daycos and MoveHQ;
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding in the updates for the users_roles table;
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding more comments for variables
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding more comments for `users` table transaction
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding comments in `client_certs` transaction
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding comments in `users_roles` table transaction
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Restricting access to the OrdersAPI;
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Extend playwright office tests fixtures vs major beforeEach setup
  playwright/tests/office/ppms/addShipment.spec.js
  playwright/tests/office/ppms/happyPathFlows.spec.js
  playwright/tests/office/ppms/scPpmTestFixture.js
  playwright/tests/office/ppms/viewShipment.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingFlows.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingNTS.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingNTSR.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingQueueFilters.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingTestFixture.js
  playwright/tests/utils/testharness.js
Due: prettier, eslint

added test for rejecting advance
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding some helpful messaging;
  scripts/check-deployed-commit
Due: none

add missing prop to tests
  src/components/Office/QAEReportTable/ShipmentQAEReportHeader.test.jsx
  src/components/Office/QAEReportTable/ShipmentQAEReports.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

write a new test in hopes this satisfies test coverage
  src/hooks/queries.test.jsx
Due: prettier, eslint

this was a breaking change - undone
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

Fixing about and advances customer ppm playwright
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/office/ppms/ppmTestFixture.js
  playwright/tests/utils/customerTest.js
Due: prettier, eslint

Convert milmove/ppms/dateAndLocation to playwright
  pkg/testdatagen/testharness/make_move.go
  playwright/fixtures/sampleWeightTicket.jpg
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppms to playwright
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/utils/customerTest.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

playwright milmove/ppms
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/fixtures/constructedWeight.xls
  playwright/fixtures/constructedWeight.xlsx
  playwright/fixtures/trailerOwnership.pdf
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
  playwright/tests/utils/baseTest.js
  playwright/tests/utils/customerTest.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppms to playwright
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppm/advances to playwright
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppms/entireShipmentCloseout to playwright
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
Due: prettier, eslint

Convert milmove/ppms/finalCloseout to playwright
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppms/entireShipmentOnboarding to playwright
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Provide a forEachViewport test helper with easy overrides
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
  playwright/tests/utils/customerTest.js
Due: prettier, eslint

Convert milmove/ppms/expenses to playwright
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Convert milmove/ppms/navigateToUploadDocs to playwright
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Move away from playwright using shipmentID, use toHaveURL regex
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
Due: prettier, eslint

Updated hashes to match draft circleci-docker branch with updated base image
  .circleci/config.yml
  Dockerfile.local
  Dockerfile.migrations_local
  Dockerfile.reviewapp
  Dockerfile.tasks_local
  Dockerfile.tools_local
  Dockerfile.webhook_client
  Dockerfile.webhook_client_dp3
  Dockerfile.webhook_client_local
  Makefile
  cypress/Dockerfile.cypress
  scripts/run-e2e-mtls-test-docker
  scripts/run-e2e-test-docker
Due: none

fix documentation for prime certs migration
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Adding PropagateTags to the EcsParameters
  cmd/ecs-deploy/put_target.go
Due: go-version, ato-go-linter, appcontext-linter

update rejected weight ticket test
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

styling changes and tests
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.module.scss
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
  src/pages/MyMove/PPM/Closeout/Review/Review.test.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
