Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

Finish styling on OrdersTable and ProfileTable and add it into storybook
  .loki/reference/chrome_iphone7_Customer_Components_OrdersTable_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_ProfileTable_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_OrdersTable_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_ProfileTable_Basic.png
  src/components/Customer/Review/OrdersTable/index.jsx
  src/components/Customer/Review/OrdersTable/index.stories.jsx
  src/components/Customer/Review/ProfileTable/index.jsx
  src/components/Customer/Review/ProfileTable/index.stories.jsx
  src/components/Customer/Review/Review.module.scss
  src/components/Customer/Review/TableDivider.jsx
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

PR: Remove gap between border in table, and adjust column width on tablet and above
  .loki/reference/chrome_iphone7_Customer_Components_OrdersTable_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_ProfileTable_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_OrdersTable_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_ProfileTable_Basic.png
  src/components/Customer/Review/OrdersTable/index.jsx
  src/components/Customer/Review/ProfileTable/index.jsx
  src/components/Customer/Review/Review.module.scss
  src/shared/styles/_variables.scss
Due: prettier, eslint

Add first iteration of profile and orders components
  src/components/Customer/Review/OrdersTable/index.jsx
  src/components/Customer/Review/ProfileTable/index.jsx
  src/components/Customer/Review/Review.module.scss
  src/components/Customer/Review/TableDivider.jsx
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

MB-4107 skeleton of component
  src/scenes/Review/Review.css
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

Revert "loki file updates"
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedServiceItemsTable_Rejected_Service_Items.png
Due: none

Update server test for queue
  pkg/models/queue_test.go
Due: go-version

Add association in test data of ppm to move
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Route to homepage after signing and submitting a PPM
  src/scenes/Legalese/index.jsx
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
Due: prettier, eslint

working test for headers and payment service items
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
  pkg/testdatagen/make_payment_service_item_param.go
Due: go-version

Fix integration test to ensure user goes to homepage when signing and submitting
  cypress/integration/mymove/ppm.js
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
Due: prettier, eslint

updated test for dsh
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Revert change to payment request submission
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
Due: prettier, eslint

loki file update
  .loki/reference/chrome_iphone7_Components_Document_Viewer_Document_Viewer_Image_Viewer.png
Due: none

Addd test to check for Basics and PPM tabs in the MoveInfo page
  src/scenes/Office/MoveInfo.test.js
Due: prettier, eslint

Fix integration test
  cypress/integration/mymove/ppm.js
Due: prettier

some more test using param cache
  pkg/payment_request/service_param_value_lookups/actual_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/contract_code_lookup_test.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup_test.go
  pkg/payment_request/service_param_value_lookups/eia_fuel_price_lookup_test.go
Due: go-version

updating cac sha and edpi
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20200923204433_donald_cac.up.sql
Due: none

deploy to experimental
  .circleci/config.yml
Due: none

have shipmentList handle different link destinations for PPM and HHG
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Revert "deploy to experimental"
  .circleci/config.yml
Due: none

Update integration tests to not check for language on new homepage
  cypress/integration/mymove/ppm.js
Due: prettier

disable shipments after move submission or when PPM already exists
  src/pages/MyMove/SelectMoveType.jsx
Due: prettier, eslint

fix home page add a shipment button logic
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

updated golden edit file
  pkg/edi/invoice/testdata/expected_invoice.edi.golden
Due: none

Fix fa1 test
  pkg/edi/segment/fa1_test.go
Due: go-version

Migrate files from scenes to pages
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
  src/pages/MyMove/UploadOrders.css
  src/pages/MyMove/UploadOrders.jsx
  src/pages/MyMove/UploadOrders.test.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
Due: prettier, eslint

added additional test for lines of accounting to header
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

use type ServiceItemParamName instead of string, clean-up/fix unit test for param cache
  pkg/models/service_item_param_key.go
  pkg/models/service_item_param_key_test.go
  pkg/payment_request/service_param_value_lookups/actual_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/contract_code_lookup_test.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup_test.go
  pkg/payment_request/service_param_value_lookups/distance_zip5_lookup_test.go
  pkg/payment_request/service_param_value_lookups/eia_fuel_price_lookup_test.go
  pkg/payment_request/service_param_value_lookups/fsc_weight_based_distance_multiplier_lookup_test.go
  pkg/payment_request/service_param_value_lookups/mto_available_to_prime_at_lookup_test.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_area_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups_test.go
  pkg/payment_request/service_param_value_lookups/service_params_cache.go
  pkg/payment_request/service_param_value_lookups/service_params_cache_test.go
  pkg/payment_request/service_param_value_lookups/services_schedule_lookup_test.go
  pkg/payment_request/service_param_value_lookups/weight_actual_lookup_test.go
  pkg/payment_request/service_param_value_lookups/weight_billed_actual_lookup_test.go
  pkg/payment_request/service_param_value_lookups/weight_estimated_lookup_test.go
  pkg/payment_request/service_param_value_lookups/zip_address_lookup_test.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

Add back test to check for correct payment request language
  cypress/integration/mymove/ppm.js
Due: prettier

Change landingPath from function to variable string
  src/scenes/Legalese/index.jsx
Due: prettier, eslint

Fixed issues noted by linter
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportapi/supportoperations/payment_request/get_payment_request_e_d_i.go
  pkg/gen/supportclient/payment_request/payment_request_client.go
  pkg/gen/supportmessages/payment_request_e_d_i.go
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
  swagger/support.yaml
Due: go-version, swagger

fix duplicated import
  pkg/handlers/ghcapi/mto_service_items.go
Due: go-version

Test if flaky test
  cypress/integration/mymove/ppm.js
Due: prettier

MB-4234 Add interface and base mto_agent package and files
  pkg/services/mto_agent.go
  pkg/services/mto_agent/mto_agent_updater.go
  pkg/services/mto_agent/mto_agent_updater_test.go
Due: go-version

MB-4234 Add base UpdateMTOAgent service object code
  pkg/services/mto_agent/mto_agent_updater.go
Due: go-version

MB-4234 Add updateMTOAgentData for checking updates
  pkg/services/mto_agent/mto_agent_updater.go
Due: go-version

MB-4234 Add updateMTOAgentValidator interfaces and validation method
  pkg/services/mto_agent/mto_agent_updater.go
Due: go-version

Remove all staging related tasks from circleci
  .circleci/config.yml
Due: none

Using FromStringOrNil instead of the error-producing FromString
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
Due: go-version

Remove extra ppm prop from state
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
