Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.21.0
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs


  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.19.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        exclude: swagger/ghc_*
        types: [yaml]

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: scripts/generate-md-toc
        language: script
        files: \.md$

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: scripts/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
    - id: circleci-validate
      name: circleci validate
      entry: scripts/pre-commit-circleci-validate
      language: script
      files: '[.]circleci/config.yml$'
      pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

Add post counseling info migration
  migrations/20191114204029_move_task_order_add_post_counseling_info.up.sql
  migrations_manifest.txt
Due: none

Add remaining post counseling information fields
  migrations/20191114204029_move_task_order_add_post_counseling_info.up.sql
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_move_task_order_post_counseling_information.go
  pkg/gen/primemessages/move_task_order.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/models/move_task_order.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order.go
  pkg/services/move_task_order/move_task_order_test.go
  swagger/prime.yaml
Due: go-version, swagger

test working need some clean-up
  pkg/models/re_rate_area.go
  pkg/services/ghcimport/import_re_rate_area.go
  pkg/services/ghcimport/import_test.go
Due: go-version

Fix handler test + compile error
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order_test.go
Due: go-version

Remove format: binary from parameters of Upload def and associated generated code; rearrange parameters in Upload
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/upload.go
  swagger/prime.yaml
Due: go-version, swagger

Update nillable column
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/models/move_task_order.go
  pkg/services/move_task_order/move_task_order.go
Due: go-version

working, need to clean-up to submit for PR review
  pkg/services/ghcimport/import_re_rate_area.go
  pkg/services/ghcimport/import_test.go
Due: go-version

Fix styles for long filenames on orders page
  src/shared/Uploader/UploadsTable.jsx
Due: prettier, eslint

Add "wordWrap" to satisfy IE11
  src/shared/Uploader/UploadsTable.jsx
Due: prettier, eslint

normalizing function name
  src/scenes/Office/queueTableColumns.js
Due: prettier, eslint

refactored out the react select filter for re-usability
  src/scenes/Office/queueTableColumns.js
Due: prettier, eslint

add new state origDutyStationData to keep track of the origin duty station
  src/scenes/Office/QueueTable.jsx
Due: prettier, eslint

refactored origin column and enable react select filter for the column
  src/scenes/Office/queueTableColumns.js
Due: prettier, eslint

add gird column to left align cancel link button
  src/shared/WizardPage/Form.jsx
Due: prettier, eslint

pre-commit changes
  src/scenes/Office/QueueTable.jsx
Due: prettier, eslint

Never mind. Record timestamp when MTO is approved.
  pkg/services/move_task_order/move_task_order.go
Due: go-version

Record timestamp when counseling info has been submitted
  pkg/services/move_task_order/move_task_order.go
  pkg/services/move_task_order/move_task_order_test.go
Due: go-version

working, need to add additional tests
  pkg/services/ghcimport/import.go
  pkg/services/ghcimport/import_re_rate_area.go
  pkg/services/ghcimport/import_test.go
Due: go-version

WIP: Retry duplicate reference id
  pkg/models/move_task_order.go
  pkg/models/move_task_order_test.go
  pkg/services/move_task_order/move_task_order.go
  pkg/testdatagen/make_move_task_order.go
Due: go-version

Revamp profile complete page to make it more mobile friendly.
  src/scenes/Orders/TransitionToMove.jsx
  src/scenes/ServiceMembers/ServiceMembers.css
Due: prettier, eslint

Stop making the service member heading gigantic.
  src/shared/JsonSchemaForm/index.css
Due: none

Fix spacing on profile complete page.
  src/scenes/ServiceMembers/TransitionToOrders.jsx
Due: prettier, eslint

WIP: Different approach
  pkg/models/move_task_order.go
  pkg/models/move_task_order_test.go
  pkg/testdatagen/make_move_task_order.go
Due: go-version

Remove docker layer cachine in some steps and decrease e2e parallelism
  .circleci/config.yml
Due: circleci-validate

Write an incomplete handler and implement it through primeapi/api.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/payment_request.go
Due: go-version

Test that the submitted counseling info date is recorded
  pkg/assets/assets.go
  pkg/models/move_task_order.go
  pkg/services/move_task_order/move_task_order.go
  pkg/services/move_task_order/move_task_order_test.go
Due: go-version

Fix docker layer caching for anti-virus
  .circleci/config.yml
Due: circleci-validate

Revert "Fix docker layer caching for anti-virus"
  .circleci/config.yml
Due: circleci-validate

Add remote docker back but not DLC
  .circleci/config.yml
Due: circleci-validate

failing tests again :(
  pkg/models/re_rate_area.go
  pkg/services/ghcimport/import_re_rate_area_test.go
  pkg/services/ghcimport/import_test.go
Due: go-version

test updates
  pkg/services/ghcimport/import_re_rate_area_test.go
Due: go-version

Remove Print
  pkg/services/move_task_order/move_task_order_test.go
Due: go-version

Fix assertion
  pkg/services/move_task_order/move_task_order_test.go
Due: go-version

Update mTO status updater tests to reflect record timestamp
  pkg/services/move_task_order/move_task_order_test.go
  pkg/testdatagen/make_move_task_order.go
Due: go-version

Cleanup
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_test.go
  swagger/prime.yaml
Due: go-version, swagger

Correct 200 response description
  swagger/ghc.yaml
  swagger/prime.yaml
Due: swagger

Revert assets.go
  pkg/assets/assets.go
Due: go-version

Forgot generated code
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_task_order/get_entitlements_responses.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_prime_entitlements_responses.go
Due: go-version
