Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

B-20984 make date in input and wording consistent
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.test.jsx
Due: prettier, eslint

uswds button styles work weird in queue created my own styles for cancel confirmation buttons
  src/components/BulkAssignment/BulkAssignmentModal.jsx
  src/components/BulkAssignment/BulkAssignmentModal.module.scss
Due: prettier, eslint

initial
  .envrc
  cmd/milmove/migrate.go
  migrations/app/ddl_migrations/ddl_procedures/0001_create_test_procedures.up.sql
  migrations/app/ddl_migrations/ddl_tables/01_create_test_table.up.sql
  migrations/app/ddl_migrations/ddl_types/01_create_tesT_type.up.sql
  migrations/app/ddl_migrations/ddl_views/01_create_test_view.up.sql
  migrations/app/ddl_migrations_manifest.txt
  pkg/cli/migration.go
Due: go-version, ato-go-linter, appcontext-linter

and a few more
  pkg/notifications/move_submitted_test.go
Due: go-version, ato-go-linter, appcontext-linter

Functional change for export
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserList.jsx
Due: prettier, eslint

Remove duplicate test from integration branch
  pkg/services/mto_service_item/mto_service_item_validators_test.go
Due: go-version, ato-go-linter, appcontext-linter

int merge changes
  pkg/services/mocks/IntlCratingPricer.go
  pkg/services/mocks/IntlUncratingPricer.go
  playwright/tests/office/txo/tioFlowsInternational.spec.js
  src/components/Office/ServiceItemCalculations/helpers.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc

int merge changes
  src/constants/serviceItems.js
Due: prettier, eslint

more tests
  cmd/milmove-tasks/process_tpps.go
  cmd/milmove-tasks/process_tpps_test.go
Due: go-version, ato-go-linter, appcontext-linter

fix issue with servicemember coming back null when getting orders for oconus destinations
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

mock
  pkg/services/mocks/IntlCratingPricer.go
  pkg/services/mocks/IntlUncratingPricer.go
Due: go-version, ato-go-linter, appcontext-linter

Update mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator.go
Due: go-version, ato-go-linter, appcontext-linter

update hhg out of nts reference in ancient code
  pkg/gen/ghcapi/embedded_spec.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
Due: go-version, ato-go-linter, appcontext-linter

Test addition
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Secondary pickup disabeld
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: prettier, eslint

temp hard coding of 0208 file
  cmd/milmove-tasks/process_tpps.go
Due: go-version, ato-go-linter, appcontext-linter

moved cancel confirmation
  src/components/BulkAssignment/BulkAssignmentModal.jsx
  src/components/BulkAssignment/BulkAssignmentModal.module.scss
Due: prettier, eslint

fixed test
  src/components/BulkAssignment/BulkAssignmentModal.jsx
Due: prettier, eslint

check nil
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "more tests"
  cmd/milmove-tasks/process_tpps.go
  cmd/milmove-tasks/process_tpps_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "test updates"
  pkg/cli/tpps_processing.go
  pkg/cli/tpps_processing_test.go
Due: go-version, ato-go-linter, appcontext-linter

refactor parser to use csv reader to handle complex messages
  pkg/edi/tpps_paid_invoice_report/parser.go
  pkg/edi/tpps_paid_invoice_report/parser_test.go
  pkg/services/invoice/fixtures/tpps_paid_invoice_report_testfile_large_encoded.csv
Due: go-version, ato-go-linter, appcontext-linter

Reapply "more tests"
  cmd/milmove-tasks/process_tpps.go
  cmd/milmove-tasks/process_tpps_test.go
Due: go-version, ato-go-linter, appcontext-linter

Reapply "test updates"
  pkg/cli/tpps_processing.go
  pkg/cli/tpps_processing_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove unnecessary logs
  cmd/milmove-tasks/process_tpps.go
  pkg/edi/tpps_paid_invoice_report/parser.go
Due: go-version, ato-go-linter, appcontext-linter

update main
  .gitlab-ci.yml
Due: none

test without docker
  .gitlab-ci.yml
Due: none

added fix for failing test when submitting ppm without closestcounseling office
  pkg/handlers/internalapi/moves_test.go
Due: go-version, ato-go-linter, appcontext-linter

Remove unintended extra nil check
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

updated error verbiage for failing test
  pkg/handlers/internalapi/moves_test.go
Due: go-version, ato-go-linter, appcontext-linter

adding origin and both shuttle to testharness - whoops
  playwright/tests/utils/testharness.js
Due: prettier, eslint, playwright_tsc

refactor
  src/components/Office/ServiceItemCalculations/helpers.js
Due: prettier, eslint

updating comments
  pkg/testdatagen/testharness/make_move.go
Due: go-version, ato-go-linter, appcontext-linter

remove unused arg
  pkg/edi/tpps_paid_invoice_report/parser.go
  pkg/edi/tpps_paid_invoice_report/parser_test.go
  pkg/services/invoice/process_tpps_paid_invoice_report.go
Due: go-version, ato-go-linter, appcontext-linter

code cleanup
  pkg/services/transportation_office/transportation_office_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

merge B-21399
  src/components/BulkAssignment/BulkAssignmentModal.jsx
Due: prettier, eslint

fixed conflicts
  .gitlab-ci.yml
Due: none

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
