Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Hide the yes/no radio button to auto populate delivery with ZIP code -- the full delivery address is always required for an NTSR shipment
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: prettier, eslint

added form fields for the origin section and a storybook story
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.stories.jsx
  src/utils/validation.js
Due: prettier, eslint

Rename migration to put on bottom of manifest
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220204213113_rename_duty_station_names.up.sql
Due: none

apply archive ppm migration last
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220204201618_archive_ppm_data.up.sql
Due: none

making destination type a pointer, so we can handle nil values
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_m_t_o_shipment.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  pkg/gen/ghcmessages/update_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/models/mto_shipments.go
  pkg/services/mto_shipment/mto_shipment_creator_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/testdatagen/make_mto_shipment.go
  pkg/testdatagen/make_nts_shipment.go
Due: go-version

Add nullable flavors of primitive types for swagger
  pkg/swagger/nullable/bool.go
  pkg/swagger/nullable/bool_test.go
  pkg/swagger/nullable/float.go
  pkg/swagger/nullable/float_test.go
  pkg/swagger/nullable/int.go
  pkg/swagger/nullable/int_test.go
  pkg/swagger/nullable/string_test.go
Due: go-version

Add some boilerplatey functions
  pkg/swagger/nullable/bool.go
  pkg/swagger/nullable/float.go
  pkg/swagger/nullable/int.go
Due: go-version

Add remaining form elements, conditional validation, save handler
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
Due: prettier, eslint

MB-11349 Fix MTOShipment -> PPMShipment fk_id reference
  pkg/models/mto_shipments.go
Due: go-version

fixes for test data
  pkg/testdatagen/make_mto_shipment.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version

more fixes for dest type references
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_m_t_o_shipment.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  pkg/gen/ghcmessages/update_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version

MB-11349 Start removing references to the old PPM generation functions
  pkg/handlers/internalapi/entitlements_test.go
  pkg/handlers/internalapi/move_documents_test.go
  pkg/handlers/internalapi/office_test.go
Due: go-version

proof of concept for move history adding getMoveHistory API and supporting files
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move/get_move_history.go
  pkg/gen/ghcapi/ghcoperations/move/get_move_history_parameters.go
  pkg/gen/ghcapi/ghcoperations/move/get_move_history_responses.go
  pkg/gen/ghcapi/ghcoperations/move/get_move_history_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/move_audit_history.go
  pkg/gen/ghcmessages/move_audit_history_item.go
  pkg/gen/ghcmessages/move_history.go
  pkg/models/audit_history.go
  pkg/models/move_history.go
  pkg/services/move_history.go
  pkg/services/move_history/move_history_fetcher.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Try to fix server_generate Makefile dependencies
  Makefile
Due: none

Try out supporting local swagger binary
  scripts/gen-server
  scripts/pre-commit-swagger-validate
Due: none

pre-commit swagger validate against all arguments, not just first
  scripts/pre-commit-swagger-validate
Due: none

Add e2e coverage for TOO editing shipments and the destination address type for a shipment.
  cypress/integration/office/txo/tooFlows.js
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version, prettier

set and unset zipcode on check
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
Due: prettier, eslint

create a story for prefilled form with ppm shipment data
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.stories.jsx
Due: prettier, eslint

load storageFacility address
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

add dates and location css module styling and layout blocks
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.module.scss
Due: prettier, eslint

test fix for dest adr reference
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

frontend fixes for dest adr reference
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/constants/shipments.js
  src/utils/formatMtoShipment.js
Due: prettier, eslint

lost checked prop for destination ZIP fill during merge conflict
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
Due: prettier, eslint

fix for showing dest type on separatee pages
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

check that TransitDistance is called with correct addresses
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version

add ppm_shipment creator and updater interfaces
  pkg/services/ppm_shipment/ppm_shipment_creator.go
  pkg/services/ppm_shipment/ppm_shipment_creator_test.go
  pkg/services/ppmshipment.go
Due: go-version

mobile styling changes, was missing destinationPostalCode required field
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.module.scss
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.stories.jsx
Due: prettier, eslint

remove eslint disable comment as it was preventing storybook from building
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.jsx
Due: prettier, eslint

Update test
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

Add PPMShipment testdatagen function and modify model
  pkg/models/ppm_shipment.go
  pkg/testdatagen/make_ppm_shipment.go
Due: go-version

Renamed migration to be last in list
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220207230521_adjust_pricing_params_for_ntsr.up.sql
Due: none

Change TargetDateBilled to ReferenceDate
  migrations/app/schema/20220203153350_adjust_pricing_params_for_ntsr.up.sql
  pkg/handlers/supportapi/payment_request_test.go
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/reference_date_lookup.go
  pkg/payment_request/service_param_value_lookups/reference_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/services/ghcrateengine/pricer_query_helpers.go
Due: go-version

Changed DateBilled to TargetDateBilled
  migrations/app/schema/20220203153350_adjust_pricing_params_for_ntsr.up.sql
  pkg/handlers/supportapi/payment_request_test.go
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/target_date_billed_lookup.go
  pkg/payment_request/service_param_value_lookups/target_date_billed_lookup_test.go
Due: go-version

Added payment request test for NTS-Release shipment type
  pkg/services/payment_request/payment_request_creator_test.go
  pkg/testdatagen/make_mto_service_item.go
  pkg/testdatagen/make_service_param.go
Due: go-version

Updated lookups for new/changed pricing parameters
  pkg/handlers/supportapi/payment_request_test.go
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/actual_pickup_date_lookup.go
  pkg/payment_request/service_param_value_lookups/actual_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/date_billed_lookup.go
  pkg/payment_request/service_param_value_lookups/date_billed_lookup_test.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

Migration to support ActualPickupDate and new DateBilled
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220203153350_adjust_pricing_params_for_ntsr.up.sql
Due: none

Adds TAC validation to TXO and Service Counselor edit orders pages
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/Orders/Orders.test.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.test.jsx
  src/reducers/tacValidation.js
  src/reducers/tacValidation.test.js
Due: prettier, eslint

use media queries to change button order and remove section wrapper border, set inputs to not be max width
  src/components/Customer/PPMBooking/DatesAndLocation/DatesAndLocation.module.scss
Due: none
