Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, markdown-toc, gosec, mdspell, gen-docs

go-version:
  name: go version
  entry: bin/check_go_version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

gosec:
  name: gosec scanner
  entry: bin/gosec -exclude=G104 -fmt text ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.
  pass_filenames: false

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

gen-docs:
  name: regenerate docs index
  entry: bin/gen-docs-index
  language: script
  pass_filenames: false

Have filename include firstname, lastname, and current date
  pkg/handlers/internalapi/moves.go
Due: go-version, gosec

Added SITCharge tests for a couple of edge cases
  pkg/rateengine/nonlinehaul_test.go
Due: go-version, gosec

Separate the test and dev dbs and clean up the Makefile
  .circleci/config.yml
  Makefile
  bin/psql
  bin/psql-test
  bin/run-e2e-test
  bin/run-e2e-test-docker
Due: none

Wait for loading screen after selecting a move
  cypress/support/commands.js
Due: prettier, eslint

rename param to better reflect value
  cypress/support/preapprovals/test105be.js
Due: prettier, eslint

request SIT panel saves information, then closes and clears the form
  src/shared/StorageInTransit/Creator.jsx
Due: prettier, eslint

Add function to find the first Monday, or next non-holiday after the first Monday
  cmd/save_fuel_price_data/main.go
  pkg/services/fuelprice/diesel_fuel_price_storer.go
Due: go-version, gosec

Outline tests to write in test file
  pkg/services/fuelprice/diesel_fuel_price_storer.go
  pkg/services/fuelprice/diesel_fuel_price_storer_test.go
Due: go-version, gosec

fixed formatting of TSP request SIT panel columns
  src/shared/StorageInTransit/StorageInTransitForm.jsx
Due: prettier, eslint

added tests to check that mocked Storage In Transit requests render properly
  src/shared/StorageInTransit/StorageInTransitPanel.test.jsx
Due: prettier, eslint

Consolidate obligation calcs
  cmd/generate_shipment_summary/main.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/moves_test.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/shipment_summary.go
  pkg/paperwork/shipment_summary_test.go
Due: go-version, gosec

Add actual obligations to the shipment summary worksheet
  cmd/generate_shipment_summary/main.go
  pkg/handlers/internalapi/moves.go
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/shipment_summary.go
  pkg/paperwork/shipment_summary_test.go
  pkg/paperwork/shipment_summary_worksheet.go
Due: go-version, gosec

Adds zip code and destination code fields to dates and locations ppm panel.
  src/scenes/Office/Ppm/DatesAndLocationsPanel.jsx
Due: prettier, eslint

Adds tests to verify behavior.
  cypress/integration/office/officeUserPPM.js
  src/shared/EditablePanel/index.jsx
Due: prettier, eslint

Only include paid or approved advances
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/shipment_summary_worksheet.go
Due: go-version, gosec

Moved the check for unnecessary calls into the action itself.
  src/scenes/MyMove/index.jsx
  src/scenes/Office/index.jsx
  src/scenes/TransportationServiceProvider/index.jsx
Due: prettier, eslint

Only fetch user info if the user is logged in.
  src/scenes/MyMove/index.jsx
  src/scenes/Office/index.jsx
  src/scenes/TransportationServiceProvider/index.jsx
Due: prettier, eslint

Include email and firstName as top-level data points for service members.
  pkg/handlers/internalapi/users.go
  src/shared/Data/users.js
Due: go-version, prettier, eslint, gosec

Use the proper key for first name.
  src/shared/User/UserGreeting.jsx
Due: prettier, eslint

Pull user info from the new spot in the reducer
  src/scenes/Landing/index.jsx
  src/scenes/ServiceMembers/ContactInfo.jsx
  src/shared/User/LoginButton.jsx
  src/shared/User/LogoutOnInactivity.jsx
  src/shared/User/PrivateRoute.jsx
  src/shared/User/UserGreeting.jsx
Due: prettier, eslint

Include the first name and email for a logged in user.
  pkg/handlers/internalapi/users.go
  swagger/internal.yaml
Due: go-version, gosec

Using entities for the user is weird, so let's switch back to a more traditional reducer pattern.
  src/appReducer.js
  src/scenes/Landing/index.jsx
  src/scenes/Moves/Ppm/ducks.js
  src/scenes/Moves/ducks.js
  src/scenes/MyMove/index.jsx
  src/scenes/Orders/ducks.js
  src/scenes/ServiceMembers/ducks.js
  src/shared/Entities/modules/users.js
  src/shared/Entities/reducer.js
  src/shared/Entities/schema.js
  src/shared/UI/ducks.js
  src/shared/User/ducks.js
Due: prettier, eslint

Make updates to user fetching for the service member app.
  src/scenes/MyMove/index.jsx
  src/shared/Entities/modules/users.js
Due: prettier, eslint

Don't decode user info from the token.
  src/shared/User/ducks.js
Due: prettier, eslint

Don't decode anything off the token, since we aren't using the features array anyway.
  src/shared/User/ducks.js
Due: prettier, eslint

Use new user fetch action for the tsp.
  src/scenes/TransportationServiceProvider/index.jsx
Due: prettier, eslint

Add new route for fetching user information.
  src/scenes/Office/index.jsx
  src/shared/Entities/modules/users.js
  src/shared/Entities/reducer.js
  src/shared/Entities/schema.js
Due: prettier, eslint

Now that we're not using the entities pattern, move the file to a better spot.
  src/appReducer.js
  src/scenes/Landing/index.jsx
  src/scenes/Moves/Ppm/ducks.js
  src/scenes/Moves/ducks.js
  src/scenes/MyMove/index.jsx
  src/scenes/Office/index.jsx
  src/scenes/Orders/ducks.js
  src/scenes/ServiceMembers/ContactInfo.jsx
  src/scenes/ServiceMembers/ducks.js
  src/scenes/TransportationServiceProvider/index.jsx
  src/shared/Data/users.js
  src/shared/UI/ducks.js
  src/shared/User/LoginButton.jsx
  src/shared/User/LogoutOnInactivity.jsx
  src/shared/User/PrivateRoute.jsx
  src/shared/User/UserGreeting.jsx
Due: prettier, eslint

Now that the service member can use the public api, let's use that
  src/scenes/TransportationServiceProvider/ContactInfo.jsx
  src/shared/Data/users.js
Due: prettier, eslint

Get status using new selector.
  src/scenes/Legalese/SubmitPpm.jsx
Due: prettier, eslint

Create the service member for ordrers test in our regular data setup rather than through API calls.
  cypress/integration/mymove/orders.js
  cypress/support/createOrders.js
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, prettier, eslint, gosec

How did this test ever pass before?
  cypress/integration/mymove/hhgPPM.js
Due: prettier, eslint

Update selector and use proper selector for legalese component.
  src/scenes/Legalese/index.jsx
  src/shared/Data/users.js
Due: prettier, eslint

Update expected api route in tests.
  cypress/integration/mymove/shipment.js
Due: prettier, eslint

added unfinished tests, pushing to not be a blocker for Ryan
  cypress/integration/tsp/storageInTransit.js
  cypress/support/testCreateStorageInTransit.js
Due: prettier, eslint

Update Advance status check
  pkg/models/shipment_summary_worksheet.go
Due: go-version, gosec

Use the session for firstName and email even for a service member.
  pkg/handlers/internalapi/users.go
Due: go-version, gosec

Dollar sign ($) css and html changes for swaggerfield
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.css
Due: prettier, eslint

refactor input and textarea into commands
  cypress/integration/tsp/preApprovalRequest.js
  cypress/support/commands.js
  cypress/support/preapprovals/test105be.js
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  gosec: any of: \.go$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  gen-docs: any of: \.md$
