Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

test
  src/components/Office/ShipmentAddresses/ShipmentAddresses.jsx
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

remove street address for ac
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

check undefined city to removed undefined
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

replace or with and
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

added formataddress back for failing
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

check for all address values
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

removed case of undefined
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

updated origin/dest location on front
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

removed formatCity added shipmentType check
  src/components/Office/ShipmentAddresses/ShipmentAddresses.jsx
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

initial commit, added route to see component, began work with some component creation
  src/constants/routes.js
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveHeader/MultiMovesMoveHeader.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveHeader/MultiMovesMoveHeader.module.scss
Due: prettier, eslint

adding files and components, got most of main page complete, still no tests written, pray 4 me
  src/components/ButtonDropdown/ButtonDropdown.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveHeader/MultiMovesMoveHeader.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

custom dropdown button created, still need lots of tests
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.jsx
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.module.scss
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

adding tests for move header
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveHeader/MultiMovesMoveHeader.jsx
Due: prettier, eslint

continued tests for containers and newly created components supporting multi moves
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.test.jsx
Due: prettier, eslint

updated moves container to show shipments, updated test data, still tests...
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

added outline functionality to reusable button menu component
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
Due: prettier, eslint

updated comments, expanded logic of generating shipmentType headers
  src/components/Office/ShipmentContainer/ShipmentContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

updated comments, now onto tests...
  src/components/Office/ShipmentContainer/ShipmentContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

updated ButtonDropdownMenu import and added storybook
  src/components/ButtonDropdownMenu/ButtonDropdownMenu.jsx
  src/components/ButtonDropdownMenu/ButtonDropdownMenu.module.scss
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.jsx
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.module.scss
  src/pages/MyMove/Multi-Moves/ButtonDropdownMenu/ButtonDropdownMenu.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
Due: prettier, eslint

updated imports with mock prefix, reverted ButtonDropdown scss back to what it was since I ain't using that trash
  src/components/ButtonDropdown/ButtonDropdown.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
Due: prettier, eslint

changed conditional rendering for previous moves based on APPROVED move status instead of COMPLETED based on gov response, updated test data
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

tests
  src/components/ButtonDropdownMenu/ButtonDropdownMenu.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.test.jsx
Due: prettier, eslint

tests tests tests and moreeeee tests
  src/components/ButtonDropdownMenu/ButtonDropdownMenu.module.scss
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

B-18326 Update the Estimated Weight - B-18327 Remove Fields - B-18322 Update Requested pickup date (#11803)
  src/components/Office/ImportantShipmentDates/ImportantShipmentDates.jsx
  src/components/Office/ImportantShipmentDates/ImportantShipmentDates.test.jsx
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
Due: prettier, eslint

serve prime simulator - load test
  config/env/loadtest.app.env
Due: none

B-17965 Send Email - Gov't Counselor Submission (Before TOO Approval) (#11785)
  pkg/handlers/ghcapi/move_task_order_test.go
Due: go-version, ato-go-linter, appcontext-linter

All references found are refactored, beginning debugging compiler
  pkg/services/paperwork/form_creator_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Merge branch 'integrationTesting' into B-18185-Remove-personally-procured-shared-handler"
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
Due: go-version, ato-go-linter, appcontext-linter

Checking precommit hooks after changes to correct
  cmd/generate-shipment-summary/main.go
  pkg/handlers/internalapi/moves.go
  pkg/models/shipment_summary_worksheet.go
  pkg/services/paperwork/form_creator_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

New files made, working through errors on conversion. Investigating model structure in service
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

refactoring shipment summary, deprecated incorrectly structured model
  pkg/paperwork/shipment_summary_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

refactoring shipment summary, deprecated incorrectly structured model
  cmd/generate-shipment-summary/main.go
  pkg/handlers/internalapi/moves.go
  pkg/paperwork/shipment_summary.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

All errors resolved, testing suite made, next to find and repair existing connections to model
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_service_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Removed personally procured move "shared" handler and "shared" test handler. added substitutes for field reference in incentive handler.
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
Due: go-version, ato-go-linter, appcontext-linter

Removed shared handler personally_procured_move. Added temp fix for incentive (as it's dependent on two of the shared methods).
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
Due: go-version, ato-go-linter, appcontext-linter

Deprecating SSW Model Test
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Deprecating Personally Procured Move for SSW, long process, EOD Friday
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Data fetch refactor completed, now for computer refactor
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

Removed deprecated SSW functions
  pkg/handlers/internalapi/moves.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter
