Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, mdspell

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

adding CWT and Pound units
  pkg/models/tariff400ng_full_pack_rate.go
  pkg/models/tariff400ng_full_pack_rate_test.go
  pkg/models/tariff400ng_linehaul_rate.go
  pkg/models/tariff400ng_shorthaul_rate_test.go
  pkg/rateengine/linehaul.go
  pkg/rateengine/linehaul_test.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/rateengine.go
  pkg/rateengine/rateengine_test.go
  pkg/unit/weights.go
  pkg/unit/weights_test.go
Due: none

Added functions to map Zip to Lat Long
  pkg/route/zip_locale.go
  pkg/route/zip_locale_test.go
Due: none

combine migrations into 1 file
  migrations/20180417221055_rename_middle_initial.down.fizz
  migrations/20180417221055_rename_middle_initial.up.fizz
  migrations/20180417221055_rename_middle_initial_and_secondary_phone.down.fizz
  migrations/20180417221055_rename_middle_initial_and_secondary_phone.up.fizz
Due: none

fixing tests for several models
  pkg/models/tariff400ng_full_pack_rate.go
  pkg/models/tariff400ng_full_pack_rate_test.go
  pkg/models/tariff400ng_full_unpack_rate.go
  pkg/models/tariff400ng_full_unpack_rate_test.go
  pkg/models/tariff400ng_linehaul_rate.go
  pkg/models/tariff400ng_linehaul_rate_test.go
  pkg/models/tariff400ng_service_area.go
  pkg/models/tariff400ng_service_area_test.go
  pkg/models/tariff400ng_shorthaul_rate_test.go
  pkg/models/transportation_service_provider_performance_test.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine.go
Due: none

moving models to use pounds unit
  pkg/models/tariff400ng_full_pack_rate.go
  pkg/models/tariff400ng_full_pack_rate_test.go
  pkg/models/tariff400ng_linehaul_rate.go
  pkg/models/tariff400ng_linehaul_rate_test.go
  pkg/rateengine/linehaul.go
  pkg/rateengine/linehaul_test.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine.go
Due: none

Added zip data and new route interfaces
  pkg/route/bing_planner.go
  pkg/route/here_planner.go
  pkg/route/planner.go
  pkg/route/planner_test.go
  pkg/route/testing_planner.go
  pkg/route/zip_locale.go
  pkg/route/zip_locale_test.go
Due: none

Moved server to new Route Planner
  cmd/webserver/main.go
Due: none

Expands SM patch test, fixes SSN patching
  pkg/handlers/converters.go
  pkg/handlers/service_member_test.go
  pkg/models/service_member.go
  pkg/models/service_member_test.go
  pkg/testdatagen/make_address.go
Due: none

Fixed comment typos from code review by Macrael
  pkg/route/here_planner.go
  pkg/route/planner_test.go
Due: none

Add validations to Tariff400ngServiceArea
  pkg/models/tariff400ng_service_area.go
  pkg/models/tariff400ng_service_area_test.go
  pkg/rateengine/linehaul_test.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine_test.go
Due: none

Call t.Helper() within mustSave so that tests have a useful stacktrace.
  pkg/auth/auth_test.go
  pkg/handlers/handlers_test.go
  pkg/models/models_test.go
  pkg/rateengine/rateengine_test.go
Due: none

fixing issues from code review
  pkg/models/tariff400ng_full_pack_rate.go
  pkg/models/tariff400ng_full_pack_rate_test.go
  pkg/models/tariff400ng_full_unpack_rate_test.go
  pkg/models/tariff400ng_linehaul_rate.go
  pkg/models/tariff400ng_linehaul_rate_test.go
  pkg/models/tariff400ng_service_area_test.go
  pkg/models/tariff400ng_shorthaul_rate_test.go
  pkg/rateengine/linehaul.go
  pkg/rateengine/nonlinehaul.go
  pkg/unit/weights.go
  pkg/unit/weights_test.go
Due: none

Have rateengine return a struct so we can access the intermediate values.
  pkg/rateengine/rateengine.go
  pkg/rateengine/rateengine_test.go
Due: none

WIP adding scenario 1.
  pkg/rateengine/scenario_test.go
  pkg/testdatagen/scenario/rateengine.go
Due: none

remove proscription on testify assertions
  docs/adr/0011-test-suites.md
Due: markdown-toc, mdspell

improved JsonSchema warning
  src/shared/JsonSchemaForm/index.jsx
Due: prettier

removed userEmail from components that do not use it
  src/scenes/ServiceMembers/BackupContact.jsx
  src/scenes/ServiceMembers/BackupMailingAddress.jsx
  src/scenes/ServiceMembers/DodInfo.jsx
  src/scenes/ServiceMembers/Name.jsx
  src/scenes/ServiceMembers/ResidentialAddress.jsx
Due: prettier

add transition screen to move
  src/scenes/Orders/TransitionToMove.jsx
  src/shared/AppWrapper/getWorkflowRoutes.js
  src/shared/AppWrapper/getWorkflowRoutes.test.js
  src/shared/images/move_icon.png
  src/shared/images/orders_check.png
Due: prettier

Fetch logged in user on page load and start the flow
  pkg/handlers/converters.go
  pkg/handlers/service_members.go
  src/appReducer.js
  src/scenes/Landing/index.jsx
  src/scenes/ServiceMembers/api.js
  src/scenes/ServiceMembers/ducks.js
  src/shared/AppWrapper/index.jsx
  src/shared/User/api.js
  src/shared/User/ducks.js
Due: prettier

removed todo for shortening suffix field
  src/scenes/ServiceMembers/Name.jsx
Due: prettier

Get the tests passing
  pkg/handlers/converters.go
  pkg/handlers/service_member_test.go
  src/shared/AppWrapper/index.jsx
Due: prettier

Fix build error
  src/scenes/Landing/index.jsx
Due: prettier

Fixes patch SM method for sub-model saving
  pkg/handlers/addresses.go
  pkg/handlers/errors.go
  pkg/handlers/form1299s.go
  pkg/handlers/payloads.go
  pkg/handlers/service_member_test.go
  pkg/handlers/service_members.go
  pkg/handlers/users_test.go
  pkg/models/address.go
  pkg/models/service_member.go
  pkg/models/social_security_number.go
Due: none

Uses Assertions library for service member handler test
  pkg/handlers/service_member_test.go
Due: none

Replaces model validators with setting nil in fetcher
  pkg/handlers/service_member_test.go
  pkg/models/address.go
  pkg/models/service_member.go
  pkg/models/social_security_number.go
Due: none

Fix merge flail
  .pre-commit-config.yaml
  pkg/handlers/converters.go
Due: none

remove spurious logging
  src/scenes/ServiceMembers/api.js
Due: prettier

Human friendly display values for branches
  swagger/internal.yaml
Due: none

Implement scenario 1.
  pkg/models/tariff400ng_service_area.go
  pkg/models/tariff400ng_shorthaul_rate.go
  pkg/rateengine/rateengine.go
  pkg/rateengine/rateengine_test.go
  pkg/rateengine/scenario_test.go
  pkg/route/testing_planner.go
  pkg/route/testing_planner_test.go
  pkg/testdatagen/scenario/rateengine.go
Due: none

Extract dates from scenario 1.
  pkg/testdatagen/scenario/rateengine.go
Due: none

removed debugger and resolved/deferred todos for addresses
  src/scenes/ServiceMembers/BackupMailingAddress.jsx
  src/scenes/ServiceMembers/ResidentialAddress.jsx
Due: prettier

remove email flow jumpstart hack
  src/shared/User/Email.jsx
Due: prettier

change 'branch' to 'affiliation'
  migrations/20180419154059_rename_branch_to_affiliation.down.fizz
  migrations/20180419154059_rename_branch_to_affiliation.up.fizz
  pkg/handlers/duty_stations.go
  pkg/handlers/duty_stations_test.go
  pkg/handlers/service_members.go
  pkg/models/duty_station.go
  pkg/models/duty_station_test.go
  pkg/models/service_member.go
  pkg/models/service_member_test.go
  pkg/models/validators.go
  pkg/testdatagen/make_duty_station.go
  pkg/testdatagen/scenario_3.go
  src/scenes/ServiceMembers/DodInfo.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  swagger/internal.yaml
Due: prettier

merge master
  pkg/handlers/service_member_test.go
  pkg/handlers/service_members.go
Due: none

Checkpoint. Creating a new backup contact works.
  src/scenes/ServiceMembers/BackupContact.jsx
  src/scenes/ServiceMembers/api.js
  src/scenes/ServiceMembers/ducks.js
  src/shared/JsonSchemaForm/index.jsx
  swagger/internal.yaml
Due: prettier

changed type in model file; working through resulting errors
  pkg/awardqueue/awardqueue_test.go
  pkg/models/traffic_distribution_list_test.go
  pkg/models/transportation_service_provider_performance.go
  pkg/testdatagen/make_tsp_performance_records.go
Due: none

lo, tests pass
  pkg/models/transportation_service_provider_performance.go
  pkg/models/transportation_service_provider_performance_test.go
Due: none

add todos to transition screens
  src/scenes/Orders/TransitionToMove.jsx
  src/scenes/ServiceMembers/TransitionToOrders.jsx
Due: prettier

removing unecessary code
  pkg/models/tariff400ng_service_area.go
  pkg/models/tariff400ng_service_area_test.go
Due: none

make button active if preference selected
  src/scenes/ServiceMembers/ContactInfo.jsx
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

