Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
            .envrc.local.template|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.23.6
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

MB-4236 Add eTag to model_to_payload func for MTOAgent
  pkg/handlers/primeapi/payloads/model_to_payload.go
Due: go-version

updates loki images to remove default margins from buttons. this is a lot of images, but I have reviewed them to ensure this came out as intended.
  .loki/reference/chrome_iphone7_Components_Icon_Button_Docs.png
  .loki/reference/chrome_iphone7_Components_Icon_Button_Edit.png
  .loki/reference/chrome_iphone7_Components_Modals_Empty.png
  .loki/reference/chrome_iphone7_Components_Modals_With_Content.png
  .loki/reference/chrome_iphone7_Components_Stacked_Table_Default.png
  .loki/reference/chrome_iphone7_Components_Stacked_Table_With_Buttons_To_Edit.png
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_iphone7_Customer_Components_EditShipment_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_iphone7_Samples_Form_personal_info.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RejectServiceItemModal_Basic.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedServiceItemsTable_Default.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ShipmentApprovalPreview_Shipment_Approval_Preview_Modal.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ShipmentApprovalPreview_Shipment_Approval_Preview_Modal_with_two_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ShipmentContainer_MTO_Accessorial.png
  .loki/reference/chrome_laptop_Components_Icon_Button_Docs.png
  .loki/reference/chrome_laptop_Components_Icon_Button_Edit.png
  .loki/reference/chrome_laptop_Components_Modals_Empty.png
  .loki/reference/chrome_laptop_Components_Modals_With_Content.png
  .loki/reference/chrome_laptop_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_laptop_Customer_Components_EditShipment_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Samples_Form_personal_info.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RejectServiceItemModal_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedServiceItemsTable_Default.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedServiceItemsTable_Rejected_Service_Items.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ShipmentApprovalPreview_Shipment_Approval_Preview_Modal.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ShipmentApprovalPreview_Shipment_Approval_Preview_Modal_with_two_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ShipmentContainer_MTO_Accessorial.png
Due: none

MB-4236 Add stale eTag and 404 tests
  pkg/handlers/primeapi/mto_agent_test.go
Due: go-version

fixes eslint error
  src/components/ServiceItemTableHasImg/index.jsx
Due: prettier, eslint

MB-4236 Update default agent values to match what's expected in prime.yaml
  pkg/testdatagen/make_mto_agent.go
Due: go-version

MB-4236 Update phone values to match fake phone numbers
  pkg/handlers/primeapi/mto_agent_test.go
  pkg/services/mto_agent/mto_agent_validators_test.go
Due: go-version

MB-4236 Add not Prime-available test
  pkg/handlers/primeapi/mto_agent_test.go
Due: go-version

MB-4236 Add test for bad agent ID values
  pkg/handlers/primeapi/mto_agent_test.go
Due: go-version

MB-4236 Update yaml to allow clearing out email and phone
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_agent.go
  swagger/prime.yaml
Due: go-version, swagger

MB-4236 Add test for invalid first name and contact info input
  pkg/handlers/primeapi/mto_agent_test.go
Due: go-version

Remove unnecessary loadPpms call
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Update shipment list client test
  src/components/Customer/Home/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

updates loki images
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedServiceItemsTable_Rejected_Service_Items.png
Due: none

MB-4236 Fix nil dereference errors with clearing out fields
  pkg/services/mto_agent/mto_agent_validators.go
Due: go-version

Make shipment code smaller font size
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
  src/components/Customer/Home/ShipmentList/index.jsx
Due: prettier, eslint

MB-4236 Fix MTOAgent model tests with correct test data
  pkg/models/mto_agents_test.go
Due: go-version

Add prime-api-demo script to help with demo of prime role
  scripts/prime-api-demo
Due: none

Rearrange def in support.yaml
  swagger/support.yaml
Due: swagger

MB-4384 Display empty string for 0 SIT allowance
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/entitlements.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/AllowancesTable.jsx
  src/components/Office/AllowancesTable.test.jsx
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Made a few fixes; pretty print output; handle pre-commit issues
  scripts/README.md
  scripts/prime-api-demo
Due: none

not working yet, making changes for runnig pr script
  cmd/prime-api-dev/main.go
  cmd/prime-api-dev/scripts/payment_requests.go
Due: go-version

adds word wrap property for long ids on small screens
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
Due: none

adds space in between shipment type name and id for small screens
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
Due: none

moves css for shipment code to one spot and makes to so shipment names won't text wrap
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
Due: none

updates loki images to account for shipment id # size change
  .loki/reference/chrome_iphone7_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Shipments.png
  .loki/reference/chrome_laptop_Components_Tags_All.png
  .loki/reference/chrome_laptop_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_Step_Shipments.png
Due: none

updates requested shipments image, which appears unchanged, but it's causing tests to fail
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_multiple_approved_shipments.png
Due: none

make prime uploads use original name from upload
  pkg/handlers/primeapi/upload.go
  pkg/handlers/primeapi/upload_test.go
  pkg/services/payment_request.go
  pkg/services/payment_request/upload_creator.go
  pkg/services/payment_request/upload_creator_test.go
Due: go-version

generated mocks
  pkg/services/mocks/PaymentRequestUploadCreator.go
Due: go-version

remove commented out code
  pkg/handlers/primeapi/upload.go
Due: go-version

updates requested shipments image to get tests to pass, novisual changes detected when I look at it
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_multiple_approved_shipments.png
Due: none

MB-4236 Change test names to use an approved fake name
  pkg/handlers/primeapi/mto_agent_test.go
  pkg/services/mto_agent/mto_agent_updater_test.go
  pkg/services/mto_agent/mto_agent_validators_test.go
Due: go-version

Removed extra quotes until we dig into linter issue further -- quotes weren't working right in staging
  scripts/prime-api-demo
Due: none

MB-4236 Uncomment lines in test
  pkg/handlers/primeapi/mto_agent_test.go
Due: go-version

converts Requested Shipments stories file to CSF format so I can add parameters
  src/components/Office/RequestedShipments/RequestedShipments.stories.jsx
Due: prettier, eslint

skips flaky loki test on Requested Shipments
  src/components/Office/RequestedShipments/RequestedShipments.stories.jsx
Due: prettier, eslint

removes storiesof reference on the requested shipments components page
  src/components/Office/RequestedShipments/RequestedShipments.stories.jsx
Due: prettier, eslint

Truncate our placeholder UUID as shipment ID; remove comment
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Add comment to explain substring for shipment.id
  src/components/Customer/Home/ShipmentList/index.jsx
Due: prettier, eslint

type in contains assertion
  cypress/integration/office/txo/tooFlows.js
Due: prettier

Linter is happy
  .circleci/config.yml
Due: none
