Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

markdown-toc:
  name: markdown-toc
  entry: scripts/generate-md-toc
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

mdspell:
  name: mdspell
  entry: scripts/pre-commit-spellcheck
  language: script

gen-docs:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

circleci-validate:
  name: circleci validate
  entry: scripts/pre-commit-circleci-validate
  language: script
  pass_filenames: false

[MB-685] Mock the API for now.
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/payment_request.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_fetcher.go
Due: go-version

[MB-685] Return a payment request with the same sent.
  pkg/handlers/ghcapi/payment_request.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_fetcher.go
Due: go-version

[MB-685] Make this plural to be consistent with our other routes.
  src/scenes/Office/index.jsx
Due: prettier, eslint

[MB-685] Add additional plumbing and render the returned value for a payment request.
  src/scenes/Office/TIO/paymentRequestShow.jsx
  src/shared/Entities/modules/paymentRequests.js
  src/shared/Entities/schema.js
Due: prettier, eslint

Break ghc_tables into different migrations
  migrations/20191204223817_alter_payment_requests.up.sql
  migrations/20191205164052_add_ghc_tables.up.sql
  migrations/20191210171244_create_entitlements.up.sql
  migrations/20191210171408_create_move_orders.up.sql
  migrations/20191210171518_create_move_task_orders.up.sql
  migrations/20191210171620_create_mto_shipments.up.sql
  migrations/20191210171655_create_mto_service_items.up.sql
  migrations/20191210171752_alter_customers.up.sql
  migrations/20191210171828_alter_payment_requests_move_task_order_reference.up.sql
  migrations_manifest.txt
  pkg/models/move_task_order.go
  pkg/models/move_task_order_test.go
  pkg/models/payment_request_test.go
  pkg/testdatagen/make_entitlement.go
Due: go-version

Forgot to limit varchar
  migrations/20191210171518_create_move_task_orders.up.sql
Due: none

update computeObligations on ssw using dest duty station
  pkg/paperwork/shipment_summary.go
  pkg/paperwork/shipment_summary_test.go
Due: go-version

fix typo
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_estimate.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
  pkg/handlers/internalapi/personally_procured_move_sit_estimate.go
Due: go-version

fix error handling
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/authghc.go
Due: go-version

Update error handling
  pkg/auth/authentication/authghc.go
Due: go-version

A couple minor syntax changes for pointers involved to fix build.
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/payment_request.go
  pkg/services/payment_request/payment_request_fetcher.go
Due: go-version

[MB-685] Use a rejection reason for now so we can see one in the UI.
  pkg/services/payment_request/payment_request_fetcher.go
Due: go-version

Narrow when redirect happens and update single test to use conditional
  pkg/auth/authentication/auth_test.go
  pkg/auth/authentication/authghc.go
Due: go-version

Added RDS IAM exit condition if failing
  pkg/iampostgres/iampostgres.go
Due: go-version

Fingers crossed that this is done.
  migrations/20191204223817_alter_payment_requests.up.sql
  migrations/20191210171828_alter_payment_requests_move_task_order_reference.up.sql
  pkg/services/payment_request/payment_request_creator_test.go
Due: go-version

Syntax is weird
  migrations/20191204223817_alter_payment_requests.up.sql
Due: none

Fix spacing again.
  migrations/20191204223817_alter_payment_requests.up.sql
Due: none

Each commit is less suffering
  migrations/20191204223817_alter_payment_requests.up.sql
Due: none

Attach user id to session
  pkg/auth/authentication/authghc.go
Due: go-version

[MB-621] Add binary array for multiple unlimited documents to be attached
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/doc.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primemessages/upload.go
  swagger/prime.yaml
Due: go-version, swagger

Experiment time.
  .circleci/config.yml
Due: circleci-validate

Update tests to check user id in session is not nil
  pkg/auth/authentication/authgch_test.go
  pkg/auth/authentication/authghc.go
Due: go-version

[MB-685] Don't worry about validation errors since we're just fetching in this service.
  pkg/handlers/ghcapi/payment_request.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_fetcher.go
Due: go-version

Revert "Experiment time."
  .circleci/config.yml
Due: circleci-validate

Adding tests
  pkg/iampostgres/iampostgres_test.go
Due: go-version

[MB-621] Add service item to CreatePaymentRequestPayload
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/create_payment_request_payload.go
  pkg/gen/primemessages/service_item.go
  swagger/prime.yaml
Due: go-version, swagger

Create customer after signup (local dev only) (#3155)
  cmd/milmove/serve.go
  config/env/experimental.env
  config/env/prod.env
  config/env/staging.env
  migrations/20191204231026_add_user_id_to_customers.up.sql
  migrations_manifest.txt
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/auth_test.go
  pkg/cli/featureflag.go
  pkg/models/customer.go
Due: go-version

fix conflicting names in migration
  migrations/20191205201215_add_user_id_to_too.up.sql
Due: none

Remove redundant tests
  pkg/auth/authentication/auth_test.go
Due: go-version

Revise migrations based on feedback.
  migrations/20191205190530_jppso-assignment-tables.up.sql
  migrations/20191205211911_gbloc-assignments-data.up.sql
  migrations/20191205211911_jppso-assignment-data.up.sql
  migrations_manifest.txt
Due: none

Use perl to parse the branch
  scripts/commit-msg
Due: none

Attempt to change back old migration before resorting to reverting
  migrations/20191204223817_alter_payment_requests.up.sql
Due: none

Upgrade version of postgres from 10.9 to 10.10
  Makefile
  docker-compose.circle.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Updates customer model and migration to account for updates.
  migrations/20191210171752_alter_customers.up.sql
  pkg/models/customer.go
  pkg/models/customer_test.go
  pkg/testdatagen/make_customer.go
Due: go-version

Updates customer model and makes changes to migration.
  pkg/models/customer.go
  pkg/models/customer_test.go
  pkg/testdatagen/make_customer.go
Due: go-version

Check ECR image scan findings after push
  .circleci/config.yml
  scripts/README.md
  scripts/ecr-describe-image-scan-findings
Due: markdown-toc, mdspell, gen-docs, circleci-validate

Update docker image to get new aws cli tool
  .circleci/config.yml
  Dockerfile.dep_updater
  docker-compose.circle.yml
Due: circleci-validate

Update circleci postgres versions
  .circleci/config.yml
Due: circleci-validate

Added a comment
  pkg/models/payment_request.go
Due: go-version

Remove extra library
  pkg/models/customer.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger/ghc_*)
  markdown-toc: any of: \.md$
  gomod: any of: go.mod
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  gen-docs: any of: \.md$
  circleci-validate: any of: [.]circleci/config.yml$
