Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, markdown-toc, gosec, mdspell

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: bin/check_go_version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.13.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Orders Swagger
        entry: bin/swagger validate swagger/orders.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint

  - repo: local
    hooks:
      - id: gosec
        name: gosec scanner
        entry: bin/gosec -exclude=G104 -fmt text -quiet ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: bin/gen-docs-index
        language: script

  - repo: local
    hooks:
      - id: dep-version
        name: dep version
        entry: bin/check_dep_version
        language: script

Fixes failing test for integration/mymove/shipment.js.
  src/scenes/Moves/Ppm/Size.jsx
  src/scenes/Moves/Ppm/ducks.js
Due: prettier

Incorporatess kahlouie PR suggestions and fixes failing client test.
  src/scenes/Moves/Ppm/Size.jsx
  src/scenes/Moves/Ppm/ducks.js
  src/scenes/Moves/Ppm/ducks.test.js
Due: prettier

Adds default values for DateAndLocation page for HHG/PPM move and tests cases.
  cypress/integration/mymove/hhgPPM.js
  src/scenes/Moves/Ppm/DateAndLocation.jsx
Due: prettier

ensure pre-approval requests are filtered by shipment id and will fix the bugs where pre-approval requests do not refresh between different move views
  src/shared/Entities/modules/shipmentLineItems.js
  src/shared/PreApprovalRequest/PreApprovalPanel.jsx
Due: prettier

Resolves PR request changes.
  cypress/integration/mymove/hhgPPM.js
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/ducks.js
Due: prettier

Fixes failing test.
  cypress/integration/mymove/hhgPPM.js
  src/scenes/Moves/Ppm/DateAndLocation.jsx
Due: prettier

clean up test data and added more code coverage for selectSortedPreApprovalShipmentLineItems selector
  src/shared/Entities/modules/shipmentLineItems.test.js
Due: prettier

fix cypress test for onscreen text change on landing page summary for SM HHG move
  cypress/integration/mymove/landingPages.js
Due: prettier

Add ToDollarString() for millicent type; fix tests that use wrong millicent conversion or reference for unpack rate
  cmd/demo/rateengine.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/unit/cents.go
Due: go-version, gosec

Adds alert text for entitlement bar integrating alert.
  src/scenes/EntitlementBar/index.css
  src/scenes/EntitlementBar/index.jsx
Due: prettier

Adds foreign key constraints to tables, fixes duty station references
  migrations/20181127202431_add_foreign_key_constraints.up.fizz
Due: none

Run migration from container. Properly wrap env vars for expansion
  bin/run-e2e-test-docker-ci
Due: none

Fix docstring to show correct variable to use for secure migration env
  bin/apply-secure-migration.sh
Due: none

Copy local migrations which makes using this same container for testing work at the cost of a few Kb of container size
  Dockerfile.migrations
Due: none

Get migrations via docker to work for test_db and re-org the Makefile a bit for readability
  Makefile
Due: none

Wait until move is updated to redirect [delivers #162017504] (#1370)
  cypress/integration/mymove/hhgPPM.js
  src/scenes/Landing/MoveSummary.css
  src/scenes/Landing/MoveSummary.jsx
  src/scenes/Landing/index.jsx
Due: prettier

Adds foreign key constraints to tables, fixes duty station references (#1388)
  migrations/20181127202431_add_foreign_key_constraints.up.fizz
Due: none

Updates circle image for go 1.11
  .circleci/config.yml
Due: none

Complete changes that use docker for all e2e db transactions
  Dockerfile.migrations
  Dockerfile.migrations_local
  Makefile
  bin/run-e2e-test-docker
  bin/run-e2e-test-docker-ci
Due: none

Allow premove survey to be filled out while move not approved yet
  cypress/integration/tsp/premoveSurvey.js
  pkg/testdatagen/scenario/e2ebasic.go
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: go-version, prettier, gosec

Fix http ports
  bin/run-e2e-test-docker
  bin/run-e2e-test-docker-ci
Due: none

it works in a transaction block with some basic tests
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/shipments_test.go
  pkg/models/invoice.go
  pkg/models/shipment_line_item.go
Due: go-version, gosec

Removes package installation lines
  .circleci/config.yml
Due: none

Removes unused TSP app dockerfile
  Dockerfile.tsp
Due: none

Return struct rather than two values from ComputeShipmentLineItemCharge; add explanatory doc strings
  pkg/rateengine/accessorials.go
  pkg/rateengine/accessorials_test.go
  pkg/rateengine/line_items.go
  pkg/rateengine/nonlinehaul.go
Due: go-version, gosec

update submitted invoices after successful GEX call
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/shipments_test.go
Due: go-version, gosec

Automated dependency updates | Mon, 26 Nov 2018 12:02:50 +0000
  Gopkg.lock
  yarn.lock
Due: none

Remove building Dockerfile.migrations
  bin/run-e2e-test-docker-ci
Due: none

Add migration for office users that need to be added
  local_migrations/20181128160411_add-office-users.sql
  migrations/20181128160411_add-office-users.up.fizz
Due: none

Changes text around brew symlink warning
  README.md
Due: markdown-toc, mdspell

Trap exit signals to kill docker container
  bin/run-e2e-test-docker
Due: none

Change swagger entry to reflect millicents change; move unit methods to millicents.go
  pkg/unit/cents.go
  pkg/unit/millicents.go
  swagger/api.yaml
Due: go-version, gosec

Updates initialValues setting so handleSubmit() gets called.
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/ducks.js
Due: prettier

add to commented out test, so when it's fixed, invoice submission will be in there
  pkg/handlers/internalapi/shipments_test.go
Due: go-version, gosec

Fix cypress
  package.json
  yarn.lock
Due: none

More correctly call submake commands
  Makefile
Due: none

Modify LDFLAGS if running on CircleCI
  Makefile
Due: none

move create_invoices to a service dir
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/shipments_test.go
  pkg/service/invoice/create_invoices.go
  pkg/service/invoice/create_invoices_test.go
Due: go-version, gosec

Removes unused TSP app dockerfile (#1390)
  Dockerfile.tsp
Due: none

Upgrades Go to 1.11.2 [delivers #162067628] (#1383)
  .circleci/config.yml
  README.md
  bin/check_go_version
  cmd/load_office_data/main.go
  cmd/make_office_user/main.go
  cmd/make_tsp_user/main.go
  pkg/edi/invoice/generator.go
  pkg/handlers/internalapi/generic_move_documents_test.go
  pkg/handlers/internalapi/move_documents.go
  pkg/handlers/internalapi/move_documents_test.go
  pkg/handlers/internalapi/moving_expense_documents_test.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_attachments_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/handlers/internalapi/service_member_test.go
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/signed_certifications_test.go
  pkg/models/move.go
  pkg/models/move_document_test.go
  pkg/models/office_email_test.go
  pkg/models/office_phone_line_test.go
  pkg/models/office_user_test.go
  pkg/models/tsp_users_test.go
  pkg/paperwork/form1203.go
  pkg/rateengine/rateengine.go
  pkg/testdatagen/make_move_document.go
  pkg/testdatagen/make_tsp_user.go
Due: go-version, markdown-toc, gosec, mdspell
