Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, go-imports, go-lint, go-vet, gomod, gen-docs, circleci-validate

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: ((((any of: swagger/api.yaml) or (any of: swagger/internal.yaml)) or (any of: swagger/orders.yaml)) or (any of: swagger/dps.yaml)) or (any of: swagger/admin.yaml)
  markdown-toc: any of: \.md$
  go-imports: any of: \.go$
  go-lint: any of: \.go$, but not: pkg/tools/
  go-vet: any of: \.go$
  gomod: any of: go.mod
  gen-docs: any of: \.md$
  circleci-validate: any of: [.]circleci/config.yml$

Get rid of extra comment
  pkg/auth/authentication/devlocal.go
Due: go-version, go-imports, go-lint, go-vet

Fix users test so that it tests when a user doesn't need an access code and it handles successfully
  pkg/handlers/internalapi/users_test.go
Due: go-version, go-imports, go-lint, go-vet

Hover styling for tsp queues
  src/scenes/Office/QueueTable.jsx
  src/scenes/Office/office.scss
  src/scenes/TransportationServiceProvider/index.jsx
  src/scenes/TransportationServiceProvider/tsp.scss
Due: prettier, eslint

Fix fetch access code test
  cypress/integration/mymove/serviceMemberProfile.js
  pkg/services/accesscode/fetch_access_code_test.go
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet

Remove deliver-sit handler references
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipments.go
  pkg/handlers/publicapi/shipments_test.go
Due: go-version, go-imports, go-lint, go-vet

Add a blur because of a fit about blocking elements in ppm.js
  cypress/integration/mymove/ppm.js
Due: prettier, eslint

Throw in some force: true
  cypress/support/preapprovals/test125abcd.js
  cypress/support/preapprovals/testCreateRequest.js
Due: prettier, eslint

Make transaction conditional based on whether a transaction is already happening
  pkg/models/shipment.go
Due: go-version, go-imports, go-lint, go-vet

Write subtests to test rollback of transaction andto test the expected delivery behavior
  pkg/services/shipment/deliver_and_price_shipment_test.go
  pkg/testdatagen/make_shipment_offer_records.go
Due: go-version, go-imports, go-lint, go-vet

Update button disabled function grouping
  src/scenes/Moves/Ppm/WeightTicket.jsx
  src/scenes/Moves/Ppm/WeightTicket.test.js
Due: prettier, eslint

PR Changes - Pass in connection to fetchAccessCodeForUpdate function - Add validation errors to claim access code - fix tests to account for new function signature
  mocks/AccessCodeClaimer.go
  pkg/handlers/publicapi/access_code.go
  pkg/services/accesscode.go
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Create access_code/invalid endpoint, corresponding handler and test for handler
  mocks/AccessCodeClaimer.go
  pkg/handlers/publicapi/access_code.go
  pkg/handlers/publicapi/access_code_test.go
  pkg/handlers/publicapi/api.go
  pkg/services/accesscode.go
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
  swagger/api.yaml
Due: go-version, swagger, go-imports, go-lint, go-vet

PR Changes: Add error message tests and remove print statements
  pkg/handlers/publicapi/access_code.go
  pkg/handlers/publicapi/access_code_test.go
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Update mock with new function signature
  mocks/AccessCodeClaimer.go
  pkg/handlers/publicapi/access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Use SELECT FOR UPDATE to handle race condition
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Add tests for claim_access_code
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Use correct routes for ValidateAccessCodeHandler tests
  pkg/handlers/publicapi/access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

PR feedback: more accurate test name and renamings
  pkg/services/accesscode/claim_access_code.go
  pkg/services/accesscode/claim_access_code_test.go
Due: go-version, go-imports, go-lint, go-vet

Temporarily fix chamber
  Makefile
  go.mod
  go.sum
  pkg/tools/tools.go
Due: go-version, go-imports, go-vet, gomod

Add missing Transportation Office to orders query
  pkg/models/order.go
Due: go-version, go-imports, go-lint, go-vet

Add missing Transportation Office to service member query
  pkg/models/service_member.go
Due: go-version, go-imports, go-lint, go-vet

Order SITs fetch by actual start date
  pkg/models/storage_in_transit.go
Due: go-version, go-imports, go-lint, go-vet

Add save button behavior to weight ticket page for new PPM closeout flow (#2189)
  cypress/integration/mymove/ppm.js
  src/scenes/Moves/Ppm/PPMPaymentRequestActionBtns.jsx
  src/scenes/Moves/Ppm/PPMPaymentRequestIntro.jsx
  src/scenes/Moves/Ppm/WeightTicket.jsx
  src/scenes/Moves/Ppm/WeightTicket.test.js
  src/shared/JsonSchemaForm/SingleDatePicker.jsx
  src/shared/Uploader/index.jsx
Due: prettier, eslint

Order by location first so that Origin is first and then by estimated Start date
  pkg/models/storage_in_transit.go
Due: go-version, go-imports, go-lint, go-vet

Resolve merge conflicts and adjust as needed
  src/shared/User/AccessCode.jsx
Due: prettier, eslint

Re-add vehicle options
  swagger/internal.yaml
Due: swagger

Add link to DPS
  src/shared/User/AccessCode.jsx
Due: prettier, eslint

continue over bad columns
  pkg/services/query/query_builder.go
Due: go-version, go-imports, go-lint, go-vet

Fix broken tests
  cypress/integration/tsp/shipShipment.js
  pkg/services/storage_in_transit/storage_in_transit_service_test.go
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet

fix filters typo
  pkg/services/user/office_user_fetcher.go
  pkg/services/user/office_user_list_fetcher.go
Due: go-version, go-imports, go-lint, go-vet

update office new moves queue heading
  cypress/integration/office/officeCSRFProtect.js
  src/scenes/Office/QueueList.jsx
  src/scenes/Office/QueueTable.jsx
Due: prettier, eslint

mod new queues/shipments link
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/MoveInfo.test.js
Due: prettier, eslint

Autogen mocks
  Makefile
  pkg/services/accesscode.go
  pkg/services/paperwork/create_form.go
  pkg/services/storage_in_transit.go
  pkg/storage/storage.go
Due: go-version, go-imports, go-lint, go-vet

Added client and E2E tests; fixed style issue
  cypress/integration/tsp/storageInTransit.js
  pkg/testdatagen/scenario/e2ebasic.go
  src/shared/StorageInTransit/DeleteSitRequest.jsx
  src/shared/StorageInTransit/DeleteSitRequest.test.jsx
  src/shared/StorageInTransit/StorageInTransit.css
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet

Update README
  docs/how-to/generate-mocks-with-mockery.md
Due: markdown-toc, gen-docs

Add mockery target to makefile
  Makefile
Due: none

Update office new moves queue heading: 165749867 (#2184)
  cypress/integration/office/officeCSRFProtect.js
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/MoveInfo.test.js
  src/scenes/Office/QueueList.jsx
  src/scenes/Office/QueueTable.jsx
Due: prettier, eslint

Automated dependency updates | Mon, 03 Jun 2019 12:02:19 +0000
  yarn.lock
Due: none

Add some color
  src/shared/User/AccessCode.css
  src/shared/User/AccessCode.jsx
Due: prettier, eslint

Update mockery pathing in go generate
  docs/how-to/generate-mocks-with-mockery.md
  pkg/services/accesscode.go
  pkg/services/paperwork/create_form.go
  pkg/services/storage_in_transit.go
  pkg/storage/storage.go
Due: go-version, markdown-toc, go-imports, go-lint, go-vet, gen-docs
