Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

updates loki images
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_iphone7_Customer_Components_DocsUploaded_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Orders_Uploaded.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Profile_Complete.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Shipment_Selection.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Shipments.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Upload_Orders.png
  .loki/reference/chrome_iphone7_Global_Typography_Headers.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ShipmentContainer_MTO_Accessorial.png
  .loki/reference/chrome_laptop_Global_Typography_Headers.png
Due: none

Port getDocumentHandler functiionality over from internal API.
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/ghc_documents/get_document.go
  pkg/gen/ghcapi/ghcoperations/ghc_documents/get_document_parameters.go
  pkg/gen/ghcapi/ghcoperations/ghc_documents/get_document_responses.go
  pkg/gen/ghcapi/ghcoperations/ghc_documents/get_document_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/document_payload.go
  pkg/gen/ghcmessages/upload.go
  pkg/handlers/ghcapi/documents.go
  pkg/handlers/ghcapi/documents_test.go
  swagger/ghc.yaml
Due: go-version, swagger

Load all shipments; loop through rendering them
  src/pages/MyMove/HHGShipmentSummary.jsx
  src/scenes/MyMove/index.jsx
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

updates loki images
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RejectServiceItemModal_Basic.png
Due: none

Add queryOrder to fetch of mtoShipments
  pkg/handlers/internalapi/mto_shipment.go
Due: go-version

Removing deploy components for engadmin in CircleCI
  .circleci/config.yml
Due: none

Remove stale CSS, fix button tests
  src/shared/WizardPage/index.css
  src/shared/WizardPage/index.jsx
  src/shared/WizardPage/index.test.js
Due: prettier, eslint

Remove console log
  src/shared/WizardPage/index.test.js
Due: prettier, eslint

Remove unnecessary attributes
  pkg/handlers/internalapi/orders.go
  pkg/models/service_member.go
Due: go-version

Remove feature flag from GovCloud prd env
  config/env/prd.app.env
Due: none

Add test assert to check ordering
  pkg/handlers/internalapi/mto_shipment_test.go
Due: go-version

wip added pass at generating payment service item and isa header
  pkg/edi/segment/l0.go
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

updates loki images
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_iphone7_Customer_Components_DocsUploaded_Basic.png
Due: none

Use new react-file-viewer branch, add sample jpg files
  package.json
  src/components/DocumentViewer/DocumentViewer.jsx
  src/components/DocumentViewer/DocumentViewer.stories.jsx
  src/components/DocumentViewer/sample.jpg
  src/components/DocumentViewer/sample2.jpg
  src/pages/Office/MoveOrders/MoveOrders.jsx
  yarn.lock
Due: prettier, eslint

Update react-file-viewer commit
  yarn.lock
Due: none

MB-3868 disabled PPM radio selection
  src/pages/MyMove/SelectMoveType.jsx
Due: prettier, eslint

updates loki images
  .loki/reference/chrome_laptop_TOO_TIO_Components_RejectServiceItemModal_Basic.png
Due: none

adds neg margin to other instance of next/back buttons
  src/shared/WizardPage/Form.jsx
Due: prettier, eslint

Use shipment.id for key in map
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

adds new loki images
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
Due: none

add supported file type examples to DocumentViewer stories
  src/components/DocumentViewer/DocumentViewer.stories.jsx
  src/components/DocumentViewer/sample2.jpg
  src/components/DocumentViewer/sample2.png
  src/components/DocumentViewer/sample3.gif
  yarn.lock
Due: prettier, eslint

Add new selector for shipment by id
  src/components/Customer/EditShipment.jsx
  src/shared/Entities/modules/mtoShipments.js
Due: prettier, eslint

Change path to include shipmentId
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/HHGShipmentSetup.jsx
  src/pages/MyMove/HHGShipmentSummary.jsx
  src/pages/MyMove/Home/index.jsx
  src/scenes/MyMove/index.jsx
Due: prettier, eslint

Update to lastest commit, add image file types to tests
  src/components/DocumentViewer/DocumentViewer.test.jsx
  yarn.lock
Due: prettier, eslint

MB-3868 using disabled property on PPM radio option
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
Due: prettier, eslint

Fix wip issues and tests
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Revert "Bump @babel/core from 7.10.5 to 7.11.5"
  package.json
  yarn.lock
Due: none

Apply shipment number to HHG label at top of edit page
  src/components/Customer/EditShipment.jsx
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/HHGShipmentSummary.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

WIP getting documents into viewer for orders. Have Uploads object, but need to figure out uploads to actual file.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/move_order.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/DocumentViewer/DocumentViewer.jsx
  src/constants/queryKeys.js
  src/hooks/queries.js
  src/pages/Office/MoveOrders/MoveOrders.jsx
  src/services/ghcApi.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

add button to add another shipment and e2e test
  cypress/integration/mymove/hhg.js
  src/components/Customer/EditShipment.jsx
  src/components/Customer/ReviewSection.jsx
  src/pages/MyMove/HHGShipmentSummary.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/Review/Review.css
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

Add ST and SE segment to struct
  pkg/edi/invoice/generator.go
Due: go-version

Minor refactor
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Add end segments and more tests
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

add cypress runner dep to root pkg as well
  package.json
  yarn.lock
Due: none

remove storybook deployment step for storybook.move.mil
  .circleci/config.yml
Due: none

[MB-3502] Orders Information table loads/formats all information on Move Details page (#4731)
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Basic.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Orders_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Orders_Table.png
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/dept_indicator.go
  pkg/gen/ghcmessages/move_order.go
  pkg/gen/ghcmessages/orders_type.go
  pkg/gen/ghcmessages/orders_type_detail.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/OrdersTable.jsx
  src/components/Office/OrdersTable.test.jsx
  src/components/Office/OrdersTable/OrdersTable.jsx
  src/components/Office/OrdersTable/OrdersTable.module.scss
  src/components/Office/OrdersTable/OrdersTable.stories.jsx
  src/components/Office/OrdersTable/OrdersTable.test.jsx
  src/components/Office/ordersTable.stories.jsx
  src/constants/departmentIndicators.js
  src/constants/orders.js
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/services/ghcApi.js
  src/shared/formatters.js
  src/types/moveOrder.js
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, prettier, eslint, swagger

makes it so the cypress tests get next buttons by their data test id instead of their css class, which should stop our integration test failures
  cypress/support/commands.js
Due: prettier

applies uppercase text transform to h6
  src/shared/styles/_typography.scss
Due: none

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
