Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, markdown-toc, gosec, mdspell

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: bin/check_go_version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0-1
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.13.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Orders Swagger
        entry: bin/swagger validate swagger/orders.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint

  - repo: local
    hooks:
      - id: gosec
        name: gosec scanner
        entry: bin/gosec -exclude=G104 -fmt text -quiet ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: bin/gen-docs-index
        language: script

  - repo: local
    hooks:
      - id: dep-version
        name: dep version
        entry: bin/check_dep_version
        language: script

Add TLSConfig from webserver into Struct SendToGexHTTP
  cmd/webserver/main.go
  pkg/edi/gex/invoice.go
Due: go-version, gosec

Create better informational logging for ecs migrations script
  bin/ecs-run-app-migrations-container
Due: none

Cleanup
  bin/ecs-run-app-migrations-container
Due: none

Updates from design review, change usa-grid to usa-grid-full and make button secondary.
  src/shared/PreApprovalRequest/Creator.jsx
  src/shared/PreApprovalRequest/Editor.jsx
  src/shared/PreApprovalRequest/PreApprovalForm.jsx
Due: prettier

Split steps for db snapshot and migration
  .circleci/config.yml
Due: none

Show the logs first so the messaging isn't confusing
  bin/ecs-run-app-migrations-container
Due: none

Change tests to match css edits.
  src/shared/PreApprovalRequest/Creator.test.js
  src/shared/PreApprovalRequest/Editor.test.js
  src/shared/PreApprovalRequest/PreApprovalForm.test.js
Due: prettier

More work on preventing e2e failures from slow office/tsp app page load (#1562)
  cypress/integration/mymove/shipment.js
  cypress/integration/office/cancelAndStartNewMove.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/incentiveCalculator.js
  cypress/integration/office/invoicing.js
  cypress/integration/office/officeCSRFProtect.js
  cypress/integration/office/officePremoveSurvey.js
  cypress/integration/office/officeServiceAgents.js
  cypress/integration/office/officeUserHHG.js
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/preApprovalRequest.js
  cypress/integration/office/storageReimbursementCalculator.js
  cypress/integration/tsp/documentViewer.js
  cypress/integration/tsp/generateGBL.js
  cypress/integration/tsp/homepage.js
  cypress/integration/tsp/invoicing.js
  cypress/integration/tsp/locationsPanel.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/integration/tsp/queues.js
  cypress/integration/tsp/routes.js
  cypress/integration/tsp/serviceAgents.js
  cypress/integration/tsp/shipShipment.js
  cypress/integration/tsp/tspCSRFProtect.js
  cypress/integration/tsp/weightsAndItemsPanel.js
  cypress/support/commands.js
  cypress/support/datesPanel.js
  cypress/support/testPremoveSurvey.js
  cypress/support/testTspServiceAgents.js
Due: prettier

Disable gosec inline; run dep ensure to update Golock
  Gopkg.lock
  cmd/generate_shipment_edi/main.go
  cmd/send_to_gex/main.go
  pkg/edi/gex/invoice.go
  pkg/edi/gex/invoice_test.go
Due: go-version, gosec

Fixes cost calculation for third party service charge (#1531)
  pkg/rateengine/accessorials.go
Due: go-version, gosec

Removes waits from Cypress tests
  cypress/integration/mymove/mymoveCSRFProtect.js
  cypress/integration/office/officeCSRFProtect.js
  cypress/integration/tsp/generateGBL.js
  src/scenes/Office/OrdersPanel.jsx
Due: prettier

Remove unused import
  pkg/edi/gex/invoice_test.go
Due: go-version, gosec

Add comment next to function call for how to make it send a real request
  pkg/edi/gex/invoice.go
Due: go-version, gosec

Update DPS cookie prefix from mymove to milmove
  pkg/dpsauth/cookie.go
Due: go-version, gosec

Removes waits from Cypress tests (#1569)
  cypress/integration/mymove/mymoveCSRFProtect.js
  cypress/integration/office/officeCSRFProtect.js
  cypress/integration/tsp/generateGBL.js
  src/scenes/Office/OrdersPanel.jsx
Due: prettier

Make use of the diesel rate from the FuelEIADieselPrice table to calculate the fuel surcharge.
  pkg/rateengine/line_items_test.go
  pkg/rateengine/linehaul.go
  pkg/rateengine/linehaul_test.go
  pkg/rateengine/rateengine.go
  pkg/rateengine/rateengine_test.go
Due: go-version, gosec

Replace hard-coded url in commands with reference to environment var
  cmd/generate_shipment_edi/main.go
  cmd/send_to_gex/main.go
Due: go-version, gosec

Clean up a couple of comments that are no longer necessary
  pkg/rateengine/linehaul.go
  pkg/rateengine/linehaul_test.go
Due: go-version, gosec

Remove fmt.println that was left in by mistake
  pkg/rateengine/linehaul.go
Due: go-version, gosec

reorganized calls, made call to delete upload separate from the Call() method
  pkg/edi/invoice/store_invoice.go
  pkg/service/invoice/update_invoice_upload.go
  pkg/service/invoice/update_invoice_upload_test.go
Due: go-version, gosec

Remove var assignment for flags; add assignments to get values of env vars later in code
  cmd/generate_shipment_edi/main.go
Due: go-version, gosec

Describe the db snapshot after the wait has completed and exit if status is not available
  bin/rds-snapshot-app-db
Due: none

nil check when trying to get the client certificate info from the request context
  pkg/handlers/dpsapi/authentication.go
  pkg/handlers/ordersapi/orders.go
Due: go-version, gosec

Deploy to experimental
  .circleci/config.yml
Due: none

Improve formatting for snapshot and migrate scripts
  bin/ecs-run-app-migrations-container
  bin/rds-snapshot-app-db
Due: none

Replace placeholders
  .circleci/config.yml
Due: none

Move flags that are placed above initial flag assignment
  cmd/generate_shipment_edi/main.go
Due: go-version, gosec

test suite API changed
  pkg/models/client_cert_test.go
Due: go-version, gosec

Revert "Update DPS cookie prefix from mymove to milmove"
  pkg/dpsauth/cookie.go
Due: go-version, gosec

Add some error handling; add - to command usage comment
  cmd/send_to_gex/main.go
Due: go-version, gosec

Log TSP User ID
  pkg/logging/log.go
Due: go-version, gosec

Add a comment about what type of shipment can be used to generate_shipment_edi
  cmd/generate_shipment_edi/main.go
Due: go-version, gosec

Add route for styleguide (#1566)
  cypress/integration/mymove/styleguide.js
  src/scenes/MyMove/index.jsx
  src/scenes/StyleGuide/index.js
Due: prettier

remove air force cert migration, since we don't have real certificates for them yet
  local_migrations/20181219194544_add_air_force_orders_cert.sql
  migrations/20181219194544_add_air_force_orders_cert.up.fizz
Due: none

Use known UUIDs for marine corps and dps certificates, in case we need to write migrations later that refer to them
  local_migrations/20181219194552_add_marine_corps_orders_cert.sql
  local_migrations/20190102144741_add_dps_cert.sql
Due: none

Hide Profile and Orders section during COMBO PPM flow
  cypress/integration/mymove/hhgPPM.js
  src/scenes/Review/Summary.jsx
Due: prettier

Add a note to remind us to test secure migrations.
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdown-toc, mdspell

Fixes tests
  pkg/models/shipment_line_item_test.go
Due: go-version, gosec

additional fetch invoice check in test TestStoreInvoice858C(), log db err
  pkg/edi/invoice/store_invoice.go
  pkg/edi/invoice/store_invoice_test.go
Due: go-version, gosec
