Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

gen-docs-index:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

Modify audit so that no session needs to be passed. No session created for prime api calls
  pkg/handlers/primeapi/move_task_order.go
  pkg/services/audit/audit.go
Due: go-version

Modify doc generator
  docs/README.md
  scripts/gen-docs-index
Due: gen-docs-index

Consolidate the DB docs
  docs/README.md
  docs/database/backup-and-restore-dev-database.md
  docs/database/database.md
  docs/database/migrate-the-database.md
  docs/database/soft-delete.md
  docs/how-to/create-or-deactivate-users.md
Due: gen-docs-index

Modify codeowners for DB docs
  .github/CODEOWNERS
Due: none

Remove user authentication in tests
  pkg/handlers/primeapi/move_task_order_test.go
Due: go-version

remove sara :( and add ryan :)
  .github/CODEOWNERS
Due: none

remove sara :( and add ryan :) (#3360)
  .github/CODEOWNERS
Due: none

pulling out select functions from updatePaymentRequest function
  src/shared/Entities/modules/paymentRequests.js
Due: prettier, eslint

Fix CAC scripts to work on MacOS 10.15
  .spelling
  docs/how-to/upload-electronic-orders.md
  scripts/cac-extract-cert
  scripts/cac-extract-fingerprint
  scripts/cac-extract-pubkey
  scripts/cac-extract-subject
  scripts/cac-extract-token-label
  scripts/cac-prereqs
Due: gen-docs-index

Update documentation about scripts. Add pre-commit to ensure docs exist.
  .pre-commit-config.yaml
  .spelling
  scripts/README.md
  scripts/anti-virus
  scripts/commit-msg
  scripts/find-scripts-missing-in-readme
  scripts/update-docker-compose
  scripts/update-migrations-manifest
Due: gen-docs-index

add text input for rejection reason, add functionality to buttons
  package.json
  src/scenes/Office/TIO/paymentRequestShow.jsx
  src/shared/Entities/modules/paymentRequests.js
  yarn.lock
Due: prettier, eslint

Upgrade Docker alpine image and test it against ECR scanner
  Dockerfile.migrations
  Dockerfile.migrations_local
  tools/Dockerfile.tools
Due: none

gentle refactor of paymentRequest update
  src/scenes/Office/TIO/paymentRequestShow.jsx
Due: prettier, eslint

Be more explicit about alpine version
  Dockerfile.migrations
  Dockerfile.migrations_local
  tools/Dockerfile.tools
Due: none

another refactor of paymentRequest update
  src/scenes/Office/TIO/paymentRequestShow.jsx
Due: prettier, eslint

Add comment to explain check for if we are already in a transaction
  pkg/uploader/uploader.go
Due: go-version

Remove unused binary data from yaml Upload definition and regenerate files
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/upload.go
  swagger/prime.yaml
Due: go-version, swagger

Add test case for allowed file type for a payment request
  pkg/uploader/allowed_file_types_test.go
Due: go-version

Set feature flag in handlerContext
  cmd/milmove/serve.go
Due: go-version

Set more fields on customer model.
  pkg/models/convert.go
Due: go-version

Write server logs to a logfile.
  Makefile
Due: none

Ignore log directory
  .gitignore
Due: none

Just create directory when Makefile is parsed.
  Makefile
Due: none

MB-506 initial code changes
  pkg/handlers/primeapi/payment_request.go
  pkg/models/payment_service_item.go
  pkg/models/payment_service_item_test.go
  pkg/models/service_param.go
  pkg/payment_request/payment_request_helper.go
  pkg/payment_request/service_param_list_fetcher.go
  pkg/payment_request/service_param_list_valid.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup.go
  pkg/payment_request/service_param_value_lookups/service_area_origin_lookup.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/weight_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_billed_actual_lookup.go
  pkg/payment_request/service_param_value_lookups/weight_estimated_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_dest_address_lookup.go
  pkg/payment_request/service_param_value_lookups/zip_pickup_address_lookup.go
  pkg/services/payment_request/payment_request_creator.go
  pkg/services/payment_request/payment_request_creator_test.go
Due: go-version

[MB-820] Add Zip3TransitDistance function to route planner
  pkg/route/bing_planner.go
  pkg/route/here_planner.go
  pkg/route/here_planner_test.go
  pkg/route/planner.go
  pkg/route/planner_test.go
  pkg/route/testing_planner.go
Due: go-version

[MB-820] Add documentation about Route Planner
  .spelling
  docs/backend/route-planner.md
Due: gen-docs-index

scratch code, saving to share, but then removing to implement final solution
  pkg/handlers/primeapi/payment_request.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

[MB-820] Add documentation for planner public methods
  pkg/route/bing_planner.go
  pkg/route/here_planner.go
  pkg/route/testing_planner.go
Due: go-version

[MB-820] Add explination of Zip3TransitDistance stub method
  .spelling
  docs/backend/route-planner.md
Due: gen-docs-index

Add engadmin host and login.gov client id
  .envrc
  scripts/check-hosts-file
Due: none

PR feedback.
  Makefile
Due: none

Add troubleshooting tips for installing mdspell
  .spelling
  README.md
Due: gen-docs-index

Log dev server output (#3375)
  .gitignore
  Makefile
Due: none

Update README.md
  README.md
Due: gen-docs-index

First commit for primeapi client that reads from CAC
  cmd/prime-api-client/main.go
  go.mod
  go.sum
  pkg/gen/primeclient/move_task_order/fetch_m_t_o_updates_parameters.go
  pkg/gen/primeclient/move_task_order/fetch_m_t_o_updates_responses.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_customer_parameters.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_customer_responses.go
  pkg/gen/primeclient/move_task_order/get_prime_entitlements_parameters.go
  pkg/gen/primeclient/move_task_order/get_prime_entitlements_responses.go
  pkg/gen/primeclient/move_task_order/move_task_order_client.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_actual_weight_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_actual_weight_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_estimated_weight_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_estimated_weight_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_post_counseling_information_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_post_counseling_information_responses.go
  pkg/gen/primeclient/mymove_client.go
  pkg/gen/primeclient/payment_requests/create_payment_request_parameters.go
  pkg/gen/primeclient/payment_requests/create_payment_request_responses.go
  pkg/gen/primeclient/payment_requests/payment_requests_client.go
  scripts/gen-server
Due: go-version, gomod

Fix client code
  cmd/prime-api-client/main.go
  pkg/gen/primeclient/move_task_order/fetch_m_t_o_updates_responses.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_customer_responses.go
  pkg/gen/primeclient/move_task_order/get_prime_entitlements_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_actual_weight_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_parameters.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_destination_address_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_estimated_weight_responses.go
  pkg/gen/primeclient/move_task_order/update_move_task_order_post_counseling_information_responses.go
  pkg/gen/primeclient/payment_requests/create_payment_request_parameters.go
  pkg/gen/primeclient/payment_requests/create_payment_request_responses.go
  scripts/gen-server
Due: go-version

Update TOC
  README.md
Due: gen-docs-index

Fix help info
  cmd/prime-api-client/main.go
Due: go-version

remove e2e_test_docker_tsp in Makefile
  Makefile
Due: none

[MB-267] remove references to tsp site in shared/constants, App/index.js, and associated test
  src/App/index.jsx
  src/App/index.test.js
  src/shared/constants.js
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  gen-docs-index: any of: \.md$
