Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

updated currentDutyLocation in Summary to direct to orders and not serviceMember
  src/components/Customer/Review/Summary/Summary.jsx
Due: prettier, eslint

adjusted service items
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
  src/components/Office/ServiceItemDetails/ServiceItemDetails.test.jsx
Due: prettier, eslint

edit okta profile edit button path change
  src/pages/MyMove/Profile/Profile.jsx
Due: prettier, eslint

added some css to name form
  src/pages/Office/CustomerOnboarding/CustomerName.jsx
  src/pages/Office/CustomerOnboarding/CustomerName.module.scss
Due: prettier, eslint

make tests more accurate
  pkg/services/shipment_address_update/shipment_address_update_requester.go
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

Closeout office fields now show correctly for both customer and SC.
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.jsx
Due: prettier, eslint

adjusted origin hhg actual
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/m_t_o_service_item.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_service_items.go
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  swagger-def/definitions/MTOServiceItem.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

code cleanup and touch ups per screenshot
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
  src/components/Office/ServiceItemDetails/ServiceItemDetails.test.jsx
Due: prettier, eslint

updating tests
  pkg/factory/office_user_factory.go
  pkg/factory/privilege_factory.go
  pkg/factory/shared.go
  pkg/factory/user_factory.go
  pkg/models/privileges_test.go
Due: go-version, ato-go-linter, appcontext-linter

moved integration changes over
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
  src/components/Office/ShipmentAddresses/ShipmentAddresses.test.jsx
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
  src/utils/shipmentDisplay.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

check for payment requests
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

check for approved destination SIT
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

fix the ApprovedAt field for new service item
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

fix issue from main to int
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

fix spacing
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup
  playwright/tests/admin/officeUsers.spec.js
  src/scenes/SystemAdmin/shared/RolesPrivilegesCheckboxes.jsx
Due: prettier, eslint

Multimove feature flag retrieval change
  src/pages/MyMove/MovingInfo.jsx
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.jsx
  src/pages/MyMove/PPM/Closeout/About/About.jsx
  src/pages/MyMove/PPM/Closeout/Expenses/Expenses.jsx
  src/pages/MyMove/PPM/Closeout/FinalCloseout/FinalCloseout.jsx
  src/pages/MyMove/PPM/Closeout/ProGear/ProGear.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
  src/pages/MyMove/Profile/Profile.jsx
  src/pages/MyMove/Review/Review.jsx
  src/pages/MyMove/UploadOrders.jsx
Due: prettier, eslint

adding back missing line
  src/components/Office/ShipmentAddresses/ShipmentAddresses.test.jsx
Due: prettier, eslint

Fixed missing EOF empty line.
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

initial commit, happy path, tests added
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_address.go
  pkg/handlers/primeapi/mto_shipment_address_test.go
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated playwright tests
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Added PaymentRequestQueue test cases
  src/components/MoveSearchForm/MoveSearchForm.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
Due: prettier, eslint

Added test cases for TIO and TOO
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
Due: prettier, eslint

Removed commented out code
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
Due: prettier, eslint

removed screen.debug
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
Due: prettier, eslint

Fixed post merge shenanigans
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcmessages/search_move.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move.go
  pkg/handlers/ghcapi/move_test.go
  pkg/models/ppm_shipment.go
  src/components/Queue/Queue.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Linter error
  src/components/Table/SearchResultsTable.jsx
Due: prettier, eslint

Another post merge fix
  pkg/gen/ghcmessages/search_move.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Queue/Queue.jsx
  src/components/QueueNav/QueueNav.jsx
  src/components/QueueNav/QueueNav.module.scss
  src/constants/paymentRequestStatus.js
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  swagger-def/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Removed duplicate declaration
  src/utils/featureFlags.js
Due: prettier, eslint

Rearrange search results table columns and updated styling so date pickers don't create nested scroll bars or get cut off
  src/components/Table/SearchResultsTable.jsx
  src/components/Table/SearchResultsTable.module.scss
Due: prettier, eslint

updating spectral counter
  .circleci/config.yml
  swagger/admin.yaml
Due: swagger

update spectral count
  .circleci/config.yml
Due: none

functionality and tests
  src/components/Office/ServiceItemsTable/ServiceItemsTable.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.test.jsx
Due: prettier, eslint

Testing Commit
  src/components/Office/DefinitionLists/PPMShipmentInfoList.jsx
  src/components/Office/DefinitionLists/PPMShipmentInfoList.test.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/components/PPMSummaryList/PPMSummaryList.test.jsx
Due: prettier, eslint
