Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

tests should use setupDomesticOtherPrice and clean up code in domestic_destination_sit_delivery_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_sit_delivery_pricer_test.go
Due: go-version, ato-go-linter, appcontext-linter

recommit work that was lost from PR #11433
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version, ato-go-linter, appcontext-linter

recommit work that was lost from PR #11433 (#11462)
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version, ato-go-linter, appcontext-linter

Restore config, revert demo
  .circleci/config.yml
Due: none

feat: :art: Regenerate service items when address change updates pricing
  pkg/factory/mto_service_item_factory.go
  pkg/services/shipment_address_update/shipment_address_update_requester.go
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

test: :white_check_mark: Catch to prevent manually rejected service items from regenerating
  pkg/services/shipment_address_update/shipment_address_update_requester.go
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

Initial work on pricer and fixing tests (#11427)
  pkg/services/ghcrateengine/domestic_destination_sit_delivery_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_sit_pickup_pricer_test.go
  pkg/services/ghcrateengine/pricer_helpers.go
  pkg/services/ghcrateengine/pricer_helpers_test.go
Due: go-version, ato-go-linter, appcontext-linter

Simplies the cubic feet rounding solution to something that should be less error prone.
  pkg/services/ghcrateengine/pricer_helpers_test.go
  pkg/unit/volume.go
  pkg/unit/volume_test.go
Due: go-version, ato-go-linter, appcontext-linter

misc fixes in code including validation, error catching in okta_profile.go and customer logout check for devlocal
  pkg/handlers/internalapi/okta_profile.go
  src/containers/Headers/CustomerLoggedInHeader.jsx
  src/pages/MyMove/Profile/EditOktaInfo.jsx
  src/utils/validation.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updated config for exp deploy
  .circleci/config.yml
Due: none

updated... a single... letter
  src/utils/validation.js
Due: prettier, eslint

updated url to check for hostname instead of isProduction, safer this way. Removed logo url, wasn't needed
  src/components/Customer/EditOktaInfoForm/EditOktaInfoForm.jsx
  src/components/Customer/Profile/OktaInfoDisplay/OktaInfoDisplay.jsx
Due: prettier, eslint

updated tests
  src/components/Customer/EditOktaInfoForm/EditOktaInfoForm.test.jsx
Due: prettier, eslint

updated config to prepare for merge to main
  .circleci/config.yml
Due: none

figuring out tests...
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixed typos in tests
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated url in test
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated okta_profile.go to handle okta errors when edipi already exists, added custom validationError, fixed bug in FE that was checking login instead of email
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/okta_profile/update_okta_info_responses.go
  pkg/handlers/internalapi/okta_profile.go
  src/pages/MyMove/Profile/EditOktaInfo.jsx
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

updated some tests
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated config
  .circleci/config.yml
Due: none

deleted whitespace in swagger files
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: swagger

changed ErrorId to ErrorID per linter as well as error checking json.unmarshal in okta_profile.go
  pkg/handlers/internalapi/okta_profile.go
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

error handling
  pkg/handlers/internalapi/okta_profile.go
Due: go-version, ato-go-linter, appcontext-linter

Makes sure we're using shipment destination address with the SIT final for SIT destination delivery pricer.
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version, ato-go-linter, appcontext-linter

working on passing okta_profile tests
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

This seems to get called twice now, so putting that in the planner.On() chain
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

updated test
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

tests
  pkg/handlers/internalapi/okta_profile_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated config for demo deploy
  .circleci/config.yml
Due: none

commented out migration file due to foreign key errors on demo deploy
  migrations/app/schema/20230925221618_delete_fort_lee_dutylocation.up.sql
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

UI implementation for editing SIT entry date, need to start work on backend and calling API endpoint as well as changing FE test
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.jsx
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.module.scss
  src/components/Office/RequestedServiceItemsTable/RequestedServiceItemsTable.jsx
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
  src/components/Office/ServiceItemUpdateModal/ServiceItemUpdateModal.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.jsx
  src/constants/sitUpdates.js
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/shared/dates.js
Due: prettier, eslint

update config
  .circleci/config.yml
Due: none

Tries to fix SIT destination postal codes bug.
  pkg/services/mto_service_item/mto_service_item_updater.go
  pkg/services/mto_service_item/mto_service_item_updater_test.go
  pkg/testdatagen/scenario/shared.go
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

working functionality of updating sit entry date for applicable service items, need to add tests
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mto_service_item/get_m_t_o_service_item_responses.go
  pkg/gen/ghcapi/ghcoperations/mto_service_item/update_service_item_sit_entry_date.go
  pkg/gen/ghcapi/ghcoperations/mto_service_item/update_service_item_sit_entry_date_parameters.go
  pkg/gen/ghcapi/ghcoperations/mto_service_item/update_service_item_sit_entry_date_responses.go
  pkg/gen/ghcapi/ghcoperations/mto_service_item/update_service_item_sit_entry_date_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/m_t_o_service_item_single.go
  pkg/gen/ghcmessages/service_item_sit_entry_date.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_service_items.go
  pkg/models/mto_service_items.go
  pkg/models/sit_entry_date_update.go
  pkg/services/mto_service_item.go
  pkg/services/mto_service_item/mto_service_item_fetcher.go
  pkg/services/mto_service_item/mto_service_item_fetcher_test.go
  pkg/services/sit_entry_date_update.go
  pkg/services/sit_entry_date_update/sit_entry_date_updater.go
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.jsx
  src/components/Office/ServiceItemUpdateModal/ServiceItemUpdateModal.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/services/ghcApi.js
  swagger-def/definitions/MTOServiceItemSingle.yaml
  swagger-def/definitions/ServiceItemSitEntryDate.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

completed frontend tests for sit entry date modal and associated components
  pkg/handlers/ghcapi/mto_service_items_test.go
  pkg/services/mocks/MTOServiceItemFetcher.go
  pkg/services/mocks/SitEntryDateUpdater.go
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.jsx
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.module.scss
  src/components/Office/EditSitEntryDateModal/EditSitEntryDateModal.test.jsx
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.test.jsx
  src/constants/sitUpdates.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

some additional backend tests complete, still working on mto_service_items_test.go....
  pkg/services/sit_entry_date_update/sit_entry_date_service_test.go
  pkg/services/sit_entry_date_update/sit_entry_date_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter
