Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Reverting config.yml changes
  .circleci/config.yml
Due: none

commit attempt 3 - broken page
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

Redesign the 404 page and update the tests
  src/components/NotFound/NotFound.jsx
  src/components/NotFound/NotFound.module.scss
  src/components/NotFound/NotFound.test.jsx
  src/pages/MyMove/Home/Home.module.scss
  src/scenes/MyMove/index.test.js
Due: prettier, eslint

remove netWeight from prime update payload, descriptions for updatePPMShipment definition
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/create_p_p_m_shipment.go
  pkg/gen/primemessages/p_p_m_shipment.go
  pkg/gen/primemessages/update_p_p_m_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapi/payloads/payload_to_model.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

create migration to add USCG and NAVY GBLOCs
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

Add jest-preview for client test debugging
  package.json
  src/setupTests.js
  yarn.lock
Due: prettier, eslint

[MB-13702]Added error msg when 0 is entered in advance amount office & added test (#9190)
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/components/Office/ShipmentForm/ppmShipmentSchema.js
  src/components/Office/ShipmentIncentiveAdvance/ShipmentIncentiveAdvance.stories.jsx
Due: prettier, eslint

Initial commit for adding a new PSQL user;
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20220921160013_add_advana_dms_integration_psql_user.up.sql
Due: none

Getting the dms_crud user in as secure migration;
  migrations/app/secure/20220921160013_add_advana_dms_integration_psql_user.up.sql
Due: none

Styling changes and tests
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.jsx
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.module.scss
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.test.jsx
Due: prettier, eslint

Adding another migration to add rds_superuser;
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220921194247_add_rds_superuser_role.up.sql
  migrations/app/schema/20220921194349_add_advana_dms_integration_psql_user.up.sql
Due: none

Get DutyLocation tests to using factories and passing.
  src/components/Customer/CurrentDutyLocationForm/CurrentDutyLocationForm.test.jsx
  src/components/DutyLocationSearchBox/DutyLocationSearchBox.test.jsx
  src/pages/MyMove/Profile/DutyLocation.test.jsx
  src/utils/test/factories/README.md
  src/utils/test/factories/address.js
  src/utils/test/factories/base.js
  src/utils/test/factories/dutyLocation.js
  src/utils/test/factories/helpers.js
  src/utils/test/factories/serviceMember.js
  src/utils/test/factories/transportationOffice.js
Due: prettier, eslint

update ScrollToTop to take more than one deps and update MoveDeatils page with <scrolltotop>
  src/components/ScrollToTop.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

update sitExpected description, add in UTC language to moving expense timestamps
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/moving_expense.go
  pkg/gen/ghcmessages/p_p_m_shipment.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/moving_expense.go
  pkg/gen/internalmessages/p_p_m_shipment.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/create_p_p_m_shipment.go
  pkg/gen/primemessages/p_p_m_shipment.go
  pkg/gen/primemessages/update_p_p_m_shipment.go
  swagger-def/definitions/MovingExpense.yaml
  swagger-def/definitions/PPMShipment.yaml
  swagger-def/prime.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Switched preloadData to setupTestData
  pkg/handlers/ghcapi/customer_support_remarks_test.go
  pkg/handlers/ghcapi/evaluation_report_test.go
  pkg/handlers/ghcapi/move_test.go
  pkg/handlers/ghcapi/mto_agent_test.go
  pkg/handlers/ghcapi/mto_service_items_test.go
  pkg/handlers/ghcapi/payment_request_test.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

Moved PreloadData to SetupTestData
  pkg/handlers/ghcapi/tac_test.go
  pkg/handlers/primeapi/upload_test.go
  pkg/notifications/user_account_modified_test.go
  pkg/payment_request/service_param_value_lookups/zip_address_lookup_test.go
  pkg/services/move/move_router_test.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_shipment/shipment_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

Add route to not found to the office app
  src/pages/Office/index.jsx
Due: prettier, eslint

use PO box as street address 2
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

update tranpo office name to PPM Processing
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

Add phone lines and email for navy and coast guard
  migrations/app/schema/20180528225210_us_transportation_offices.up.sql
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

remove uneeded change
  migrations/app/schema/20180528225210_us_transportation_offices.up.sql
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

Add some styling and test additions
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.jsx
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.module.scss
  src/components/Office/EvaluationReportPreview/EvaluationReportPreview.test.jsx
Due: prettier, eslint

convert pkg/parser/pricing
  pkg/parser/pricing/parse_access_and_add_prices_test.go
  pkg/parser/pricing/parse_domestic_other_prices_test.go
  pkg/parser/pricing/parse_international_prices_test.go
  pkg/parser/pricing/parse_management_counseling_transition_prices_test.go
  pkg/parser/pricing/parse_nonstandard_location_prices_test.go
  pkg/parser/pricing/parse_price_escalation_discount_test.go
Due: go-version, ato-go-linter, appcontext-linter

convert pkg/rateengine
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine_test.go
Due: go-version, ato-go-linter, appcontext-linter

convert pkg/services/invoice
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
  pkg/services/invoice/process_edi824_test.go
  pkg/services/invoice/process_edi997_test.go
  pkg/services/invoice/syncada_sftp_reader_test.go
  pkg/services/invoice/syncada_sftp_sender_test.go
Due: go-version, ato-go-linter, appcontext-linter

convert pkg/services/payment_request
  pkg/services/payment_request/payment_request_creator_test.go
  pkg/services/payment_request/payment_request_fetcher_test.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
  pkg/services/payment_request/payment_request_recalculator_test.go
  pkg/services/payment_request/payment_request_reviewed_fetcher_test.go
  pkg/services/payment_request/payment_request_shipment_recalculate_test.go
  pkg/services/payment_request/payment_request_shipments_sit_balance_test.go
  pkg/services/payment_request/payment_request_status_updater_test.go
  pkg/services/payment_request/upload_creator_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding the database triggers;
  migrations/app/schema/20220921194349_add_advana_dms_integration_psql_user.up.sql
Due: none

add order by func to sql call for paymentserviceitems
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version, ato-go-linter, appcontext-linter

initial commit to show eval report preview from violations page. needs work to get violations displaying properly
  src/components/Office/EvaluationViolationsForm/EvaluationViolationsForm.jsx
  src/hooks/queries.js
  src/pages/Office/EvaluationViolations/EvaluationViolations.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

Revert serviceMember factory on this branch, clean up.
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.stories.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.test.jsx
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
  src/components/Customer/PPM/Booking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.stories.jsx
  src/components/Customer/PPM/Booking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.test.jsx
  src/components/Customer/Review/Summary/Summary.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/constants/weightEntitlements.js
  src/pages/MyMove/CreateOrEditMtoShipment.test.jsx
  src/pages/MyMove/EditOrders.test.jsx
  src/pages/MyMove/Home/index.jsx
  src/pages/MyMove/Home/index.test.jsx
  src/pages/MyMove/MoveLanding.test.jsx
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.test.jsx
  src/pages/MyMove/Profile/BackupContact.test.jsx
  src/pages/MyMove/Profile/EditContactInfo.test.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
  src/utils/test/factories/README.md
  src/utils/test/factories/discovery/factory.js
  src/utils/test/factories/serviceMember.js
Due: prettier, eslint

add USMC transpo office
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

Create first version of evaluation report PDFs
  pkg/assets/assets.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/evaluation_report.go
  pkg/paperwork/evaluation_report.go
  pkg/paperwork/evaluation_report_form_creator.go
  pkg/paperwork/formtemplates/PublicSans-Bold.ttf
  pkg/paperwork/formtemplates/PublicSans-Regular.ttf
  pkg/paperwork/formtemplates/arrowright.png
  pkg/services/order.go
  scripts/gen-assets
Due: go-version, ato-go-linter, appcontext-linter

Update README.md.
  src/utils/test/factories/README.md
  src/utils/test/factories/base.js
  src/utils/test/factories/dutyLocation.js
Due: prettier, eslint

Write test for existing updateAllowance template
  src/constants/MoveHistory/EventTemplates/updateAllowance.test.js
Due: prettier, eslint

loadtest cert update migration
  config/tls/api.loadtest.dp3.us.crt
  go.mod
Due: gomod

add service counseling allowance change template
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/EventTemplates/updateAllowanceCounseling.js
  src/constants/MoveHistory/EventTemplates/updateAllowanceCounseling.test.js
Due: prettier, eslint

use TVCB as GBLOC for marines
  migrations/app/schema/20220920143839_add_gbloc_for_navy_and_coast_guard.up.sql
Due: none

Refactor contact info component data into a struct
  pkg/paperwork/evaluation_report.go
  pkg/paperwork/evaluation_report_form_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Fix breaking call to fake(), update README.md.
  src/components/Customer/FactoryTest/FactoryTest.test.jsx
  src/utils/test/factories/README.md
  src/utils/test/factories/dutyLocation.js
Due: prettier, eslint
