Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Updating prime ui shuttle tests
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateInternationalShuttleForm.jsx
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateInternationalShuttleForm.test.jsx
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateShuttleForms.module.scss
Due: prettier, eslint

added move history
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipments.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipments.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsApproveMove.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsApproveMove.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsServiceItem.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsServiceItem.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsUpdateAllowances.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipment/approveShipmentsUpdateAllowances.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/UIDisplay/Operations.js
Due: prettier, eslint

new test for 22233 hopefully works locally and remotely
  pkg/services/mto_shipment/mto_shipment_rate_area_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

min width
  src/components/BulkAssignment/BulkAssignmentModal.module.scss
Due: none

another test attempt for 22233
  pkg/services/mto_shipment/mto_shipment_rate_area_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

please work
  pkg/services/mto_shipment/mto_shipment_rate_area_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updated code to include new param
  pkg/services/transportation_office/transportation_office_fetcher.go
  pkg/services/transportation_office/transportation_office_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

button fix
  src/components/BulkAssignment/BulkAssignmentModal.jsx
  src/components/BulkAssignment/BulkAssignmentModal.module.scss
Due: prettier, eslint

fixing history files
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipments.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipments.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsApproveMove.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsApproveMove.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsServiceItem.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsServiceItem.test.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsUpdateAllowances.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipments/approveShipmentsUpdateAllowances.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: prettier, eslint

Updating tests
  pkg/services/mto_service_item/mto_service_item_validators.go
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateInternationalShuttleForm.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

will the test finally work both locally and remotely, i think so
  pkg/services/mto_shipment/mto_shipment_rate_area_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

updating tests
  pkg/services/mto_service_item/mto_service_item_validators.go
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateInternationalShuttleForm.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updating tests
  src/pages/PrimeUI/UpdateServiceItems/PrimeUIUpdateInternationalShuttleForm.test.jsx
Due: prettier, eslint

adding things, awaiting db funcs from beth for USMC logic
  migrations/app/schema/20250123173216_add_destination_queue_db_func_and_gbloc_view.up.sql
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
Due: prettier, eslint

Removing Duplicate
  pkg/services/mto_service_item/mto_service_item_updater.go
Due: go-version, ato-go-linter, appcontext-linter

add cpu for prd and otel image update
  .gitlab-ci.yml
Due: none

this worked before
  pkg/services/mto_shipment/mto_shipment_rate_area_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

test backup timeout
  .gitlab-ci.yml
  scripts/rds-snapshot-app-db
Due: none

Revert "bump go mod cache"
  .circleci/config.yml
Due: none

Updated missing mock change
  pkg/handlers/ghcapi/ppm_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

Update 20250121184450_upd_duty_loc_B-22242.up.sql
  migrations/app/schema/20250121184450_upd_duty_loc_B-22242.up.sql
Due: none

Update 20250106202424_update_duty_locs.up.sql
  migrations/app/schema/20250106202424_update_duty_locs.up.sql
Due: none

added serviceMemberID param
  pkg/services/mocks/TransportationOfficesFetcher.go
  pkg/services/move/move_router.go
  pkg/services/transportation_office.go
  pkg/services/transportation_office/transportation_office_fetcher.go
  pkg/services/transportation_office/transportation_office_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding tests
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/office/txo/tooFlowsInternational.spec.js
  playwright/tests/utils/testharness.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc

removed code in storybook
  src/components/BulkAssignment/BulkAssignmentModal.stories.jsx
Due: prettier, eslint

Fix comments
  pkg/handlers/primeapiv2/payloads/payload_to_model.go
Due: go-version, ato-go-linter, appcontext-linter

B-20984 sit entry and departure validation
  pkg/handlers/primeapi/mto_service_item_test.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
Due: go-version, ato-go-linter, appcontext-linter

fancy up the yup validation
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

fixed syntax
  .gitlab-ci.yml
Due: none

Updating pricing to use 110% weight
  pkg/services/mto_service_item/mto_service_item_updater.go
Due: go-version, ato-go-linter, appcontext-linter

fix comments and code cleanup per PR comments
  pkg/handlers/primeapiv3/payloads/payload_to_model.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
  pkg/services/sit_entry_date_update/sit_entry_date_updater_test.go
  src/components/Office/ServiceItemsTable/ServiceItemsTable.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

removing duplicate call
  pkg/services/mto_service_item/mto_service_item_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Update queues.go
  pkg/handlers/ghcapi/queues.go
Due: go-version, ato-go-linter, appcontext-linter

Update 20250121154046_upd_contract.up.sql
  migrations/app/secure/20250121154046_upd_contract.up.sql
Due: none

updating comment
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/m_t_o_service_item_international_shuttle.go
  swagger-def/support.yaml
  swagger/support.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Removed Comment
  pkg/route/hhg_planner.go
Due: go-version, ato-go-linter, appcontext-linter

Updating prime update validation for accessorial service items
  pkg/services/mto_service_item/mto_service_item_validators.go
Due: go-version, ato-go-linter, appcontext-linter

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
