Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

adding feature flag mumbo jumbo
  .circleci/config.yml
  .envrc
  config/flipt/storage/development.features.yaml
Due: none

code cleanup
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move/delete_assigned_office_user_responses.go
  pkg/gen/ghcapi/ghcoperations/move/update_assigned_office_user_responses.go
  pkg/gen/ghcmessages/move.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move_test.go
  pkg/services/move/assigned_office_user_updater.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Removed location and date information
  src/components/Office/ShipmentHeading/ShipmentHeading.jsx
  src/components/Office/ShipmentHeading/ShipmentHeading.test.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Remove unneeded css
  src/components/Office/ShipmentHeading/shipmentHeading.module.scss
Due: none

updating feature flag configs, some enhancements, and commenting out checkboxes to be implemented later
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  pkg/handlers/adminapi/requested_office_users.go
  src/components/form/OfficeAccountRequestFields/OfficeAccountRequestFields.jsx
  src/pages/Office/RequestAccount/RequestAccount.jsx
  src/pages/Office/RequestAccount/RequestAccount.module.scss
  src/pages/Office/index.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

change negative one to zero
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

add nil check on tppsPaidReportData
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

local postgres upgrade to 16.4
  .circleci/config.yml
  Makefile
Due: none

updated devlocal test to account for changes made
  pkg/handlers/authentication/devlocal_test.go
Due: go-version, ato-go-linter, appcontext-linter

add comments to explain TPPS invoice relationship to PR
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/services/payment_request/payment_request_list_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

updating failing ui test
  src/pages/Office/index.test.jsx
Due: prettier, eslint

postgres164
  .circleci/config.yml
  Makefile
Due: none

Test change to avoid dependencies
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

don't display undefined in results
  pkg/services/address/address_lookup.go
  src/components/LocationSearchBox/LocationSearchBox.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

update orders_test
  pkg/handlers/ghcapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

Int b 20477 2 (#13528)
  go.mod
  go.sum
  pkg/handlers/ghcapi/move.go
Due: go-version, ato-go-linter, appcontext-linter, gomod

Updating comments and tests
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapiv2/mto_shipment.go
  pkg/handlers/primeapiv3/mto_shipment.go
Due: go-version, ato-go-linter, appcontext-linter

more postgrese
  docker-compose.ecs.yml
  docker-compose.local.yml
  docker-compose.mtls.yml
  docker-compose.mtls_local.yml
  docker-compose.prime.yml
  docker-compose.reviewapp.yml
  docker-compose.yml
  migrations/app/schema/20210113173236_create_crud_role.up.sql
Due: none

more postgres changes
  docker-compose.ecs.yml
  docker-compose.local.yml
  docker-compose.mtls.yml
  docker-compose.mtls_local.yml
  docker-compose.prime.yml
  docker-compose.reviewapp.yml
  docker-compose.yml
  migrations/app/schema/20210113173236_create_crud_role.up.sql
Due: none

Feature working, others WIP
  pkg/assets/paperwork/formtemplates/SSWPDFTemplate.pdf
  pkg/services/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updating tests
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updating test for ntsr
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

test port change
  Makefile
Due: none

Revert "test port change"
  Makefile
Due: none

updates per PR
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/services/transportation_office/transportation_office_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

removed the code that adds a rotation of 0 here
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.jsx
Due: prettier, eslint

match at beginning
  pkg/services/address/address_lookup.go
Due: go-version, ato-go-linter, appcontext-linter

updating props
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/fields/ZipCityInput.jsx
Due: prettier, eslint

fix handler name
  src/components/form/fields/ZipCityInput.jsx
Due: prettier, eslint

removed unused comment
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

update factory to generate duty location name consistent with real TRDM data
  pkg/factory/duty_location_factory.go
Due: go-version, ato-go-linter, appcontext-linter

Working test, looking for better date solution
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

check if user role is deleted
  pkg/services/office_user/office_user_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

Better test solution
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updating mto_shipment_tests
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

test params
  Dockerfile.migrations_local
  Makefile
Due: none

force it
  Makefile
Due: none
