Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

remove all occurences of expired 2017 RDS cert, including replacing in main_test.go
  Dockerfile
  Dockerfile.e2e
  Dockerfile.local
  Dockerfile.migrations
  Dockerfile.tasks
  Dockerfile.webhook_client
  Dockerfile.webhook_client_local
  Makefile
  cmd/milmove/main_test.go
  scripts/run-e2e-test-docker
Due: go-version

Verify step 5 for submitted PPM moves
  cypress/integration/milmove/ppms/entireShipment.js
  cypress/integration/mymove/utilities/customer.js
Due: prettier

Ensure upload documents button is enabled when service counseling is completed
  cypress/integration/milmove/ppms/navigateToUploadDocs.js
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, prettier

Added validation of response type to handler test
  pkg/handlers/ghcapi/move_task_order_test.go
Due: go-version

Rename HandlerSuite ref to not clash w import name
  pkg/handlers/supportapi/api_test.go
Due: go-version

Added optimization to only query for a PPMShipment if shipment type is PPM
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

context being returned for service item is array of objects
  src/constants/moveHistoryEventTemplate.js
Due: prettier, eslint

- update test to new structure for context - use basic service item name 'Move management'
  src/constants/moveHistoryEventTemplate.test.js
Due: prettier, eslint

Check for services counselor role; added associated test
  pkg/handlers/ghcapi/move_task_order.go
  pkg/handlers/ghcapi/move_task_order_test.go
Due: go-version

Stylized layout
  src/pages/Office/MoveHistory/PaymentDetails.jsx
  src/pages/Office/MoveHistory/PaymentDetails.module.scss
Due: prettier, eslint

Add ability to show edits to a shipment in the move history
  src/constants/historyLogUIDisplayName.js
  src/constants/moveHistoryEventTemplate.js
  src/pages/Office/MoveHistory/LabeledDetails.jsx
  src/utils/formatters.js
Due: prettier, eslint

Fixed the paymentdetails test
  src/pages/Office/MoveHistory/MoveHistoryDetailsSelector.jsx
  src/pages/Office/MoveHistory/PaymentDetails.jsx
  src/pages/Office/MoveHistory/PaymentDetails.test.jsx
Due: prettier, eslint

Fix console error in the browser
  src/constants/historyLogUIDisplayName.js
  src/pages/Office/MoveHistory/MoveHistoryDetailsSelector.jsx
Due: prettier, eslint

Backfill the address information from the old values
  src/pages/Office/MoveHistory/LabeledDetails.jsx
  src/pages/Office/MoveHistory/MoveHistoryDetailsSelector.jsx
Due: prettier, eslint

Add context to determine address type
  pkg/services/move_history/move_history_fetcher.go
  src/pages/Office/MoveHistory/LabeledDetails.jsx
  src/pages/Office/MoveHistory/MoveHistoryDetailsSelector.jsx
Due: go-version, prettier, eslint

Don't include deleted shipments in query
  migrations/app/schema/20220420195400_update_move_to_gbloc_view_for_ppm_shipments.up.sql
Due: none

Update testdatagen to use a fixed date to ensure tests are consistent
  cypress/integration/milmove/ppms/navigateToUploadDocs.js
  pkg/testdatagen/scenario/shared.go
Due: go-version, prettier

Cleanup comment
  src/components/PPMSummaryList/PPMSummaryList.test.jsx
Due: prettier, eslint

MB-12225 cypress complete ppm entry (#8476)
  cypress/integration/milmove/ppms/entireShipment.js
  cypress/integration/milmove/ppms/navigateToUploadDocs.js
  cypress/integration/mymove/utilities/customer.js
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
  src/components/PPMSummaryList/PPMSummaryList.test.jsx
Due: go-version, prettier, eslint

fixed front end test
  src/constants/moveHistoryEventTemplate.test.js
Due: prettier, eslint

Update the way we're registering instrument use so that it aligns with the library's current expected pattern.
  go.mod
  go.sum
  pkg/telemetry/db.go
  pkg/telemetry/init.go
Due: go-version, gomod

adjust padding on mobile
  pkg/gen/internalapi/embedded_spec.go
  src/pages/MyMove/Home/Home.module.scss
Due: go-version

Make sure we're using the correct counter for dbWait observe
  pkg/telemetry/db.go
Due: go-version

Make sure we're using the right dbstat for wait duration
  pkg/telemetry/db.go
Due: go-version

remove hard coded estimated incentive from payload_to_model
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
Due: go-version

Add spec to orders_fetcher test suite to asser that TOO can see a move with only a PPM shipment
  pkg/services/order/order_fetcher_test.go
Due: go-version

Update display names from Swagger;
  src/constants/historyLogUIDisplayName.js
Due: prettier, eslint

Adding updateOrderEvent based on MB-12244;
  src/constants/moveHistoryEventTemplate.js
Due: prettier, eslint

Add in the duty location IDs to show something
  src/constants/historyLogUIDisplayName.js
Due: prettier, eslint

REmove getDetailsPlainText since this is LABELED;
  src/constants/moveHistoryEventTemplate.js
Due: prettier, eslint

Get duty location names in the History log;
  pkg/services/move_history/move_history_fetcher.go
  src/constants/historyLogUIDisplayName.js
  src/pages/Office/MoveHistory/MoveHistoryDetailsSelector.jsx
Due: go-version, prettier, eslint

Bring in the new SQL statement from comment;
  pkg/services/move_history/move_history_fetcher.go
Due: go-version

Add sketch for initial query to include names;
  pkg/services/move_history/move_history_fetcher.go
Due: go-version

Add test that shows deleted ppm shipment's don't show up in TOO queue
  pkg/services/order/order_fetcher_test.go
Due: go-version

update language of warnings for estimated pro gear weights
  src/components/Customer/PPMBooking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.jsx
Due: prettier, eslint

fixing server_test
  pkg/services/move_history/move_history_fetcher_test.go
Due: go-version

Remove migration
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220420195400_update_move_to_gbloc_view_for_ppm_shipments.up.sql
Due: none

Update support MTO endpoint tests to use txn
  pkg/handlers/supportapi/move_task_order_test.go
Due: go-version

Update support shipment endpoint tests to use txn
  pkg/handlers/supportapi/mto_shipment_test.go
Due: go-version

update cypress test language
  cypress/integration/milmove/ppms/estimatedWeightsProgear.js
Due: prettier

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
