Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Update ShipmentList.jsx
  src/components/ShipmentList/ShipmentList.jsx
Due: prettier, eslint

Adding a colon in the message
  src/pages/Office/RequestAccount/RequestAccount.jsx
Due: prettier, eslint

Adding colon to message
  src/pages/Office/RequestAccount/RequestAccount.jsx
Due: prettier, eslint

Working as intended, new component needs a test
  src/components/Office/ServiceItemContainer/ServiceItemContainer.jsx
  src/components/Office/ServiceItemContainer/ServiceItemContainer.module.scss
  src/components/Office/ServiceItemContainer/ServiceItemContainer.test.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

merge branch 19500
  cmd/generate-payment-request-edi/main.go
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
  pkg/services/payment_request/payment_request_reviewed_processor.go
Due: go-version, ato-go-linter, appcontext-linter

added support ui html
  .gitignore
  public/swagger-ui/support.html
Due: none

Error message edit
  src/pages/Office/RequestAccount/RequestAccount.jsx
  src/pages/Office/RequestAccount/RequestAccount.test.jsx
Due: prettier, eslint

Increase test coverage
  src/pages/Office/RequestAccount/RequestAccount.test.jsx
Due: prettier, eslint

fixed spacing and added to modal. Need to fix/update tests
  src/components/Office/ShipmentApprovalPreview/ShipmentApprovalPreview.jsx
  src/components/Office/ShipmentApprovalPreview/ShipmentApprovalPreview.test.jsx
  src/components/Office/ShipmentApprovalPreview/shipmentApprovalPreview.module.scss
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.module.scss
  src/utils/formatters.js
Due: prettier, eslint

added timeouts to flaky tests
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.test.jsx
  src/pages/Office/CustomerOnboarding/CreateCustomerForm.test.jsx
Due: prettier, eslint

changed toHaveBeenCalledWith to toHaveBeenCalled
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.test.jsx
Due: prettier, eslint

update example county to match example zip
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/address.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/address.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/address.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/address.go
  swagger-def/definitions/Address.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Test added for new component
  src/components/Office/ServiceItemContainer/ServiceItemContainer.test.jsx
Due: prettier, eslint

move_task_orders/{moveTaskOrderID}/mto_shipments
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

primev2 county payload
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

add county to admin address
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/address.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

payload for address model
  pkg/handlers/adminapi/addresses.go
Due: go-version, ato-go-linter, appcontext-linter

add county to prime tests
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

add county to support address
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/address.go
  swagger-def/support.yaml
  swagger/support.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

payload to model for support address
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

add county to ghc internal test
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

spacing fixes
  pkg/handlers/adminapi/addresses.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

regenerate swagger after merge weirdness, update spectral count
  .circleci/config.yml
Due: none

update flag name
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
  pkg/services/payment_request/payment_request_reviewed_processor.go
Due: go-version, ato-go-linter, appcontext-linter

Adding condition to service item
  src/components/Office/RequestedShipments/SubmittedRequestedShipments.jsx
Due: prettier, eslint

punctuation
  swagger/admin.yaml
  swagger/internal.yaml
Due: swagger

merge conflicts
  migrations/app/schema/20240405190435_add_safety_privilege.up.sql
Due: none

extra files
  package.json
Due: none

updated playwright tests, incentive amount
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  src/components/Customer/PPM/Closeout/WeightTicketForm/WeightTicketForm.test.jsx
Due: prettier, eslint

Updated PPTAS YAML, added server configuration.
  .envrc
  cmd/milmove/serve.go
  pkg/cli/services.go
  pkg/gen/pptasapi/doc.go
  pkg/gen/pptasapi/embedded_spec.go
  pkg/gen/pptasapi/pptasoperations/moves/moves_since.go
  pkg/gen/pptasapi/pptasoperations/moves/moves_since_parameters.go
  pkg/gen/pptasapi/pptasoperations/moves/moves_since_urlbuilder.go
  pkg/gen/pptasapi/pptasoperations/mymove_api.go
  pkg/gen/pptasapi/server.go
  pkg/gen/pptasclient/moves/moves_client.go
  pkg/gen/pptasclient/moves/moves_since_parameters.go
  pkg/gen/pptasclient/moves/moves_since_responses.go
  pkg/gen/pptasclient/mymove_client.go
  pkg/gen/pptasmessages/moves_since.go
  pkg/handlers/pptasapi/api.go
  pkg/handlers/pptasapi/internal/payloads/model_to_payload.go
  pkg/handlers/pptasapi/internal/payloads/payload_to_model.go
  pkg/handlers/pptasapi/moves.go
  pkg/handlers/routing/base_routing_suite.go
  pkg/handlers/routing/routing_init.go
  pkg/services/move.go
  pkg/services/move/move_searcher.go
  swagger-def/parameters/movesSince.yaml
  swagger-def/paths/pptas-paths/pptasEndpointPaths.yaml
  swagger-def/pptas.yaml
  swagger/pptas.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

small test change
  src/components/Office/ServiceItemContainer/ServiceItemContainer.test.jsx
Due: prettier, eslint

testing playwright test
  playwright/tests/office/servicescounseling/servicesCounselingNTSR.spec.js
Due: prettier, eslint

moves common code to the custom.js
  pkg/services/move/move_weights.go
  src/hooks/custom.js
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Moved states list to constants
  src/components/form/AddressFields/AddressFields.jsx
  src/constants/states.js
Due: prettier, eslint

Add storybook page for component
  src/components/Office/ServiceItemContainer/ServiceItemContainer.stories.jsx
Due: prettier, eslint

Added missing html
  .gitignore
  public/swagger-ui/pptas.html
Due: none

Fixing issues
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/PrimeUI/Shipment/Shipment.jsx
Due: prettier, eslint
