Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, markdown-toc, go-imports, go-lint, go-vet, gosec, gen-docs, dep-check

go-version:
  name: go version
  entry: bin/check_go_version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

go-imports:
  name: go imports
  entry: bin/pre-commit-go-imports
  language: script

go-lint:
  name: go lint
  entry: bin/pre-commit-go-lint
  language: script

go-vet:
  name: go vet
  entry: bin/pre-commit-go-vet
  language: script
  pass_filenames: false

gosec:
  name: gosec scanner
  entry: bin/gosec -exclude=G104 -fmt text ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.
  pass_filenames: false

gen-docs:
  name: regenerate docs index
  entry: bin/gen-docs-index
  language: script
  pass_filenames: false

dep-check:
  name: dep check
  entry: bin/pre-commit-dep-check
  language: script
  pass_filenames: false

Use payload instead of object for api call
  cypress/integration/mymove/ppm.js
  src/shared/Entities/modules/signed_certifications.js
Due: prettier, eslint

Remove Popup + CheckBox components
  migrations/20190321165456_add-signed-certification-ppm-hhg-ids.up.sql
  src/scenes/Legalese/CustomerAgreement.jsx
  src/scenes/Legalese/CustomerAgreement.test.js
  src/scenes/Moves/Ppm/PaymentRequest.jsx
  src/shared/CheckBox/index.jsx
  src/shared/CheckBox/index.test.js
  src/shared/PopUp/index.jsx
  src/shared/PopUp/index.test.js
Due: prettier, eslint

Sync handler w/ yaml field types
  pkg/handlers/internalapi/signed_certifications.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Upgrade postgres minor version
  .circleci/config.yml
  Makefile
Due: none

Correct handler to use ppmid
  pkg/handlers/internalapi/signed_certifications.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add test for legacy 226A form
  src/shared/PreApprovalRequest/DetailsHelper.test.js
Due: prettier, eslint

Fix bug with prop value of titleExtension
  src/shared/StorageInTransit/StorageInTransitPanel.jsx
Due: prettier, eslint

postgres - add indexes to foreign keys (#1908)
  migrations/20190306205302_add-indexes-for-foreign-keys.up.fizz
Due: none

Add another DPS user
  local_migrations/20190327154708_mar27_dps_users.sql
  migrations/20190327154708_mar27_dps_users.up.fizz
Due: none

Add bare-bones AddressField
  src/shared/JsonSchemaForm/AddressField.jsx
Due: prettier, eslint

Add minimal admin app
  src/App/index.jsx
  src/scenes/Admin/index.jsx
  src/shared/AppContext/index.jsx
  src/shared/constants.js
Due: prettier, eslint

Hide dates if not available
  src/scenes/Landing/MoveSummary.jsx
  src/scenes/Landing/StatusTimeline.jsx
Due: prettier, eslint

Allow running on adminlocal:3000
  Makefile
  README.md
  bin/check-hosts-file
Due: markdown-toc, gen-docs

Changed CertificatonType to be a pointer to accept nil values; added supporting validatons/tests
  pkg/handlers/internalapi/signed_certifications.go
  pkg/models/move.go
  pkg/models/signed_certification.go
  pkg/models/validators.go
  pkg/models/validators_test.go
  swagger/internal.yaml
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Upgrade dep version
  .gitignore
  bin/check_dep_version
Due: none

rename test to include testing edits
  pkg/models/shipment_preapproval_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

rename test file to match refactored robust_accessorial model file
  pkg/models/robust_accessorial_line_item_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

add test file for pre-approvals testing, add test for 226A create and update in 1 test
  pkg/models/shipment_preapproval_test.go
  pkg/models/shipment_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

modify test name
  pkg/models/shipment_preapproval_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add form to office to approve sit request
  cypress/integration/office/storageInTransitPanel.js
  src/shared/StorageInTransit/ApproveSitRequest.jsx
  src/shared/StorageInTransit/StorageInTransit.css
  src/shared/StorageInTransit/StorageInTransit.jsx
  src/shared/StorageInTransit/StorageInTransitOfficeApprovalForm.jsx
  src/shared/StorageInTransit/StorageInTransitOfficeApprovalForm.test.jsx
  src/shared/StorageInTransit/StorageInTransitPanel.jsx
Due: prettier, eslint

Make changes per design review
  src/shared/StorageInTransit/StorageInTransitOfficeApprovalForm.jsx
Due: prettier, eslint

Migrates from dep to go modules
  .circleci/config.yml
  .envrc
  .pre-commit-config.yaml
  Gopkg.lock
  Gopkg.toml
  Makefile
  README.md
  bin/check_dep_version
  bin/prereqs
  docs/how-to/run-pre-commit-hooks.md
  go.mod
  go.sum
  pkg/tools/tools.go
Due: go-version, markdown-toc, go-imports, go-lint, go-vet, gosec, gen-docs, dep-check

Fix prettier fail
  src/shared/StorageInTransit/StorageInTransitPanel.jsx
Due: prettier, eslint

Turn save-fuel-price-data into a task we can run in AWS
  .circleci/config.yml
  Dockerfile.task.save-fuel-price-data
  Dockerfile.task.save-fuel-price-data_local
  Makefile
  bin/ecs-deploy-tasks-container
  cmd/save_fuel_price_data/main.go
  config/task.save-fuel-price-data.container-definition.json
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Use existing Address field
  src/shared/Address/index.jsx
  src/shared/JsonSchemaForm/AddressField.jsx
  src/shared/LocationsPanel/LocationsPanel.jsx
  src/shared/LocationsPanel/LocationsPanel.test.js
  src/shared/StorageInTransit/StorageInTransitForm.jsx
Due: prettier, eslint

Delete copies of LocationPanel files
  src/scenes/TransportationServiceProvider/Locations.jsx
  src/scenes/TransportationServiceProvider/Locations.test.js
  src/scenes/TransportationServiceProvider/LocationsContainer.js
Due: prettier, eslint

Adds go mod tidy pre-commit hook
  .pre-commit-config.yaml
  Makefile
  README.md
  bin/pre-commit-dep-check
  bin/pre-commit-go-mod
  go.mod
Due: markdown-toc, gen-docs

Generate swagger for making this binary
  Makefile
Due: none

Simplify deploy of tasks
  .circleci/config.yml
Due: none

Update docker image hash:
  .circleci/config.yml
Due: none

Rename file, move shipmentLineItemParams structs
  pkg/models/robust_accessorial_line_item.go
  pkg/models/shipment.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Resolve issues from merge
  pkg/models/robust_accessorial_line_item.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add is_super_user bool to users table; add to user model and identity fetch
  migrations/20190328002445_add_superuser_bool_to_users.up.fizz
  pkg/models/user.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add cypress test for 226A details
  cypress/integration/tsp/preApprovalRequest.js
  cypress/support/preapprovals/test226a.js
Due: prettier, eslint

a user can edit a 226A item: 163829455 (#1907)
  pkg/models/robust_accessorial_line_item_test.go
  pkg/models/shipment_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

First attempt at making session cookie httponly
  pkg/auth/cookie.go
  src/scenes/Landing/index.jsx
  src/shared/Data/users.js
  src/shared/Swagger/api.js
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet, gosec, dep-check

Update db-backup to allow port
  bin/db-backup
  bin/db-restore
Due: none

Only run codecov on go code.
  .circleci/config.yml
  .codecov.yml
Due: none

Only run codecov on go code. (#1928)
  .circleci/config.yml
  .codecov.yml
Due: none

Migration to add new columns to shipment_line_items
  migrations/20190328164048_shipment_line_items_new_cols_item_125.up.fizz
Due: none

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  go-imports: any of: \.go$, but not: vendor/
  go-lint: any of: \.go$, but not: vendor/
  go-vet: any of: \.go$, but not: vendor/
  gosec: any of: \.go$
  gen-docs: any of: \.md$
  dep-check: any of: (\.go|Gopkg\.toml|Gopkg\.lock)$
