Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

MB-6535 Add TranportationAccountingCode model
  pkg/models/transportation_accounting_code.go
Due: go-version

MB-6535 Add function to easily create Transportation Accounting Codes
  pkg/testdatagen/make_transportation_accounting_code.go
  pkg/testdatagen/shared.go
Due: go-version

MB-6535 Update TacValidationHandler to use the new db table
  pkg/handlers/ghcapi/tac.go
  pkg/handlers/ghcapi/tac_test.go
Due: go-version

Fix Crash For Trying To Validate Undefined TACs
  src/pages/Office/MoveOrders/MoveOrders.jsx
Due: prettier, eslint

Fix Crash For Trying To Validate Undefined TACs (#6052)
  src/pages/Office/MoveOrders/MoveOrders.jsx
Due: prettier, eslint

Syncing node version with latest version in container
  .github/workflows/analyze-bundle.yml
  .github/workflows/happo-tests-master.yml
  .github/workflows/happo-tests.yml
  .node-version
  .pre-commit-config.yaml
  README.md
  scripts/prereqs
Due: none

created ak2 segment with test
  pkg/edi/segment/ak2.go
  pkg/edi/segment/ak2_test.go
Due: go-version

Edit states
  src/shared/styles/_overrides.scss
Due: none

Add redirection to onboarding saga
  package.json
  src/pages/MyMove/Home/index.jsx
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/scenes/MyMove/index.jsx
  yarn.lock
Due: prettier, eslint

wip, create ak3 segment and non working test
  pkg/edi/segment/ak3.go
  pkg/edi/segment/ak3_test.go
Due: go-version

Remove redirect code from Home page
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Make props required
  src/components/Office/RequestShipmentCancellationModal/RequestShipmentCancellationModal.jsx
  src/components/Office/RequestShipmentCancellationModal/RequestShipmentCancellationModal.stories.jsx
Due: prettier, eslint

Add requireCustomerState HOC for applying redirection logic
  src/containers/requireCustomerState/requireCustomerState.jsx
  src/containers/requireCustomerState/requireCustomerState.test.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Move profile state fn to selector, add constants for states
  src/constants/customerStates.js
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/store/entities/selectors.js
Due: prettier, eslint

fix comment
  pkg/edi/segment/ak2.go
Due: go-version

MB-6931 Add request cancellation modal (#6059)
  src/components/Office/RequestShipmentCancellationModal/RequestShipmentCancellationModal.jsx
  src/components/Office/RequestShipmentCancellationModal/RequestShipmentCancellationModal.stories.jsx
  src/components/Office/RequestShipmentCancellationModal/RequestShipmentCancellationModal.test.jsx
  src/shared/styles/_overrides.scss
  src/shared/styles/colors.scss
Due: prettier, eslint

Commit for Testing on Experimental
  .circleci/config.yml
Due: none

MB-6535 Update a few TAC validation tests to be table-driven
  pkg/handlers/ghcapi/tac_test.go
Due: go-version

Use requireCustomerState on PPM Landing page, write tests
  src/containers/requireCustomerState/requireCustomerState.jsx
  src/containers/requireCustomerState/requireCustomerState.test.jsx
  src/pages/MyMove/Home/index.jsx
  src/sagas/onboarding.js
  src/scenes/PpmLanding/index.jsx
  src/scenes/PpmLanding/index.test.js
  src/utils/customer.js
Due: prettier, eslint

MB-6535 Add a func to create a default TAC code to make testing easier
  pkg/handlers/ghcapi/tac_test.go
  pkg/testdatagen/make_transportation_accounting_code.go
Due: go-version

save reports to folder, disambiguate names
  .gitignore
  puppeteer/benchmarking.js
  puppeteer/config.json
  puppeteer/constants.js
  puppeteer/scenarios.js
Due: prettier, eslint

Add Back Entropy To The DB Connection
  pkg/iampostgres/iampostgres.go
  pkg/iampostgres/iampostgres_test.go
Due: go-version

Revert "Add Back Entropy To The DB Connection"
  pkg/iampostgres/iampostgres.go
  pkg/iampostgres/iampostgres_test.go
Due: go-version

Fix Select Case For RDS IAM Refresh
  pkg/iampostgres/iampostgres.go
Due: go-version

Revert "Commit for Testing on Experimental"
  .circleci/config.yml
Due: none

MB-6620 make iampostpostgres tests less flaky (#6050)
  pkg/cli/dbconn.go
  pkg/iampostgres/iampostgres.go
  pkg/iampostgres/iampostgres_test.go
Due: go-version

MB-6901 Approve Move after TOO approves Shipment
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

restore config props, fix measurement param, add timestamp to report filenames
  puppeteer/benchmarking.js
  puppeteer/config.json
  puppeteer/scenarios.js
Due: prettier, eslint

Benchmarking tool save reports and break out naming by measurement (#6061)
  .gitignore
  puppeteer/benchmarking.js
  puppeteer/constants.js
  puppeteer/scenarios.js
Due: prettier, eslint

updated unit test
  pkg/edi/segment/ak3_test.go
Due: go-version

Separate redirection logic back out of saga, use in container instead
  cypress/integration/mymove/nts.js
  src/pages/MyMove/Home/index.jsx
  src/pages/MyMove/Home/index.test.jsx
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/scenes/MyMove/index.jsx
  src/scenes/MyMove/index.test.js
  src/store/entities/selectors.js
  src/store/entities/selectors.test.js
Due: prettier, eslint

Remove redux saga test utils
  package.json
  yarn.lock
Due: none

Fix lint error
  src/pages/MyMove/Home/index.stories.jsx
Due: prettier, eslint

Add missing proptype
  src/scenes/MyMove/index.jsx
Due: prettier, eslint

Fix home page story
  src/pages/MyMove/Home/index.stories.jsx
Due: prettier, eslint

Add request cancellation button and link styles
  src/components/Office/ShipmentHeading.jsx
  src/components/Office/shipmentHeading.module.scss
Due: prettier, eslint

Skip cmd as before this PR
  scripts/run-server-test
Due: none

Added form stories, fixed cypress test
  cypress/integration/mymove/hhg.js
  src/stories/formElements.stories.jsx
  src/stories/forms.stories.jsx
  src/styles/form.module.scss
Due: prettier, eslint

Fix form group error margins within MM form
  src/styles/form.module.scss
Due: none

Add tests to Agreement page
  src/components/Customer/SubmitMoveForm/SubmitMoveForm.jsx
  src/pages/MyMove/Agreement.test.jsx
Due: prettier, eslint
