Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Get tests to pass for payment requests service (had to play whackamole making sure test data setup was correct).
  pkg/services/payment_request/payment_request_list_fetcher.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
Due: go-version

Updates Edit Shipment button spacing
  src/components/Office/ShipmentDisplay/ShipmentDisplay.module.scss
Due: none

WIP getting TIO payment fetching service to work with new gbloc model. USMC portion is still broken and needs more effort (test failing).
  pkg/services/payment_request/payment_request_list_fetcher.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
Due: go-version

MB-10591 sc can add nts shipment (#7947)
  src/components/ButtonDropdown/ButtonDropdown.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/constants/routes.js
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.jsx
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.test.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
  src/shared/constants.js
Due: prettier, eslint

Change ServicesCounselingShipmentForm component name
  src/components/Office/AccountingCodes/AccountingCodes.stories.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.module.scss
  src/components/Office/ShipmentForm/ShipmentForm.stories.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.stories.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.stories.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.stories.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.jsx
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
Due: prettier, eslint

remove consoles
  src/pages/MyMove/EditOrders.jsx
Due: prettier, eslint

continue rebase
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/payment_request/payment_request_list_fetcher.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
  pkg/testdatagen/scenario/shared.go
Due: go-version

Added DNPK to service item calculations
  src/components/Office/ServiceItemCalculations/ServiceItemCalculations.stories.jsx
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ServiceItemCalculations/helpers.test.js
  src/components/Office/ServiceItemCalculations/serviceItemTestParams.js
  src/constants/serviceItems.js
Due: prettier, eslint

Add pickup address for e2e test on the TIO queue.
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Adjust tests for new default gbloc value.
  pkg/handlers/ghcapi/queues_test.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

continue rebase
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20211221182830_origin_duty_location_to_gbloc_view.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/models/move.go
  pkg/models/origin_duty_location_to_gbloc.go
  pkg/services/order/order_fetcher.go
  pkg/services/order/order_fetcher_test.go
  src/constants/queues.js
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
Due: go-version, prettier, eslint

merge with latest, resolve conflicts
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

address prop type console warnings
  src/components/Customer/Home/Step/Step.stories.jsx
Due: prettier, eslint

Add in initial sketch for `nts_shipments` scenario
  pkg/testdatagen/scenario/devseed.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version

Temp commit to offload ticket
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

Routes and tests pass
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

Change ServicesCounselingShipmentForm component name
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

Fix isLoggedIn check to not fetch user info if not logged in
  src/sagas/auth.js
  src/sagas/auth.test.js
Due: prettier, eslint

Add more info to the logs when the login.gov state cookie is missing
  pkg/auth/authentication/auth.go
Due: go-version

Temp commit
  src/components/Office/ShipmentVendor/ShipmentVendor.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.stories.jsx
Due: prettier, eslint

Use the request logger on the internal API
  cmd/milmove/serve.go
Due: go-version

Always log which host a request came in for
  pkg/middleware/context_logger.go
  pkg/middleware/context_logger_test.go
Due: go-version

Large WIP commit for catching up with master
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/components/Customer/MtoShipmentForm/getShipmentOptions.js
  src/components/Office/AccountingCodes/AccountingCodes.jsx
  src/components/Office/AccountingCodes/AccountingCodes.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.module.scss
  src/components/Office/ShipmentForm/ShipmentForm.stories.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.jsx
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.stories.jsx
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.test.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.stories.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.test.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.test.jsx
  src/constants/routes.js
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.test.jsx
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.jsx
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
  src/utils/formatMtoShipment.js
Due: prettier, eslint

Fixes CSS and Vendor messaging behavior
  src/components/Office/AccountingCodes/AccountingCodes.jsx
  src/components/Office/AccountingCodes/AccountingCodes.stories.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.module.scss
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.jsx
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.stories.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.stories.jsx
  src/components/Office/ShipmentVendor/ShipmentVendor.test.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.stories.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.stories.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.jsx
  src/components/Office/StorageFacilityInfo/StorageFacilityInfo.stories.jsx
Due: prettier, eslint

continue rebase
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

Change CSS to use color variables
  src/components/Office/ShipmentForm/ShipmentForm.module.scss
Due: none

Routes and tests pass
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.test.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

merge and fix
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

Adds value submission and tests
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/utils/formatMtoShipment.js
Due: prettier, eslint

Change ServicesCounselingShipmentForm component name
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.test.jsx
Due: prettier, eslint

inital commit, model add, swagger definition, test data, migrate GHC queue
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue_parameters.go
  pkg/gen/ghcmessages/duty_location.go
  pkg/gen/ghcmessages/move_task_order.go
  pkg/gen/ghcmessages/queue_move.go
  pkg/gen/ghcmessages/queue_payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/models/duty_location.go
  pkg/testdatagen/make_duty_location.go
  pkg/testdatagen/shared.go
  swagger-def/definitions/DutyLocation.yaml
  swagger-def/definitions/DutyLocationPayload.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Fix client tests for EditShipmentDetails
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.test.jsx
  src/types/order.js
Due: prettier, eslint

Allow shipment types to be determined by the shipment
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
Due: prettier, eslint

Refactor done, existing functionality maintained
  src/components/Office/AccountingCodeSection/AccountingCodeSection.jsx
  src/components/Office/AccountingCodeSection/AccountingCodeSection.module.scss
  src/components/Office/AccountingCodesModal/AccountingCodesModal.jsx
  src/components/Office/ShipmentAccountingCodes/ShipmentAccountingCodes.jsx
  src/components/Office/ShipmentAccountingCodes/ShipmentAccountingCodes.module.scss
  src/components/Office/ShipmentAccountingCodes/ShipmentAccountingCodes.stories.jsx
  src/components/Office/ShipmentAccountingCodes/ShipmentAccountingCodes.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: prettier, eslint

inital commit, model add, swagger definition, test data, migrate GHC queue (#7972)
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue_parameters.go
  pkg/gen/ghcmessages/duty_location.go
  pkg/gen/ghcmessages/move_task_order.go
  pkg/gen/ghcmessages/queue_move.go
  pkg/gen/ghcmessages/queue_payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/models/duty_location.go
  pkg/testdatagen/make_duty_location.go
  pkg/testdatagen/shared.go
  swagger-def/definitions/DutyLocation.yaml
  swagger-def/definitions/DutyLocationPayload.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

MB-10356 TOO can add accounting codes to orders (#7943)
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.jsx
  src/pages/Office/EditShipmentDetails/EditShipmentDetails.test.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/MoveDetails/MoveDetails.test.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/Orders/Orders.test.jsx
  src/types/order.js
Due: prettier, eslint

PR fixes
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/forms.go
  src/components/Customer/Review/Summary/index.jsx
Due: go-version, prettier, eslint

fix typo in Enslisted
  pkg/paperwork/forms.go
Due: go-version

pull rank from the service member object
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint
