Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

GHC RateEngineImporterTest was tearing down twice
  pkg/services/ghcimport/ghc_rateengine_importer_test.go
Due: go-version

Truncate test_db once, remove per test package lock
  Makefile
  go.mod
  go.sum
  pkg/testingsuite/pop_suite.go
  scripts/README.md
  scripts/db-truncate
Due: go-version, gomod

More comments and docs about per test transactions
  pkg/testingsuite/pop_suite.go
  pkg/testingsuite/pop_suite_txn.go
Due: go-version

Convert models test to per test transaction
  pkg/models/duty_station_test.go
  pkg/models/electronic_order_test.go
  pkg/models/models_test.go
  pkg/models/order_test.go
  pkg/models/queue_test.go
  pkg/models/tariff400ng_item_rate_test.go
  pkg/models/traffic_distribution_list_test.go
  pkg/models/transportation_service_provider_performance_test.go
  pkg/models/user_test.go
Due: go-version

Convert handlers/ghcapi to per test transactions
  pkg/handlers/ghcapi/api_test.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/handlers/ghcapi/payment_service_items_test.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/testingsuite/pop_suite_txn.go
Due: go-version

Enable per test transactions for internalapi
  go.mod
  go.sum
  pkg/handlers/apitests.go
  pkg/handlers/internalapi/api_test.go
  pkg/handlers/internalapi/move_queue_items_test.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/internalapi/personally_procured_move_attachments_test.go
  pkg/handlers/internalapi/weight_ticket_set_documents_test.go
  pkg/testingsuite/pop_suite.go
  pkg/testingsuite/pop_suite_txn.go
Due: go-version, gomod

parser/pricing per test txn
  pkg/parser/pricing/parse_test.go
Due: go-version

Fix MTOShipment test
  pkg/handlers/ghcapi/mto_service_items.go
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version

Convert services/move_task_order to per test txn
  pkg/services/move_task_order/move_task_order_checker_test.go
  pkg/services/move_task_order/move_task_order_creator_test.go
  pkg/services/move_task_order/move_task_order_fetcher_test.go
  pkg/services/move_task_order/move_task_order_hide_non_fake_test.go
  pkg/services/move_task_order/move_task_order_service_test.go
  pkg/services/move_task_order/move_task_order_updater_test.go
  pkg/testingsuite/pop_suite.go
Due: go-version

Convert MustCreate signature to match other helper methods
  pkg/models/payment_service_item_test.go
  pkg/models/transportation_service_provider_performance_test.go
  pkg/testingsuite/pop_suite.go
Due: go-version

Truncate db in CircleCI when running server tests
  .circleci/config.yml
Due: none

services/payment_request per test txn
  pkg/services/payment_request/payment_request_reviewed_processor_test.go
  pkg/services/payment_request/payment_request_service_test.go
Due: go-version

Refactor pop suite db test connection logic
  pkg/testingsuite/pop_suite.go
Due: go-version

rateengine per test txn
  pkg/rateengine/rateengine_test.go
Due: go-version

handlers/{admin,prime,support}api per test txn
  pkg/handlers/adminapi/api_test.go
  pkg/handlers/primeapi/api_test.go
  pkg/handlers/supportapi/api_test.go
Due: go-version

Remove unnecessary test comparisons from failed rebase
  pkg/handlers/internalapi/mto_shipment_test.go
Due: go-version

convert services/ghcrateengine to per test txn
  pkg/services/ghcrateengine/counseling_services_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_additional_days_sit_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_first_day_sit_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_sit_delivery_pricer_test.go
  pkg/services/ghcrateengine/domestic_linehaul_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_additional_days_sit_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_first_day_sit_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_sit_pickup_pricer_test.go
  pkg/services/ghcrateengine/domestic_pack_pricer_test.go
  pkg/services/ghcrateengine/domestic_shorthaul_pricer_test.go
  pkg/services/ghcrateengine/domestic_unpack_pricer_test.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
  pkg/services/ghcrateengine/ghc_rate_engine_service_test.go
  pkg/services/ghcrateengine/management_services_pricer_test.go
  pkg/services/ghcrateengine/param_convert_test.go
  pkg/services/ghcrateengine/pricer_helpers_test.go
  pkg/services/ghcrateengine/pricer_query_helpers_test.go
  pkg/services/ghcrateengine/service_item_pricer_test.go
  pkg/services/ghcrateengine/shared_test.go
Due: go-version

bump node-sass to v6
  package.json
  yarn.lock
Due: none

after running yarn install
  yarn.lock
Due: none

Fixes integration tests (looking for specific page text)
  cypress/integration/mymove/nts.js
  cypress/integration/mymove/utilities/customer.js
Due: prettier

change back to master user for db
  config/env/demo.migrations.env
Due: none

validator pattern for prime availability
  pkg/handlers/primeapi/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/validation.go
Due: go-version

Remove unnecessary nil check
  pkg/handlers/internalapi/orders.go
Due: go-version

initial logic added to uploadAmendedOrders service
  pkg/services/order/order_updater.go
  swagger/internal.yaml
Due: go-version, swagger

added payloadToModel function for user upload payload
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/orders/upload_amended_orders_parameters.go
  pkg/gen/internalmessages/user_upload_payload.go
  pkg/services/order.go
  pkg/services/order/order_updater.go
  swagger/internal.yaml
Due: go-version, swagger

updated mocks
  pkg/services/mocks/OrderUpdater.go
  swagger/internal.yaml
Due: go-version, swagger

Add base storybook entry for Select Shipment Type page
  src/pages/MyMove/SelectShipmentType.stories.jsx
Due: prettier, eslint

add acknowledged at timestamp migration, add acknowledge flag to payload, set timestamp in service, combine all orders uploads in doc viewer
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210622184646_add_amended_orders_acknowledgement_timestamp.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/order.go
  pkg/gen/ghcmessages/update_order_payload.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/models/order.go
  pkg/services/order/order_updater.go
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.module.scss
  src/components/form/fields/CheckboxField.jsx
  src/components/form/fields/index.js
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.jsx
  src/pages/Office/Orders/Orders.jsx
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

fixing EDI segments for 858
  pkg/edi/invoice/generator.go
  pkg/edi/segment/c3.go
  pkg/edi/segment/hl.go
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Actually makes copy changes
  src/pages/MyMove/SelectShipmentType.jsx
  src/pages/MyMove/SelectShipmentType.stories.jsx
Due: prettier, eslint

[MB-7679] TOO is notified of newly uploaded orders in TOO UI
  src/components/Office/DetailsPanel/DetailsPanel.jsx
  src/components/Office/DetailsPanel/DetailsPanel.module.scss
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Create PM_TEST.md
  PM_TEST.md
Due: none

Add Cypress Tests for Secondary Destination Address on an HHG
  cypress/integration/mymove/hhg.js
Due: prettier

attempt to use ecs_user again
  config/env/demo.migrations.env
Due: none

Add logic to move submit function to route a move with amended orders to approvals requested status. To start, by just using the existing function to do this.
  pkg/services/move/move_router.go
Due: go-version

Fixes broken Happo tests due to a dynamic date in a story
  src/components/Customer/Review/Review.stories.jsx
Due: prettier, eslint

Change date to match today's date
  src/components/Customer/Review/Review.stories.jsx
Due: prettier, eslint

acknowleging amended orders should change status back to approved
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/services/mocks/MoveRouter.go
  pkg/services/mocks/MoveTaskOrderUpdater.go
  pkg/services/move.go
  pkg/services/move/move_router.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_updater.go
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.jsx
Due: go-version, prettier, eslint

Updates client tests
  src/pages/MyMove/SelectShipmentType.test.jsx
Due: prettier, eslint
