Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

Add close button, flexbox, spacing and shadow
  src/components/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
Due: prettier, eslint

add story decorator, eyebrow top padding
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

add storybook reference images, remove class that doesn't get passed
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Review_service_items_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Review_service_items_Basic.png
  src/components/ReviewServiceItems/ReviewServiceItems.jsx
Due: prettier, eslint

Protect against re-renders with section conditions
  src/components/Office/RequestedShipments.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Remove duplicate filtering.
  src/components/Office/RequestedShipments.jsx
Due: prettier, eslint

Identify and comment where convert fn will be added
  pkg/handlers/internalapi/orders.go
Due: go-version

Add convert function to create mto_shipment handler with flag; make log more complete for convertPPMToGHC call
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/orders.go
Due: go-version

add createdAt prop to service item shape for ordering
  src/components/ReviewServiceItems/ReviewServiceItems.stories.jsx
  src/types/serviceItemCard.js
Due: prettier, eslint

adding buttons to footer with event listeners
  src/components/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
Due: prettier, eslint

Add service item for testing.
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Fix checkmark icon
  src/components/Office/ShipmentDisplay.jsx
  src/shared/icon/checkbox--unchecked.svg
Due: prettier, eslint

update references
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_one_approved_shipment.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_RequestedShipments_with_two_approved_shipments.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ShipmentDisplay_Approved_Shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_one_approved_shipment.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_RequestedShipments_with_two_approved_shipments.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ShipmentDisplay_Approved_Shipment.png
Due: none

total amount state and style, sort items order asc
  src/components/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

zero pad datetime field
  src/components/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

Add contract code lookup
  pkg/payment_request/service_param_value_lookups/service_area_dest_lookup.go
Due: go-version

adjust close button flex alignment on mobile
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
Due: none

move to component/office folder
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

MB-3158 some cleanup
  src/components/Customer/HHGDetailsForm.jsx
  src/pages/MyMove/HHGMoveSetup.jsx
Due: prettier, eslint

chrome flex fix, storybook approvals
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Review_service_items_Basic.png
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Review_service_items_Basic.png
  src/components/Office/ReviewServiceItems/ReviewServiceItems.module.scss
Due: none

approve storybook images
  .loki/reference/chrome_iphone7_TOO_TIO_Components_Review_service_items_Basic.png
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_Review_service_items_Basic.png
Due: none

Skipping the left nav layout loki test
  src/components/LeftNav/LeftNav.stories.jsx
Due: prettier, eslint

MB-3158 create storybook component for address, rendering pickup and delivery address components in HHG setup form
  src/components/Customer/HHGDetailsForm.jsx
  src/components/Customer/HHGDetailsForm.stories.jsx
  src/components/form/AddressFields.jsx
  src/components/form/AddressFields.stories.jsx
Due: prettier, eslint

MB-3158 add ContactInfoFields component to storybook, rendering Releasing and Receiving agent in HHG setup form
  src/components/Customer/HHGDetailsForm.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.stories.jsx
Due: prettier, eslint

toDollarString() method to convert number into dollars
  src/shared/formatters.js
  src/shared/formatters.test.js
Due: prettier, eslint

refactor of shipment container
  src/components/Office/ShipmentContainer.jsx
  src/components/Office/ShipmentContainer.module.scss
  src/components/Office/ShipmentContainer.stories.jsx
Due: prettier, eslint

export ServiceItemCardShape
  src/types/serviceItemCard.js
Due: prettier, eslint

Create serviceItemcard component
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.module.scss
Due: prettier, eslint

ReviewServiceItems test
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
Due: prettier, eslint

Refactor ReviewServiceItems to use ServiceItemCard component
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.module.scss
Due: prettier, eslint

Update story for ReviewServiceItems
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

Update csrf_auth_key env var to have a valid value
  .envrc.local.template
Due: none

resolve shipment types changes from master
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
  src/types/shipment.js
Due: prettier, eslint

MB-3113 Consolidate move_orders and orders tables
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200707153605_consolidate_move_orders_into_orders.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/move_order.go
  pkg/gen/ghcmessages/orders_type.go
  pkg/gen/ghcmessages/orders_type_detail.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/document.go
  pkg/gen/supportmessages/move_order.go
  pkg/gen/supportmessages/order_type.go
  pkg/gen/supportmessages/orders_status.go
  pkg/gen/supportmessages/upload_payload.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
  pkg/handlers/ghcapi/move_order_test.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload_test.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/handlers/supportapi/move_task_order_test.go
  pkg/models/move_order.go
  pkg/models/move_order_test.go
  pkg/models/move_task_order.go
  pkg/models/order.go
  pkg/services/converthelper/convert.go
  pkg/services/converthelper/convert_test.go
  pkg/services/mocks/MoveOrderFetcher.go
  pkg/services/move_order.go
  pkg/services/move_order/move_order_fetcher.go
  pkg/services/move_order/move_order_fetcher_test.go
  pkg/services/move_task_order/move_task_order_fetcher.go
  pkg/services/support/move_task_order/move_task_order_creator.go
  pkg/testdatagen/make_move_order.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/shared.go
  swagger/ghc.yaml
  swagger/internal.yaml
  swagger/support.yaml
Due: go-version, swagger

add test file checking that AddressFields renders
  src/components/Customer/HHGDetailsForm.jsx
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/AddressFields/AddressFields.stories.jsx
  src/components/form/AddressFields/AddressFields.test.jsx
Due: prettier, eslint

removes stories files to get git to recognize the case change to CamelCase
  src/stories/alerts.stories.jsx
  src/stories/buttons.stories.jsx
  src/stories/colors.stories.jsx
  src/stories/containers.stories.jsx
  src/stories/form_elements.stories.jsx
  src/stories/grids.stories.jsx
  src/stories/headers.stories.jsx
  src/stories/iconButtons.stories.jsx
  src/stories/icons.stories.jsx
  src/stories/index.stories.jsx
  src/stories/modals.stories.jsx
  src/stories/samples.stories.jsx
  src/stories/somethingWentWrong.stories.jsx
  src/stories/stackedTable.stories.jsx
  src/stories/statusTimeLine.stories.jsx
  src/stories/tabNav.stories.jsx
  src/stories/tables.stories.jsx
  src/stories/tags.stories.jsx
  src/stories/typography.stories.jsx
Due: prettier, eslint

re-adds stories files that live in the stories folder to get get to recognize the case change
  src/stories/Alerts.stories.jsx
  src/stories/Buttons.stories.jsx
  src/stories/Colors.stories.jsx
  src/stories/Containers.stories.jsx
  src/stories/FormElements.stories.jsx
  src/stories/Grids.stories.jsx
  src/stories/IconButtons.stories.jsx
  src/stories/Icons.stories.jsx
  src/stories/Index.stories.jsx
  src/stories/Modals.stories.jsx
  src/stories/Samples.stories.jsx
  src/stories/SomethingWentWrong.stories.jsx
  src/stories/StackedTable.stories.jsx
  src/stories/StatusTimeLine.stories.jsx
  src/stories/Tables.stories.jsx
  src/stories/Tags.stories.jsx
  src/stories/Typography.stories.jsx
Due: prettier, eslint

adds stories file to the FOUO Header component folder
  src/components/FOUOHeader/FOUOHeader.stories.jsx
Due: prettier, eslint

adds stories file to customer header component folder
  src/components/CustomerHeader/CustomerHeader.stories.jsx
  src/components/FOUOHeader/FOUOHeader.stories.jsx
Due: prettier, eslint

moves TabNav stories file into it's component folder
  src/components/TabNav/TabNav.stories.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
