Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

gas:
  name: go abstract syntax (gas) scanner
  entry: bin/gas -exclude=G104 -fmt text -quiet ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

dep-status:
  name: dep status
  entry: dep status -v
  language: system
  description: If this hook fails, try running `dep ensure`

Add a parameter for moveType to switch between ppm and hhg legalese; add hhg legalese
  src/scenes/Legalese/api.js
  src/scenes/Legalese/index.jsx
  src/scenes/Legalese/legaleseText.js
Due: prettier

Change file-name to ShipmentWizard to be more descriptive; Change label name to reflect form name
  src/scenes/Moves/Hhg/MoveDate.jsx
  src/scenes/Moves/Hhg/ShipmentForm.css
  src/scenes/Moves/Hhg/ShipmentForm.jsx
  src/scenes/Moves/Hhg/ShipmentWizard.css
Due: prettier

Extract initial values prop to outer component
  src/scenes/Office/DocumentViewer/index.jsx
  src/shared/DocumentViewer/DocumentUploader.jsx
Due: prettier

Changes description to item
  migrations/20180925065510_create-accessorials-table.up.fizz
  pkg/models/accessorial.go
  pkg/testdatagen/make_accessorial_records.go
Due: gas, dep-status

Renames BOTH to EITHER
  pkg/models/accessorial.go
  pkg/testdatagen/make_accessorial_records.go
Due: gas, dep-status

clean up
  src/shared/PreApprovalRequestForm/index.jsx
  src/shared/ScratchPad/index.jsx
Due: prettier

Remove unused variables and props
  src/scenes/Moves/Hhg/ShipmentForm.jsx
  src/scenes/Moves/Hhg/WeightEstimates.jsx
Due: prettier

Implements GET handler for shipment_accessorials
  pkg/handlers/publicapi/accessorials.go
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/testdatagen/make_accessorial_records.go
Due: gas, dep-status

Extract Address component from Summary.jsx
  src/scenes/Review/Address.jsx
  src/scenes/Review/Summary.jsx
Due: prettier

Convert from mount to shallow and add test for duty station props
  src/scenes/TransportationServiceProvider/Locations.spec.js
  src/shared/Address/index.test.js
Due: prettier

Continue building out the HHG summary panel.
  src/scenes/Review/HHGShipmentSummary.jsx
  src/shared/icon/truck-black.svg
Due: prettier

Rename object keys to be camel case
  src/scenes/TransportationServiceProvider/Locations.jsx
Due: prettier

Remove switch and replace with if/else if
  src/scenes/Legalese/api.js
Due: prettier

finish merge, add styling
  src/shared/PreApprovalRequest/index.test.js
  src/shared/PreApprovalRequestForm/index.css
  src/shared/PreApprovalRequestForm/index.jsx
  src/shared/PreApprovalRequestForm/index.test.js
  src/shared/ScratchPad/index.jsx
  swagger/api.yaml
Due: prettier

Add first pass at a shareable doc details panel
  src/shared/DocumentViewer/DocumentDetailPanelView.jsx
  src/shared/DocumentViewer/DocumentDetailPanelView.test.jsx
Due: prettier

Move the old DocumentDetailPanel back into the office side of the app.
  src/scenes/Office/DocumentViewer/DocumentDetailPanel.jsx
  src/scenes/Office/DocumentViewer/index.jsx
Due: prettier

Render new doc detail panel from doc view.
  src/shared/DocumentViewer/MoveDocumentView.jsx
  src/shared/DocumentViewer/MoveDocumentView.test.jsx
Due: prettier

Add props to doc view container to support details panel.
  src/scenes/TransportationServiceProvider/DocumentViewerContainer.jsx
  src/shared/Entities/modules/shipmentDocuments.js
Due: prettier

add authorization for TSP users on Service Member and fix up uploads tests us use TSP users
  pkg/handlers/publicapi/uploads_test.go
  pkg/models/service_member.go
Due: gas, dep-status

Fix generic move documents test to associate a move with an orphaned upload
  pkg/handlers/publicapi/generic_move_documents_test.go
Due: gas, dep-status

only give access to TSPs that have not rejected a shipment
  pkg/models/service_member.go
Due: gas, dep-status

Extract conditional delivery address logic to shipment info
  src/scenes/TransportationServiceProvider/Locations.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

Add new duty station to move payload
  pkg/handlers/publicapi/moves.go
  pkg/models/shipment.go
  swagger/api.yaml
Due: gas, dep-status

Extract deliveryAddress logic to container and fix test
  src/scenes/TransportationServiceProvider/Locations.jsx
  src/scenes/TransportationServiceProvider/Locations.spec.js
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

Remove unused CurrentStation on ServiceMember
  pkg/handlers/publicapi/service_members.go
  swagger/api.yaml
Due: gas, dep-status

Convert to arrow functions and state as a property of the class
  src/shared/DocumentViewer/DocumentUploader.jsx
Due: prettier

circecli commands
  .circleci/config.yml
Due: none

start
  pkg/handlers/internalapi/office.go
  pkg/operations/cancel_move.go
Due: gas, dep-status

Extract document upload logic from document uploader
  src/scenes/Office/DocumentViewer/index.jsx
  src/shared/DocumentViewer/DocumentUploader.jsx
Due: prettier

Implements create shipment_accessorials handler
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
  pkg/models/models_test.go
  pkg/models/shipment.go
  pkg/models/shipment_test.go
Due: gas, dep-status

make notes a textarea
  swagger/api.yaml
  swagger/internal.yaml
Due: none

add sql updates to sqs schema
  docs/schema/dp3.sqs
Due: none

Specifies NAS Forth Worth in e2e test
  cypress/integration/mymove/orders.js
Due: prettier

Add refactored DocumentUploader to PaymentRequest component
  src/scenes/Moves/Ppm/PaymentRequest.jsx
  src/scenes/Office/DocumentViewer/index.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

add todo
  pkg/handlers/publicapi/uploads.go
Due: gas, dep-status

adding integration test requirement for staging deploy
  .circleci/config.yml
Due: none

Fixes comments, updates test
  pkg/handlers/publicapi/shipment_accessorials.go
  pkg/handlers/publicapi/shipment_accessorials_test.go
Due: gas, dep-status

create preapproval request panel
  src/shared/PreApprovalRequest/PreApprovalPanel.jsx
  src/shared/PreApprovalRequest/TableList.css
  src/shared/PreApprovalRequest/TableList.jsx
  src/shared/PreApprovalRequest/TableList.test.js
  src/shared/PreApprovalRequestForm/index.jsx
  src/shared/ScratchPad/index.jsx
Due: prettier

fix tests
  src/shared/PreApprovalRequest/TableList.test.js
Due: prettier

Add action creator, api function, reducer for getting move dates summary (buggy)
  src/appReducer.js
  src/scenes/Moves/Hhg/DatePicker.jsx
  src/scenes/Moves/Hhg/api.js
  src/scenes/Moves/Hhg/ducks.js
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  gas: any of: \.go$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  dep-status: any of: \.go$
