Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, markdown-toc, go-imports, go-lint, go-vet, gosec, gen-docs, dep-check

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: bin/check_go_version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.14.1
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Orders Swagger
        entry: bin/swagger validate swagger/orders.yaml
        language: script

  - repo: local
    hooks:
    - id: swagger
      name: DPS Swagger
      entry: bin/swagger validate swagger/dps.yaml
      language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: local
    hooks:
      - id: go-imports
        name: go imports
        entry: bin/pre-commit-go-imports
        language: script
        files: \.go$
        exclude: vendor/

  - repo: local
    hooks:
      - id: go-lint
        name: go lint
        entry: bin/pre-commit-go-lint
        language: script
        files: \.go$
        exclude: vendor/

  - repo: local
    hooks:
    - id: go-vet
      name: go vet
      entry: bin/pre-commit-go-vet
      language: script
      files: \.go$
      exclude: vendor/
      pass_filenames: false

  - repo: local
    hooks:
      - id: gosec
        name: gosec scanner
        entry: bin/gosec -exclude=G104 -fmt text ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$
        pass_filenames: false

  # - repo: local
  #   hooks:
  #     - id: mdspell
  #       name: mdspell
  #       entry: bin/pre-commit-spellcheck
  #       language: script
  #       files: \.md$
  #       exclude: >
  #         (?x)^(
  #           node_modules/|
  #           vendor/|
  #           docs/adr/index.md
  #         )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: bin/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
      - id: dep-version
        name: dep version
        entry: bin/check_dep_version
        language: script

  - repo: local
    hooks:
      - id: dep-check
        name: dep check
        entry: bin/pre-commit-dep-check
        language: script
        files: (\.go|Gopkg\.toml|Gopkg\.lock)$
        pass_filenames: false

refactor all filters
  src/shared/Entities/modules/shipmentLineItems.js
Due: prettier, eslint

filter out 35A items that have no actualAmount value
  pkg/services/invoice/fetch_invoice_for_shipment.go
  pkg/services/invoice/fetch_invoice_for_shipment_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

modify sql to skip 35A PARs that do not have an actual amount stored
  pkg/services/invoice/fetch_invoice_for_shipment.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

show warning if 35A has no actual amount and is approved
  src/shared/Entities/modules/shipmentLineItems.js
  src/shared/Invoice/LineItemTable.jsx
  src/shared/shared.css
Due: prettier, eslint

wip - adding client tests
  src/shared/Entities/modules/shipmentLineItems.test.js
Due: prettier, eslint

update and fix shipmentLineItems tests
  src/shared/Entities/modules/shipmentLineItems.js
  src/shared/Entities/modules/shipmentLineItems.test.js
Due: prettier, eslint

Add bottom margin to queue-table.
  src/scenes/Office/office.css
Due: none

fix tests
  src/shared/Entities/modules/shipmentLineItems.test.js
Due: prettier, eslint

Add build step
  Makefile
Due: none

Renames go_deps to check_gopath
  Makefile
Due: none

Removes git diff from go-mod hook
  bin/pre-commit-go-mod
Due: none

Adding secure migration for new office users
  local_migrations/20190329144450_add_office_users.sql
  migrations/20190329144450_add_office_users.up.fizz
Due: none

Update example for swagger def
  swagger/api.yaml
Due: none

Added new parameters for item 125
  pkg/models/shipment.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Passing item 125 fields in endpoint handler
  pkg/handlers/publicapi/shipment_line_items.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Added item 125 upsert helper to create
  pkg/models/shipment.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Moved upsertItemCodeDependency() to robust_accessorial_line_item.go
  pkg/models/robust_accessorial_line_item.go
  pkg/models/shipment.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Pre-approval 35A must have an actualAmount to be invoiced: 163439671 (#1898)
  pkg/services/invoice/fetch_invoice_for_shipment.go
  pkg/services/invoice/fetch_invoice_for_shipment_test.go
  src/shared/Entities/modules/shipmentLineItems.js
  src/shared/Entities/modules/shipmentLineItems.test.js
  src/shared/Invoice/LineItemTable.jsx
  src/shared/shared.css
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet, gosec, dep-check

Use full path for system psql
  scripts/psql
Due: none

Reordering of function
  pkg/models/robust_accessorial_line_item.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Be explicit with psql and move our psql to psql-wrapper. Fix paths for secure migrations.
  .circleci/config.yml
  Dockerfile.migrations
  Dockerfile.migrations_local
  Makefile
  docs/data/tspp-data-creation.md
  docs/how-to/migrate-the-database.md
  migrations/20180424010930_test_secure_migrations.up.fizz
  scripts/apply-secure-migration.sh
  scripts/db-restore
  scripts/psql-dev
  scripts/psql-prod-migrations
  scripts/psql-test
  scripts/psql-wrapper
  scripts/wait-for-db
Due: markdown-toc, gen-docs

Remove references to limit and offset it shipments test.
  pkg/handlers/publicapi/shipments.go
  pkg/handlers/publicapi/shipments_test.go
  pkg/models/shipment.go
  src/scenes/TransportationServiceProvider/QueueTable.jsx
  src/scenes/TransportationServiceProvider/api.js
  src/scenes/TransportationServiceProvider/tsp.css
  swagger/api.yaml
Due: go-version, prettier, eslint, go-imports, go-lint, go-vet, gosec, dep-check

Look for welcome message in entire page.
  cypress/integration/mymove/homepage.js
Due: prettier, eslint

Verify that logout request is successful.
  cypress/support/commands.js
Due: prettier, eslint

Fix query test to include is_superuser; comment local migration query
  internal/pkg/dutystationsloader/duty_stations_loader_test.go
  local_migrations/20190328175938_update-beta-super-users.sql
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Adjustments to the storage in transits patch handler to safely handle authorization_notes, authorized_start_date, and status.
  pkg/handlers/publicapi/storage_in_transits.go
  pkg/handlers/publicapi/storage_in_transits_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Remove camelCase on superuser in model
  pkg/models/user.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fixes to get e2e tests working
  Dockerfile
  Dockerfile.migrations
  Dockerfile.migrations_local
  Makefile
  migrations/20180424010930_test_secure_migrations.up.fizz
Due: none

Remove the pem since its under bin/
  .gitignore
Due: none

Undo /usr/local/bin/psql changes
  Dockerfile.migrations
  Dockerfile.migrations_local
  Makefile
  scripts/apply-secure-migration.sh
  scripts/db-restore
  scripts/wait-for-db
Due: none

Minor generated documentation info
  docs/backend/time.md
  docs/frontend.md
  docs/useful-links.md
Due: markdown-toc, gen-docs

Add information about direnv allow
  README.md
Due: markdown-toc, gen-docs

Unit test for creating item 125
  pkg/models/robust_accessorial_line_item_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add values to dockerignore to reduce the stuff sent over the wire to build docker images
  .dockerignore
  .gitignore
Due: none

Fix make target for e2e api tests
  Makefile
Due: none

Optional regex match validator for pop
  pkg/models/validators.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Added military time validation for time field
  pkg/models/shipment_line_item.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Additional unit tests for military time validation
  pkg/models/robust_accessorial_line_item_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Removed optional time seperator and added an optional timezone letter to regex. Updated unit tests to reflect changes.
  pkg/models/robust_accessorial_line_item_test.go
  pkg/models/shipment_line_item.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check
