Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

initial skeleton for document viewer sidebar
  src/components/DocumentViewer/Sidebar.jsx
Due: prettier, eslint

Make order type and detail more realistic values; fix shadow err declaration
  pkg/services/converthelper/convert.go
Due: go-version

Refactor createPaymentRequestHandler to use switch statement
  pkg/handlers/primeapi/payment_request.go
Due: go-version

update constant to SHIPMENT_OPTIONS, add test for select move type component"
  src/components/Office/ShipmentContainer.jsx
  src/components/Office/ShipmentDisplay.jsx
  src/components/Office/ShipmentServiceItemsTable/ShipmentServiceItemsTable.jsx
  src/components/Office/ShipmentServiceItemsTable/ShipmentServiceItemsTable.test.jsx
  src/components/Office/ShipmentServiceItemsTable/shipmentServiceItemsTable.stories.jsx
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
  src/scenes/Landing/MoveSummary.test.jsx
  src/scenes/Landing/index.test.js
  src/scenes/Moves/ducks.test.js
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/QueueTable.jsx
  src/scenes/Office/QueueTable.test.js
  src/scenes/Orders/TransitionToMove.jsx
  src/scenes/Orders/ducks.test.js
  src/scenes/SystemAdmin/AccessCodes/AccessCodeList.jsx
  src/shared/RadioButton/index.js
  src/shared/User/sampleLoggedInUserPayload.js
  src/shared/constants.js
  src/shared/formatters.js
Due: prettier, eslint

Only separate out URLs that conflict
  src/pages/Office/index.jsx
  src/shared/featureFlags.js
Due: prettier, eslint

Change naming for the prop being passed to RequestShipments around shipment status so it is less confusing.
  src/components/Office/RequestedShipments.jsx
  src/components/Office/RequestedShipments.test.jsx
  src/components/Office/requestedShipments.stories.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Add MoveTaskOrderChecker service object and tests
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_checker.go
  pkg/services/move_task_order/move_task_order_checker_test.go
Due: go-version

Update mocks
  pkg/services/mocks/MTOShipmentUpdater.go
  pkg/services/mocks/MoveTaskOrderChecker.go
Due: go-version

Remove MTOAvailable to prime from MTOShipment service object and use MTO service object method instead
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_checker.go
  pkg/services/move_task_order/move_task_order_checker_test.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

updates loki images
  .loki/reference/chrome_iphone7_Components_Document_Viewer_Content_Area.png
  .loki/reference/chrome_iphone7_Components_Document_Viewer_Content_Content_Area.png
  .loki/reference/chrome_iphone7_Components_Document_Viewer_Menu.png
  .loki/reference/chrome_iphone7_Components_Document_Viewer_Menu_Menu.png
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_iphone7_Components_Tables_Standard_Tables.png
  .loki/reference/chrome_laptop_Components_Document_Viewer_Content_Area.png
  .loki/reference/chrome_laptop_Components_Document_Viewer_Menu.png
  .loki/reference/chrome_laptop_Components_Document_Viewer_Menu_Menu.png
Due: none

fixed linting issue
  pkg/payment_request/service_param_value_lookups/service_area_origin_lookup.go
Due: go-version

Fix eslint error
  src/stories/tabNav.stories.jsx
Due: prettier, eslint

Convert onSubmit handler to use prommises all function for the shipment and mto approval requests.
  src/components/Office/RequestedShipments.jsx
  src/components/Office/ShipmentDisplay.jsx
  src/shared/Entities/modules/moveTaskOrders.js
Due: prettier, eslint

Revert order type value change to fit enum
  pkg/services/converthelper/convert.go
Due: go-version

Add comments to clarify differences in Planner interface methods
  pkg/route/planner.go
Due: go-version

Fix documentViewer casing
  src/components/DocumentViewer/Content/Content.module.scss
  src/components/DocumentViewer/Menu/Menu.module.scss
Due: none

MB-3158 rendering dummy text at hhg-start route
  src/pages/MyMove/HHGMoveSetup.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
Due: prettier, eslint

adds new loki images
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
  .loki/reference/chrome_iphone7_Components_Tables_Standard_Tables.png
Due: none

Revert extraction of MTOAvailable to prime and rename to MTOShipmentsMTOAvailableToPrime
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/services/mocks/MTOShipmentUpdater.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

adds new loki image for service item tables
  .loki/reference/chrome_iphone7_Components_Tables_Service_Item_Tables.png
Due: none

MB-3158 rendering a text input on hhg-start route using Formik
  src/components/Customer/HHGDetailsForm.jsx
  src/pages/MyMove/HHGMoveSetup.jsx
Due: prettier, eslint

Loki skip doc viewer test
  src/components/DocumentViewer/Content/ContentArea.stories.jsx
Due: prettier, eslint

Removes reServiceID for service item from prime and support apis
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_service_item.go
  pkg/gen/primemessages/m_t_o_service_item_basic.go
  pkg/gen/primemessages/m_t_o_service_item_d_d_f_s_i_t.go
  pkg/gen/primemessages/m_t_o_service_item_d_o_f_s_i_t.go
  pkg/gen/primemessages/m_t_o_service_item_domestic_crating.go
  pkg/gen/primemessages/m_t_o_service_item_shuttle.go
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/m_t_o_service_item.go
  pkg/gen/supportmessages/update_m_t_o_service_item_status.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  swagger/prime.yaml
  swagger/support.yaml
Due: go-version, swagger

Fix URL order
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/index.jsx
Due: prettier, eslint

Make leftnav dynamic based on whether we have submitted or approved status shipments
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

MB-3158 rendering date picker input
  src/components/Customer/HHGDetailsForm.jsx
  src/pages/MyMove/HHGMoveSetup.jsx
Due: prettier, eslint

Fix DocumentViewer casing
  src/components/DocumentViewer/Content/ContentArea.stories.jsx
  src/components/DocumentViewer/Menu/Menu.stories.jsx
  src/components/documentViewer/Content/Content.jsx
  src/components/documentViewer/Content/Content.module.scss
  src/components/documentViewer/Content/ContentArea.stories.jsx
  src/components/documentViewer/Menu/Menu.jsx
  src/components/documentViewer/Menu/Menu.module.scss
  src/components/documentViewer/Menu/Menu.stories.jsx
Due: prettier, eslint

MB-3158 rendering date picker input for both pickup and delivery dates
  src/components/Customer/HHGDetailsForm.jsx
Due: prettier, eslint

remove commented outline that I forgot to remove previously
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Move getServiceItem call to be inside the getMTOShipments then()
  src/pages/Office/MoveDetails/MoveDetails.jsx
Due: prettier, eslint

Remove role restrictions from TXO Move Info tabs
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.test.jsx
Due: prettier, eslint

add failing test for using input params
  pkg/handlers/primeapi/payment_request_test.go
Due: go-version

address css grid issues, changed default value of hhg flag to false, use mount for jest tests instead of shallow
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
  src/scenes/Landing/index.jsx
  src/scenes/MyMove/index.jsx
  src/shared/WizardPage/Form.jsx
  src/shared/WizardPage/index.css
  src/shared/WizardPage/index.jsx
Due: prettier, eslint

Adds descriptions of service item fields to yaml
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_service_item_d_d_f_s_i_t.go
  pkg/gen/primemessages/m_t_o_service_item_d_o_f_s_i_t.go
  pkg/gen/primemessages/m_t_o_service_item_shuttle.go
  swagger/prime.yaml
Due: go-version, swagger

Cleans up inconsistent quotes
  swagger/prime.yaml
Due: swagger

remove sidebar component
  src/components/DocumentViewer/Sidebar.jsx
Due: prettier, eslint

define shipment types and service item card types
  src/types/serviceItemCard.js
  src/types/shipment.js
Due: prettier, eslint

Review service items component for requested payments
  src/components/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
