Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Fix splitting for ; in text loaded by COPY statements
  pkg/migrate/SplitStatements.go
  pkg/migrate/SplitStatements_test.go
Due: go-version

Fix quote chars in data loaded by COPY breaking splitting
  pkg/migrate/SplitStatements.go
Due: go-version

Trim preceding whitespace from SQL lines
  pkg/migrate/ReadInSQL.go
Due: go-version

Expand test for splitting SQL statements with quotes
  pkg/migrate/SplitStatements_test.go
  pkg/migrate/fixtures/commentWithMultipleQuotes.sql
Due: go-version

Fix import
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
Due: prettier, eslint

more background
  .spelling
  docs/adr/0061-use-opentelemetry-for-distributed-tracing.md
Due: none

Fix story
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.stories.jsx
Due: prettier, eslint

Partial fix logic bug for weight allowances update
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/ghcapi/orders_test.go
Due: go-version

lower default number of moves created to twelve
  pkg/testdatagen/scenario/devseed.go
Due: go-version

add new definition for swagger endpoint, update allowance patch
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/order/update_allowance.go
  pkg/gen/ghcapi/ghcoperations/order/update_allowance_parameters.go
  pkg/gen/ghcapi/ghcoperations/order/update_allowance_responses.go
  pkg/gen/ghcapi/ghcoperations/order/update_allowance_urlbuilder.go
  pkg/gen/ghcmessages/update_allowance_payload.go
  swagger/ghc.yaml
Due: go-version, swagger

missed gen file
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
Due: go-version

new forbidden error defined
  pkg/services/errors.go
Due: go-version

define new ghc endpoint event
  pkg/services/event/ghc_endpoint.go
Due: go-version

update interface for OrderUpdater and regenerate mock
  pkg/services/mocks/OrderUpdater.go
  pkg/services/order.go
Due: go-version

hook update handlers with service objects
  pkg/handlers/ghcapi/api.go
Due: go-version

- refactor UpdateOrder to simplify operations
  pkg/services/order/order_updater.go
Due: go-version

- add new tests for allowances handler - refactor existing tests based on changes
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/services/order/order_updater.go
  pkg/services/order/order_updater_test.go
Due: go-version

created migration for remaining duty stations that provide services counseling
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210513204718_populate_remaining_duty_stations_that_provide_services_counseling.up.sql
Due: none

Added wait call to try to fix flakey test
  cypress/integration/office/txo/tioFlows.js
Due: prettier

Create A New Query to Retrieve Whatever is Needed for Editing Shipments And Add Tests
  src/hooks/queries.js
  src/hooks/queries.test.js
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
Due: prettier, eslint

- add test to test Service Counselor role - refactor authorization - make sure that all make office users have ppm office role
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/testdatagen/make_office_user.go
Due: go-version

updateAllowance api request
  src/services/ghcApi.js
Due: prettier, eslint

replace updateOrder with updateAllowance on Allowances form
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

add new props to show/hide fields
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
Due: prettier, eslint

test hiding of fields
  src/components/Office/OrdersDetailForm/OrdersDetailForm.test.jsx
Due: prettier, eslint

add new story to show that form is hiding fields
  src/components/Office/OrdersDetailForm/OrdersDetailForm.stories.jsx
Due: prettier, eslint

MB-7950 Extract shipmentCards css to a shared file
  src/components/Office/RequestedShipments/RequestedShipments.jsx
  src/components/Office/RequestedShipments/RequestedShipments.module.scss
  src/styles/shipmentCards.module.scss
Due: prettier, eslint

MB-7950 Add shipments section with HHG shipments showing
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
Due: prettier, eslint

Fix Width of the Form
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
Due: prettier, eslint

Move block below error check
  pkg/migrate/SplitStatements.go
Due: go-version

update ghc definition to not require agency field on UpdateOrderPayload
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_order_payload.go
  swagger/ghc.yaml
Due: go-version, swagger

- add link to view orders form - sentence case header title
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

add test case to check link
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.test.jsx
Due: prettier, eslint

new orders page for services counseling
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
Due: prettier, eslint

tests for ServicesCounselingOrders component
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.test.jsx
Due: prettier, eslint

ternary case to switch between orders and allowances
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.jsx
Due: prettier, eslint

tests to check ternary cases works
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.test.jsx
Due: prettier, eslint

add in orders path for counseling
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.jsx
Due: prettier, eslint

Attempt to Add Testing for Routes
  src/components/Office/ServicesCounselingShipmentForm/ServicesCounselingShipmentForm.jsx
  src/constants/routes.js
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.jsx
  src/pages/Office/index.test.jsx
Due: prettier, eslint

remove unused properties from param definition
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_order_payload.go
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/ghcapi/orders_test.go
  swagger/ghc.yaml
Due: go-version, swagger
