Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

updated CircleCI config yaml
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

past sit shipment sit display refactor
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.jsx
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplayTestParams.js
Due: prettier, eslint

Removing unwanted merge
  src/shared/constants.js
Due: prettier, eslint

Revert "Update config.yml"
  .circleci/config.yml
Due: none

Revert "updated CircleCI config yaml"
  .circleci/config.yml
Due: none

Revert "Updated config.yml"
  .circleci/config.yml
Due: none

Shipment address information adjustment
  src/components/Office/ShipmentHeading/ShipmentHeading.jsx
  src/components/Office/ShipmentHeading/ShipmentHeading.test.jsx
Due: prettier, eslint

display tpps info on UI for payment requests
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/ExpandableServiceItemRow/ExpandableServiceItemRow.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Text color edit
  src/components/Office/ShipmentHeading/ShipmentHeading.jsx
  src/components/Office/ShipmentHeading/shipmentHeading.module.scss
Due: prettier, eslint

Test text change
  src/components/Office/ShipmentHeading/ShipmentHeading.test.jsx
Due: prettier, eslint

added those sweet sweet tests
  pkg/handlers/adminapi/user.go
  pkg/handlers/adminapi/user_test.go
  src/sagas/auth.js
  src/sagas/auth.test.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

more hidden special chars
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240819164156_update_pws_violations_pt3.up.sql
Due: none

Change server layer to change PPM status to COMPLETE COMPLETE regardless if any uploaded PPM docs have been REJECTED
  pkg/handlers/ghcapi/ppm_document_test.go
  pkg/services/ppmshipment/ppm_shipment_router.go
  pkg/services/ppmshipment/ppm_shipment_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

test fixes
  playwright/tests/my/mymove/onboarding.spec.js
  src/components/form/fields/ZipCityInput.test.jsx
Due: prettier, eslint

fix failing server tests
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/models/payment_request.go
  pkg/services/payment_request/payment_request_list_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

add rejected amount for TPPS paid and TPPS received statuses
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
Due: prettier, eslint

implemented hotfix to test
  src/pages/Office/SupportingDocuments/SupportingDocuments.test.jsx
Due: prettier, eslint

Added fields to frontend of Prime Sim for Shipment Info Card
  src/components/PrimeUI/Shipment/Shipment.jsx
Due: prettier, eslint

Feaature working
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.jsx
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.stories.jsx
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.test.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.stories.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.test.jsx
Due: prettier, eslint

add client tests for showing tpps info
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.test.jsx
Due: prettier, eslint

reorder payment request details for tpps paid
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
Due: prettier, eslint

linter fix
  src/components/Customer/BackupAddressForm/BackupAddressForm.test.jsx
Due: prettier, eslint

adding ? to shipmentType
  src/components/ShipmentList/ShipmentList.jsx
Due: prettier, eslint

Revision update
  pkg/handlers/ghcapi/orders.go
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

NTSRecordedWeight and PrimeEstimatedWeight will be read only for Prime
  pkg/handlers/primeapiv3/mto_shipment.go
Due: go-version, ato-go-linter, appcontext-linter

prettier fixes
  src/components/Customer/BackupAddressForm/BackupAddressForm.test.jsx
  src/components/Customer/ResidentialAddressForm/ResidentialAddressForm.test.jsx
Due: prettier, eslint

past sit information to still display on dashboard when no current sit
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.jsx
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.test.jsx
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplayTestParams.js
Due: prettier, eslint

ghc crud api changes for boat shipment
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_boat_shipment.go
  pkg/gen/ghcmessages/create_m_t_o_shipment.go
  pkg/gen/ghcmessages/update_boat_shipment.go
  pkg/gen/ghcmessages/update_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/services/boat_shipment/rules.go
  pkg/services/boat_shipment/rules_test.go
  pkg/services/boat_shipment/validation.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

test fixes
  pkg/services/boat_shipment/boat_shipment_updater_test.go
  pkg/services/boat_shipment/rules.go
  pkg/services/boat_shipment/validation.go
Due: go-version, ato-go-linter, appcontext-linter

Code/comments removal
  pkg/handlers/ghcapi/orders.go
Due: go-version, ato-go-linter, appcontext-linter
