Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
            .envrc.local.template|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.23.6
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

wraps section of hhg form in container div and removes divider
  src/components/Customer/EditShipment.jsx
Due: prettier, eslint

Remove duplicate set of handler params
  src/components/Customer/Home/ShipmentList/index.jsx
Due: prettier, eslint

adds div to wrap forms we want to wrap in special customer onbaording containers on desktop and styles for it
  src/components/Customer/EditShipment.jsx
  src/components/Customer/EditShipment.module.scss
  src/shared/styles/_custom.scss
Due: prettier, eslint

grab gbloc from office user and filter move orders by associated gbloc
  pkg/handlers/ghcapi/move_orders.go
  pkg/services/move_order.go
  pkg/services/move_order/move_order_fetcher.go
Due: go-version

removes divideers and wraps all sections in divs
  src/components/Customer/EditShipment.jsx
  src/shared/styles/_custom.scss
Due: prettier, eslint

Add secure migration for inserting sandy-wright's CAC into client_certs
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20201007210622_sandy_cac.up.sql
Due: none

remove some if statements that are no longer needed
  pkg/payment_request/service_param_value_lookups/actual_pickup_date_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

MB-4126 | add another shipment logic (#4912)
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
  src/components/Customer/Home/ShipmentList/ShipmentList.test.jsx
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/Home/Home.module.scss
  src/pages/MyMove/Home/index.jsx
  src/pages/MyMove/Home/index.test.jsx
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.mapStateToProps.test.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

Change circleci config to deploy to experimental
  .circleci/config.yml
Due: none

Adjust escaped quote, repeated props, and id substring length to align with other PR
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/SelectMoveType.jsx
Due: prettier, eslint

Revert "Change circleci config to deploy to experimental"
  .circleci/config.yml
Due: none

adding service code vs lookup checks in case paramCache is nil
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

remove commented out code
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

Rearrange tests post-merge; fix some prop types
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
Due: prettier, eslint

pass officeUserID to Fetcher in tests
  pkg/services/move_order.go
  pkg/services/move_order/move_order_fetcher_test.go
Due: go-version

remove some commented out code
  pkg/payment_request/service_param_value_lookups/service_params_cache_test.go
Due: go-version

include a move that is excluded from queue due to gbloc
  pkg/services/move_order/move_order_fetcher.go
  pkg/services/move_order/move_order_fetcher_test.go
  pkg/testdatagen/make_user.go
Due: go-version

PR feedback: Fix default export rule, remove unused css rule, add todo to global styles
  cypress/integration/mymove/hhg.js
  src/App/index.css
  src/components/Customer/Review/OrdersTable/index.jsx
  src/components/Customer/Review/ShipmentCard/PPMShipmentCard/index.jsx
  src/components/Customer/Review/ShipmentCard/ShipmentCard.module.scss
  src/components/Customer/Review/Summary/Summary.module.scss
  src/components/Customer/Review/Summary/index.jsx
  src/components/Customer/Review/Summary/index.test.jsx
  src/pages/MyMove/Review/index.jsx
Due: prettier, eslint

separate test suite for gbloc filters
  pkg/services/move_order/move_order_fetcher_test.go
Due: go-version

Add normalize option to new swaggerRequest
  jsconfig.json
  src/services/swaggerRequest.js
  src/services/swaggerRequest.test.js
Due: prettier, eslint

Add customer saga, onboarding saga
  src/sagas/index.js
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/scenes/MyMove/index.jsx
  src/services/ghcApi.js
  src/services/internalApi.js
  src/services/swaggerRequest.js
  src/services/swaggerRequest.test.js
  src/shared/store.js
  src/store/onboarding/actions.js
Due: prettier, eslint

pr fixes
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Fix merge conflicts
  src/components/Customer/Home/ShipmentList/ShipmentList.stories.jsx
  src/components/Customer/Home/ShipmentList/index.jsx
Due: prettier, eslint

fix merge conflict test
  src/components/Customer/Home/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

Split out data load from init onboarding saga
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
Due: prettier, eslint

Expose watchFetchCustomerData to refresh user data
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/store/onboarding/actions.js
Due: prettier, eslint

Use new fetchCustomerData on HHGShipmentSetup
  src/pages/MyMove/HHGShipmentSetup.jsx
Due: prettier, eslint

Add createServiceMember to flow, demonstrate ducks backwards compatibility
  src/pages/MyMove/Home/index.jsx
  src/sagas/onboarding.js
  src/sagas/onboarding.test.js
  src/services/internalApi.js
Due: prettier, eslint

pr fix
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Update Ryan K CAC card
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20201008171129_ryan_cac.up.sql
Due: none

queues list handler with office user authz and queue move payload
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_responses.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_urlbuilder.go
  pkg/gen/ghcmessages/g_b_l_o_c.go
  pkg/gen/ghcmessages/queue_move.go
  pkg/gen/ghcmessages/queue_move_status.go
  pkg/gen/ghcmessages/queue_moves.go
  pkg/gen/ghcmessages/queue_moves_result.go
  pkg/handlers/apitests.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move_orders.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/mocks/MoveOrderFetcher.go
  pkg/services/move_order.go
  pkg/services/move_order/move_order_fetcher.go
  pkg/services/move_order/move_order_fetcher_test.go
  pkg/services/office_user/office_user_creator_test.go
  pkg/services/office_user/office_user_fetcher.go
  pkg/services/office_user/office_user_fetcher_test.go
  swagger/ghc.yaml
Due: go-version, swagger

Add asdf global note to ensure pre-commit install-hooks works
  scripts/prereqs
Due: none

correct test data
  pkg/services/move_order/move_order_fetcher_test.go
Due: go-version

WIP extracting components
  src/components/Customer/MtoShipments/DeliveryDetails.jsx
  src/components/Customer/MtoShipments/DeliveryDetailsForm.jsx
  src/components/Customer/MtoShipments/HHGDetailsForm.jsx
  src/components/Customer/MtoShipments/PickupDetails.jsx
Due: prettier, eslint

WIP NTS(r) forms
  src/components/Customer/MtoShipments/NTSDetailsForm.jsx
  src/components/Customer/MtoShipments/NTSrDetailsForm.jsx
  src/components/Customer/MtoShipments/formTypes.js
Due: prettier, eslint

generate mocks
  pkg/services/mocks/MoveOrderFetcher.go
Due: go-version

unauthorized test cases and empty test case
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

Remove irrelevant test case
  cypress/integration/mymove/hhg.js
Due: prettier

Update storybook screenshot to not include # in data passed in
  src/components/Customer/Home/Step/Step.stories.jsx
Due: prettier, eslint

Update storybook screenshot to not include # in data passed in
  src/components/Customer/Review/ShipmentCard/HHGShipmentCard/index.test.jsx
  src/components/Customer/Review/ShipmentCard/PPMShipmentCard/index.test.jsx
  src/components/Customer/Review/ShipmentCard/ShipmentCard.stories.jsx
Due: prettier, eslint
