Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

update daycos and movehq script with DECLARE section
  migrations/app/secure/20230202193449_add_daycos_and_movehq_certs.up.sql
Due: none

Updating the URL to point to GEXA not GEXB
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/exp.process-edis.env
  config/env/prd.app.env
  config/env/prd.post-file-to-gex.env
  config/env/prd.process-edis.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/env/stg.post-file-to-gex.env
  config/env/stg.process-edis.env
  pkg/cli/gex.go
  pkg/services/invoice/gex_sender_http.go
Due: go-version, ato-go-linter, appcontext-linter

Logging the request's SHA256 hash on all requests;
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Adding config to deploy to EXP environment
  .circleci/config.yml
Due: none

Adding the pkg and method to the Logger
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Being more descriptive in logs for searchability;
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Moving the Known logging after the error checking
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Adding the SHA256_hash_string to the Logger
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Temp setting up exp to handle api auth the same way as ATO
  Dockerfile.dp3
  config/tls/DoD-ECA-Root-CA-S23C.pem
Due: none

Updating the file extension;
  Dockerfile.dp3
Due: none

Creating our own P7B container file;
  Dockerfile.dp3
  config/tls/test-api.exp.dp3.us.chain.der.p7b
Due: none

Encoding the P7B file with an output of DER;
  config/tls/test-api.exp.dp3.us.chain.der.p7b
Due: none

Updating our own P7B container file;
  config/tls/test-api.exp.dp3.us.chain.der.p7b
Due: none

Removing the experimental DoD and IdenTrust work;
  Dockerfile.dp3
  config/tls/test-api.exp.dp3.us.chain.der.p7b
Due: none

Adding logging to the ClientCertFromContext;
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Adding Error logging to InitDoDCertificates
  pkg/certs/certs.go
Due: go-version, ato-go-linter, appcontext-linter

Making this log be an Error rather than Info
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Bringing back the correct CI configuration;
  .circleci/config.yml
Due: none

Removing the public cert we had for testing
  config/tls/DoD-ECA-Root-CA-S23C.pem
Due: none

Logging an Info rather than an Error;
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

Removing error log for client cert key not found;
  pkg/handlers/authentication/client_cert.go
Due: go-version, ato-go-linter, appcontext-linter

remove dtid
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
Due: prettier, eslint

Updating from GEXA to GEXB;
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/exp.process-edis.env
  config/env/prd.app.env
  config/env/prd.post-file-to-gex.env
  config/env/prd.process-edis.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/env/stg.post-file-to-gex.env
  config/env/stg.process-edis.env
  pkg/cli/gex.go
  pkg/services/invoice/gex_sender_http.go
Due: go-version, ato-go-linter, appcontext-linter

Comment fix
  pkg/factory/duty_location_factory_test.go
Due: go-version, ato-go-linter, appcontext-linter

add an additional test for updating finalIncentive
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

update test
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

change the yarn.lock to match the one on main
  yarn.lock
Due: none

Go fixes
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/p_p_m_shipment.go
  pkg/gen/ghcmessages/update_p_p_m_shipment.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/p_p_m_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  swagger-def/definitions/PPMAdvanceStatus.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

improved form logic
  src/components/Office/ShipmentIncentiveAdvance/ShipmentIncentiveAdvance.jsx
Due: prettier, eslint

advance status edge case
  pkg/services/ppmshipment/ppm_shipment_updater.go
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

re-adding tanstack query 4 to yarn lock
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier, eslint

reconfigure mutations on SubmittedRequestedShipments
  src/components/Office/RequestedShipments/SubmittedRequestedShipments.jsx
Due: prettier, eslint

Fix typo on MoveTaskOrder
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

go test fix
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fix empty state displays
  src/utils/ppmCloseout.jsx
Due: prettier, eslint

re-add constructed weight
  src/utils/ppmCloseout.jsx
Due: prettier, eslint

Extend playwright milmove ppm test fixtures vs major beforeEach setup
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
Due: prettier, eslint

Update ppmCloseout.jsx
  src/utils/ppmCloseout.jsx
Due: prettier, eslint

playwright flakiness fix: default duty location locking
  cmd/generate-test-data/main.go
  pkg/models/duty_location_test.go
  pkg/models/payment_service_item_test.go
  pkg/testdatagen/make_duty_location.go
  pkg/testingsuite/pop_suite.go
Due: go-version, ato-go-linter, appcontext-linter

Updates to spectral linting checker script
  .circleci/config.yml
  scripts/ensure-spectral-lint
Due: none
