Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Supporting documents prevent overflow
  src/components/UploadsTable/UploadsTable.module.scss
Due: none

logic for handling one diverted shipment approval and move routing
  pkg/services/mto_shipment/shipment_diversion_approver.go
Due: go-version, ato-go-linter, appcontext-linter

logic for handling two diverted shipment approvals and move routing
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

testing status change for move
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/services/mto_shipment/shipment_diversion_approver_test.go
Due: go-version, ato-go-linter, appcontext-linter

Filter based on RankID, PR comments
  pkg/gen/ordersapi/embedded_spec.go
  pkg/gen/ordersmessages/grade.go
  pkg/gen/ordersmessages/order_pay_grade.go
  pkg/handlers/primeapiv3/payloads/model_to_payload.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
  pkg/services/move_task_order/move_task_order_fetcher.go
  swagger-def/orders.yaml
  swagger/orders.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

removing sort of status column, but meeting AC and leaving default sort on status column lol
  src/constants/queues.js
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
Due: prettier, eslint

B-22044 remove the duplicated tests from user_deleter_test and office_user_deleter_test;
  pkg/services/office_user/office_user_deleter_test.go
  pkg/services/user/user_deleter_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-23511 - (pr feedback) comment clarification.
  playwright/tests/utils/playwrightUtility.js
Due: prettier, eslint, playwright_tsc

B-22044 undo changes in the factory, move the changes into the specific test.
  pkg/factory/okta_factory.go
  pkg/models/okta_test.go
Due: go-version, ato-go-linter, appcontext-linter

moved fetching pay grades into OrderDetailsForm
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
  src/pages/Office/ServicesCounselingAddOrders/ServicesCounselingAddOrders.test.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
Due: prettier, eslint

adjusting default sort
  migrations/app/ddl_migrations/ddl_functions/20250509183824_fn_get_origin_queue.up.sql
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
Due: prettier, eslint

need to send email for all 824 error types, not just OTIs
  pkg/services/invoice/process_edi824.go
Due: go-version, ato-go-linter, appcontext-linter

simplify CalculateRequiredDeliveryDate and refactor to allow UBs' RDDs to be set without an estimated weight, add test for the latter
  pkg/handlers/primeapiv3/mto_shipment_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

correct comment on test that was incorrecrtly named
  pkg/handlers/primeapiv3/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

who do I have to bribe to get this to work
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
Due: prettier, eslint

renamed payloads
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/components/Office/AddOrdersForm/AddOrdersForm.test.jsx
  src/pages/MyMove/AddOrders.test.jsx
  src/pages/MyMove/Orders.test.jsx
  src/pages/Office/Orders/Orders.test.jsx
  src/pages/Office/ServicesCounselingAddOrders/ServicesCounselingAddOrders.test.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.test.jsx
Due: prettier, eslint

B-23180 testing for react hook
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/MoveDetails/MoveDetails.test.jsx
Due: prettier, eslint

Fixed edit orders label
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
Due: prettier, eslint

code clean up
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
Due: prettier, eslint

adding comma in db-truncate to tables aren't deleted
  scripts/db-truncate
Due: none

fixed more
  src/components/Office/OrdersDetailForm/OrdersDetailForm.test.jsx
  src/pages/MyMove/Profile/EditContactInfo.test.jsx
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.test.jsx
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.test.jsx
Due: prettier, eslint

adding move history fixes
  cmd/generate-test-data/main.go
  src/constants/MoveHistory/EventTemplates/ReviewShipmentAddressUpdate/reviewShipmentAddressUpdateMove.jsx
  src/constants/MoveHistory/EventTemplates/ReviewShipmentAddressUpdate/reviewShipmentAddressUpdateMove.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

whoops
  cmd/generate-test-data/main.go
Due: go-version, ato-go-linter, appcontext-linter

fixed client tests.
  src/components/Customer/BackupContactForm/BackupContactForm.test.jsx
  src/components/Customer/EditContactInfoForm/EditContactInfoForm.test.jsx
  src/components/Office/CustomerContactInfoForm/CustomerContactInfoForm.jsx
  src/components/Office/CustomerContactInfoForm/CustomerContactInfoForm.test.jsx
  src/components/Office/DefinitionLists/CustomerInfoList.test.jsx
  src/components/form/BackupContactInfoFields/BackupContactInfoFields.test.jsx
  src/pages/MyMove/Profile/BackupContact.test.jsx
  src/pages/MyMove/Profile/EditContactInfo.test.jsx
  src/pages/Office/CreateMoveCustomerInfo/CreateMoveCustomerInfo.jsx
  src/pages/Office/CreateMoveCustomerInfo/CreateMoveCustomerInfo.test.jsx
  src/pages/Office/CustomerInfo/CustomerInfo.test.jsx
  src/pages/Office/CustomerOnboarding/CreateCustomerForm.jsx
  src/pages/Office/CustomerOnboarding/CreateCustomerForm.test.jsx
Due: prettier, eslint

odd - copied fields have correct values, but cause the issue
  pkg/assets/paperwork/formtemplates/ShipmentSummaryWorksheet.pdf
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

create feature flag for approval request type front end TOO column
  .circleci/config.yml
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/flipt/storage/development.features.yaml
Due: none

add move history move status update for approved diversions
  src/constants/MoveHistory/EventTemplates/ApproveShipmentDiversion/approveShipmentDiversionApproveMove.jsx
  src/constants/MoveHistory/EventTemplates/ApproveShipmentDiversion/approveShipmentDiversionApproveMove.text.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: prettier, eslint

whoopsies nothing to see here
  src/constants/MoveHistory/EventTemplates/ApproveShipmentDiversion/approveShipmentDiversionApproveMove.test.jsx
Due: prettier, eslint

add back code from reverts for 22759 and 22712
  migrations/app/ddl_migrations/ddl_functions/20250225233157_fn_get_destination_queue.up.sql
  src/constants/approvalRequestTypes.js
  src/constants/serviceItems.js
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  src/utils/queues.jsx
  src/utils/queues.test.jsx
Due: prettier, eslint

fixed order test
  src/pages/Office/Orders/Orders.test.jsx
Due: prettier, eslint

removed logging comments
  pkg/handlers/internalapi/uploads_test.go
  pkg/uploader/user_uploader_test.go
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/office/servicescounseling/servicesCounselingTestFixture.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc

Fixing issue with rounding
  migrations/app/ddl_migrations/ddl_functions/20250221213413_fn_update_service_item_pricing.up.sql
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
Due: prettier, eslint

add move history and test
  src/constants/MoveHistory/EventTemplates/RemoveSITExtension/removeSITExtensionServiceItem.jsx
  src/constants/MoveHistory/EventTemplates/RemoveSITExtension/removeSITExtensionServiceItem.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: prettier, eslint

Fixed comma when only a first name for backup contact
  src/components/Office/DefinitionLists/CustomerInfoList.jsx
Due: prettier, eslint

Add mileage to pricing calculation when over 50 miles. Calculation was missing mileage multiplier after PO demo verificationfor pickup/delivery SIT
  migrations/app/ddl_migrations/ddl_functions/20250221213413_fn_update_service_item_pricing.up.sql
  migrations/app/dml_migrations_manifest.txt
  migrations/app/schema/20250328155348_B-22466_update_data_re_intl_other_prices_and_service_params.up.sql
  migrations/app/schema/20250522135232_B-22466_v2_add_distance_lookup_service_params.up.sql
  pkg/services/ghc_rate_engine.go
  pkg/services/ghcrateengine/intl_destination_delivery_sit_pricer.go
  pkg/services/ghcrateengine/intl_destination_delivery_sit_pricer_test.go
  pkg/services/ghcrateengine/intl_origin_pickup_sit_pricer.go
  pkg/services/ghcrateengine/intl_origin_pickup_sit_pricer_test.go
  pkg/services/ghcrateengine/pricer_helpers_intl.go
  pkg/services/ghcrateengine/pricer_helpers_intl_test.go
  pkg/services/mocks/InternationalDestinationSITDeliveryPricer.go
  pkg/services/mocks/InternationalOriginSITPickupPricer.go
Due: go-version, ato-go-linter, appcontext-linter

remove/change migration working on nil check/update test
  migrations/app/ddl_migrations/ddl_types/20250522221731_ty_sit_extension_status.up.sql
  migrations/app/ddl_tables_manifest.txt
  migrations/app/ddl_types_manifest.txt
Due: none

add sitextension in eager, add nil check, fixed end date and updater tests
  pkg/handlers/primeapi/mto_service_item.go
  pkg/models/mto_shipments_test.go
  pkg/services/mto_service_item/mto_service_item_updater.go
  pkg/services/mto_service_item/mto_service_item_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

wrong change lol
  pkg/models/mto_shipments_test.go
Due: go-version, ato-go-linter, appcontext-linter

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
