Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

updated SSW, tests added
  pkg/assets/paperwork/formtemplates/ShipmentSummaryWorksheet.pdf
  pkg/models/worksheet_shipment.go
  pkg/services/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

reverting flag to off
  .envrc
Due: none

added sign in page and form, loading spinner functionality, mockup stuff
  package.json
  src/components/LoadingSpinnerModal/LoadingSpinnerModal.jsx
  src/components/LoadingSpinnerModal/LoadingSpinnerModal.module.scss
  src/components/MilMoveHeader/LoggedOutUserInfo.jsx
  src/components/StyledLine/StyledLine.jsx
  src/components/StyledLine/StyledLine.module.scss
  src/constants/routes.js
  src/containers/Headers/LoggedOutHeader.jsx
  src/pages/SignIn/SignIn.jsx
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/SignUp.module.scss
  src/pages/SignUp/ValidCACModal.jsx
  src/scenes/MyMove/index.jsx
  yarn.lock
Due: prettier, eslint

test updates and cleanup
  cmd/image-to-pdf/main.go
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/paperwork/generator.go
  pkg/paperwork/generator_test.go
  pkg/services/mocks/PrimeDownloadMoveUploadPDFGenerator.go
  pkg/services/paperwork.go
  pkg/services/paperwork/prime_download_user_upload_to_pdf_converter_test.go
  pkg/services/ppmshipment/aoa_packet_creator_test.go
  pkg/services/ppmshipment/payment_packet_creator.go
  pkg/services/ppmshipment/payment_packet_creator_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

code cleanup
  pkg/handlers/internalapi/uploads.go
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-21909 - working waitForFunction
  playwright/tests/office/txo/tooQueueFilters.spec.js
Due: prettier, eslint, playwright_tsc

check for file nil, updated tests
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/services/paperwork/prime_download_user_upload_to_pdf_converter.go
  pkg/services/weight_ticket_parser/weight_ticket_parser.go
  pkg/services/weight_ticket_parser/weight_ticket_parser_test.go
Due: go-version, ato-go-linter, appcontext-linter

setting currentPage to default - not finished
  src/components/Table/TableQueue.jsx
Due: prettier, eslint

code cleanup, and fixed tests...again
  pkg/handlers/ghcapi/ppm_document_test.go
  pkg/handlers/internalapi/ppm_shipment_test.go
  pkg/paperwork/generator.go
  pkg/paperwork/generator_test.go
  pkg/services/ppmshipment/payment_packet_creator.go
Due: go-version, ato-go-linter, appcontext-linter

tests
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

bugfix for ppm shipments failing on counseling office
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_p_p_m_shipment.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/utils/formatMtoShipment.js
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

B-22693 handler and payload logic for prime moves acknowledgement
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/payloads/payload_to_model.go
  pkg/handlers/primeapi/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove duplicate migration
  migrations/app/ddl_tables_manifest.txt
Due: none

put back test
  pkg/services/rejected_office_users/rejected_office_users_list_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

Added tests with fixes
  src/components/BulkAssignment/BulkAssignmentModal.jsx
  src/components/BulkAssignment/BulkAssignmentModal.test.jsx
Due: prettier, eslint

keep email in main search
  pkg/handlers/adminapi/rejected_office_users.go
Due: go-version, ato-go-linter, appcontext-linter

forgot to build gen files before last commit
  pkg/gen/ghcapi/embedded_spec.go
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

canelled -> canceled
  pkg/models/mto_shipments.go
  pkg/services/move/move_searcher.go
  pkg/services/move/move_searcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

cam add comment and fix duplicate escalated price work
  migrations/app/ddl_migrations/ddl_functions/20250225193106_fn_update_service_item_pricing.up.sql
Due: none

remove print statements in test
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-22701 Update PPMSummaryList test and onDownloadError Make sure that the message that appears on the screen is removed if there is an error. Also check base case for the message.
  src/components/PPMSummaryList/PPMSummaryList.jsx
  src/components/PPMSummaryList/PPMSummaryList.test.jsx
Due: prettier, eslint

updated verbiage to match address location
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdatePPMForm.jsx
Due: prettier, eslint

tests
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.jsx
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

B-22701 Add test for onStart prop for AsyncPacketDownloadLink
  src/shared/AsyncPacketDownloadLink/AsyncPacketDownloadLink.jsx
  src/shared/AsyncPacketDownloadLink/AsyncPacketDownloadLink.test.jsx
Due: prettier, eslint

initial commit, lot happening here and have most functionality
  .circleci/config.yml
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/flipt/storage/development.features.yaml
  pkg/gen/internalapi/configure_mymove.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/feature_flags/boolean_feature_flag_unauthenticated.go
  pkg/gen/internalapi/internaloperations/feature_flags/boolean_feature_flag_unauthenticated_parameters.go
  pkg/gen/internalapi/internaloperations/feature_flags/boolean_feature_flag_unauthenticated_responses.go
  pkg/gen/internalapi/internaloperations/feature_flags/boolean_feature_flag_unauthenticated_urlbuilder.go
  pkg/gen/internalapi/internaloperations/mymove_api.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/feature_flag.go
  pkg/handlers/internalapi/feature_flag_test.go
  pkg/handlers/routing/routing_init.go
  src/components/LoadingSpinnerModal/LoadingSpinnerModal.jsx
  src/components/MilMoveHeader/LoggedOutUserInfo.jsx
  src/components/RegistrationConfirmationModal/RegistrationConfirmationModal.jsx
  src/components/RegistrationConfirmationModal/RegistrationConfirmationModal.module.scss
  src/components/StyledLine/StyledLine.jsx
  src/components/StyledLine/StyledLine.module.scss
  src/components/form/fields/TextField/TextField.jsx
  src/containers/Headers/LoggedOutHeader.jsx
  src/pages/SignIn/SignIn.jsx
  src/pages/SignIn/Signin.test.jsx
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/SignUp.module.scss
  src/services/internalApi.js
  src/utils/featureFlags.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

B-22693 prime acknowledge service to call db procedure
  pkg/services/acknowledge_moves_shipments.go
  pkg/services/acknowledge_moves_shipments/acknowledge_moves_shipments_service_test.go
  pkg/services/acknowledge_moves_shipments/move_shipment_acknowledgement_updater.go
  pkg/services/acknowledge_moves_shipments/move_shipment_acknowledgement_updater_test.go
  pkg/services/mocks/MoveAndShipmentAcknowledgementUpdater.go
Due: go-version, ato-go-linter, appcontext-linter

more stuff
  src/components/Customer/Review/ProfileTable/ProfileTable.jsx
  src/components/Customer/Review/Summary/Summary.jsx
  src/pages/MyMove/Profile/EditContactInfo.test.jsx
Due: prettier, eslint

adjusted escalated price to be reusable and to use compounded factor properly, adjusted inpk case to use reusable funcs, adjusted tests for proper math rounding
  migrations/app/ddl_functions_manifest.txt
  migrations/app/ddl_migrations/ddl_functions/20250225193106_fn_update_service_item_pricing.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250225202125_fn_calculate_escalation_factor.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250304170857_fn_getmarket_code_escalation_factor.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250304175223_fn_calculate_escalated_price.up.sql
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version, ato-go-linter, appcontext-linter

you you and you panic, you do clean up
  pkg/handlers/ghcapi/payment_request.go
  pkg/handlers/ghcapi/ppm_document.go
  pkg/handlers/internalapi/ppm_shipment.go
  pkg/handlers/internalapi/uploads.go
  pkg/services/paperwork/prime_download_user_upload_to_pdf_converter.go
  pkg/services/payment_request/payment_request_bulk_download_creator.go
  pkg/services/ppmshipment.go
  pkg/services/ppmshipment/aoa_packet_creator.go
  pkg/services/ppmshipment/payment_packet_creator.go
  pkg/services/weight_ticket_parser.go
  pkg/services/weight_ticket_parser/weight_ticket_parser.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup code
  pkg/paperwork/generator.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup code
  pkg/services/ppmshipment/aoa_packet_creator.go
  pkg/services/ppmshipment/payment_packet_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Added delete button to rejected office user screen
  migrations/app/schema/20250124140959_add_rejected_and_deleted_cols_to_admin_office_users.up.sql
  src/pages/Admin/RejectedOfficeUsers/RejectedOfficeUserShow.jsx
Due: prettier, eslint

removed filter on cancelation request
  pkg/models/mto_shipments.go
Due: go-version, ato-go-linter, appcontext-linter

Fixes strings
  pkg/services/ghcrateengine/intl_ub_pricer.go
  pkg/services/ghcrateengine/intl_ub_pricer_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated comments and tests for cancelled request removal
  pkg/models/mto_shipments.go
  pkg/services/move/move_searcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert irrelevant changes
  migrations/app/migrations_manifest.txt
  yarn.lock
Due: none

some cleanup, added tests and storybooks
  src/components/RegistrationConfirmationModal/RegistrationConfirmation.stories.jsx
  src/components/RegistrationConfirmationModal/RegistrationConfirmationModal.jsx
  src/components/RegistrationConfirmationModal/RegistrationConfirmationModal.test.jsx
  src/components/StyledLine/StyledLine.jsx
  src/components/StyledLine/StyledLine.test.jsx
  src/components/ValidCACModal/ValidCACModal.jsx
  src/components/ValidCACModal/ValidCACModal.stories.jsx
  src/components/ValidCACModal/ValidCACModal.test.jsx
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/SignUp.test.jsx
Due: prettier, eslint

spacing
  src/pages/SignIn/Signin.test.jsx
Due: prettier, eslint

flag to false
  .envrc
Due: none

secondary gbloc works and tests pass
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_destination_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_destination_requests_queue_urlbuilder.go
  pkg/handlers/ghcapi/queues.go
  pkg/services/order/order_fetcher.go
  pkg/services/order/order_fetcher_test.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
