Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Rework feature flag API to use match instead of enabled
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/feature_flag.go
  pkg/handlers/apitests.go
  pkg/handlers/health.go
  pkg/handlers/internalapi/feature_flag.go
  pkg/handlers/internalapi/feature_flag_test.go
  pkg/services/feature_flag.go
  pkg/services/featureflag/env_fetcher.go
  pkg/services/featureflag/env_fetcher_test.go
  pkg/services/featureflag/flipt_fetcher.go
  pkg/services/featureflag/flipt_fetcher_test.go
  swagger-def/definitions/FeatureFlag.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Better examples and testing of client side feature flag usage
  config/env/review.app.env
  src/components/FeatureFlag/FeatureFlag.jsx
  src/components/FeatureFlag/FeatureFlag.test.jsx
  src/pages/MyMove/ConusOrNot.jsx
  src/pages/MyMove/ConusOrNot.test.jsx
Due: prettier, eslint

Change var to l
  pkg/models/line_of_accounting.go
Due: go-version, ato-go-linter, appcontext-linter

test: add tests for gex_sftp test: make gex_sftp more robust when it checks the config test: modify the cli test to incldue a FatalNoError so that it can be used
  pkg/cli/cli_test.go
  pkg/cli/gex_sftp.go
  pkg/cli/gex_sftp_test.go
Due: go-version, ato-go-linter, appcontext-linter

minor refactor and add notes for next round of code
  cmd/milmove/serve.go
Due: go-version, ato-go-linter, appcontext-linter

Addition of clarifying language
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
Due: prettier, eslint

change things to personal property
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
Due: prettier, eslint

change you're to you are
  src/components/Customer/PPM/Booking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.jsx
Due: prettier, eslint

Addition of clarifying language
  src/components/Customer/PPM/Booking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.jsx
Due: prettier, eslint

Addition of clarifying language
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

Change it's to it is
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

change things to personal property
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

upper case signature and change click to tap.
  src/components/Customer/SubmitMoveForm/SubmitMoveForm.jsx
  src/pages/MyMove/Review/Review.jsx
Due: prettier, eslint

Addition of clarifying language
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Add initial migrations
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20230721155659_add_lines_of_accounting_table.up.sql
  migrations/app/schema/20230721155723_update_tac_table.up.sql
Due: none

Add missing property
  pkg/models/transportation_accounting_code.go
Due: go-version, ato-go-linter, appcontext-linter

Typo
  migrations/app/schema/20230721155723_update_tac_table.up.sql
Due: none

add copy to all widths and modify heading
  src/pages/MyMove/Home/HomeHelpers.jsx
Due: prettier, eslint

MB-16270 create component, test, storybook files
  src/components/Office/ShipmentAddressUpdateReviewRequestModal/ShipmentAddressUpdateReviewRequestModal.jsx
  src/components/Office/ShipmentAddressUpdateReviewRequestModal/ShipmentAddressUpdateReviewRequestModal.stories.jsx
  src/components/Office/ShipmentAddressUpdateReviewRequestModal/ShipmentAddressUpdateReviewRequestModal.test.jsx
Due: prettier, eslint

Move created_at and updated_at to end field/column lists
  migrations/app/schema/20230721155659_add_lines_of_accounting_table.up.sql
  pkg/models/line_of_accounting.go
  pkg/models/transportation_accounting_code.go
Due: go-version, ato-go-linter, appcontext-linter

Combine migrations into single file
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20230721155723_add_lines_of_accounting_table_and_update_tac_table.up.sql
  migrations/app/schema/20230721155723_update_tac_table.up.sql
Due: none

Combine migrations into single file
  migrations/app/schema/20230721155723_add_lines_of_accounting_table_and_update_tac_table.up.sql
Due: none

Align nullability of model to schema migration
  pkg/models/transportation_accounting_code.go
Due: go-version, ato-go-linter, appcontext-linter

Add known comments to migration
  migrations/app/schema/20230721155723_add_lines_of_accounting_table_and_update_tac_table.up.sql
Due: none

Add comment for LOA table
  migrations/app/schema/20230721155723_add_lines_of_accounting_table_and_update_tac_table.up.sql
Due: none

refactor certRevokedOCSP function adn add clearer request logic
  cmd/milmove/serve.go
Due: go-version, ato-go-linter, appcontext-linter

Add milmove authz query to findhsipment
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Setting refetchOnWindowFocus to true
  .circleci/config.yml
  src/App/index.jsx
Due: prettier, eslint

First stab at a unit test
  pkg/models/transportation_accounting_code.go
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Add server test
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

add handler test
  pkg/handlers/internalapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

Invalid TAC unit test
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fix typo for validate test
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Addition of new paragraphs, fix title
  src/pages/MyMove/Home/HomeHelpers.jsx
  src/pages/MyMove/MovingInfo.jsx
Due: prettier, eslint

fix ppm card text.
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
