Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate, codecov-validate

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.17.1
    hooks:
      - id: golangci-lint
        entry: golangci-lint run

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.17.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        types: [yaml]

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: scripts/generate-md-toc
        language: script
        files: \.md$

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: scripts/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
    - id: circleci-validate
      name: circleci validate
      entry: scripts/pre-commit-circleci-validate
      language: script
      files: '[.]circleci/config.yml$'
      pass_filenames: false

  - repo: local
    hooks:
    - id: codecov-validate
      name: codecov validate
      entry: scripts/pre-commit-codecov-validate
      language: script
      files: .codecov.yml
      pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

Removes unnecessary merge additions.
  cmd/generate_shipment_summary/main.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_estimate.go
  pkg/handlers/internalapi/personally_procured_move_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_incentive_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/paperwork/shipment_summary.go
  pkg/paperwork/shipment_summary_test.go
  pkg/rateengine/linehaul.go
  pkg/rateengine/rateengine.go
  pkg/rateengine/rateengine_test.go
  src/scenes/Moves/Ppm/ducks.js
Due: go-version, prettier, eslint

Removed unused delete buttons and get ppm estimate
  src/scenes/Moves/Ppm/PaymentReview/ExpenseTicketListItem.jsx
  src/scenes/Moves/Ppm/PaymentReview/WeightTicketListItem.jsx
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
Due: prettier, eslint

Runs prettier.
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Review/EditWeight.jsx
Due: prettier, eslint

Remove FetchAdminUserByEmail
  pkg/models/admin_user.go
Due: go-version

Add full to weight ticket date in ppm closeout
  swagger/internal.yaml
Due: swagger

Fix full pack rate tests
  pkg/models/tariff400ng_full_pack_rate_test.go
Due: go-version

Add debug.FreeOSMemory
  pkg/handlers/internalapi/personally_procured_move_attachments.go
Due: go-version

remove needless 'append'
  pkg/edi/invoice/generator_test.go
Due: go-version

update yaml to add content-range header for pagination
  swagger/admin.yaml
Due: swagger

return content range in handler
  pkg/handlers/adminapi/offices.go
Due: go-version

Add offices to routes and side tab
  src/scenes/SystemAdmin/Home.jsx
Due: prettier, eslint

Moved net weight calculation to utility function
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
  src/scenes/Moves/Ppm/utility.js
Due: prettier, eslint

Remove console logs
  src/scenes/Landing/MoveSummary.jsx
Due: prettier, eslint

Added test case for entitlement value
  cypress/integration/mymove/ppm.js
  src/scenes/Moves/Ppm/utility.js
  src/scenes/Moves/Ppm/utility.test.js
Due: prettier, eslint

Add CloudWatch overview video
  docs/metrics.md
  docs/pairing.md
Due: markdown-toc, mdspell, gen-docs

Who needs years anyways
  docs/pairing.md
Due: markdown-toc, mdspell, gen-docs

Update updateServiceMember dispatch call so service member current duty station saves on edit
  src/scenes/Office/OrdersPanel.jsx
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier, eslint

Update React to 16.8.6
  package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

Also update ReactDOM
  package.json
  yarn.lock
Due: none

Fix tests impacted by new window change
  cypress/integration/office/documentViewer.js
  cypress/integration/tsp/generateGBL.js
  src/scenes/Office/OrdersPanel.jsx
  src/shared/DocumentViewer/DocumentList.jsx
  src/shared/utils.js
Due: prettier, eslint

Add title with SM name to Orders window
  src/scenes/Office/OrdersInfo.jsx
Due: prettier, eslint

Fix client test reference to Link
  src/shared/DocumentViewer/DocumentList.test.jsx
Due: prettier, eslint

PR Review: Update FilterMovingExpenseDocuments function signature
  pkg/models/moving_expense_document.go
  pkg/models/shipment_summary_worksheet.go
Due: go-version

Remove TODOs
  pkg/services/move_documents/storage_expense_updater.go
Due: go-version

Make StorageStartDate, StorageEndDate nil for storage expenses
  pkg/services/move_documents/generic_move_document_updater.go
Due: go-version

Fix cypress tests to specify which a tag to target
  cypress/integration/office/documentViewer.js
Due: prettier, eslint

Cleaned up unnecessary console logs and comments
  src/scenes/Moves/Ppm/PaymentReview/ExpenseTicketListItem.jsx
  src/scenes/Moves/Ppm/PaymentReview/WeightTicketListItem.jsx
  src/scenes/Moves/Ppm/utility.js
Due: prettier, eslint

Add additional bin path to update_dependencies_go job
  .circleci/config.yml
Due: circleci-validate

Modify css and html so that text wraps and lbs remains next to field
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.css
Due: prettier, eslint

Use entitlement instead of weight ticket net weight if it is larger than entitlement
  src/scenes/Moves/Ppm/PaymentReview/ExpenseTicketListItem.jsx
  src/scenes/Moves/Ppm/PaymentReview/WeightTicketListItem.jsx
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
Due: prettier, eslint

WIP: using bimg
  cmd/process_image/main.go
  go.mod
  go.sum
  pkg/handlers/internalapi/uploads.go
Due: go-version, gomod

Add migration to fix admin user data and require first and last name
  migrations/20190807134704_admin_user_fname_lname_required.up.fizz
  migrations_manifest.txt
Due: none

change moves with duty stations, delete duty stations w/ no zip3
  migrations/20190807163505_modify-moves-bad-zip3-and-delete.up.sql
  migrations_manifest.txt
Due: none

Fix bug by specifying doc-link a tag
  cypress/integration/office/documentViewer.js
Due: prettier, eslint

WIP
  cmd/process_image/main.go
  go.mod
  go.sum
  pkg/handlers/internalapi/uploads.go
  pkg/uploader/uploader.go
Due: go-version, gomod

Add foreign key
  migrations/20190807134704_admin_user_fname_lname_required.up.fizz
Due: none

Add org foreign key
  migrations/20190807134704_admin_user_fname_lname_required.up.fizz
Due: none

Separate test into two to avoid delay in data update causing failure
  cypress/integration/office/documentViewer.js
Due: prettier, eslint

Config for deploying to experimental
  .circleci/config.yml
Due: circleci-validate
