Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

gen-docs-index:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

Remove unecessary data from tariff400ng_zip3s_fixture and sort data by zip3s
  pkg/services/ghcimport/fixtures/tariff400ng_zip3s_fixture.csv
Due: none

Use the higher level etag generation function.
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
Due: go-version

Add leading zero characters for zip3s and missing records for zip5s
  pkg/services/ghcimport/fixtures/tariff400ng_zip3s_fixture.csv
  pkg/services/ghcimport/fixtures/tariff400ng_zip5_rate_areas_fixture.csv
Due: none

Add Etag to prime shipments payload
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_shipment.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  swagger/prime.yaml
Due: go-version, swagger

Update update-mto-shipment command to deal with if-match
  cmd/prime-api-client/update_mto_shipment.go
Due: go-version

Fix circle config
  .circleci/config.yml
Due: none

Skip problem tests to stop blocking
  cypress/integration/mymove/ppm.js
Due: prettier, eslint

MB-1793 Migration for donald cac
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20200302220909_donald_cac.up.sql
Due: none

Update login to ecr for docker-compose
  Makefile
Due: none

add move locator in move approved email and log
  pkg/notifications/move_approved.go
  pkg/notifications/templates/move_approved_template.html
  pkg/notifications/templates/move_approved_template.txt
Due: go-version

update move approved email and add tests
  pkg/assets/assets.go
  pkg/notifications/move_approved.go
  pkg/notifications/move_approved_test.go
  pkg/notifications/notification_test.go
  pkg/notifications/templates/move_approved_template.html
  pkg/notifications/templates/move_approved_template.txt
Due: go-version

Abstract most errors from mto shipment
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/services/errors.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/mto_shipment/mto_shipment_fetcher_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

Abstract errors in mto service object
  pkg/handlers/ghcapi/move_task_order.go
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

Abstract errors in move order service object
  pkg/services/move_order/move_order_fetcher.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

Abstract errors in upload service object
  pkg/handlers/adminapi/upload_information.go
  pkg/services/upload/upload_information_fetcher.go
Due: go-version

Abstract errors from customer
  pkg/services/office_user/customer/customer.go
Due: go-version

WARNING TO FIX; Add function to check title before location to fix timing issue in tests
  cypress/integration/mymove/ppm.js
  cypress/support/commands.js
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/Weight.jsx
Due: prettier, eslint

Add tests for the weights screen (icon and txt): MB-1797 (#3648)
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Moves/Ppm/Weight.test.js
Due: prettier, eslint

fix the variable name from make to model for GET bug
  pkg/handlers/internalapi/move_documents.go
Due: go-version

Add line to diisable eslint for test command
  cypress/support/commands.js
Due: prettier, eslint

make lowercase: moveApprovedEmailData
  pkg/notifications/move_approved.go
  pkg/notifications/move_approved_test.go
Due: go-version

Add move locator to approved email: MB-1688 (#3661)
  pkg/assets/assets.go
  pkg/notifications/move_approved.go
  pkg/notifications/move_approved_test.go
  pkg/notifications/notification_test.go
  pkg/notifications/templates/move_approved_template.html
  pkg/notifications/templates/move_approved_template.txt
Due: go-version

Enforce child of TabNav to be a TabPanel
  src/components/TabNav/index.jsx
Due: prettier, eslint

Fix github suggestion commit errors
  src/components/.eslintrc
  src/components/TabNav/index.jsx
Due: prettier, eslint

Create TabNavPanel component to wrap react-tabs TabPanel
  src/components/TabNavPanel/index.jsx
  src/components/TabNavPanel/index.test.jsx
Due: prettier, eslint

Switch to using TabNavPanel vs TabPanel
  src/components/TabNav/index.jsx
  src/components/TabNav/index.test.jsx
  src/stories/tabNav.stories.jsx
Due: prettier, eslint

update virus scan docs to include source code scan
  docs/how-to/test-virus-scanning.md
Due: gen-docs-index

Update test-virus-scanning.md
  docs/how-to/test-virus-scanning.md
Due: gen-docs-index

appease markdown linter
  docs/how-to/test-virus-scanning.md
Due: gen-docs-index

Adjust margin of storybook frame
  .storybook/config.js
  .storybook/storybook.scss
Due: prettier, eslint

Start to rewrite test for fetch of documents
  pkg/models/move_documents_extractor_test.go
Due: go-version

Update border of TabNav to border-bottom
  src/components/TabNav/index.module.scss
Due: none

update email move survey - add moveLocator
  pkg/notifications/move_reviewed.go
  pkg/notifications/move_reviewed_test.go
Due: go-version

Fix typo in "orders" application comparison
  scripts/run-server-test-in-circle-container
Due: none

Fix client code generation
  scripts/gen-server
Due: none

Add moving expense to doc list to test; adjust default weight ticket maker
  pkg/models/move_documents_extractor_test.go
  pkg/testdatagen/make_weight_ticket_set_document.go
Due: go-version

update email copy, add tests
  pkg/assets/assets.go
  pkg/notifications/move_payment_reminder.go
  pkg/notifications/move_payment_reminder_test.go
  pkg/notifications/move_submitted_test.go
  pkg/notifications/notification_test.go
  pkg/notifications/templates/move_payment_reminder_template.html
  pkg/notifications/templates/move_payment_reminder_template.txt
  pkg/notifications/templates/move_submitted_template.html
  pkg/notifications/templates/move_submitted_template.txt
Due: go-version

proposal for adding prime user to ghc
  cmd/milmove/serve.go
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200304172954_create_prime_requester_table.up.sql
  pkg/middleware/prime_requester.go
  pkg/models/prime_requester.go
  pkg/primerequester/prime_requester.go
Due: go-version

Deploy to experimental
  .circleci/config.yml
Due: none

Add asserts for weight ticket type; change extractor model to WEIGHTTICKETSETTYPE rather than string; remove old tests
  pkg/models/move_document.go
  pkg/models/move_documents_extractor.go
  pkg/models/move_documents_extractor_test.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  gen-docs-index: any of: \.md$
