Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Clean up on Shipment display after rebasing
  src/components/Office/RequestedShipments/RequestedShipments.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.test.jsx
Due: prettier, eslint

Remove CAC access for carterjones, monfresh, ronolibert, and shkeating
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220126235958_remove_cac_access_carterjones_monfresh_ronolibert_and_shkeating.up.sql
Due: none

fix integration test
  cypress/integration/mymove/mymoveCSRFProtect.js
  cypress/integration/mymove/orders.js
Due: prettier

Apply suggestions from code review to fix typos
  docs/adr/0067-ppm-db-design.md
Due: none

Add a move to e2e for testing. Fix e2e test so it's not using moment.
  cypress/integration/office/servicescounseling/servicesCounselingFlows.js
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
Due: go-version, prettier

add back dummy package-lock.json to clear dependabot security alerts
  .gitignore
  package-lock.json
Due: none

Remove moment import statement
  cypress/integration/office/servicescounseling/servicesCounselingFlows.js
Due: prettier

remove comment
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version

re-add package-lock.json to gitignore
  .gitignore
Due: none

Makes changes requested by reviewer
  src/components/Office/AccountingCodesModal/AccountingCodesModal.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.jsx
Due: prettier, eslint

update react-file-viewer to resolve three security vulnerability
  package.json
  yarn.lock
Due: none

initial migration set up
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220127161111_archive_ppm_data.up.sql
Due: none

Adding logs to go files
  pkg/models/activity_log.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, swagger

create all service codes in the new test so test can be run stand alone
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version

remove react-file-viewer test branch now that it was merged
  package.json
  yarn.lock
Due: none

uncomment out amended orders test
  cypress/integration/mymove/orders.js
Due: prettier

add nullable string for SAC fields
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/counseling_update_order_payload.go
  pkg/gen/ghcmessages/update_order_payload.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/services/order/order_updater.go
  pkg/services/order/order_updater_test.go
  pkg/swagger/nullable/string.go
  swagger-def/definitions/NullableString.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

PR to exercise the CircleCI keys
  .circleci/config.yml
Due: none

[MB-11016] Update react-file-viewer to resolve three security vulnerability (#8095)
  yarn.lock
Due: none

MB-10670 Add first pass at the new PPMShipment model
  pkg/models/ppm_shipment.go
Due: go-version

ppm shipment table migration
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20220127234422_create_ppm_shipment_table.up.sql
Due: none

minor edits to ppm shipment table columns
  pkg/models/ppm_shipment.go
Due: go-version

[MB-11016] Add back dummy package-lock.json to clear dependabot security alerts (#8094)
  package-lock.json
Due: none

Add back in exports to util functions that are used on MTO shipments page after merge
  src/utils/formatMtoShipment.js
Due: prettier, eslint

Make it so we use the correct labels when editing orders using the OrdersDetailForm component. Refactor logic for the label into a reusable function. Add storybook stories for these label conditions.
  src/components/CustomerHeader/CustomerHeader.stories.jsx
  src/components/CustomerHeader/index.jsx
  src/components/Office/DefinitionLists/OrdersList.jsx
  src/components/Office/DefinitionLists/OrdersList.stories.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.stories.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.test.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/utils/formatters.js
Due: prettier, eslint

Merge branch 'master' into MB-11181-update-formatWeights-import-NT
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: prettier, eslint

Add in the handler for editing accounting codes
  src/components/Office/ShipmentDetails/ShipmentDetails.jsx
Due: prettier, eslint

Add the AccountingCodesModal and logic around it
  src/components/Office/ShipmentDetails/ShipmentDetailsSidebar.jsx
Due: prettier, eslint

don't show warning flags for ntsr
  src/components/ShipmentList/ShipmentList.test.jsx
  src/components/ShipmentList/index.jsx
Due: prettier, eslint

Add the real Edit button
  src/components/Office/ShipmentDetails/ShipmentDetailsSidebar.jsx
Due: prettier, eslint

Refactor AccountingCodesModal component
  src/components/Office/AccountingCodesModal/AccountingCodesModal.jsx
Due: prettier, eslint

Refactor the name to be less generic;
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Add handler for editing accounting codes
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Added helper functions for determining addresses used when pricing shipment-based service items
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups_test.go
  pkg/testdatagen/make_mto_service_item.go
Due: go-version

Refactor the modal;
  src/components/Office/AccountingCodesModal/AccountingCodesModal.jsx
  src/components/Office/ShipmentDetails/ShipmentDetailsSidebar.jsx
Due: prettier, eslint

Fix the changes that were broken in the rebase
  src/components/Office/ShipmentDetails/ShipmentDetailsSidebar.jsx
Due: prettier, eslint

Initial sketch for connecting modal with Orders;
  src/components/Office/ShipmentDetails/ShipmentDetailsSidebar.jsx
Due: prettier, eslint

use SHIPMENT_OPTIONS in tests
  src/components/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

fix new eslint errors from airbnb config v19 upgrade
  .eslintrc.js
  package.json
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/components/CustomerRemarksAgentsDetails/index.jsx
  src/components/DocumentViewer/DocumentViewer.jsx
  src/components/MigratedModal/MigratedModal.stories.jsx
  src/components/Office/ServiceItemCalculations/ServiceItemCalculations.jsx
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/PrimeUI/CreatePaymentRequestForm/CreatePaymentRequestForm.jsx
  src/components/form/fields/DutyStationInput.test.jsx
  src/constants/serviceItems.js
  src/content/serviceItems.js
  src/layout/LogoutOnInactivity.jsx
  src/pages/MyMove/Home/index.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
  src/pages/Office/index.jsx
  src/store/auth/reducer.js
  src/store/flash/reducer.js
  src/store/interceptor/reducer.js
  src/store/onboarding/reducer.js
  swagger/ghc.yaml
  swagger/internal.yaml
  yarn.lock
Due: prettier, eslint, swagger

- (Working) Created middleware to intercept all PATCH, POST, DELETE requests - (Working) Read session from request to get user id - (Not working) Creating a DB temp table and insert user id into it
  cmd/milmove/serve.go
  pkg/auth/authentication/auth.go
Due: go-version
