Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

B-20497
  pkg/services/requested_office_users/requested_office_user_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Hide request cancellation when cancellation already requested
  src/components/Office/ShipmentHeading/ShipmentHeading.jsx
Due: prettier, eslint

Fix tests for hiding request cancellation when cancellation already requested
  src/components/Office/ShipmentHeading/ShipmentHeading.test.jsx
Due: prettier, eslint

uncomment out validation check; default feature flag to true in components
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.jsx
  src/components/Office/DefinitionLists/PPMShipmentInfoList.jsx
  src/components/Office/DefinitionLists/ShipmentInfoList.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: prettier, eslint

update migration and development.features yaml
  config/flipt/storage/development.features.yaml
  migrations/app/schema/20240718021218_add_assigned_cols_to_moves.up.sql
Due: none

fix bug with sit expected
  pkg/handlers/ghcapi/ppm_shipment.go
  pkg/services/moving_expense/moving_expense_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Added new functions, fields for breakdown
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/p_p_m_s_i_t_estimated_cost.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/ppm_shipment.go
  pkg/models/ppm_shipment.go
  pkg/services/mocks/PPMEstimator.go
  pkg/services/ppmshipment.go
  pkg/services/ppmshipment/ppm_estimator.go
  swagger-def/definitions/PPMSITEstimatedCost.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

initial commit, working on loading in the right data, still need to figure out pro gear and expenses once deleted
  pkg/models/move.go
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
  src/store/entities/selectors.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updated statuses, brought in sent to gex date, tests
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
  src/types/order.js
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

allow sc to view & edit orders until move is approved by TOO
  playwright/tests/office/servicescounseling/servicesCounselingFlows.spec.js
  playwright/tests/office/servicescounseling/servicesCounselingTestFixture.js
  playwright/tests/utils/office/waitForOfficePage.js
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
  src/shared/constants.js
Due: prettier, eslint

add test
  pkg/services/requested_office_users/requested_office_user_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove extra check
  pkg/services/requested_office_users/requested_office_user_updater.go
Due: go-version, ato-go-linter, appcontext-linter

capitalize GEX, check for nulls, test updates
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
Due: prettier, eslint

added model, def. Need to confirm mobilHome and migration process
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/m_t_o_shipment.go
  pkg/gen/internalmessages/mobile_home.go
  pkg/models/mobile_home.go
  pkg/models/mto_shipments.go
  swagger-def/definitions/MobileHome.yaml
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

update tests per DJs solution
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.jsx
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.test.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.jsx
  src/components/Office/DefinitionLists/NTSShipmentInfoList.test.jsx
  src/components/Office/DefinitionLists/PPMShipmentInfoList.jsx
  src/components/Office/DefinitionLists/ShipmentInfoList.jsx
  src/components/Office/DefinitionLists/ShipmentInfoList.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

added back style and changed width to 400px
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

update weights used for multiple trips and weight tickets
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
Due: prettier, eslint

Added null check
  src/components/Customer/Review/Summary/Summary.jsx
Due: prettier, eslint

removed clicks no needed
  playwright/tests/office/servicescounseling/servicesCounselingFlows.spec.js
Due: prettier, eslint

Diversion tag in BillableWeights component
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.jsx
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.module.scss
  src/components/ShipmentModificationTag/ShipmentModificationTag.module.scss
Due: prettier, eslint

Tests for diversion tag in BillableWeights component
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.test.jsx
Due: prettier, eslint

Clean up for diversion tag in BillableWeights component
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.module.scss
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.test.jsx
Due: prettier, eslint

add sac 80 character limit
  src/components/Office/OrdersDetailForm/OrdersDetailForm.jsx
Due: prettier, eslint

B-20493 update query
  pkg/handlers/ghcapi/tranportation_offices.go
  pkg/handlers/internalapi/transportation_offices.go
  pkg/services/transportation_office.go
  pkg/services/transportation_office/transportation_office_fetcher.go
  pkg/services/transportation_office/transportation_office_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

replacing useNavigate with window.location.href because navigate wasn't working for some reason for devlocal customers created by SCs
  src/shared/SmartCardRedirect/SmartCardRedirect.jsx
Due: prettier, eslint

gen mocks
  pkg/services/mocks/TransportationOfficesFetcher.go
Due: go-version, ato-go-linter, appcontext-linter

got moving expenses and pro gear working for multi moves, that was fun
  pkg/models/move.go
  src/pages/MyMove/PPM/Closeout/ProGear/ProGear.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updated query to skip deleted weight tickets, updated tests to allow for passing
  pkg/models/move.go
  src/pages/MyMove/PPM/Closeout/ProGear/ProGear.test.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updated Review component tests
  src/pages/MyMove/PPM/Closeout/Review/Review.test.jsx
Due: prettier, eslint

add unique key for every weight ticket
  src/components/Office/PPM/EditNetWeights/EditPPMNetWeight.jsx
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
Due: prettier, eslint

Added destination GBLOC to migrations for DB, and to each prime versions YAML. Added backend code to send GBLOC to prime. Edited test generation code to generate this new destination_gbloc column.
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240719192106_add_destination_gbloc_to_orders.up.sql
  pkg/factory/order_factory.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/order.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/order.go
  pkg/gen/primev3api/embedded_spec.go
  pkg/gen/primev3messages/order.go
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/primeapiv3/payloads/model_to_payload.go
  pkg/models/order.go
  pkg/models/service_member.go
  pkg/testdatagen/scenario/shared.go
  swagger-def/definitions/prime/Order.yaml
  swagger-def/definitions/prime/v2/Order.yaml
  swagger-def/definitions/prime/v3/Order.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
  swagger/prime_v3.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

add tests for multiple weight ticketes
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.test.jsx
  src/utils/test/factories/weightTicket.js
Due: prettier, eslint

create/populate state column data
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240719222007_add_state_to_us_post_region_cities.up.sql
Due: none

Added tertiary address to shipment and PrimeUI jsx
  src/components/PrimeUI/Shipment/Shipment.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdate.jsx
Due: prettier, eslint

account for deleted docs
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

initial commit, added indexes
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240722134633_update_move_history_indexes.up.sql
Due: none

increasing timeout of flaky test
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.test.jsx
Due: prettier, eslint

added style and changed px back to 500
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.module.scss
Due: prettier, eslint

remove swagger changes
  swagger/ghc.yaml
Due: swagger
