Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

gen-docs-index:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

makes adjustments requested by design:
  src/shared/styles/_custom.scss
Due: none

remove debug stmts from tests (#3800)
  src/scenes/Landing/index.test.js
  src/scenes/SystemAdmin/shared/AdminPagination.test.js
Due: prettier, eslint

Prettier run.
  pkg/models/move_documents_extractor_test.go
Due: go-version

Add additional Zip3s
  pkg/services/ghcimport/fixtures/tariff400ng_zip3s_fixture.csv
Due: none

Set up docker-compose.prime.yml
  docker-compose.prime.yml
Due: none

Try setting up script and make command
  Makefile
  scripts/README.md
  scripts/run-prime-docker
Due: gen-docs-index

Update storybook test docker to use pre_deps_yarn cache in CircleCI
  Dockerfile.storybook_local
  docker-compose.storybook_local.yml
  scripts/run-storybook-tests
Due: none

Add workaround for yarn install issues
  .circleci/config.yml
  Dockerfile.storybook
  Makefile
Due: none

Update yarn.lock
  yarn.lock
Due: none

Add workaround for bug in babel plugin
  package.json
Due: none

Remove node_modules from .dockerignore when building storybook image
  scripts/run-storybook-tests
Due: none

Add more context
  scripts/README.md
Due: gen-docs-index

Update yarn.lock after merge
  yarn.lock
Due: none

Roll back upgrade of babel-core lock to 7.8.7
  package.json
  yarn.lock
Due: none

Allow minor version updates for babel/core
  package.json
  yarn.lock
Due: none

Create a bare bones doc on how to run the prime docker
  docs/README.md
  docs/how-to/run-prime-docker.md
  scripts/run-prime-docker
Due: gen-docs-index

prettier run 2 electric boogaloo.
  cypress/integration/api/static/staticHosting.js
  cypress/integration/mymove/homepage.js
  cypress/integration/mymove/landingPages.js
  cypress/integration/mymove/mymoveCSRFProtect.js
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/ppmCloseout.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/styleguide.js
  cypress/integration/office/cancelAndStartNewMove.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/homepage.js
  cypress/integration/office/officeCSRFProtect.js
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/ppmMoveDocuments.js
  cypress/support/commands.js
  cypress/support/createServiceMember.js
  cypress/support/index.js
  cypress/support/storagePanel.js
  cypress/support/utils.js
  wallaby.js
Due: prettier, eslint

prettier run 2 electric boogaloo.
  .storybook/webpack.config.js
Due: prettier, eslint

Fix lint errors
  src/stories/.eslintrc
  src/stories/index.stories.jsx
Due: prettier, eslint

Remove most ppm.currentPpm references; replace createOrUpdate with update fn and use entities version of currentPPM
  src/scenes/Moves/Ppm/Weight.jsx
Due: prettier, eslint

Clarify documentation around different types of testing
  docs/frontend.md
Due: gen-docs-index

Turn off uswds theme notifications
  src/shared/styles/_settings.scss
Due: none

Update swagger to fix nullable issues on mtos
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_shipment.go
  pkg/gen/primemessages/move_order.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  swagger/prime.yaml
Due: go-version, swagger

Fixed issue caused by merge
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/testdatagen/make_mto_shipment.go
  swagger/prime.yaml
Due: go-version, swagger

connected API to upload handlers,working with postman
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/upload.go
  pkg/handlers/primeapi/upload_test.go
  pkg/services/payment_request/upload_creator.go
Due: go-version

build and tag docker prod file for milmove admin aka engadmin
  .circleci/config.yml
Due: none

enable docker deamon
  .circleci/config.yml
Due: none

make working dir env variable to handle multiple repo paths
  .circleci/config.yml
Due: none

wip
  .circleci/config.yml
Due: none

no need for full path when using working dir
  .circleci/config.yml
Due: none

Update scripts/README.md
  scripts/README.md
Due: gen-docs-index

Update docs/how-to/run-prime-docker.md
  docs/how-to/run-prime-docker.md
Due: gen-docs-index

Update scripts/run-prime-docker
  scripts/run-prime-docker
Due: none

Add more to documentation.
  docs/how-to/run-prime-docker.md
Due: gen-docs-index

add help text for make command
  Makefile
Due: none

write down what required env variables exist now. might be smaller down the road but let future story take care of that.
  docs/how-to/run-prime-docker.md
Due: gen-docs-index

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  gen-docs-index: any of: \.md$
