Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

MB-6175 Add ShowHide function to MoveTaskOrderUpdater interface
  pkg/services/mocks/MoveTaskOrderUpdater.go
  pkg/services/move_task_order.go
Due: go-version

Quick fix to remove nil deref
  cmd/webhook-client/utils/connection.go
Due: go-version

MB-6175 Call ShowHide service object in UpdateMoveHandler Handle function
  pkg/handlers/adminapi/moves.go
Due: go-version

Adding sit distance at destination lookup; still needs tests and some changes from other in-progress PRs
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210120204808_change_sit_distance_param_names.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/service_item_param_name.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/service_item_param_name.go
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_dest.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  swagger/ghc.yaml
  swagger/prime.yaml
Due: go-version, swagger, spectral

Added unit tests
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_dest_lookup.go
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_dest_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups_test.go
Due: go-version

Removing webhook_client_test from CircleCI
  .circleci/config.yml
Due: none

MB-6175 Add tests for new MTO ShowHide service object
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version

add tests for new user updater service object
  pkg/services/user/user_updater_test.go
Due: go-version

MB-6175 Remove unneeded queryfilter for UpdateMoveHandler
  pkg/handlers/adminapi/api.go
  pkg/handlers/adminapi/moves.go
Due: go-version

Annotate weak cryptographic hash usages
  cmd/compare-secure-migrations/main.go
  pkg/storage/storage.go
Due: go-version

Payment Request address refactors
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.stories.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.stories.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.test.jsx
  src/hooks/queries.js
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.test.jsx
  src/utils/shipmentDisplay.jsx
  src/utils/shipmentDisplay.test.jsx
Due: prettier, eslint

MB-6175 Add tests for UpdateMoveHandler
  pkg/handlers/adminapi/moves_test.go
Due: go-version

Remove Padding On the Site Content
  src/App/index.css
Due: none

UT change in code
  pkg/handlers/primeapi/mto_service_item_test.go
Due: go-version

MB-6175 Fix issues with saving the updated move
  pkg/services/move_task_order/move_task_order_updater.go
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version

stub PPM rate engine mb-6160 (#5699)
  cypress/integration/mymove/ppm.js
  pkg/handlers/internalapi/personally_procured_move_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_incentive_test.go
  pkg/models/transportation_service_provider_performance.go
  pkg/models/transportation_service_provider_performance_test.go
  src/scenes/Review/EditWeight.jsx
Due: go-version, prettier, eslint

Change the MilMoveHeader To Take in A HandleLogout and Change the Sign out Back to a Button
  src/components/MilMoveHeader/MilMoveHeader.stories.jsx
  src/components/MilMoveHeader/index.jsx
  src/components/MilMoveHeader/index.module.scss
  src/pages/Office/index.jsx
Due: prettier, eslint

rename file to match other formats
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210119230439_updateSITorigin.up.sql
  migrations/app/schema/20210119230439_update_create_sit_origin_actual_address.up.sql
Due: none

payment request address cleanup
  pkg/testdatagen/scenario/devseed.go
  src/components/Office/PaymentRequestCard/PaymentRequestCard.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.stories.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
  src/hooks/queries.js
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
Due: go-version, prettier, eslint

Validate that use case for MD5 has low/negigible security impact
  cmd/compare-secure-migrations/main.go
  pkg/storage/storage.go
Due: go-version

Update MilMoveHeader to Use More Generic Props for Displaying the Name
  src/components/MilMoveHeader/MilMoveHeader.stories.jsx
  src/components/MilMoveHeader/index.jsx
  src/pages/Office/index.jsx
Due: prettier, eslint

Use more succinct SQL syntax
  migrations/app/schema/20210112002844_add_sit_addresses.up.sql
Due: none

sql file was deleted when tried to do a rename
  migrations/app/schema/20210119230439_update_create_sit_origin_actual_address.up.sql
Due: none

Update updated_at field for changed rows
  migrations/app/schema/20210120194932_update_zip_sit_dest_hhg_final_address_service_param_key.up.sql
Due: none

Update generated files from swagger changes
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/service_item_param_name.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/service_item_param_name.go
Due: go-version

Adjustments after merge to use new fields
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_dest_lookup.go
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_dest_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

Add error check
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

Hard-coded IDs to match hard-coded discount rate expectations
  pkg/models/transportation_service_provider_performance_test.go
Due: go-version

Print err if cacStore fails to close
  cmd/prime-api-client/prime/create_mto_service_item.go
  cmd/prime-api-client/prime/create_mto_shipment.go
  cmd/prime-api-client/prime/create_payment_request.go
  cmd/prime-api-client/prime/create_upload.go
  cmd/prime-api-client/prime/fetch_mto_updates.go
  cmd/prime-api-client/prime/update_mto_agent.go
  cmd/prime-api-client/prime/update_mto_post_counseling_information.go
  cmd/prime-api-client/prime/update_mto_service_item.go
  cmd/prime-api-client/prime/update_mto_shipment.go
  cmd/prime-api-client/prime/update_mto_shipment_address.go
  cmd/prime-api-client/support/create_move_task_order.go
  cmd/prime-api-client/support/get_move_task_order.go
  cmd/prime-api-client/support/get_payment_request_edi.go
  cmd/prime-api-client/support/hide_non_fake_move_task_orders.go
  cmd/prime-api-client/support/list_mto_payment_requests.go
  cmd/prime-api-client/support/list_mtos.go
  cmd/prime-api-client/support/make_move_task_order_available.go
  cmd/prime-api-client/support/process_reviewed_payment_requests.go
  cmd/prime-api-client/support/update_mto_service_item_status.go
  cmd/prime-api-client/support/update_mto_shipment_status.go
  cmd/prime-api-client/support/update_payment_request_status.go
  cmd/webhook-client/db_webhook_notify.go
  cmd/webhook-client/post_webhook_notify.go
Due: go-version

Log errors for closing of connection in prime api client
  cmd/prime-api-client/prime/create_mto_service_item.go
  cmd/prime-api-client/prime/create_mto_shipment.go
  cmd/prime-api-client/prime/create_payment_request.go
  cmd/prime-api-client/prime/create_upload.go
  cmd/prime-api-client/prime/fetch_mto_updates.go
  cmd/prime-api-client/prime/update_mto_agent.go
  cmd/prime-api-client/prime/update_mto_post_counseling_information.go
  cmd/prime-api-client/prime/update_mto_service_item.go
  cmd/prime-api-client/prime/update_mto_shipment.go
  cmd/prime-api-client/prime/update_mto_shipment_address.go
  cmd/prime-api-client/support/create_move_task_order.go
  cmd/prime-api-client/support/get_move_task_order.go
  cmd/prime-api-client/support/get_payment_request_edi.go
  cmd/prime-api-client/support/hide_non_fake_move_task_orders.go
  cmd/prime-api-client/support/list_mto_payment_requests.go
  cmd/prime-api-client/support/list_mtos.go
  cmd/prime-api-client/support/make_move_task_order_available.go
  cmd/prime-api-client/support/process_reviewed_payment_requests.go
  cmd/prime-api-client/support/update_mto_service_item_status.go
  cmd/prime-api-client/support/update_mto_shipment_status.go
  cmd/prime-api-client/support/update_payment_request_status.go
  cmd/prime-api-dev/scripts/payment_requests.go
  cmd/webhook-client/db_webhook_notify.go
  cmd/webhook-client/post_webhook_notify.go
  cmd/webhook-client/utils/connection.go
  pkg/handlers/internalapi/moves.go
  pkg/services/invoice/invoice_upload_updater_test.go
Due: go-version

Use available logging methods
  cmd/milmove/gen.go
  cmd/webhook-client/post_webhook_notify.go
Due: go-version

use Stub in Assertions for MakeAddress, update use of copying the address in service item creator
  pkg/handlers/primeapi/mto_service_item_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
Due: go-version

use Stub in Assertions for MakeAddress more updates
  pkg/handlers/primeapi/mto_service_item_test.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
Due: go-version

add indexes to foreign keys
  migrations/app/schema/20210119230439_update_create_sit_origin_actual_address.up.sql
Due: none

remove GetAWSConfig from survey
  cmd/milmove-tasks/send_post_move_survey_email.go
Due: go-version

make statements more succint in sql
  migrations/app/schema/20210119230439_update_create_sit_origin_actual_address.up.sql
Due: none

remove comment
  pkg/handlers/adminapi/users.go
Due: go-version

MB-6184 Add Users list page to admin app (#5705)
  cypress/integration/admin/hompage.js
  cypress/integration/admin/users.js
  cypress/support/commands.js
  cypress/support/constants.js
  pkg/gen/adminapi/adminoperations/users/index_users_parameters.go
  pkg/gen/adminapi/adminoperations/users/index_users_urlbuilder.go
  pkg/gen/adminapi/embedded_spec.go
  pkg/handlers/adminapi/users.go
  src/pages/Admin/Users/UserList.jsx
  src/scenes/SystemAdmin/CustomRoutes.jsx
  src/scenes/SystemAdmin/Home.jsx
  src/scenes/SystemAdmin/Users/UserSearch.jsx
  src/scenes/SystemAdmin/Users/UserShow.jsx
  swagger/admin.yaml
Due: go-version, prettier, eslint, swagger

set default to expect just one proof of service doc
  scripts/prime-api-demo
Due: none

Add logic to determine views of headers
  src/pages/Office/index.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
