Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

required asterisks + test updates for OfficeAccountRequestFields
  src/components/form/OfficeAccountRequestFields/OfficeAccountRequestFields.jsx
  src/components/form/OfficeAccountRequestFields/OfficeAccountRequestFields.test.jsx
Due: prettier, eslint

more env var?
  .gitlab-ci.yml
Due: none

add threats_found to swagger
  pkg/gen/internalapi/embedded_spec.go
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

roll back changes
  src/components/CustomerHeader/index.module.scss
  src/constants/routes.js
  src/pages/Office/Office.module.scss
  src/pages/Office/index.jsx
Due: prettier, eslint

remove line files
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
  src/pages/PrimeUI/AvailableMoves/AvailableMovesQueue.module.scss
Due: none

adding missing from int
  src/components/CustomerHeader/index.module.scss
  src/constants/routes.js
  src/pages/Office/Office.module.scss
  src/pages/Office/index.jsx
Due: prettier, eslint

remove extra path
  src/constants/routes.js
Due: prettier, eslint

INT-B-23183 Remove newline INT BRANCH ONLY
  config/env/prd.app-client-tls.env
Due: none

fixing linter
  src/pages/Office/PPM/Closeout/ProGear/ProGear.jsx
Due: prettier, eslint

required asterisks + test updates for ProGearForm, ReviewDocumentsSidePanel
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.jsx
  src/components/Shared/PPM/Closeout/ProGearForm/ProGearForm.test.jsx
Due: prettier, eslint

Forgot to rename this field for test
  src/components/Shared/PPM/Closeout/GunSafeForm/GunSafeForm.test.jsx
Due: prettier, eslint

more memory
  .gitlab-ci.yml
Due: none

moved prime
  src/pages/Office/Office.module.scss
  src/pages/Office/index.jsx
Due: prettier, eslint

added the story style properties and values in the multirole select
  src/pages/Office/MultiRoleSelectApplication/MultiRoleSelectApplication.stories.jsx
  src/pages/Office/MultiRoleSelectApplication/MultiRoleStoryDecorator.module.scss
Due: prettier, eslint

test updates for WeightTicketForm, WeightTicketUpload
  src/components/Shared/PPM/Closeout/WeightTicketForm/WeightTicketForm.test.jsx
  src/components/Shared/PPM/Closeout/WeightTicketUpload/WeightTicketUpload.test.jsx
Due: prettier, eslint

fixed styling for header list items
  src/components/MilMoveHeader/index.module.scss
Due: none

remove/add routes and class for styling
  src/components/CustomerHeader/index.jsx
  src/components/CustomerHeader/index.module.scss
  src/constants/routes.js
Due: prettier, eslint

revert
  src/components/CustomerHeader/index.jsx
Due: prettier, eslint

B-23761 - tests passing.
  pkg/handlers/adminapi/requested_office_users_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing merge
  pkg/payment_request/service_param_value_lookups/per_unit_cents_lookup_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing merge
  swagger/ghc.yaml
Due: swagger

some minor code changes when updating actual move date and addressing GCC multiplier
  pkg/services/ppmshipment/ppm_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

more storage
  .gitlab-ci.yml
Due: none

initial commit
  pkg/handlers/primeapiv2/api.go
  pkg/handlers/primeapiv2/mto_shipment.go
  pkg/handlers/primeapiv2/mto_shipment_test.go
  pkg/handlers/primeapiv3/api.go
  pkg/handlers/primeapiv3/mto_shipment.go
  pkg/handlers/primeapiv3/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing merge issue
  swagger/ghc.yaml
Due: swagger

added missing doc func
  pkg/handlers/ghcapi/gunsafe_weight_ticket_test.go
  pkg/models/gunsafe_weight_ticket.go
  pkg/models/gunsafe_weight_ticket_test.go
  pkg/services/ppmshipment/payment_packet_creator.go
  pkg/services/ppmshipment/payment_packet_creator_test.go
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.stories.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

text fix
  pkg/handlers/ghcapi/gunsafe_weight_ticket_test.go
Due: go-version, ato-go-linter, appcontext-linter

update customer & service forms and add dml
  migrations/app/dml_migrations_manifest.txt
  migrations/app/schema/20250623021203_alter_service_members_add_column_preferred_name.up.sql
  pkg/models/service_member.go
  pkg/services/office_user/customer/customer_updater.go
  src/components/Customer/Profile/ContactInfoDisplay/ContactInfoDisplay.jsx
  src/components/Office/CustomerContactInfoForm/CustomerContactInfoForm.jsx
  src/pages/MyMove/Profile/EditServiceInfo.jsx
  src/pages/Office/CustomerOnboarding/CreateCustomerForm.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

fixed tio failing test for values and dates
  playwright/tests/office/txo/tioFlowsNTS.spec.js
Due: prettier, eslint, playwright_tsc

Merge branch 'main' into B-22666-Int-additions
  yarn.lock
Due: none

Revert "Merge branch 'main' into B-22666-Int-additions"
  yarn.lock
Due: none

fixing new failures
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/utils/office/waitForOfficePage.js
Due: prettier, eslint, playwright_tsc

Test fix
  pkg/services/ppmshipment/ppm_estimator_test.go
Due: go-version, ato-go-linter, appcontext-linter

add tests. office side.
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
Due: prettier, eslint

Merge conflicts and backend TOO implementation
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/counseling_update_order_payload.go
  pkg/gen/ghcmessages/update_order_payload.go
  pkg/services/order/order_updater.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

cherry pick test fix
  pkg/handlers/primeapiv3/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup optionalTag comments
  src/components/form/fields/DropdownInput.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
