Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

added CreateMTOShipmentHandler V2 dependencies
  pkg/gen/primev2api/configure_mymove.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2api/primev2operations/mto_shipment/create_m_t_o_shipment.go
  pkg/gen/primev2api/primev2operations/mto_shipment/create_m_t_o_shipment_parameters.go
  pkg/gen/primev2api/primev2operations/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primev2api/primev2operations/mto_shipment/create_m_t_o_shipment_urlbuilder.go
  pkg/gen/primev2api/primev2operations/mymove_api.go
  pkg/gen/primev2client/mto_shipment/create_m_t_o_shipment_parameters.go
  pkg/gen/primev2client/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primev2client/mto_shipment/mto_shipment_client.go
  pkg/gen/primev2client/mymove_client.go
  pkg/gen/primev2messages/create_m_t_o_shipment.go
  pkg/gen/primev2messages/create_non_s_i_t_address_update_request.go
  pkg/gen/primev2messages/create_p_p_m_shipment.go
  pkg/gen/primev2messages/create_s_i_t_address_update_request.go
  pkg/gen/primev2messages/create_s_i_t_extension.go
  pkg/gen/primev2messages/m_t_o_shipment.go
  pkg/gen/primev2messages/update_m_t_o_service_item.go
  pkg/gen/primev2messages/update_m_t_o_service_item_model_type.go
  pkg/gen/primev2messages/update_m_t_o_service_item_s_i_t.go
  pkg/gen/primev2messages/update_m_t_o_service_item_shuttle.go
  pkg/gen/primev2messages/update_m_t_o_shipment.go
  pkg/gen/primev2messages/update_m_t_o_shipment_status.go
  pkg/gen/primev2messages/update_p_p_m_shipment.go
  pkg/gen/primev2messages/update_reweigh.go
  pkg/gen/primev2messages/validation_error.go
  pkg/handlers/primeapiv2/mto_service_item.go
  pkg/handlers/primeapiv2/mto_shipment.go
  pkg/handlers/primeapiv2/mto_shipment_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/payloads/payload_to_model.go
  pkg/models/validators.go
  pkg/services/mto_shipment/mto_shipment_creator_test.go
  swagger-def/prime_v2.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

fix
  pkg/services/mto_shipment/mto_shipment_address_updater.go
Due: go-version, ato-go-linter, appcontext-linter

fix typo
  pkg/services/mto_shipment/mto_shipment_address_updater.go
Due: go-version, ato-go-linter, appcontext-linter

additional related removals
  .circleci/config.yml
  Makefile
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  scripts/deploy-app-tasks
Due: go-version, ato-go-linter, appcontext-linter

refactored mtoshipment creator to allow for validators and v2 for different api usage
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapiv2/api.go
  pkg/handlers/primeapiv2/mto_shipment_test.go
  pkg/services/mto_shipment/mto_shipment_creator.go
  pkg/services/mto_shipment/mto_shipment_creator_test.go
  pkg/services/mto_shipment/rules.go
Due: go-version, ato-go-linter, appcontext-linter

update authorized and required delivery dates for shipment
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

update current sit contact and request delivery dates
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

remove test code
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

Added test case for testing weight ticket Net weight changes, and fix for updated net weight not updating in testing.
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.test.jsx
Due: prettier, eslint

revert prime v1 mods
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/create_m_t_o_shipment.go
  pkg/handlers/primeapi/payloads/payload_to_model.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

removed diversion checks
  pkg/services/mto_shipment/mto_shipment_creator.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

deleted commented code
  .circleci/config.yml
  Makefile
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  scripts/deploy-app-tasks
Due: go-version, ato-go-linter, appcontext-linter

added validator checks to mto shipment creator
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version, ato-go-linter, appcontext-linter

updated prime v2 create shipment tests
  pkg/services/mto_shipment/mto_shipment_creator_test.go
Due: go-version, ato-go-linter, appcontext-linter

comment
  pkg/services/mto_shipment/rules.go
Due: go-version, ato-go-linter, appcontext-linter

added protection to v1 endpoint
  pkg/services/mto_shipment/mto_shipment_creator.go
  pkg/services/mto_shipment/mto_shipment_creator_test.go
  pkg/services/mto_shipment/rules.go
Due: go-version, ato-go-linter, appcontext-linter

UI complete, tests remaining
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreate.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.jsx
Due: prettier, eslint

fixed failing tests
  playwright/tests/office/txo/sitUpdates.spec.js
Due: prettier, eslint

added test to createForm component
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.test.jsx
Due: prettier, eslint

check for holidays or weekends
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

Added the Customer Deliver to ORGSIT pannel
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.jsx
Due: prettier, eslint

added deprecation marker on createMTOShipment Post
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment.go
  pkg/gen/primeclient/mto_shipment/mto_shipment_client.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Service items address updates when shipment update
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

brought over v1 tests for v1 functions called by v2
  pkg/handlers/primeapiv2/mto_service_item.go
  pkg/handlers/primeapiv2/mto_service_item_test.go
  pkg/handlers/primeapiv2/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

deprecate INTERNAL APIs and all references to in JS and React. /moves/{moveId}/personally_procured_move[GET, POST]
  pkg/gen/internalapi/configure_mymove.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/mymove_api.go
  pkg/gen/internalapi/internaloperations/ppm/create_personally_procured_move.go
  pkg/gen/internalapi/internaloperations/ppm/create_personally_procured_move_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/create_personally_procured_move_responses.go
  pkg/gen/internalapi/internaloperations/ppm/create_personally_procured_move_urlbuilder.go
  pkg/gen/internalapi/internaloperations/ppm/index_personally_procured_moves.go
  pkg/gen/internalapi/internaloperations/ppm/index_personally_procured_moves_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/index_personally_procured_moves_responses.go
  pkg/gen/internalapi/internaloperations/ppm/index_personally_procured_moves_urlbuilder.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/services/event/internal_endpoint.go
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/PPMPaymentRequestIntro.jsx
  src/scenes/Moves/Ppm/PPMPaymentRequestIntro.module.scss
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Moves/Ppm/Weight.module.scss
  src/scenes/Moves/Ppm/Weight.test.js
  src/scenes/Moves/Ppm/api.js
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/scenes/MyMove/index.jsx
  src/scenes/PpmLanding/index.jsx
  src/scenes/PpmLanding/index.test.js
  src/scenes/Review/EditDateAndLocation.jsx
  src/scenes/Review/EditWeight.css
  src/scenes/Review/EditWeight.jsx
  src/services/internalApi.js
  src/shared/Entities/modules/ppms.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

added test coverage
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

added test coverage
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

Added test and Params for Sit Origin
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.test.jsx
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplayTestParams.js
Due: prettier, eslint

removed unused code.
  src/components/Office/ShipmentDetails/ShipmentDetails.jsx
Due: prettier, eslint

remove unused code.
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/services/ghcApi.js
Due: prettier, eslint

remove console logs
  src/components/Customer/Review/ServiceInfoDisplay/ServiceInfoDisplay.jsx
  src/components/Customer/Review/ServiceInfoDisplay/ServiceInfoDisplay.stories.jsx
  src/components/Customer/Review/ServiceInfoDisplay/ServiceInfoDisplay.test.jsx
  src/pages/MyMove/Profile/EditServiceInfo.jsx
  src/pages/MyMove/Profile/Profile.jsx
Due: prettier, eslint

added test coverage
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

deprecate INTERNAL APIs and all references to in JS and React. /moves/{moveId}/personally_procured_move/{personallyProcuredMoveId} [GET, PUT]
  pkg/gen/internalapi/configure_mymove.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/mymove_api.go
  pkg/gen/internalapi/internaloperations/ppm/show_personally_procured_move.go
  pkg/gen/internalapi/internaloperations/ppm/show_personally_procured_move_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/show_personally_procured_move_responses.go
  pkg/gen/internalapi/internaloperations/ppm/show_personally_procured_move_urlbuilder.go
  pkg/gen/internalapi/internaloperations/ppm/update_personally_procured_move.go
  pkg/gen/internalapi/internaloperations/ppm/update_personally_procured_move_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/update_personally_procured_move_responses.go
  pkg/gen/internalapi/internaloperations/ppm/update_personally_procured_move_urlbuilder.go
  pkg/handlers/authentication/auth.go
  pkg/services/event/internal_endpoint.go
  src/services/internalApi.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

check for holidays
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

code cleanup
  pkg/services/sit_status/shipment_sit_status.go
Due: go-version, ato-go-linter, appcontext-linter

fix help_url
  scripts/ensure-spectral-lint
Due: none
