Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Draft update
  .envrc
  Dockerfile
  Dockerfile.local
  Dockerfile.reviewapp
  config/tls/README.md
  config/tls/dod-sw-ca-75.pem
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
Due: prettier, eslint

check for oconus duty location to allow ub creation
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

Draft update
  Dockerfile.local
  Dockerfile.reviewapp
  config/tls/dod-sw-ca-75.pem
Due: none

small minor fix
  pkg/services/office_user/customer/customer.go
Due: go-version, ato-go-linter, appcontext-linter

Updated Secondary and Tertiary addresses to use Destination instead of Delivery
  pkg/factory/mto_shipment_factory.go
  pkg/factory/mto_shipment_factory_test.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_m_t_o_shipment.go
  pkg/gen/ghcmessages/update_shipment.go
  pkg/gen/primev3api/embedded_spec.go
  pkg/gen/primev3messages/update_m_t_o_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/handlers/primeapi/payloads/payload_to_model.go
  pkg/handlers/primeapiv2/move_task_order_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/payloads/payload_to_model.go
  pkg/handlers/primeapiv3/move_task_order_test.go
  pkg/handlers/primeapiv3/payloads/model_to_payload.go
  pkg/handlers/primeapiv3/payloads/payload_to_model.go
  pkg/handlers/primeapiv3/payloads/payload_to_model_test.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/models/mto_shipments.go
  pkg/services/event/notification_test.go
  pkg/services/move_task_order/move_task_order_hide_non_fake.go
  pkg/services/move_task_order/move_task_order_hide_non_fake_test.go
  pkg/services/mto_shipment/mto_shipment_address_updater.go
  pkg/services/mto_shipment/mto_shipment_creator.go
  pkg/services/mto_shipment/mto_shipment_creator_test.go
  pkg/services/mto_shipment/mto_shipment_fetcher_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/rules.go
  pkg/testdatagen/make_mto_shipment.go
  swagger-def/ghc.yaml
  swagger-def/prime_v3.yaml
  swagger/ghc.yaml
  swagger/prime_v3.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Consolidated address setters to utility functions.
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/handlers/primeapiv3/payloads/payload_to_model.go
Due: go-version, ato-go-linter, appcontext-linter

fix test
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version, ato-go-linter, appcontext-linter

comment update
  migrations/app/schema/20241004203140_update_addresses_is_oconus.up.sql
Due: none

B-21049 Clear message on file add or delete,
  src/components/DocumentViewer/DocumentViewer.jsx
Due: prettier, eslint

Experimental changes
  src/components/Office/WeightSummary/WeightSummary.jsx
  src/hooks/queries.js
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

udpate H&AL for counseling office
  pkg/assets/sql_scripts/move_history_fetcher.sql
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/CreateOrders/createMoves.jsx
  src/constants/MoveHistory/EventTemplates/UpdateOrders/updateOrderUpdateMove.jsx
Due: prettier, eslint

fix message
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version, ato-go-linter, appcontext-linter

fix for flaky address line 1 optional test
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdate.test.jsx
Due: prettier, eslint

Added unit test for originDutyLocation filter.
  pkg/services/order/order_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

International Shuttle test updates
  pkg/services/ghcrateengine/ghc_rate_engine_service_test.go
  pkg/services/ghcrateengine/international_destination_shuttling_pricer_test.go
  pkg/services/ghcrateengine/international_origin_shuttling_pricer_test.go
Due: go-version, ato-go-linter, appcontext-linter

Add FKs
  migrations/app/schema/20241004150358_create_re_states_re_us_post_regions_re_cities.up.sql
  migrations/app/schema/20241007184200_create_re_oconus_rate_areas_re_intl_transit_times.up.sql
Due: none

Clean up
  pkg/services/order/order_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

make state id not null in re_cities
  migrations/app/schema/20241004150358_create_re_states_re_us_post_regions_re_cities.up.sql
Due: none

increasing statement timeout
  migrations/app/schema/20241004203140_update_addresses_is_oconus.up.sql
Due: none

Updating mocks
  pkg/services/ghc_rate_engine.go
  pkg/services/mocks/InternationalDestinationShuttlingPricer.go
Due: go-version, ato-go-linter, appcontext-linter

update query to join on moves
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version, ato-go-linter, appcontext-linter

Fixing linter issue
  pkg/services/ghcrateengine/international_destination_shuttling_pricer.go
Due: go-version, ato-go-linter, appcontext-linter

devseed data now working, need to address tests & then functionality
  pkg/factory/order_factory.go
  pkg/factory/ppm_shipment_factory.go
  pkg/models/duty_location.go
  pkg/models/move.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/services/address/address_creator.go
  pkg/services/event/notification.go
  pkg/services/lock_move/move_locker.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/shipment_approver.go
  pkg/services/order/order_fetcher.go
  pkg/services/query/query_builder_test.go
  pkg/services/support/move_task_order/move_task_order_creator.go
  pkg/services/transportation_office/transportation_office_fetcher.go
  pkg/testdatagen/make_address.go
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

comment out flaky test per author's recommendation
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdate.test.jsx
Due: prettier, eslint

Update 20241004150358_create_re_states_re_us_post_regions_re_cities.up.sql
  migrations/app/schema/20241004150358_create_re_states_re_us_post_regions_re_cities.up.sql
Due: none

add select UB shipment tests
  src/pages/MyMove/SelectShipmentType.jsx
  src/pages/MyMove/SelectShipmentType.test.jsx
Due: prettier, eslint

Added a test
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreate.test.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.test.jsx
Due: prettier, eslint

All data populating
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.jsx
  src/components/Office/PPM/ReviewExpense/ReviewExpense.jsx
  src/components/Office/PPM/ReviewProGear/ReviewProGear.jsx
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
  src/components/Office/WeightSummary/WeightSummary.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

Fix existing tests
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.jsx
  src/hooks/queries.test.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
