Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
            .envrc.local.template|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.23.6
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

adding contract to linehaul params
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200624211813_add_contract_to_service_domestic_linehaul.up.sql
Due: none

revert deploy to experimental
  .circleci/config.yml
Due: none

remove comments
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/service_item.go
  pkg/handlers/primeapi/payment_request_test.go
  swagger/prime.yaml
Due: go-version, swagger

adapt handlers to return orders with deleted user uploads
  pkg/handlers/internalapi/service_members.go
  pkg/handlers/internalapi/uploads.go
  pkg/handlers/internalapi/users.go
  pkg/models/order.go
  pkg/models/service_member.go
  src/scenes/Landing/index.jsx
  src/scenes/MyMove/index.jsx
  src/scenes/Orders/Orders.jsx
  src/scenes/Orders/UploadOrders.jsx
  src/shared/Entities/modules/documents.js
  src/shared/Entities/modules/orders.js
Due: go-version, prettier, eslint

Remove unnecessary comments and update comments to be more accurate
  scripts/run-e2e-mtls-test-docker
Due: none

add test for number of payment service items
  pkg/handlers/primeapi/payment_request_test.go
Due: go-version

adds new loki images
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
Due: none

removes Doc Viewer components from their directory to get git recognize their case change
  src/components/DocumentViewer/content.jsx
  src/components/DocumentViewer/content.module.scss
  src/components/DocumentViewer/docviewer.stories.jsx
  src/components/DocumentViewer/menu.jsx
  src/components/DocumentViewer/menu.module.scss
Due: prettier, eslint

adds doc viewer components back to their directory to get git to recognize the case change
  src/components/DocumentViewer/Content.jsx
  src/components/DocumentViewer/Content.module.scss
  src/components/DocumentViewer/Menu.jsx
  src/components/DocumentViewer/Menu.module.scss
  src/components/DocumentViewer/docviewer.stories.jsx
Due: prettier, eslint

add entrust certs and use in GEX post (#4320)
  cmd/milmove-tasks/post_file_to_gex.go
  pkg/certs/certs_entrust.go
  pkg/cli/certs_entrust.go
  pkg/cli/certs_entrust_test.go
Due: go-version

MB-2969 add fouo banner to ssw pdf (#4316)
  pkg/assets/assets.go
  pkg/models/shipment_summary_worksheet.go
  pkg/paperwork/formtemplates/shipment_summary_worksheet_page1.png
  pkg/paperwork/formtemplates/shipment_summary_worksheet_page2.png
  pkg/paperwork/formtemplates/shipment_summary_worksheet_page3.png
  pkg/paperwork/shipment_summary_worksheet.go
Due: go-version

moves a file so git will let me push again
  src/ghc_index.scss
Due: none

puts it back
  src/ghc_index.scss
Due: none

Add ghc_diesel_fuel_prices table and model
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200624145812_create_ghc_diesel_fuel_prices.up.sql
  pkg/models/ghc_diesel_fuel_price.go
  pkg/models/ghc_diesel_fuel_price_test.go
Due: go-version

clarified need to have AWS set up in order to use Chamber in the direnv step
  README.md
Due: none

Final updates
  pkg/cli/eia.go
  pkg/services/ghcdieselfuelprice/ghc_diesel_fuel_price_fetcher.go
Due: go-version

Fix up some spacing issues, changes based on PR feedback. Add in filtering for service items going into modal.
  src/components/Office/RequestedShipments.jsx
  src/components/Office/ShipmentApprovalPreview.jsx
  src/components/Office/ShipmentApprovalPreview.test.jsx
  src/components/Office/shipmentApprovalPreview.module.scss
Due: prettier, eslint

Move storybook stories to live with their components for the office components thus far.
  src/components/CustomerRemarksAgentsDetails/customerRemarksAgentsDetails.stories.jsx
  src/components/Office/allowancesTable.stories.jsx
  src/components/Office/customerInfoTable.stories.jsx
  src/components/Office/importantShipmentDates.stories.jsx
  src/components/Office/ordersTable.stories.jsx
  src/components/Office/requestedServiceItems.stories.jsx
  src/components/Office/requestedShipments.stories.jsx
  src/components/Office/shipmentApprovalPreview.stories.jsx
  src/components/Office/shipmentContainer.stories.jsx
  src/components/Office/shipmentDisplay.stories.jsx
  src/components/Office/shipmentheading.stories.jsx
Due: prettier, eslint

Let's change the filtered shipments in state before we do the click handling.
  src/components/Office/RequestedShipments.jsx
Due: prettier, eslint

Get rid of margins on previewContainer as per PR suggestion.
  src/components/Office/shipmentApprovalPreview.module.scss
Due: none

use margin-x instead of having two margin statements
  src/components/Office/shipmentApprovalPreview.module.scss
Due: none

standardize health check info log... make filtering logs easier
  cmd/milmove/serve.go
Due: go-version

fix wording of log
  cmd/milmove/serve.go
Due: go-version

Bold the text for the tables we're using to match the designs.
  src/components/Office/AllowancesTable.jsx
  src/components/Office/CustomerInfoTable.jsx
  src/components/Office/OrdersTable.jsx
  src/components/Office/ShipmentApprovalPreview.jsx
Due: prettier, eslint

Update loki references with the bolded text
  .loki/reference/chrome_iphone7_TOO_TIO_Components_AllowancesTable_Allowances_Table.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_CustomerInfoTable_Customer_Info_Table.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Orders_Table.png
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_AllowancesTable_Allowances_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_CustomerInfoTable_Customer_Info_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Orders_Table.png
Due: none

Remove last_updated column
  migrations/app/schema/20200624145812_create_ghc_diesel_fuel_prices.up.sql
  pkg/models/ghc_diesel_fuel_price.go
  pkg/models/ghc_diesel_fuel_price_test.go
Due: go-version

Add unit.Millicents type to fuel price field
  pkg/models/ghc_diesel_fuel_price.go
Due: go-version

Update errors in mto shipment creator service
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Add basic button layout to modal, move task order fetch
  src/components/Office/ShipmentApprovalPreview.jsx
  src/components/Office/shipmentApprovalPreview.module.scss
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/types/moveOrder.js
Due: prettier, eslint

updates loki images after a sync from master
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersDetailForm_with_initial_values.png
Due: none

Make it so the allowances table shows a friendly human readable text for branch and rank
  src/components/Office/AllowancesTable.jsx
Due: prettier, eslint

Update allowances table references.
  .loki/reference/chrome_iphone7_TOO_TIO_Components_AllowancesTable_Allowances_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_AllowancesTable_Allowances_Table.png
Due: none

standardize health check log line (#4330)
  cmd/milmove/serve.go
Due: go-version

test that paymentServiceItemParams are not saved on payment request
  pkg/handlers/primeapi/payment_request.go
  pkg/handlers/primeapi/payment_request_test.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

Add loki changes from master merge
  .loki/reference/chrome_iphone7_Global_Colors_all.png
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
Due: none

Revert "Add loki changes from master merge"
  .loki/reference/chrome_iphone7_Global_Colors_all.png
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
Due: none

update e2e test data
  pkg/services/ghcrateengine/service_item_pricer.go
  pkg/testdatagen/constants.go
  pkg/testdatagen/make_mto_shipment.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Left mav reference
  .loki/reference/chrome_laptop_Components_Left_Nav_Layout.png
Due: none
