Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate, codecov-validate

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.17.1
    hooks:
      - id: golangci-lint
        entry: golangci-lint run

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.17.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        types: [yaml]

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: scripts/generate-md-toc
        language: script
        files: \.md$

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: scripts/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
    - id: circleci-validate
      name: circleci validate
      entry: scripts/pre-commit-circleci-validate
      language: script
      files: '[.]circleci/config.yml$'
      pass_filenames: false

  - repo: local
    hooks:
    - id: codecov-validate
      name: codecov validate
      entry: scripts/pre-commit-codecov-validate
      language: script
      files: .codecov.yml
      pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

Tidy go.mod
  go.mod
Due: gomod

Add test for fields getting out of db
  pkg/notifications/move_reviewed.go
  pkg/notifications/move_reviewed_test.go
Due: go-version

Deploy to experimental
  .circleci/config.yml
Due: circleci-validate

Reconfiguring office queue, queues to reflect new layout.
  pkg/models/queue.go
  src/scenes/Office/QueueList.jsx
  src/scenes/Office/QueueTable.jsx
  swagger/internal.yaml
Due: go-version, prettier, eslint, swagger

Update anti-virus to use script and ignore files
  .circleci/config.yml
  .gitignore
  Makefile
  scripts/anti_virus
  scripts/anti_virus_ignore
Due: circleci-validate

Always remove whitelist file
  scripts/anti_virus_ignore
Due: none

move the ignore code inside
  scripts/anti_virus
  scripts/anti_virus_ignore
Due: none

Add more echo statements to the logs
  scripts/anti_virus
Due: none

Increase timeout
  scripts/anti_virus
Due: none

Add a flag for number of days to offset
  cmd/send_post_move_survey_email/main.go
Due: go-version

Make message nicer
  scripts/anti_virus
Due: none

Remove clock icon and needs attention from office queues
  src/scenes/Office/QueueTable.jsx
  src/scenes/Office/queueTableColumns.js
Due: prettier, eslint

Get offset as int
  cmd/send_post_move_survey_email/main.go
Due: go-version

Fix help text for new flag
  cmd/send_post_move_survey_email/main.go
Due: go-version

Add binary to docker file and update Makefile task
  Dockerfile.tasks
  Dockerfile.tasks_local
  Makefile
Due: none

Add len assertion to TestFormatEmails
  pkg/notifications/move_reviewed_test.go
Due: go-version

Fixes for previous column removal (needs attention and clock) for office queues
  src/scenes/Office/QueueTable.jsx
  src/scenes/Office/QueueTable.test.js
Due: prettier, eslint

Cleanup tests and Don't return pointer to slice
  Makefile
  pkg/notifications/move_reviewed.go
  pkg/notifications/move_reviewed_test.go
Due: go-version

Major script overhaul to use sigtool and check clamd status.
  Makefile
  scripts/README.md
  scripts/anti-virus
  scripts/anti_virus
Due: markdown-toc, mdspell, gen-docs

tweaks
  Makefile
Due: none

Clean up documentation
  docs/how-to/upload-electronic-orders.md
Due: markdown-toc, mdspell, gen-docs

Don't error when listing slots
  scripts/cac-info
Due: none

Remove outdated info on secure migrations
  docs/how-to/upload-electronic-orders.md
Due: markdown-toc, mdspell, gen-docs

Use variable for container name
  scripts/anti-virus
Due: none

Always pull docker image
  scripts/anti-virus
Due: none

Use tee to push output out of script
  scripts/anti-virus
Due: none

Output some debug text
  scripts/anti-virus
Due: none

Copied in folder because circleci can't mount folders
  scripts/anti-virus
Due: none

Can't be read-only
  scripts/anti-virus
Due: none

Figure out how docker cp works AGAIN
  scripts/anti-virus
Due: none

remove debug
  scripts/anti-virus
Due: none

Add links and how we get environment variables
  .spelling
  docs/how-to/access-global-variables.md
Due: markdown-toc, mdspell, gen-docs

Properly escape bad branch names for docker tagging
  .circleci/config.yml
  scripts/update-docker-compose
Due: circleci-validate

Scan source code for viruses with ClamAV
  .circleci/config.yml
  .gitignore
  Makefile
  scripts/README.md
  scripts/anti-virus
Due: markdown-toc, mdspell, gen-docs, circleci-validate

Fix pre-commit warnings
  .spelling
  SECURITY.md
Due: markdown-toc, mdspell, gen-docs

Remove soda and database.yml from our codebase. Use 'milmove gen' instead.
  Makefile
  config/README.md
  config/database.yml
  docs/data/tspp-data-creation.md
  docs/how-to/migrate-the-database.md
  scripts/README.md
  scripts/gen-e2e-migration
  scripts/gen-model
Due: markdown-toc, mdspell, gen-docs

Flip access code feature flag
  config/env/experimental.env
Due: none

Add email flags
  cmd/send_post_move_survey_email/main.go
Due: go-version

Remove some HHG things from queue tests.
  pkg/handlers/internalapi/move_queue_items_test.go
  pkg/models/queue_test.go
Due: go-version
