Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

update auto gen files
  pkg/gen/adminapi/adminoperations/admin_users/update_admin_user_parameters.go
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/admin_user.go
Due: go-version

fixed formatting in migration
  migrations/app/schema/20210318162232_create_edi_processing_table.up.sql
Due: none

Updated devseed
  pkg/testdatagen/scenario/devseed.go
Due: go-version

clean up unnecessary seed assertions
  pkg/testdatagen/scenario/devseed.go
Due: go-version

Update test params
  pkg/handlers/primeapi/mto_service_item_test.go
Due: go-version

Removed length tests
  pkg/cli/syncada_sftp.go
Due: go-version

Uncommented fetch call and added stdout processor
  cmd/fetch-from-syncada-via-sftp/main.go
Due: go-version

Update test
  pkg/handlers/primeapi/mto_service_item_test.go
Due: go-version

Update tests again
  pkg/handlers/primeapi/mto_service_item_test.go
Due: go-version

Added default for SFTP host
  pkg/cli/syncada_sftp.go
Due: go-version

MB-7019 create storybook component for contact info fieldset (#6145)
  src/components/form/ServiceMemberContactInfoFields/ServiceMemberContactInfoFields.stories.jsx
  src/components/form/ServiceMemberContactInfoFields/ServiceMemberContactInfoFields.test.jsx
  src/components/form/ServiceMemberContactInfoFields/index.jsx
  src/components/form/fields/CheckboxField.jsx
  src/components/form/fields/CheckboxField.test.jsx
Due: prettier, eslint

Add tests for fn getIsAllowedProfileState
  src/containers/requireCustomerState/requireCustomerState.jsx
  src/containers/requireCustomerState/requireCustomerState.test.jsx
Due: prettier, eslint

Fix tests. Needed planner.On for some, changed the testdatagen adjustment for shipments to conditionally user PrimeEstimatedWeight based on assertion.
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/supportapi/mto_shipment_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/testdatagen/make_mto_shipment.go
Due: go-version

Remove typo
  src/containers/requireCustomerState/requireCustomerState.test.jsx
Due: prettier, eslint

Return last read time from syncada reader
  cmd/fetch-from-syncada-via-sftp/main.go
  pkg/services/invoice.go
  pkg/services/invoice/syncada_sftp_reader.go
Due: go-version

Re-enable syncada SFTP file deletion
  pkg/services/invoice/syncada_sftp_reader.go
Due: go-version

Update comment
  cmd/fetch-from-syncada-via-sftp/main.go
Due: go-version

Don't use named default
  src/containers/requireCustomerState/requireCustomerState.jsx
  src/containers/requireCustomerState/requireCustomerState.test.jsx
Due: prettier, eslint

Change click target to table row, make it conditional for now. Change style so it does the hand pointer thing on the table row hover
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.jsx
  src/components/Office/PaymentRequestDetails/PaymentRequestDetails.module.scss
Due: prettier, eslint

Try without HTTP method and without array
  cypress/integration/office/officeUserPPM.js
Due: prettier

MB-7015 Validate presence and format of TAC
  cypress/integration/office/txo/tooFlows.js
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/order/get_order.go
  pkg/gen/ghcapi/ghcoperations/order/get_order_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/order/list_move_task_orders.go
  pkg/gen/ghcapi/ghcoperations/order/list_move_task_orders_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/order/update_order.go
  pkg/gen/ghcapi/ghcoperations/order/update_order_responses.go
  pkg/gen/ghcapi/ghcoperations/order/update_order_urlbuilder.go
  pkg/handlers/ghcapi/order_test.go
  pkg/handlers/ghcapi/orders.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/supportapi/move_task_order_test.go
  pkg/models/order.go
  pkg/testdatagen/scenario/devseed.go
  pkg/testdatagen/scenario/e2ebasic.go
  swagger/ghc.yaml
Due: go-version, prettier, swagger

The request is to the internal API, not GHC
  cypress/integration/office/officeUserPPM.js
Due: prettier

Wait for API call before checking TAC
  cypress/integration/office/officeUserPPM.js
Due: prettier

reload page before checking changes
  cypress/integration/office/officeUserPPM.js
Due: prettier

Upgrade to golang 1.15.10
  .circleci/config.yml
  .tool-versions
  Dockerfile.local
  Dockerfile.migrations_local
  Dockerfile.tasks_local
  Dockerfile.tools_local
  Dockerfile.webhook_client
  Dockerfile.webhook_client_local
  Makefile
  cypress/Dockerfile.cypress
  scripts/gen-assets
  scripts/gen-server
  scripts/pre-commit-swagger-validate
  scripts/prereqs
Due: none

Change false to true from copypasta
  src/containers/requireCustomerState/requireCustomerState.test.jsx
Due: prettier, eslint

Fix test message cuz of more copypasta
  src/containers/requireCustomerState/requireCustomerState.test.jsx
Due: prettier, eslint

Remove unused interface
  pkg/services/invoice.go
Due: go-version

Write RTL tests for MtoShipmentForm, pass id through date picker input
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.test.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentFormFields.jsx
  src/components/form/fields/DatePickerInput.jsx
  src/shared/JsonSchemaForm/SingleDatePicker.jsx
Due: prettier, eslint

Add clearAllCookies to try to fix integration flakers
  cypress/integration/admin/webhookSubscriptions.js
Due: prettier

Merge MTO shipment form components, remove WizardPage
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentFormFields.jsx
Due: prettier, eslint

Add some WIP tests for syncada sftp reader
  pkg/services/invoice/syncada_sftp_reader_test.go
Due: go-version

Remove WizardPage from SelectMoveType, CreateOrEditMtoShipment
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/constants/routes.js
  src/pages/MyMove/CreateOrEditMtoShipment.jsx
  src/pages/MyMove/CreateOrEditMtoShipment.test.jsx
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.module.scss
  src/scenes/MyMove/index.jsx
Due: prettier, eslint

Remove Unused Imports and Extract Out Function
  cypress/integration/admin/webhookSubscriptions.js
  cypress/support/commands.js
Due: prettier

Prevent move approval if order is incomplete
  cypress/integration/admin/webhookSubscriptions.js
  cypress/integration/office/officeUserPPM.js
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_task_order/update_move_task_order_responses.go
  pkg/gen/ghcapi/ghcoperations/move_task_order/update_move_task_order_status_responses.go
  pkg/handlers/ghcapi/move_task_order.go
  pkg/handlers/ghcapi/move_task_order_test.go
  pkg/handlers/ghcapi/order_test.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/supportapi/move_task_order_test.go
  pkg/models/move.go
  pkg/models/order.go
  pkg/models/order_test.go
  pkg/services/move_task_order/move_task_order_updater.go
  pkg/testdatagen/make_order.go
  pkg/testdatagen/scenario/devseed.go
  pkg/testdatagen/scenario/e2ebasic.go
  scripts/prime-api-demo
  swagger/ghc.yaml
Due: go-version, prettier, swagger

pr fixes to remove zero padding from GCN
  pkg/edi/invoice/generator_test.go
  pkg/edi/segment/ge.go
  pkg/edi/segment/gs.go
Due: go-version

Updated all out-of-date mocks
  pkg/services/mocks/DomesticFuelSurchargePricer.go
  pkg/services/mocks/DomesticServiceAreaPricer.go
  pkg/services/mocks/SFTPFile.go
  pkg/services/mocks/SyncadaSFTPReader.go
Due: go-version

Confirmed that skilled 'unchecked' findings are unit tests.
  cmd/milmove/main_test.go
  pkg/handlers/adminapi/users_test.go
  pkg/handlers/supportapi/mto_service_item_test.go
  pkg/handlers/supportapi/payment_request_test.go
  pkg/route/ghc_planner_test.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_service_item/mto_service_item_updater_test.go
  pkg/services/payment_request/payment_request_reviewed_processor_test.go
  pkg/services/user/user_updater_test.go
Due: go-version

use pull_request_target
  .github/workflows/analyze-bundle.yml
Due: none

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
