Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

move vars for function scoping
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

removed unused structs
  pkg/handlers/ghcv2api/mto_shipment.go
Due: go-version, ato-go-linter, appcontext-linter

fixed formatting error
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

added logic for handling update of update mto shipment v2
  .envrc
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcv2api/embedded_spec.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/ghcv2api/mto_shipment.go
  pkg/handlers/ghcv2api/mto_shipment_test.go
  pkg/handlers/internalapi/mto_shipment.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/services/mocks/MTOShipmentUpdater.go
  pkg/services/mocks/ShipmentUpdater.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/orchestrators/shipment/shipment_updater.go
  pkg/services/orchestrators/shipment/shipment_updater_test.go
  pkg/services/shipment_orchestrator.go
Due: go-version, ato-go-linter, appcontext-linter

revert envrc mods
  .envrc
Due: none

server gen code
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcv2api/embedded_spec.go
  pkg/gen/internalapi/embedded_spec.go
Due: go-version, ato-go-linter, appcontext-linter

Recreate mocks for SSWPPMGenerator
  pkg/services/mocks/SSWPPMGenerator.go
  pkg/services/ppmshipment/aoa_packet_creator.go
  pkg/services/ppmshipment/aoa_packet_creator_test.go
  pkg/services/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

took out old ppm style reference
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.jsx
Due: prettier, eslint

adjusted logic and set it up to only run for the required 1-6 fields
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

added Weight Tickets field for the eager preload
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

hosted ghc v2 swagger ui with some ref errors
  cmd/milmove/serve.go
  pkg/cli/swagger.go
  pkg/handlers/routing/routing_init.go
  swagger/ghc_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

changed some values of dashboard due to API object returning different values, updated swagger to allow for move status, need to finish tests
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/internal_move.go
  pkg/handlers/internalapi/moves.go
  pkg/models/move.go
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/sagas/onboarding.js
  src/store/entities/selectors.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Removed references to PersonallyProcuredMove, replaced test references with PPMShipment build factories.
  pkg/models/service_member.go
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/shipment_summary.go
  pkg/paperwork/shipment_summary_test.go
Due: go-version, ato-go-linter, appcontext-linter

merge in base branch changes
  .circleci/config.yml
  .github/workflows/analyze-bundle.yml
  .github/workflows/happo-tests.yml
  config/tls/0-ECA_Root_CA_4.cer
  config/tls/1-IdenTrust_ECA_Component_S23.cer
  config/tls/Certificates_PKCS7_v5.12_DoD.der.p7b
  config/tls/milmove-cert-bundle.p7b
  config/tls/mmb.gov.uat.homesafeconnect.com.cer
  go.mod
  go.sum
  yarn.lock
Due: gomod

update schema to make pickup and destination addresses required in internal.yaml and not swagger-def/definitions/PPMShipment.yaml. Also added unit tests.
  pkg/factory/ppm_shipment_factory.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/p_p_m_shipment.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/create_p_p_m_shipment.go
  pkg/gen/internalmessages/p_p_m_shipment.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/services/ppmshipment/ppm_shipment_creator_test.go
  pkg/services/ppmshipment/ppm_shipment_fetcher.go
  pkg/services/ppmshipment/ppm_shipment_fetcher_test.go
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
  pkg/services/ppmshipment/validation.go
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.jsx
  swagger-def/definitions/PPMShipment.yaml
  swagger-def/internal.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

fixed helpdesk url
  src/pages/InvalidPermissions/InvalidPermissions.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.test.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.test.jsx
  src/pages/Office/index.jsx
Due: prettier, eslint

revert extra files
  src/components/Office/ShipmentAddresses/ShipmentAddresses.jsx
Due: prettier, eslint

to prevent having to adjust the associated tests, made the extra fields of the ppmCloseout object to have a nil value
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

changed logic for pro gear customer and spouse to pull the correct values
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

B-18525-HomeSafe-Prd-SSL
  config/tls/Certificates_PKCS7_v5.13_DoD.der.p7b
  config/tls/ECA_Root_CA_4.cer
  config/tls/IdenTrust-ECA-S23.cer
  config/tls/milmove-cert-bundle.p7b
  config/tls/mmb.gov.uat.homesafeconnect.com.cer
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20240201174442_20240201_homesafe_prd_cert.up.sql
Due: none

requested date can't be after end date
  pkg/services/mto_service_item/mto_service_item_updater.go
  pkg/services/mto_service_item/mto_service_item_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

changed to target the specific field in the Shipment child table
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

only integrationTesting for loadtests
  .circleci/config.yml
Due: none

update duty_location_names table to get rid of old base names
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240201201343_update_duty_location_names.up.sql
Due: none

add auth step
  .circleci/config.yml
Due: none

add test for success
  src/pages/PrimeUI/MoveTaskOrder/MoveDetails.test.jsx
Due: prettier, eslint

check dest service codes in validators, update tests, udpate docs
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_service_item/update_m_t_o_service_item.go
  pkg/gen/primeclient/mto_service_item/mto_service_item_client.go
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

commented out failing test to see if the server error was contained to only this test
  pkg/services/ppm_closeout/ppm_closeout_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated tests to pass
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesInfoList.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
  src/sagas/onboarding.test.js
Due: prettier, eslint

Tests fixes
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
Due: prettier, eslint

test api made, found issues with existing SSW api. Going to fix and continue
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/ppm/show_a_o_a_packet.go
  pkg/gen/ghcapi/ghcoperations/ppm/show_a_o_a_packet_parameters.go
  pkg/gen/ghcapi/ghcoperations/ppm/show_a_o_a_packet_responses.go
  pkg/gen/ghcapi/ghcoperations/ppm/show_a_o_a_packet_urlbuilder.go
  pkg/gen/internalapi/configure_mymove.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/moves/show_shipment_summary_worksheet.go
  pkg/gen/internalapi/internaloperations/moves/show_shipment_summary_worksheet_urlbuilder.go
  pkg/gen/internalapi/internaloperations/mymove_api.go
  pkg/gen/internalapi/internaloperations/ppm/show_a_o_a_packet.go
  pkg/gen/internalapi/internaloperations/ppm/show_a_o_a_packet_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/show_a_o_a_packet_responses.go
  pkg/gen/internalapi/internaloperations/ppm/show_a_o_a_packet_urlbuilder.go
  pkg/handlers/internalapi/ppm_shipment.go
  swagger-def/ghc.yaml
  swagger-def/internal.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

expanded description, fixed links
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_service_item/update_m_t_o_service_item.go
  pkg/gen/primeclient/mto_service_item/mto_service_item_client.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

show actual move date
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
Due: prettier, eslint

added updateMtoShipment to prime v2
  pkg/gen/primev2api/configure_mymove.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2api/primev2operations/mto_shipment/update_m_t_o_shipment.go
  pkg/gen/primev2api/primev2operations/mto_shipment/update_m_t_o_shipment_parameters.go
  pkg/gen/primev2api/primev2operations/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/gen/primev2api/primev2operations/mto_shipment/update_m_t_o_shipment_urlbuilder.go
  pkg/gen/primev2api/primev2operations/mymove_api.go
  pkg/gen/primev2client/mto_shipment/mto_shipment_client.go
  pkg/gen/primev2client/mto_shipment/update_m_t_o_shipment_parameters.go
  pkg/gen/primev2client/mto_shipment/update_m_t_o_shipment_responses.go
  swagger-def/prime_v2.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger
