Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

removed test, i give up
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserList.test.jsx
Due: prettier, eslint

initial commit, happy path, tests added
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_address.go
  pkg/handlers/primeapi/mto_shipment_address_test.go
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated playwright tests
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

changed updateppm check and updated tests to reflect change
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
  pkg/services/ppmshipment/validation.go
  pkg/services/ppmshipment/validation_test.go
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

create move button directs to CustomerContactInfoForm
  src/components/Table/Table.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
Due: prettier, eslint

update function to pass e as second argument
  src/components/Table/Table.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
Due: prettier, eslint

do not send emails on BLUEBARK moves
  pkg/handlers/ghcapi/move_task_order.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/ppm_document.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/office.go
  pkg/handlers/primeapi/move_task_order.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Added activation true to url and removed nullable
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/create_okta_account.go
  pkg/handlers/adminapi/create_okta_account.go
  pkg/handlers/adminapi/create_okta_account_test.go
  pkg/handlers/authentication/okta/provider.go
  pkg/handlers/authentication/okta/provider_test.go
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

update TIO review weights to exclude PPMs; update UI as requested
  src/components/Office/WeightSummary/WeightSummary.jsx
  src/components/Office/WeightSummary/WeightSummary.module.scss
  src/components/Office/WeightSummary/WeightSummary.test.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

B-18913 retryy
  config/flipt/storage/development.features.yaml
  pkg/notifications/prime_counseling_complete_test.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
  src/constants/routes.js
  src/pages/Office/CustomerOnboarding/CustomerName.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/index.jsx
  src/scenes/MyMove/index.jsx
  src/utils/featureFlags.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

B-18913 add test
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
Due: prettier, eslint

customerName test
  src/pages/Office/CustomerOnboarding/CustomerName.test.jsx
Due: prettier, eslint

lower
  src/constants/routes.js
Due: prettier, eslint

added some css to name form
  src/pages/Office/CustomerOnboarding/CustomerName.jsx
  src/pages/Office/CustomerOnboarding/CustomerName.module.scss
Due: prettier, eslint

merging commit d98ba4f
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
Due: prettier, eslint

initial commit, using px instead of vw
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
Due: none

update css to be min-width to account for larger weights and warning icon
  src/components/Office/WeightSummary/WeightSummary.module.scss
Due: none

Returning okta account information
  pkg/gen/adminapi/adminoperations/okta/create_okta_account.go
  pkg/gen/adminapi/adminoperations/okta/create_okta_account_responses.go
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/okta_account_info_response.go
  pkg/handlers/adminapi/create_okta_account.go
  pkg/handlers/adminapi/create_okta_account_test.go
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

generated files automatic update
  pkg/gen/adminapi/embedded_spec.go
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Swagger text clean up
  pkg/gen/adminapi/adminoperations/okta/create_okta_account.go
  pkg/gen/adminapi/adminoperations/okta/create_okta_account_responses.go
  pkg/gen/adminapi/embedded_spec.go
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

update variable to use a more semantic name
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

Add conditional rendering
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.jsx
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.test.jsx
Due: prettier, eslint

added weight template pdf, failed attempt to use csv to pdf
  pkg/assets/paperwork/formtemplates/WeightEstimateLivingRoomPdfTemplate.pdf
  pkg/paperwork/generator.go
Due: go-version, ato-go-linter, appcontext-linter

Added endpoint to get just the actual weight for ppm closeout
  pkg/apperror/errors.go
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/ppm/get_p_p_m_actual_weight.go
  pkg/gen/ghcapi/ghcoperations/ppm/get_p_p_m_actual_weight_parameters.go
  pkg/gen/ghcapi/ghcoperations/ppm/get_p_p_m_actual_weight_responses.go
  pkg/gen/ghcapi/ghcoperations/ppm/get_p_p_m_actual_weight_urlbuilder.go
  pkg/gen/ghcmessages/p_p_m_actual_weight.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/ppm_closeout.go
  pkg/models/ppm_shipment.go
  pkg/services/mocks/PPMCloseoutFetcher.go
  pkg/services/ppm_closeout.go
  pkg/services/ppm_closeout/ppm_closeout.go
  swagger-def/definitions/PPMActualWeight.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Display backup address on CustomerInfoList component
  src/components/Office/DefinitionLists/CustomerInfoList.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

Tests and Storyboarding for displaying backup address on CustomerInfoList component
  src/components/Office/DefinitionLists/CustomerInfoList.stories.jsx
  src/components/Office/DefinitionLists/CustomerInfoList.test.jsx
  src/pages/Office/MoveDetails/MoveDetails.test.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
Due: prettier, eslint

initial commit, happy path, updated backend to include returning roles
  pkg/handlers/adminapi/api.go
  pkg/handlers/adminapi/requested_office_users.go
  pkg/handlers/adminapi/requested_office_users_test.go
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
  src/scenes/SystemAdmin/Home.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

updating dod id label
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
Due: prettier, eslint

CAPITALIZE IT ALL BABY
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
Due: prettier, eslint

just swagger things
  swagger/ghc.yaml
Due: swagger

Added Playwright tests & Jest tests for PaymentRequestQueue
  playwright/tests/office/txo/tioFlows.spec.js
  src/components/MoveSearchForm/MoveSearchForm.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
Due: prettier, eslint

Display pro gear weight on prime simulator shipments card
  src/components/PrimeUI/Shipment/Shipment.jsx
  src/components/PrimeUI/Shipment/Shipment.test.jsx
Due: prettier, eslint

Added necessary frontend code for getting weight of only current PPM shipment.
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
Due: prettier, eslint

Added playwright utility file. added test case.
  playwright/tests/office/txo/tioFlows.spec.js
  playwright/tests/utils/playwrightUtility.js
Due: prettier, eslint

feature flags to hide/show shipment type on customer side. UI only.
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/flipt/storage/development.features.yaml
  src/components/Customer/Review/AddShipmentModal/AddShipmentModal.jsx
  src/components/Customer/Review/Summary/Summary.jsx
  src/components/Customer/modals/MoveInfoModal/MoveInfoModal.jsx
  src/components/Customer/modals/StorageInfoModal/StorageInfoModal.jsx
  src/pages/MyMove/SelectShipmentType.jsx
  src/pages/MyMove/SelectShipmentType.test.jsx
  src/utils/featureFlags.js
Due: prettier, eslint

Added query to get actual weight from backend and update UI.
  src/constants/queryKeys.js
  src/hooks/queries.js
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
  src/services/ghcApi.js
Due: prettier, eslint

Added optional chaining to hook to prevent crash.
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
Due: prettier, eslint

Added TOO Test cases.
  playwright/tests/office/txo/tooFlows.spec.js
  src/pages/Office/MoveQueue/MoveQueue.jsx
Due: prettier, eslint

Fixed change that broke excess weights warning pop-up.
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
Due: prettier, eslint

initial commit, happy path, need to add comments and css
  pkg/gen/adminapi/doc.go
  pkg/gen/adminapi/embedded_spec.go
  src/constants/routes.js
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.module.scss
  src/services/adminApi.js
  src/shared/Entities/schema.js
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger
