Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$

Update 20250222194826_B-22770_upd_duty_locs.up.sql
  migrations/app/schema/20250222194826_B-22770_upd_duty_locs.up.sql
Due: none

fix whitespace
  migrations/app/schema/20250222194826_B-22770_upd_duty_locs.up.sql
  migrations/app/schema/20250225155257_B-22770_upd_pobox_zips.up.sql
Due: none

Removed post merge artifacts from '.env' files
  .circleci/config.yml
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  migrations/app/ddl_functions_manifest.txt
Due: none

Removed post merge artifacts from '.env' files 2
  .circleci/config.yml
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
Due: none

B-22483 - customer added back, role_type and privilege_type coming back from endopint, test updated.
  migrations/app/schema/20250305204911_B-22483_init_mappings_on_roles_privileges.up.sql
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/role_privilege.go
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/adminapi/office_users_test.go
  pkg/models/role_privilege.go
  pkg/models/roles/role_privilege.go
  pkg/services/mocks/RoleAssociater.go
  pkg/services/roles.go
  pkg/services/roles/roles.go
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

B-21824:Added assigned user functionality to destination requests queue and also updated the other queues to use queueType
  migrations/app/ddl_migrations/ddl_functions/20250225233157_fn_get_destination_queue.up.sql
  pkg/factory/move_factory.go
  pkg/factory/move_factory_test.go
  pkg/factory/shared.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move/delete_assigned_office_user.go
  pkg/gen/ghcapi/ghcoperations/queues/get_bulk_assignment_data_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_destination_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_destination_requests_queue_urlbuilder.go
  pkg/gen/ghcmessages/assign_office_user_body.go
  pkg/gen/ghcmessages/bulk_assignment_save_payload.go
  pkg/gen/ghcmessages/move.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move.go
  pkg/handlers/ghcapi/move_test.go
  pkg/handlers/ghcapi/queues.go
  pkg/models/queue.go
  pkg/services/move.go
  pkg/services/move/assigned_office_user_updater.go
  pkg/services/order.go
  pkg/services/order/order_fetcher.go
  pkg/services/order/order_fetcher_test.go
  pkg/services/payment_request/payment_request_status_updater.go
  src/constants/queues.js
  src/hooks/queries.js
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/services/ghcApi.js
  src/utils/queues.jsx
  src/utils/queues.test.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

B-22483 - comment cleanup.
  migrations/app/ddl_migrations/ddl_tables/20250304220843_tbl_B-22483_create_roles_privileges.up.sql
  migrations/app/schema/20250305204911_B-22483_init_mappings_on_roles_privileges.up.sql
  swagger-def/admin.yaml
Due: none

flag pprof listener
  cmd/milmove/serve.go
  pkg/cli/listeners.go
Due: go-version, ato-go-linter, appcontext-linter

default pprof to false
  pkg/cli/listeners.go
Due: go-version, ato-go-linter, appcontext-linter

only use pprof in dev or test
  cmd/milmove/serve.go
  pkg/cli/listeners.go
Due: go-version, ato-go-linter, appcontext-linter

add back in ub weight allowance tests and some new tests in too
  pkg/models/ghc_entitlements_test.go
Due: go-version, ato-go-linter, appcontext-linter

update orders test
  pkg/handlers/internalapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

test now fails if you comment out the deletedAt lines
  pkg/services/office_user/office_user_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

got it workin pretty good, now it is TEST TIME time for TESTS dont you like TESTS
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/requested_office_user_update.go
  pkg/gen/adminmessages/user_update.go
  pkg/handlers/adminapi/admin_users.go
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/adminapi/payloads/payload_to_model.go
  pkg/handlers/adminapi/users.go
  pkg/services/admin_user/admin_user_updater.go
  pkg/services/office_user/office_user_updater.go
  pkg/services/requested_office_users/requested_office_user_updater.go
  pkg/services/user/user_updater.go
  src/pages/Admin/OfficeUsers/OfficeUserEdit.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserEdit.jsx
  src/pages/Admin/Users/UserEdit.jsx
  src/scenes/SystemAdmin/index.jsx
  swagger-def/admin.yaml
  swagger/admin.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, spectral

moving comment
  cmd/milmove/serve.go
Due: go-version, ato-go-linter, appcontext-linter

restoring ppm_shipment
  pkg/handlers/internalapi/ppm_shipment.go
Due: go-version, ato-go-linter, appcontext-linter

Added a test
  src/shared/ToolTip/ToolTip.jsx
  src/shared/ToolTip/ToolTip.test.jsx
Due: prettier, eslint

Adds error to screen
  pkg/services/mto_shipment/mto_shipment_validators.go
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

B-22694 update tests
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv3/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

fix issue with Delivery addr not clearing
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.test.jsx
Due: prettier, eslint

B-22701 Add defaultState for mockStore to tests
  src/shared/AsyncPacketDownloadLink/AsyncPacketDownloadLink.test.jsx
Due: prettier, eslint

tests should be mostly wrapped up
  pkg/factory/admin_user_factory.go
  pkg/services/admin_user/admin_user_updater.go
  pkg/services/admin_user/admin_user_updater_test.go
  pkg/services/office_user/office_user_updater.go
  pkg/services/office_user/office_user_updater_test.go
  pkg/services/requested_office_users/requested_office_user_updater_test.go
  pkg/services/user/user_updater.go
  pkg/services/user/user_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

use envrc for pprof flag
  .envrc
  cmd/milmove/serve.go
  pkg/cli/listeners.go
Due: go-version, ato-go-linter, appcontext-linter

B-22701 Remove resetAllMocks and revert test
  src/shared/AsyncPacketDownloadLink/AsyncPacketDownloadLink.test.jsx
Due: prettier, eslint

test changes
  pkg/handlers/adminapi/users_test.go
Due: go-version, ato-go-linter, appcontext-linter

INT ONLY fixing test in INT not yet in main
  pkg/services/order/order_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing typo in comment
  pkg/services/order/order_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

add some tests
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/pages/MyMove/AddOrders.test.jsx
Due: prettier, eslint

Added Back Circle CI missing flag
  .circleci/config.yml
Due: none

more tests
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
Due: prettier, eslint

pretty up the tooltip
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.module.scss
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.module.scss
Due: prettier, eslint

post merge overwrite fixes
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
Due: none

post merge overwrite fixes 2
  config/env/demo.app-client-tls.env
Due: none

tio inpk end to end testing with misc fixes
  pkg/services/ghcrateengine/intl_nts_pack_pricer.go
  pkg/services/payment_request/payment_request_creator.go
  pkg/testdatagen/testharness/dispatch.go
  pkg/testdatagen/testharness/make_move.go
  playwright/tests/office/txo/tioFlowsNTS.spec.js
  playwright/tests/office/txo/tioTestFixture.js
  playwright/tests/utils/testharness.js
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ServiceItemCalculations/helpers.test.js
  src/components/Office/ServiceItemCalculations/serviceItemTestParams.js
  src/constants/serviceItems.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc

Remove warning and dupes
  pkg/services/mto_service_item/mto_service_item_validators_test.go
  src/components/Office/ShipmentForm/ShipmentForm.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Update PO box only zips
  migrations/app/dml_migrations_manifest.txt
  migrations/app/schema/20250312122657_B-22839_upd_pobox_zips.up.sql
Due: none

Added tests
  pkg/handlers/ghcapi/move_test.go
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

combine elmendorf and richardsons transportation offices into Elmendorf-Richardson
  migrations/app/ddl_migrations/ddl_tables/20250312011803_tbl_B-22484-combine-pppo-elmendorf-richardson.up.sql
  migrations/app/ddl_tables_manifest.txt
Due: none

update test name
  pkg/handlers/adminapi/rejected_office_users_test.go
Due: go-version, ato-go-linter, appcontext-linter
