Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node
  language_version: 12.16.3

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node
  language_version: 12.16.3

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

set pageSize in defaultProps
  src/components/Table/Table.jsx
  src/components/Table/Table.stories.jsx
Due: prettier, eslint

update envrc devlocal bucket
  .envrc
  .spelling
Due: none

PR feedback
  src/pages/MyMove/Orders.jsx
Due: prettier, eslint

Add same e2e fix to ppmCloseout
  cypress/integration/mymove/ppmCloseout.js
Due: prettier

If no subscription is found, notification is skipped
  cmd/webhook-client/webhook/webhook.go
  cmd/webhook-client/webhook/webhook_test.go
Due: go-version

Tidied up some comments
  cmd/webhook-client/webhook/webhook_test.go
Due: go-version

Revert "upgrade chamber version"
  package.json
  scripts/check-chamber-version
  yarn.lock
Due: none

working unit test
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
Due: go-version

Added usage instructions and better error handling
  cmd/generate-payment-request-edi/main.go
Due: go-version

Implement orders types feature flag
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
Due: prettier, eslint

node will be the death of me
  .storybook/main.js
  README.md
Due: prettier

removed refs to etag
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportapi/supportoperations/payment_request/process_reviewed_payment_requests_parameters.go
  pkg/gen/supportclient/payment_request/process_reviewed_payment_requests_parameters.go
  pkg/gen/supportmessages/process_reviewed_payment_requests.go
  pkg/handlers/supportapi/payment_request.go
  pkg/handlers/supportapi/payment_request_test.go
  swagger/support.yaml
Due: go-version, swagger, spectral

MB-3823 Check if scheduledPickupDate is null before validating timing
  pkg/handlers/primeapi/mto_shipment.go
Due: go-version

Fixed updateMTOPostCounselingInfo command in prime-api-client
  cmd/prime-api-client/prime/update_mto_post_counseling_information.go
Due: go-version

MB-3823 Add test to check that scheduledPickupDate is required to update weight
  pkg/handlers/primeapi/mto_shipment_test.go
Due: go-version

update envrc refs
  .envrc
Due: none

working to call and very endpoint is working
  cmd/prime-api-client/main.go
  pkg/services/payment_request/payment_request_status_updater.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

update template
  .envrc.chamber.template
Due: none

Removed redundant check for payment request number
  cmd/generate-payment-request-edi/main.go
Due: go-version

I guess storybook needs this newline every time
  .storybook/main.js
Due: prettier

Fix gosec linter error
  cmd/webhook-client/webhook/webhook.go
Due: go-version

pass in table props
  src/components/Table/Table.jsx
  src/pages/Office/MoveQueue/MoveQueue.jsx
Due: prettier, eslint

static analysis counter script
  scripts/README.md
  scripts/static-analysis-counter
Due: none

Pipe output of running linter instead of using file
  .storybook/main.js
  scripts/static-analysis-counter
Due: prettier

Add new move status, fix tests. Add method for transitioning to the move status in a valid way.
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_service_items_test.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/handlers/supportapi/mto_service_item_test.go
  pkg/handlers/supportapi/mto_shipment_test.go
  pkg/models/move.go
  pkg/services/move_order.go
  pkg/services/move_order/move_order_fetcher.go
  pkg/services/move_order/move_order_fetcher_test.go
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_service_item/mto_service_item_updater.go
  pkg/services/mto_shipment/mto_shipment_creator.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/testdatagen/make_move.go
Due: go-version

update generated code
  pkg/services/mocks/MoveOrderFetcher.go
Due: go-version

Make sure the label on the front end translates to the proper thing for the backend and that swagger enum is ready for it.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_parameters.go
  src/constants/queues.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Refactor so filters are on the service object. Add test to queues. Adjust service tests.
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/mocks/PaymentRequestListFetcher.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_list_fetcher.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
Due: go-version

Fix queues test
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

Add test to show the totalCount as being more than the amount returned in a page set below the total as a perpage setting.
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

Add line to test to make sure we're checking that the total count can be more than the perpage
  pkg/handlers/ghcapi/queues_test.go
Due: go-version

Fix isLastPage check
  src/shared/WizardPage/index.jsx
Due: prettier, eslint

Remove print statement that slipped through. Fix fake updateOne function in tests.
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
Due: go-version

deploy to experimental
  .circleci/config.yml
Due: none

Add check in integration test to see that the status transitioned to APPROVED for the move effected by the mto service item approval.
  pkg/handlers/ghcapi/mto_service_items_test.go
Due: go-version

imports all solid icons to icons stories file
  src/stories/icons.stories.jsx
Due: prettier, eslint

imports all regualr icons to icons stories file
  src/stories/icons.stories.jsx
Due: prettier, eslint

updated expected file format
  cmd/prime-api-client/main.go
Due: go-version

adds some icons to the icons storues file
  src/stories/icons.stories.jsx
Due: prettier, eslint

MB-4267 remove client test for removed helper
  src/pages/MyMove/Home/index.test.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
