Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, markdown-toc, gosec, mdspell

go-version:
  name: go version
  entry: bin/check_go_version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

gosec:
  name: gosec scanner
  entry: bin/gosec -exclude=G104 -fmt text -quiet ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

fix broken tests and remove testing code
  src/shared/Invoice/InvoicePayment.jsx
  src/shared/Invoice/InvoicePayment.test.js
Due: prettier

Fix codes for hierarchical level IDs for origin and destination which were swapped
  pkg/edi/invoice/generator.go
Due: go-version, gosec

Adding another office user
  local_migrations/20181217161025_add-another-office-user.sql
  migrations/20181217161025_add-another-office-user.up.fizz
Due: none

testing what happens with the step halt
  bin/check-staging-app-sha
Due: none

Test out with a potentially optional approval
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

Test circle workflow on experimental
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

Add requirements to the optional approval
  .circleci/config.yml
Due: none

Maybe this will work
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

Add halt to end of e2e tests
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

test exiting with 1
  bin/check-staging-app-sha
Due: none

Creates service for delivering and pricing a shipment
  pkg/handlers/publicapi/shipments.go
  pkg/service/shipment/deliver_and_price_shipment.go
  pkg/service/shipment/deliver_and_price_shipment_test.go
  pkg/testdatagen/make_shipment_offer_records.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testingsuite/testingsuite.go
Due: go-version, gosec

Making a workflow that always has the approval to see if it can be surpassed optionally
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

no circular dependencies
  .circleci/config.yml
Due: none

Force it to test the workflow
  bin/check-staging-app-sha
Due: none

Upgrades go to 1.11.4
  .circleci/config.yml
  README.md
Due: markdown-toc, mdspell

Okay, use the command correctly
  bin/check-staging-app-sha
Due: none

And only call it on pause migrations
  .circleci/config.yml
Due: none

Removes misplaced and outdated scenario tests
  pkg/rateengine/scenario_test.go
Due: go-version, gosec

Adds tests for unbilled component
  src/scenes/Office/MoveInfo.jsx
  src/shared/Invoice/InvoicePanel.jsx
  src/shared/Invoice/LineItemTable.test.js
  src/shared/Invoice/UnbilledTable.jsx
  src/shared/Invoice/UnbilledTable.test.js
Due: prettier

Uses approved shipment for test instead of delivered
  cypress/integration/office/invoicing.js
Due: prettier

Final pr that actually fails the workflow without paging :fingers_crossed:
  .circleci/config.yml
  bin/check-staging-app-sha
Due: none

replaced '! -z' with '-n'
  bin/prereqs
Due: none

Creates service for delivering and pricing a shipment (#1476)
  cypress/integration/office/invoicing.js
  pkg/handlers/publicapi/shipments.go
  pkg/rateengine/scenario_test.go
  pkg/service/shipment/deliver_and_price_shipment.go
  pkg/service/shipment/deliver_and_price_shipment_test.go
  pkg/testdatagen/make_shipment_offer_records.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testingsuite/testingsuite.go
Due: go-version, prettier, gosec

Fix tests that broke when locations were corrected
  pkg/edi/invoice/generator_test.go
  pkg/edi/invoice/testdata/expected_invoice.edi.golden
Due: go-version, gosec

refactor error response code which only allows one invoice processed per shipment
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/shipments_test.go
  src/shared/Invoice/InvoicePayment.jsx
  src/shared/Invoice/InvoicePayment.test.js
  swagger/internal.yaml
Due: go-version, prettier, gosec

Make this it's own phase to prevent paging unneccessarily
  .circleci/config.yml
Due: none

fix tests that broken becuase of refactor in the commit prior
  pkg/handlers/internalapi/shipments_test.go
Due: go-version, gosec

Remove unnecessary conditional; add tests for Cent and Millicent calculations
  pkg/edi/invoice/generator.go
  pkg/unit/cents_test.go
  pkg/unit/millicents_test.go
Due: go-version, gosec

Assign applied rate for LHS to 0; remove print debug code
  pkg/edi/invoice/generator_test.go
Due: go-version, gosec

Adds Cypress test that office user sees unbilled line items when they exist.
  cypress/integration/office/invoicing.js
Due: prettier

fix the pop Find() syntax, so that it doesnt throw an error when called
  pkg/models/office_user.go
Due: go-version, gosec

adding some tests
  pkg/models/office_user_test.go
Due: go-version, gosec

fixing capitalization of Id to ID
  pkg/models/office_user_test.go
Due: go-version, gosec

Refactor repeated conditionals
  pkg/edi/invoice/generator_test.go
Due: go-version, gosec

Removing unneeded migration
  migrations/20181217162650_add_fuel_surcharge.up.fizz
Due: none

Fixes display of unbilled component when no items
  src/shared/Invoice/InvoicePanel.jsx
  src/shared/Invoice/UnbilledTable.jsx
Due: prettier

Add ppm success alert
  src/scenes/Landing/index.jsx
Due: prettier

Removes test for unreachable state
  src/shared/Invoice/UnbilledTable.test.js
Due: prettier

Add e2e test for existence of add ppm alert
  cypress/integration/mymove/hhgPPM.js
Due: prettier

Add a function to trace validation errors similar to the one that exists for regular errors
  pkg/handlers/contexts.go
Due: go-version, gosec

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  gosec: any of: \.go$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

