Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Add Closeout Office fields to Move model
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

Add closeout office column to move
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20221104180553_add_closeout_office_move_association.up.sql
Due: none

Add comment on closeout office id column
  migrations/app/schema/20221104180553_add_closeout_office_move_association.up.sql
Due: none

update handler tests to use uploader
  pkg/handlers/internalapi/ppm_shipment_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fix typo in column comment
  migrations/app/schema/20221104180553_add_closeout_office_move_association.up.sql
Due: none

validate payload params and remove redundant middleware auth checks
  pkg/handlers/internalapi/ppm_shipment.go
  pkg/handlers/internalapi/ppm_shipment_test.go
  pkg/services/ppmshipment/ppm_shipment_router.go
Due: go-version, ato-go-linter, appcontext-linter

add in updater validator call before saving PPMShipment
  pkg/services/ppmshipment/ppm_shipment_new_submitter.go
  pkg/services/ppmshipment/ppm_shipment_updated_submitter.go
  pkg/services/ppmshipment/ppm_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

debug time assertion once more
  pkg/services/ppmshipment/ppm_shipment_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

database timestamp comes back with less precision so truncate in tests
  pkg/handlers/internalapi/ppm_shipment_test.go
  pkg/services/ppmshipment/ppm_shipment_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

renamed and relocated
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequestJobRunner/updatePaymentRequestJobRunner.jsx
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequestJobRunner/updatePaymentRequestJobRunner.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/EventTemplates/updatePaymentRequestJobRunner.js
Due: prettier, eslint

updating constants
  src/constants/paymentRequestStatus.js
Due: prettier, eslint

updated testing for constants
  src/utils/formatters.test.js
Due: prettier, eslint

refactored testing
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequestJobRunner/updatePaymentRequestJobRunner.test.jsx
Due: prettier, eslint

added test case for changedValues
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequestStatus/updatePaymentRequestStatus.test.jsx
Due: prettier, eslint

PR fixes: add the word progear to error messages in validation and update model_to_payload for multiple progearWeightTickets
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/internalapi/progear_weight_ticket_test.go
  pkg/services/progear_weight_ticket/validation_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updated golang to 1.19.3 along with associated Docker images
  .circleci/config.yml
  .go-version
  .tool-versions
  Dockerfile.local
  Dockerfile.migrations_local
  Dockerfile.reviewapp
  Dockerfile.tasks_local
  Dockerfile.tools_local
  Dockerfile.webhook_client
  Dockerfile.webhook_client_dp3
  Dockerfile.webhook_client_local
  Makefile
  README.md
  nix/default.nix
  scripts/run-e2e-mtls-test-docker
  scripts/run-e2e-test-docker
Due: none

Generate report aggregates and allow test to throw errors.
  cypress.json
  cypress/e2e/milmove/ppms/progear.cy.js
  cypress/e2e/mymove/homepage.cy.js
  cypress/integration/milmove/ppms/about.js
  cypress/integration/milmove/ppms/advances.js
  cypress/integration/milmove/ppms/dateAndLocation.js
  cypress/integration/milmove/ppms/entireShipment.js
  cypress/integration/milmove/ppms/estimatedIncentive.js
  cypress/integration/milmove/ppms/estimatedWeightsProgear.js
  cypress/integration/milmove/ppms/expenses.js
  cypress/integration/milmove/ppms/finalCloseout.js
  cypress/integration/milmove/ppms/navigateToUploadDocs.js
  cypress/integration/milmove/ppms/progear.js
  cypress/integration/milmove/ppms/review.js
  cypress/integration/milmove/ppms/weightTickets.js
  cypress/integration/mymove/hhg.js
  cypress/integration/mymove/homepage.js
  cypress/integration/mymove/nts.js
  cypress/integration/mymove/ntsr.js
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/utilities/customer.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Due: prettier

update validation error message to match test
  pkg/services/progear_weight_ticket/validation.go
Due: go-version, ato-go-linter, appcontext-linter

fix tests
  pkg/handlers/internalapi/office_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/services/paperwork/form_creator_test.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

move submit saves to move_router service object
  pkg/handlers/internalapi/moves.go
  pkg/services/move.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

move patch to moveTaskOrderUpdater
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/moves_test.go
  pkg/services/mocks/MoveRouter.go
  pkg/services/mocks/MoveTaskOrderUpdater.go
  pkg/services/move/move_router.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_updater.go
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

move signed certification payload to model logic to payload_to_model.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/moves.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "move patch to moveTaskOrderUpdater"
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/moves_test.go
  pkg/services/mocks/MoveRouter.go
  pkg/services/mocks/MoveTaskOrderUpdater.go
  pkg/services/move/move_router.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_updater.go
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

add tests
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "add tests"
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

add mock
  pkg/services/mocks/MoveRouter.go
Due: go-version, ato-go-linter, appcontext-linter

add tests
  pkg/handlers/internalapi/moves_test.go
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

pass pointer to signedCertification
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/office_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/services/mocks/MoveRouter.go
  pkg/services/move.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
  pkg/services/paperwork/form_creator_test.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

fix server teest with missing text
  pkg/services/progear_weight_ticket/progear_weight_ticket_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fixes issue with non-deterministic date causing Happo diffs
  src/pages/MyMove/Home/index.stories.jsx
Due: prettier, eslint

renamed and relocated files
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequest.jsx
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequest.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequestJobRunner.jsx
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequestJobRunner.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: prettier, eslint

template refactor
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequest.jsx
Due: prettier, eslint

test refactor
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequest.test.jsx
Due: prettier, eslint

added test case for EDI error
  src/constants/MoveHistory/EventTemplates/UpdatePaymentRequest/updatePaymentRequestJobRunner.test.jsx
Due: prettier, eslint

Consolidate sql templates under assets package
  pkg/assets/assets.go
  pkg/assets/sql_scripts/.README.md
  pkg/assets/sql_scripts/move_history_fetcher.sql
  pkg/services/query/query_sql.go
  pkg/services/query/sql_scripts/test_empty.sql
Due: go-version, ato-go-linter, appcontext-linter

Remove all spinner code and replace with a printout of the message
  cmd/ghc-pricing-parser/main.go
  pkg/parser/pricing/parse.go
  pkg/services/ghcimport/ghc_rateengine_importer.go
Due: go-version, ato-go-linter, appcontext-linter

Add the flags to turn on the race condition checks for running and testing Go code
  Makefile
  scripts/run-server-test
Due: none

added missing event name
  src/constants/MoveHistory/EventTemplates/UpdateAddress/createAddress.jsx
Due: prettier, eslint

Add installation of diffutils to fix Ventura when running the go linter
  Brewfile.local
Due: none

full address now displays
  src/constants/MoveHistory/EventTemplates/UpdateAddress/updateAddress.jsx
Due: prettier, eslint
