Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$

added more to the testing
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fixed a code block that shouldn't have been deleted in testdatagen
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

fixed test cases
  pkg/services/payment_request/payment_request_list_fetcher_test.go
  playwright/tests/office/txo/tioFlows.spec.js
  playwright/tests/office/txo/tooFlows.spec.js
  src/components/Table/SearchResultsTable.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc

add ub allowance factory and update tests
  migrations/app/schema/20241031163018_create_ub_allowances_table.up.sql
  pkg/factory/shared.go
  pkg/factory/ub_allowance.factory.go
  pkg/models/entitlements.go
  pkg/models/entitlements_test.go
  pkg/models/ub_allowances.go
Due: go-version, ato-go-linter, appcontext-linter

turning on DTOD_SIMULATE_OUTAGE
  config/env/loadtest.app.env
Due: none

int specific test fix
  pkg/handlers/internalapi/uploads_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-21372 - test cleanup.
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
Due: prettier, eslint

fix linter for internal.yaml to match int
  swagger/internal.yaml
Due: swagger

Return err when unexpected contract year
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

fixing dumb merge conflict mistakes
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
Due: prettier, eslint

and another
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
Due: prettier, eslint

refine tests
  pkg/models/entitlements_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-21372 - cleanup.
  src/components/Office/DefinitionLists/OrdersList.stories.jsx
  src/components/Office/DefinitionLists/OrdersList.test.jsx
  src/components/Office/RequestedShipments/RequestedShipmentsTestData.js
  src/components/Office/ShipmentApprovalPreview/ShipmentApprovalPreview.test.jsx
  src/components/Office/ShipmentApprovalPreview/shipmentApprovalPreview.stories.jsx
Due: prettier, eslint

add ub factory tests
  pkg/factory/ub_allowance_factory.go
  pkg/factory/ub_allowance_factory_test.go
Due: go-version, ato-go-linter, appcontext-linter

label fixes
  src/constants/MoveHistory/EventTemplates/UpdateAddress/createAddress.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateAddress/updateAddress.test.jsx
Due: prettier, eslint

Add zip city lookup to origin SIT Service Item Form
  src/components/PrimeUI/CreateShipmentServiceItemForm/OriginSITServiceItemForm.jsx
Due: prettier, eslint

Add zip city lookup to prime shipment creation Form
  src/pages/PrimeUI/Shipment/PrimeUIShipmentCreateForm.jsx
Due: prettier, eslint

Add zip city lookup to prime shipment update addresses form
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateAddressForm.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateAddressForm.test.jsx
Due: prettier, eslint

Add zip city lookup to prime update PPM shipment form
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdatePPMForm.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdatePPMForm.test.jsx
  src/utils/formatters.js
Due: prettier, eslint

Add zip city lookup to prime update destination address form
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateDestinationAddressForm.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateDestinationAddressForm.test.jsx
Due: prettier, eslint

add alternative duty location names for AK/HI
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241107180705_add_alternative_AK_HI_duty_location_names.up.sql
Due: none

Unit test revision to cover ppm shipments. fixes to errors as well.
  pkg/factory/move_factory.go
  pkg/factory/mto_shipment_factory.go
  pkg/handlers/primeapiv3/mto_shipment_test.go
  pkg/services/mto_shipment/rules.go
  pkg/services/ppmshipment/rules.go
Due: go-version, ato-go-linter, appcontext-linter

more test fixes from merge
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adds test class
  src/components/Office/RequestedShipments/SubmittedRequestedShipments.test.jsx
Due: prettier, eslint

Missing word in test string comparison
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

initial big chonky commit, functionality and tests added
  .envrc
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/add_appeal_to_serious_incident.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/add_appeal_to_serious_incident_parameters.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/add_appeal_to_serious_incident_responses.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/add_appeal_to_serious_incident_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/add_appeal_to_violation_parameters.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/create_appeal.go
  pkg/gen/ghcmessages/create_violation_appeal.go
  pkg/gen/ghcmessages/evaluation_report.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/evaluation_report.go
  pkg/handlers/ghcapi/evaluation_report_test.go
  pkg/services/evaluation_report.go
  pkg/services/evaluation_report/evaluation_report_serious_incident_add_appeal.go
  pkg/services/evaluation_report/evaluation_report_serious_incident_add_appeal_test.go
  pkg/services/mocks/SeriousIncidentAddAppeal.go
  src/components/Office/AppealModals/AppealModal.jsx
  src/components/Office/AppealModals/AppealModal.module.scss
  src/components/Office/AppealModals/AppealModal.test.jsx
  src/components/Office/EvaluationReportView/EvaluationReportView.jsx
  src/components/Office/EvaluationReportView/EvaluationReportView.test.jsx
  src/components/Office/ViolationAppealModal/ViolationAppealModal.test.jsx
  src/services/ghcApi.js
  src/shared/styles/_custom.scss
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

updating envrc, whoops
  .envrc
Due: none

update orders type migration
  migrations/app/schema/20241029125015_add_orders_type_enum.up.sql
Due: none

updating playwright test
  playwright/tests/office/gsr/gsrFlows.spec.js
Due: prettier, eslint, playwright_tsc

use labels instead of inputs
  src/components/Customer/BackupAddressForm/BackupAddressForm.jsx
  src/components/Customer/EditContactInfoForm/EditContactInfoForm.jsx
  src/components/Customer/ResidentialAddressForm/ResidentialAddressForm.jsx
  src/components/Office/CustomerContactInfoForm/CustomerContactInfoForm.jsx
  src/components/Office/EditFacilityInfoModal/EditFacilityInfoModal.jsx
  src/components/Office/PPM/PPMHeaderSummary/EditPPMHeaderSummaryModal.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.jsx
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/AddressFields/AddressFields.module.scss
Due: prettier, eslint

adjusting CSS to be 100% instead of fixed width
  src/components/Office/EvaluationReportView/EvaluationReportView.module.scss
Due: none

remove zipCityEnabled flag
  src/components/Customer/BackupAddressForm/BackupAddressForm.jsx
  src/components/Customer/EditContactInfoForm/EditContactInfoForm.jsx
  src/components/Customer/ResidentialAddressForm/ResidentialAddressForm.jsx
  src/components/Office/CustomerContactInfoForm/CustomerContactInfoForm.jsx
  src/components/Office/EditFacilityInfoModal/EditFacilityInfoModal.jsx
  src/components/Office/PPM/PPMHeaderSummary/EditPPMHeaderSummaryModal.jsx
  src/components/Office/ShipmentForm/ShipmentForm.jsx
  src/components/Office/StorageFacilityAddress/StorageFacilityAddress.jsx
  src/components/form/AddressFields/AddressFields.jsx
Due: prettier, eslint

updates
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241029125015_add_orders_type_enum.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/orders_type.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/orders_type.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/orders_type.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/orders_type.go
  pkg/gen/primev3api/embedded_spec.go
  pkg/gen/primev3messages/orders_type.go
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/orders_type.go
  src/components/Customer/EditOrdersForm/EditOrdersForm.stories.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.stories.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.test.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/constants/orders.js
  src/pages/MyMove/AddOrders.test.jsx
  src/utils/orders.test.js
  swagger-def/definitions/OrdersType.yaml
  swagger-def/support.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
  swagger/prime_v3.yaml
  swagger/support.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, spectral

update tests to use order type constants
  migrations/app/schema/20241029125015_add_orders_type_enum.up.sql
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/components/Customer/Review/Review.stories.jsx
  src/components/Customer/Review/Summary/Summary.test.jsx
  src/components/Office/DefinitionLists/OrdersList.stories.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.stories.jsx
  src/components/Office/ServiceItemsTable/resubmittedServiceItemUnitTestData.js
  src/constants/MoveHistory/EventTemplates/CreateOrder/createOrder.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateOrders/createOrders.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateOrders/updateOrder.test.jsx
  src/pages/MyMove/AddOrders.test.jsx
  src/pages/MyMove/AmendOrders/AmendOrders.test.jsx
  src/pages/MyMove/CreateOrEditMtoShipment.test.jsx
  src/pages/MyMove/EditOrders.test.jsx
  src/pages/MyMove/Home/MoveHome.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesInfoList.test.jsx
  src/pages/MyMove/Orders.test.jsx
  src/pages/MyMove/Review/Review.test.jsx
  src/pages/MyMove/UploadOrders.test.jsx
  src/pages/Office/MoveHistory/LabeledDetails.test.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.test.jsx
  src/pages/Office/MoveTaskOrder/moveTaskOrderUnitTestData.js
  src/sagas/entities.test.js
Due: prettier, eslint

update comments on migration
  migrations/app/schema/20241029125015_add_orders_type_enum.up.sql
Due: none
