Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Fix swagger def for create csr remark post
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/customer_support_remarks/create_customer_support_remark_for_move_parameters.go
  pkg/gen/ghcapi/ghcoperations/customer_support_remarks/create_customer_support_remark_for_move_responses.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Adds renames to match 6.x pattern.
  src/components/Customer/Review/Summary/Summary.jsx
  src/components/Customer/SelectableCard.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/scenes/Moves/Ppm/ExpensesUpload.jsx
  src/scenes/Moves/Ppm/PPMPaymentRequestIntro.jsx
  src/scenes/Moves/Ppm/WeightTicket.jsx
  src/shared/ToolTip/IconWithTooltip.jsx
  src/stories/icons.stories.jsx
Due: prettier, eslint

Add csr remark creation to office app
  src/components/Office/CustomerSupportRemarkForm/CustomerSupportRemarkForm.jsx
  src/components/Office/CustomerSupportRemarkForm/CustomerSupportRemarkForm.module.scss
  src/components/Office/CustomerSupportRemarkForm/CustomerSupportRemarkForm.stories.jsx
  src/components/Office/CustomerSupportRemarkForm/CustomerSupportRemarkFrom.test.jsx
  src/pages/Office/CustomerSupportRemarks/CustomerSupportRemarks.jsx
  src/pages/Office/CustomerSupportRemarks/CustomerSupportRemarks.module.scss
  src/pages/Office/CustomerSupportRemarks/CustomerSupportRemarks.test.jsx
  src/pages/Office/ServicesCounselorCustomerSupportRemarks/ServicesCounselorCustomerSupportRemarks.jsx
  src/pages/Office/ServicesCounselorCustomerSupportRemarks/ServicesCounselorCustomerSupportRemarks.test.jsx
  src/services/ghcApi.js
Due: prettier, eslint

Add CSR create remark Cypress test
  cypress/integration/office/qaecsr/csrFlows.js
  cypress/support/commands.js
  cypress/support/constants.js
Due: prettier

Fix test, seemed to be failing due to icon svg change.
  src/components/form/IconButtons.test.jsx
Due: prettier, eslint

Fix qaecsr user type const
  cypress/support/constants.js
Due: prettier

Fixed the event name display
  src/constants/MoveHistory/EventTemplates/reweighPaymentRequest.js
Due: prettier, eslint

PR comments. adding tests, fixing the label
  src/constants/MoveHistory/Database/FieldMappings.js
  src/pages/Office/MoveHistory/LabeledDetails.test.jsx
Due: prettier, eslint

Flailing around with styling
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.module.scss
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.test.jsx
Due: prettier, eslint

Update shipment form remarks test
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.test.jsx
Due: prettier, eslint

initial commit for permissions middelware, test, with permissions on two routes for testing. not complete
  cmd/milmove/serve.go
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/auth_test.go
  pkg/auth/authentication/permissions.go
  pkg/gen/ghcapi/embedded_spec.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Align search button with text field
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.module.scss
Due: prettier, eslint

Add background color to move search page
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.module.scss
Due: prettier, eslint

modify DatePickerInput to pass through className prop, override input error margin
  src/components/Customer/PPM/Closeout/AboutForm/AboutForm.jsx
  src/components/Customer/PPM/Closeout/AboutForm/AboutForm.module.scss
  src/components/form/fields/DatePickerInput.jsx
Due: prettier, eslint

Fixing the payment_request
  src/constants/MoveHistory/EventTemplates/reweighPaymentRequest.js
  src/constants/MoveHistory/EventTemplates/reweighPaymentRequest.test.js
Due: prettier, eslint

small changes to how we read and check permissions
  pkg/auth/authentication/permissions.go
Due: go-version

Shipment remarks form test fix
  src/components/Office/ShipmentFormRemarks/ShipmentFormRemarks.test.jsx
Due: prettier, eslint

Finish styling move page
  src/components/Table/SearchResultsTable.module.scss
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.module.scss
Due: prettier, eslint

Style cleanup
  src/components/Table/SearchResultsTable.module.scss
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.module.scss
Due: none

Add ADR-0070 for new recommendation on cypress test structure
  docs/adr/0070-cypress-tests-file-layout.md
  docs/adr/index.md
Due: none

Starting to add tests
  cypress/integration/office/qaecsr/moveSearch.js
  cypress/support/commands.js
  cypress/support/constants.js
  src/components/Table/SearchResultsTable.jsx
  src/components/Table/SearchResultsTable.test.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.test.jsx
Due: prettier, eslint

Refactor ScrollToTop to pass eslint;
  src/components/ScrollToTop.jsx
Due: prettier, eslint

Add some potentially missing dependencies
  package.json
  yarn.lock
Due: none

Refactor TabNav/index.js to pass eslint;
  src/components/TabNav/index.jsx
Due: prettier, eslint

Refactor Table/**/*.js to pass eslint;
  src/components/Table/Filters/SelectFilter.jsx
  src/components/Table/Table.jsx
  src/components/Table/TableQueue.jsx
Due: prettier, eslint

Add sorting to csr remarks, show latest first
  pkg/services/customer_support_remarks/customer_support_remarks_fetcher.go
Due: go-version

Remove icon prop from Button
  src/components/form/IconButtons.jsx
  src/components/form/IconButtons.test.jsx
Due: prettier, eslint

Add deep-object-diff as a dev dependency
  package.json
  yarn.lock
Due: none

Add move search cypress tests
  cypress/integration/office/qaecsr/moveSearch.js
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/testdatagen/scenario/shared.go
  src/pages/Office/index.jsx
Due: go-version, prettier, eslint

Remove commented out code in TableQueue
  src/components/Table/TableQueue.jsx
Due: prettier, eslint

Remove more old commented cruft
  src/hooks/queries.js
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.jsx
  src/pages/Office/QAECSRMoveSearch/QAECSRMoveSearch.test.jsx
Due: prettier, eslint

Add missing dependency of @babel/plugin-syntax-async-generators
  package.json
Due: none

Remove 404 response from move search
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move/search_moves_responses.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Remove MoveFetcher from SearchMovesHandler
  pkg/handlers/ghcapi/move.go
Due: go-version

adding permissions for approve shipment route for test
  pkg/gen/ghcapi/embedded_spec.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

documentation, fix for test, how we look up role types
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/auth_test.go
  pkg/auth/authentication/permissions.go
Due: go-version

Use proper error types in move_searcher
  pkg/services/move/move_searcher.go
Due: go-version

Add client test for SearchResultsTable
  src/components/Table/SearchResultsTable.test.jsx
Due: prettier, eslint

Remove unused pagination stuff from SearchResultsTable
  src/components/Table/SearchResultsTable.jsx
Due: prettier, eslint

Fix failing server tests
  pkg/services/move/move_searcher_test.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
