Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

add ability to exclude cves
  scripts/ecr-describe-image-scan-findings
Due: none

handle situation where no findings exist
  scripts/ecr-describe-image-scan-findings
Due: none

update cve and date
  scripts/ecr-describe-image-scan-findings
Due: none

report if findings were excluded
  scripts/ecr-describe-image-scan-findings
Due: none

Update react-admin
  package.json
Due: none

Update yarn lock
  yarn.lock
Due: none

Added deprecated status for payment requests
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210903211741_recalculation_payment_request.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_request_status.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/payment_request_status.go
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportapi/supportoperations/payment_request/update_payment_request_status.go
  pkg/gen/supportclient/payment_request/payment_request_client.go
  pkg/gen/supportmessages/payment_request_status.go
  pkg/handlers/ghcapi/payment_request_test.go
  pkg/handlers/supportapi/payment_request.go
  pkg/models/payment_request.go
  pkg/models/payment_request_test.go
  pkg/services/payment_request/payment_request_recalculator.go
  pkg/services/payment_request/payment_request_recalculator_test.go
  src/constants/paymentRequestStatus.js
  src/shared/constants.js
  src/shared/formatters.test.js
  swagger/ghc.yaml
  swagger/prime.yaml
  swagger/support.yaml
Due: go-version, prettier, eslint, swagger, spectral

add demo to list of environment variables
  pkg/cli/environment.go
Due: go-version

Add Margin Top Auto So That the Footer Stays at the Bottom
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
Due: none

fix typo
  scripts/ecr-describe-image-scan-findings
Due: none

Add Height So That the Grey Background Covers the Main Section
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
Due: none

Now using update payment request status service object
  pkg/services/payment_request/payment_request_recalculator.go
  pkg/services/payment_request/payment_request_recalculator_test.go
Due: go-version

Fixed typo in function name
  pkg/services/payment_request/payment_request_recalculator.go
Due: go-version

get the correct total findings length
  scripts/ecr-describe-image-scan-findings
Due: none

remove extra space
  scripts/ecr-describe-image-scan-findings
Due: none

Add labels
  src/pages/Admin/AdminUsers/AdminUserShow.jsx
  src/pages/Admin/Moves/MoveShow.jsx
  src/pages/Admin/OfficeUsers/OfficeUserShow.jsx
  src/pages/Admin/Users/UserShow.jsx
  src/pages/Admin/WebhookSubscriptions/WebhookSubscriptionShow.jsx
Due: prettier, eslint

create new dockerfiles for dp3 containers with new cert chain
  .circleci/config.yml
  Dockerfile.dp3
  Dockerfile.tasks_dp3
  Dockerfile.webhook_client_dp3
Due: none

add demo.dp3 cert
  config/tls/api.demo.dp3.us.crt
Due: none

update circleci to build and use new dp3 containers in demo
  .circleci/config.yml
Due: none

ci updates for demo
  .circleci/config.yml
Due: none

dp3 webhook dockerfile fix
  Dockerfile.webhook_client_dp3
Due: none

more dockerfile fixes for dp3 webhook
  Dockerfile.webhook_client_dp3
Due: none

api p7b is now der format
  config/tls/api.demo.dp3.us.p7b
Due: none

use der format of api chain
  Dockerfile.webhook_client_dp3
Due: none

Updated logic for multiple role usecase
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

Use eager to load associations on shipment, update handler tests
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/services/mto_shipment/sit_extension_approver.go
  pkg/services/mto_shipment/sit_extension_denier.go
Due: go-version

Use EagerPreload
  pkg/services/mto_shipment/sit_extension_approver.go
  pkg/services/mto_shipment/sit_extension_denier.go
Due: go-version

golangci-linter changes
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

fix bad merge and generated files
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  swagger/ghc.yaml
Due: go-version, swagger

fix failing unit test
  pkg/services/mto_shipment/shipment_billable_weight_test.go
Due: go-version

Lots of deletions
  src/shared/AddressForm/index.js
  src/shared/BasicPanel/index.css
  src/shared/BasicPanel/index.jsx
  src/shared/BasicPanel/index.test.js
  src/shared/BigButton/index.css
  src/shared/BigButton/index.jsx
  src/shared/Divider/index.js
  src/shared/Divider/index.test.js
  src/shared/DocumentViewer/DocumentDetailPanelView.jsx
  src/shared/DocumentViewer/DocumentDetailPanelView.test.jsx
  src/shared/DocumentViewer/MoveDocumentView.jsx
  src/shared/DocumentViewer/MoveDocumentView.test.jsx
  src/shared/JsonSchemaForm/DimensionsField.jsx
  src/shared/JsonSchemaForm/DimensionsField.test.js
  src/shared/LocationsPanel/LocationsContainer.js
  src/shared/LocationsPanel/LocationsPanel.jsx
  src/shared/LocationsPanel/LocationsPanel.test.js
  src/shared/Uploader/api.js
  src/shared/Uploader/index.test.js
  src/shared/User/UserGreeting.jsx
  src/shared/User/UserGreeting.test.jsx
  src/shared/User/sampleLoggedInUserPayload.js
Due: prettier, eslint

Change mistaken app context to transaction app context
  pkg/services/mto_shipment/sit_extension_denier.go
Due: go-version

throw error if shipment is missing a reweigh loaded
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/services/mocks/ShipmentBillableWeightCalculator.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/shipment_billable_weight.go
  pkg/services/mto_shipment/shipment_billable_weight_test.go
Due: go-version

differently formated chain for api.demo.dp3
  config/tls/api.demo.dp3.us.p7b
Due: none

use api chain for root chain in webhook dp3 dockerfile
  Dockerfile.webhook_client_dp3
Due: none

MB-9396 Update react-admin to 3.18.0 (#7324)
  package.json
  src/pages/Admin/AdminUsers/AdminUserShow.jsx
  src/pages/Admin/Moves/MoveShow.jsx
  src/pages/Admin/OfficeUsers/OfficeUserShow.jsx
  src/pages/Admin/Users/UserShow.jsx
  src/pages/Admin/WebhookSubscriptions/WebhookSubscriptionShow.jsx
  yarn.lock
Due: prettier, eslint

[MB-9112] TOO can approve and deny SIT Extensions (#7292)
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/shipment/deny_sit_extension.go
  pkg/gen/ghcapi/ghcoperations/shipment/deny_sit_extension_parameters.go
  pkg/gen/ghcapi/ghcoperations/shipment/deny_sit_extension_responses.go
  pkg/gen/ghcapi/ghcoperations/shipment/deny_sit_extension_urlbuilder.go
  pkg/gen/ghcmessages/approve_sit_extension.go
  pkg/gen/ghcmessages/deny_sit_extension.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/services/mocks/SITExtensionApprover.go
  pkg/services/mocks/SITExtensionDenier.go
  pkg/services/mto_shipment/sit_extension_approver.go
  pkg/services/mto_shipment/sit_extension_approver_test.go
  pkg/services/mto_shipment/sit_extension_denier.go
  pkg/services/mto_shipment/sit_extension_denier_test.go
  pkg/services/sit_extension.go
  pkg/testdatagen/make_sit_extension.go
  swagger/ghc.yaml
Due: go-version, swagger

Remove inline html because it was silly anyway
  swagger-def/README.md
Due: none

MB 9119 incorporate components into billable weight page (#7297)
  src/constants/routes.js
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.test.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.jsx
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.module.scss
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/styles/documentViewerWithSidebar.module.scss
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
