Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, mdspell

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

update test, change incorrect migration
  migrations/20180604231420_add_advance_worksheet_to_ppm.up.fizz
  pkg/handlers/personally_procured_move_test.go
Due: none

Defaults spouse pro gear flag to null
  src/scenes/Orders/ducks.js
Due: prettier

generalize name of validator function
  pkg/models/order.go
  pkg/models/validators.go
Due: none

add ducks and api, show error message on alert fragment on review screen
  src/scenes/Review/Summary.jsx
  src/scenes/Review/api.js
  src/scenes/Review/ducks.js
Due: prettier

Added fort gordon as a Duty Station:
  migrations/20180608001812_fort_gordon.up.sql
Due: none

Adds labels to move summary for advance, SIT
  src/scenes/Landing/MoveSummary.jsx
Due: prettier

Uses cents formatter
  src/scenes/Landing/MoveSummary.jsx
Due: prettier

WIP
  pkg/handlers/uploads.go
  pkg/storage/filesystem.go
  pkg/storage/s3.go
  pkg/storage/storage.go
Due: none

uncapitalize and remove period from message on backend
  Gopkg.lock
  pkg/handlers/entitlements.go
  pkg/models/order.go
  pkg/models/validators.go
  src/scenes/Review/Summary.jsx
Due: prettier

remove empty line
  pkg/handlers/entitlements.go
Due: none

added ulimit direction
  docs/backend.md
Due: markdown-toc, mdspell

Use testify assertions.
  pkg/handlers/personally_procured_move_test.go
Due: none

made redundant sentence more pleasing
  docs/backend.md
Due: markdown-toc, mdspell

Simplify payload construction.
  pkg/handlers/personally_procured_move.go
Due: none

Remove unused func.
  pkg/handlers/personally_procured_move.go
Due: none

add spacing to edit move title
  src/scenes/Review/Review.css
  src/scenes/Review/Summary.jsx
Due: prettier

doc viewer using editable panel
  src/scenes/Office/OrdersInfo.jsx
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier

model and test draft
  Gopkg.lock
  pkg/advanceworksheet/advanceworksheet.go
  pkg/models/advance_worksheet.go
  pkg/models/advance_worksheet_test.go
Due: none

add tests and 404 response
  pkg/handlers/entitlements.go
  pkg/handlers/entitlements_test.go
  pkg/testdatagen/make_service_member.go
  src/scenes/Review/Summary.jsx
  swagger/internal.yaml
Due: prettier

pruning comments
  pkg/models/advance_worksheet.go
  pkg/models/advance_worksheet_test.go
Due: none

add action to reviewreducer to check if entitlement changed
  pkg/handlers/errors.go
  src/scenes/Review/EditBackupContact.jsx
  src/scenes/Review/EditContactInfo.jsx
  src/scenes/Review/EditDateAndLocation.jsx
  src/scenes/Review/EditOrders.jsx
  src/scenes/Review/EditProfile.jsx
  src/scenes/Review/EditWeight.jsx
  src/scenes/Review/Summary.jsx
  src/scenes/Review/ducks.js
Due: prettier

altered queue query to pull actual updated_at data
  pkg/models/queue.go
Due: none

added .eslintrc that uses react create app config
  .eslintrc
Due: none

orders number, type, and detail now required
  src/scenes/Office/OrdersPanel.jsx
Due: prettier

new panel styling
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/OrdersInfo.jsx
  src/scenes/Office/OrdersViewerPanel.js
  src/shared/EditablePanel/index.css
Due: prettier

resolved lint warnings in tests
  src/scenes/EntitlementBar/index.test.js
  src/scenes/Feedback/index.test.js
  src/scenes/Landing/index.test.js
  src/scenes/Legalese/index.test.js
  src/scenes/Moves/ducks.test.js
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/scenes/MyMove/index.test.js
  src/scenes/Office/ducks.test.js
  src/scenes/Orders/ducks.test.js
  src/scenes/ServiceMembers/ducks.test.js
  src/scenes/Shipments/ducks.test.js
  src/scenes/SubmittedFeedback/ducks.test.js
  src/shared/FailWhale/index.test.js
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.test.js
  src/shared/JsonSchemaForm/validations.test.js
  src/shared/LoadingPlaceholder/index.test.js
  src/shared/TransportationOffices/TransportationOfficeContactInfo.test.js
  src/shared/Uploader/api.js
  src/shared/Uploader/index.test.js
  src/shared/User/Signin.test.js
  src/shared/WizardPage/index.test.js
Due: prettier

Updates client to use numeric incentive estimates
  src/scenes/Landing/MoveSummary.jsx
  src/scenes/Landing/index.jsx
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/PPMSizeWizard.jsx
  src/scenes/Moves/Ppm/Size.jsx
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Moves/Ppm/ducks.js
  src/scenes/Moves/Ppm/ducks.test.js
  src/scenes/Moves/ducks.test.js
  src/scenes/Office/PPMEstimatesPanel.jsx
  src/scenes/Orders/ducks.js
  src/scenes/Orders/ducks.test.js
  src/scenes/Review/EditDateAndLocation.jsx
  src/scenes/Review/EditWeight.jsx
  src/scenes/Review/Summary.jsx
  src/shared/User/sampleLoggedInUserPayload.js
  src/shared/entitlements.js
  src/shared/formatters.js
Due: prettier

Removes estimated_incentive string from ppm model
  migrations/20180612011002_remove_estimated_incentive.up.fizz
  pkg/handlers/personally_procured_move.go
  pkg/handlers/personally_procured_move_test.go
  pkg/models/move.go
  pkg/models/personally_procured_move.go
  pkg/models/personally_procured_move_test.go
  pkg/testdatagen/make_ppm.go
  swagger/internal.yaml
Due: none

working edit
  src/scenes/Office/OrdersPanel.jsx
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier

fixed static move date in query
  pkg/models/queue.go
Due: none

fixed ulimit example, added ulimit change to makefile
  Makefile
  docs/backend.md
Due: markdown-toc, mdspell

change alert to info instead of warning
  src/scenes/Review/Summary.jsx
Due: prettier

fixed makefile format
  Makefile
Due: none

add cancelled status to move, ppm and orders
  swagger/internal.yaml
Due: none

change to American spelling
  swagger/internal.yaml
Due: none

Updates dp3 schema
  docs/schema/dp3.sqs
Due: none

add status of orders to handler payload and redux
  pkg/handlers/orders.go
  src/scenes/Orders/ducks.js
  swagger/internal.yaml
Due: prettier

with uploads and missing class
  src/scenes/Office/OrdersInfo.jsx
  src/scenes/Office/OrdersViewerPanel.js
  src/shared/EditablePanel/index.css
Due: prettier

make fields required to support Breanne's pr
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier

add state machines for move, ppm, order with cancel functionality
  pkg/models/move.go
  pkg/models/order.go
  pkg/models/personally_procured_move.go
Due: none

Path conditions:
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

