Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Update config file
  .circleci/config.yml
Due: none

Update generated files
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/internalapi/embedded_spec.go
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, swagger

MB-9925 Simplify how appcontext linter looks for structs using pop
  pkg/appcontext-linter/appctx.go
Due: go-version

MB10192 Update address in scenes folder
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/PaymentReview/index.jsx
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/PpmLanding/PpmSummary.jsx
  src/scenes/Review/Address.jsx
  src/scenes/Review/EditDateAndLocation.jsx
  src/scenes/Review/EditWeight.jsx
  src/scenes/Review/PPMShipmentSummary.jsx
Due: prettier, eslint

MB-9925 Update appctx linter to not exclude handlers.handlerContext
  pkg/appcontext-linter/appctx.go
  testdata/src/appctx_linter_tests/handlers/main.go
Due: go-version

Add generate_edi_858_text field to payment request migration
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20211111063736_add_generated_edi_text_field.up.sql
Due: none

Update model for new field
  pkg/models/payment_request.go
  pkg/models/payment_request_test.go
Due: go-version

Save generated edi string
  pkg/services/payment_request/payment_request_reviewed_processor.go
  pkg/services/payment_request/payment_request_reviewed_processor_test.go
Due: go-version

MB-10192 Fix zip for ppm summary based on happo diffs
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint

Add index to postal_code_to_gbloc.postal_code
  migrations/app/schema/20211109231452_create_zip_to_gbloc_table.up.sql
Due: none

Create migrations for non-installation locations
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20211112193224_support_noninstallation_locations.up.sql
Due: none

Add GBLOC field to Orders model
  pkg/models/order.go
Due: go-version

Make DutyStation.Affiliation nullable
  pkg/handlers/internalapi/duty_stations.go
  pkg/handlers/internalapi/duty_stations_test.go
  pkg/handlers/internalapi/moves_test.go
  pkg/handlers/internalapi/personally_procured_move_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_incentive_test.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
  pkg/handlers/internalapi/personally_procured_move_sit_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/models/duty_station.go
  pkg/models/duty_station_test.go
  pkg/models/order_test.go
  pkg/notifications/move_payment_reminder_test.go
  pkg/paperwork/shipment_summary_test.go
  pkg/services/duty_stations/load_duty_stations.go
  pkg/services/ppmservices/estimate_calculator_test.go
  pkg/testdatagen/make_duty_station.go
Due: go-version

MB-10192 Fix address reference to resolve cypress failure
  cypress/integration/office/primesimulator/primeSimulatorFlows.js
Due: prettier

MB-10192 Fix address reference to resolve cypress failure
  cypress/fixtures/serviceMember.json
  cypress/integration/mymove/hhg.js
  cypress/integration/mymove/nts.js
  cypress/integration/mymove/ntsr.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/utilities/customer.js
Due: prettier

Add index to orders.gbloc
  migrations/app/schema/20211112193224_support_noninstallation_locations.up.sql
Due: none

MB-10192 Fix pickup postal code references
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/utilities/customer.js
Due: prettier

add reweigh to shipment in Prime UI
  src/components/PrimeUI/Shipment/Shipment.jsx
  src/pages/PrimeUI/MoveTaskOrder/MoveDetails.module.scss
Due: prettier, eslint

remove unused shipment page from PrimeUI
  src/components/PrimeUI/Shipment/Shipment.jsx
  src/pages/PrimeUI/Shipment/Shipment.jsx
Due: prettier, eslint

Revert some changes to attempt tofix cypress test issues
  cypress/integration/mymove/ppm.js
  src/scenes/Moves/Ppm/DateAndLocation.jsx
Due: prettier, eslint

Remove redundant index
  migrations/app/schema/20211109231452_create_zip_to_gbloc_table.up.sql
Due: none

Add check that NTS-r shipments have facility info on update service counseling completed
  pkg/services/move_task_order/move_task_order_updater.go
Due: go-version

Upgrade opentelemetry deps to latest, updating for API change
  go.mod
  go.sum
  pkg/telemetry/init.go
Due: go-version, gomod

temp commit
  src/components/Office/AccountingCodes/AccountingCodes.jsx
  src/components/Office/AccountingCodes/AccountingCodes.stories.jsx
Due: prettier, eslint

enabled devauth for load test environment
  config/env/loadtest.app.env
Due: none

removes padding top from address form fields over state and zip
  src/components/form/AddressFields/AddressFields.jsx
Due: prettier, eslint

wraps added space for sectionwrapper in a media query to avoid excessive extra space
  src/styles/form.module.scss
Due: none

adds space back in above form fields in current mailing address in edit profil eocmponent
  src/components/form/CustomerContactInfoFields/index.jsx
Due: prettier, eslint

undoes changes that were hitting other occuraences f components in unexpected ways
  src/components/form/BackupContactInfoFields/index.jsx
  src/components/form/CustomerContactInfoFields/index.jsx
Due: prettier, eslint

swtiches breakpoint for mobile neg margin top in contact info form
  src/components/Customer/BackupContactForm/index.jsx
  src/components/Customer/ContactInfoForm/index.jsx
Due: prettier, eslint

Add unit test
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version

Replace tabs with spaces
  migrations/app/schema/20211109231452_create_zip_to_gbloc_table.up.sql
Due: none

Add missing fields to postal_code_to_gbloc model
  pkg/models/postal_code_to_gbloc.go
Due: go-version

add shipment weight to create/update
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/create_m_t_o_shipment.go
  pkg/gen/ghcmessages/update_shipment.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, swagger

Revert postal code changes because they are not part of the address obj
  src/components/Customer/Review/Review.stories.jsx
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint

Fix issue with address shape attributes were not required
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.jsx
  src/types/address.js
Due: prettier, eslint

deploy to load test
  .circleci/config.yml
Due: none

Add length constraints to postal_code & gbloc
  migrations/app/schema/20211109231452_create_zip_to_gbloc_table.up.sql
Due: none

MB-9925 Update telemetry observers to use appCtx
  cmd/milmove/serve.go
  pkg/db/stats/pop_stats.go
  pkg/telemetry/db.go
  pkg/telemetry/runtime.go
Due: go-version
