Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

gas:
  name: go abstract syntax (gas) scanner
  entry: bin/gas -exclude=G104 -fmt text -quiet ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.

mdspell:
  name: mdspell
  entry: bin/pre-commit-spellcheck
  language: script

dep-status:
  name: dep status
  entry: dep status -v
  language: system
  description: If this hook fails, try running `dep ensure`

Add actual weights to shipment model
  migrations/20180831154537_add_actual_weight_fields_to_shipment.up.fizz
  pkg/handlers/publicapi/shipments.go
  pkg/models/shipment.go
  swagger/api.yaml
Due: gas, dep-status

Remove word 'estimate' from actual weight fields
  migrations/20180831154537_add_actual_weight_fields_to_shipment.up.fizz
  pkg/handlers/publicapi/shipments.go
  pkg/models/shipment.go
  swagger/api.yaml
Due: gas, dep-status

Duplicate ComputePPM as ComputeShipment so that it can be added to later
  pkg/rateengine/rateengine.go
Due: gas, dep-status

Creates fillable form library and testing tool
  .gitignore
  Gopkg.lock
  Makefile
  cmd/generate_pdf_form/example_template.png
  cmd/generate_pdf_form/main.go
  pkg/models/address.go
  pkg/paperwork/forms.go
Due: gas, dep-status

Use const instead of var to be more modern
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

changing for prettier
  cypress/integration/tsp/serviceAgents.js
Due: prettier

Use appropriate queue link based on shipment status.
  cypress/integration/tsp/serviceAgents.js
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

update comments for non-SIT (coal scuttle) values
  pkg/models/gov_bill_of_lading.go
Due: gas, dep-status

Removed required attributes for additional order fields. Updated cypress tests.
  cypress/integration/office/officeUserPPM.js
  src/scenes/Office/AccountingPanel.jsx
  src/scenes/Office/OrdersPanel.jsx
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier

Creates test 1203 form with command line tool
  .gitignore
  Gopkg.lock
  Makefile
  cmd/generate_1203_form/SF1203.png
  cmd/generate_1203_form/main.go
  cmd/generate_pdf_form/main.go
  pkg/paperwork/forms.go
  pkg/paperwork/forms_test.go
  pkg/paperwork/testdata/example_template.png
Due: gas, dep-status

add over 18 text to backup contact info pages
  src/scenes/Review/EditBackupContact.jsx
  src/scenes/ServiceMembers/BackupContact.jsx
Due: prettier

remove trusted agent from text
  src/scenes/Review/EditBackupContact.jsx
  src/scenes/ServiceMembers/BackupContact.jsx
Due: prettier

Re-add pre-move survey test
  cypress/integration/tsp/premoveSurvey.js
Due: prettier

add png with fixed typos, reference file in main.go
  cmd/generate_1203_form/FORM_1203.png
  cmd/generate_1203_form/main.go
Due: gas, dep-status

Remove actual weight for progear and spouse progear
  migrations/20180831154537_add_actual_weight_fields_to_shipment.up.fizz
  pkg/handlers/publicapi/shipments.go
  pkg/models/shipment.go
  swagger/api.yaml
Due: gas, dep-status

Add actual weight to patch endpoint for shipment
  pkg/handlers/publicapi/shipments.go
Due: gas, dep-status

Add actual weight to sqs diagram
  docs/schema/dp3.sqs
Due: none

Add a test for using the patch endpoint to modify actual weight on shipment
  pkg/handlers/publicapi/shipments_test.go
Due: gas, dep-status

Assigning shipment TDL from shipment info on save
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/internalapi/shipments_test.go
  pkg/models/shipment.go
  pkg/models/traffic_distribution_list.go
  pkg/models/traffic_distribution_list_test.go
  pkg/testdatagen/make_address.go
  pkg/testdatagen/make_shipment_records.go
  pkg/testdatagen/make_tariff400ng_zip3_records.go
  pkg/testdatagen/shared.go
Due: gas, dep-status

Begin work on weights panel
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Removed unused class attributes
  src/scenes/Office/AccountingPanel.jsx
  src/scenes/Office/OrdersPanel.jsx
Due: prettier

Adding basic field layout for weights panel.
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Use atual classes for styling headings and subheadings.
  src/scenes/TransportationServiceProvider/Weights.jsx
  src/shared/EditablePanel/index.css
Due: prettier

Only include fields we're editing in the list of weightsFields.
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Rename panel to contents since it will have weights and items at some point.
  src/scenes/TransportationServiceProvider/Contents.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

Add accepted HHGs to a queue in the office app
  pkg/models/queue.go
  src/scenes/Office/QueueList.jsx
  swagger/internal.yaml
Due: prettier, gas, dep-status

Remove an old todo item
  pkg/models/queue.go
Due: gas, dep-status

Add title for accepted HHG queue
  src/scenes/Office/QueueTable.jsx
Due: prettier

Maintain the move as the primary data model in queue type
  pkg/models/queue.go
Due: gas, dep-status

Add hhg_status to move queue payload
  pkg/handlers/internalapi/move_queue_items.go
  pkg/models/queue.go
  swagger/internal.yaml
Due: gas, dep-status

Add a little error handling for queues
  src/scenes/Office/QueueTable.jsx
Due: prettier

Add Edipi to service members created in test data generator
  pkg/testdatagen/make_service_member.go
Due: gas, dep-status

Add an office user to the TSP data scenario for testing
  cmd/generate_test_data/main.go
Due: gas, dep-status

Add e2e test for accepted shipment viewing from office app
  cypress/integration/office/officeUserHHG.js
  pkg/testdatagen/scenario/e2ebasic.go
Due: prettier, gas, dep-status

Fix name of test for viewing shipment
  cypress/integration/office/officeUserHHG.js
Due: prettier

Use after() in cypress tests to reset db after each set of tests
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/shipment.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/incentiveCalculator.js
  cypress/integration/office/officePremoveSurvey.js
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/storageReimbursementCalculator.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/integration/tsp/serviceAgents.js
  cypress/integration/tsp/tspUser.js
Due: prettier

Per other tests, do this last
  cypress/integration/office/officeUserHHG.js
Due: prettier

add create gbl endpoint
  swagger/api.yaml
Due: none

Per cypress docs reset the DB before() each test and not after()
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/shipment.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/incentiveCalculator.js
  cypress/integration/office/officePremoveSurvey.js
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/officeUserShipment.js
  cypress/integration/office/storageReimbursementCalculator.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/integration/tsp/serviceAgents.js
  cypress/integration/tsp/tspUser.js
Due: prettier

add shipment id to move documents table and update dp3.sqs
  docs/schema/dp3.sqs
  migrations/20180905231856_add_shipment_id_to_move_documents.down.fizz
  migrations/20180905231856_add_shipment_id_to_move_documents.up.sql
Due: none

Path conditions:
  prettier: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  gas: any of: \.go$
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  dep-status: any of: \.go$
