Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, markdown-toc, gosec, mdspell, gen-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: bin/check_go_version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.13.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.4
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Orders Swagger
        entry: bin/swagger validate swagger/orders.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint

  - repo: local
    hooks:
      - id: gosec
        name: gosec scanner
        entry: bin/gosec -exclude=G104 -fmt text ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$
        pass_filenames: false

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: bin/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
      - id: dep-version
        name: dep version
        entry: bin/check_dep_version
        language: script

Add a script to download secure migrations. Fix issue with readonly in upload-secure-migrations script
  bin/download-secure-migration
Due: none

Update docs and give better instructions in the script
  bin/download-secure-migration
  docs/database.md
Due: markdown-toc, mdspell, gen-docs

removed commented out code from Creator file
  src/shared/StorageInTransit/Creator.jsx
Due: prettier, eslint

Update text in migration
  migrations/20190129115001_master_role.up.sql
Due: none

Check that the db is up before running prod migrations or start it up
  bin/run-prod-migrations
Due: none

Use 'master' for 'ecs_user' grants locally as well as in production
  local_migrations/20190129115416_ecs_user_for_rds.sql
Due: none

Deploy to experimental
  .circleci/config.yml
Due: none

Replace calls to time.Now() with non-holiday times.
  pkg/testdatagen/constants.go
  pkg/testdatagen/make_blackout_date_records.go
  pkg/testdatagen/make_fuel_eia_diesel_price.go
  pkg/testdatagen/make_invoice.go
  pkg/testdatagen/make_shipment_line_items.go
  pkg/testdatagen/make_storage_in_transit.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, gosec

Use a better name than Now.
  pkg/testdatagen/constants.go
  pkg/testdatagen/make_blackout_date_records.go
  pkg/testdatagen/make_fuel_eia_diesel_price.go
  pkg/testdatagen/make_invoice.go
  pkg/testdatagen/make_shipment_line_items.go
  pkg/testdatagen/make_storage_in_transit.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, gosec

Refactor NextValidMoveDate method
  pkg/dates/calculators.go
Due: go-version, gosec

Replace calls to time.Now() with non-holiday times. (#1753)
  pkg/dates/calculators.go
  pkg/testdatagen/constants.go
  pkg/testdatagen/make_blackout_date_records.go
  pkg/testdatagen/make_fuel_eia_diesel_price.go
  pkg/testdatagen/make_invoice.go
  pkg/testdatagen/make_shipment_line_items.go
  pkg/testdatagen/make_storage_in_transit.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, gosec

Revert "Deploy to experimental"
  .circleci/config.yml
Due: none

introduce clock into docks
  docs/backend.md
  docs/backend/time.md
Due: markdown-toc, mdspell, gen-docs

Changed formula for SIT charge
  pkg/handlers/internalapi/personally_procured_move_sit_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine_test.go
  pkg/testdatagen/make_shipment_offer_records.go
  pkg/testdatagen/scenario/rateengine.go
Due: go-version, gosec

add calendar utils
  docs/backend/time.md
Due: markdown-toc, mdspell, gen-docs

add preface about time.Now()
  docs/backend/time.md
Due: markdown-toc, mdspell, gen-docs

Allow backwards compatibility, store properly in db.
  src/shared/PreApprovalRequest/DetailsHelper.js
  src/shared/PreApprovalRequest/DetailsHelper.test.js
  src/shared/PreApprovalRequest/PreApprovalForm.test.js
Due: prettier, eslint

Adds useful links document (#1731)
  .spelling
  docs/useful-links.md
Due: markdown-toc, mdspell, gen-docs

Returns 400-level code for unroutable HERE requests
  pkg/handlers/errors.go
  pkg/route/errors.go
  pkg/route/here_planner.go
Due: go-version, gosec

Changed 225A rate to be based on services schedule
  pkg/handlers/internalapi/personally_procured_move_sit_estimate_test.go
  pkg/rateengine/nonlinehaul.go
  pkg/rateengine/nonlinehaul_test.go
  pkg/rateengine/rateengine_test.go
  pkg/testdatagen/make_shipment_offer_records.go
  pkg/testdatagen/scenario/rateengine.go
Due: go-version, gosec

Got panel working
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/Ppm/DatesAndLocationsPanel.jsx
Due: prettier, eslint

Move tests over to office ppm file
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/ppmDatesAndLocationsPanel.js
Due: prettier, eslint

Fix from let to const
  src/scenes/Office/Ppm/DatesAndLocationsPanel.jsx
Due: prettier, eslint

Add cypress test
  cypress/integration/mymove/hhgPPM.js
  cypress/integration/office/ppmDatesAndLocationsPanel.js
Due: prettier, eslint

Cleanup rebase rename miss.
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, gosec

Remove Fragment since we have an outer div.
  src/scenes/Office/Ppm/DatesAndLocationsPanel.jsx
Due: prettier, eslint

Only set has_requested_advance to true if we set an advance.
  pkg/testdatagen/make_ppm.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, gosec

WIP on adding authorization to SIT end points. Need to add a bit more to the tests on the next commit from me.
  pkg/handlers/publicapi/storage_in_transits.go
  pkg/handlers/publicapi/storage_in_transits_test.go
Due: go-version, gosec

Clone database before each suite run.
  .envrc
  Makefile
  pkg/testingsuite/pop_suite.go
Due: go-version, gosec

Adds tests around HERE error handling
  cmd/generate_shipment_summary/main.go
  cmd/webserver/main.go
  pkg/route/errors.go
  pkg/route/here_planner.go
  pkg/route/here_planner_test.go
Due: go-version, gosec

Removes unused error constructor
  pkg/route/errors.go
Due: go-version, gosec

more commit checks before deploy
  .circleci/config.yml
  bin/check-deployed-commit
  bin/check-staging-app-sha
  bin/compare-deployed-commit
Due: none

Fix up tests, add in conditions for the DELETE handler for SIT
  pkg/handlers/publicapi/storage_in_transits.go
  pkg/handlers/publicapi/storage_in_transits_test.go
Due: go-version, gosec

Pass move type into CreateShipmentOfferData
  cmd/generate_test_data/main.go
  pkg/handlers/publicapi/generic_move_documents_test.go
  pkg/handlers/publicapi/invoices_test.go
  pkg/handlers/publicapi/move_documents_test.go
  pkg/handlers/publicapi/service_agents_test.go
  pkg/handlers/publicapi/shipment_line_items_test.go
  pkg/handlers/publicapi/shipments_test.go
  pkg/handlers/publicapi/transportation_service_provider_test.go
  pkg/handlers/publicapi/uploads_test.go
  pkg/models/invoice_test.go
  pkg/models/shipment_test.go
  pkg/rateengine/accessorials_test.go
  pkg/rateengine/line_items_test.go
  pkg/services/invoice/process_invoice_test.go
  pkg/services/invoice/store_invoice_test.go
  pkg/services/shipment/deliver_and_price_shipment_test.go
  pkg/testdatagen/make_shipment_offer_records.go
Due: go-version, gosec

Create move documents for HHG+PPM moves as well as HHG.
  pkg/handlers/publicapi/generic_move_documents_test.go
  pkg/models/move.go
Due: go-version, gosec

Make sure that we're handling the Status for SIT on create but not updating it when using PATCH
  pkg/handlers/publicapi/storage_in_transits.go
Due: go-version, gosec

Update two missed calls to CreateShipmentOfferData
  pkg/services/shipment/process_recalculate_shipment_test.go
  pkg/services/shipment/recalculate_shipment_test.go
Due: go-version, gosec

Code review fixes.
  pkg/handlers/publicapi/generic_move_documents_test.go
  pkg/testdatagen/make_shipment_offer_records.go
Due: go-version, gosec

Add TSP info to sidebar on service member hhg move summary
  src/scenes/Landing/MoveSummary.jsx
  src/scenes/TransportationServiceProvider/ContactInfo.jsx
  src/scenes/TransportationServiceProvider/ContactInfo.test.jsx
  src/shared/Entities/modules/transportationServiceProviders.js
Due: prettier, eslint
