Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
            .envrc.local.template|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.23.6
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

Require happo variables in .envrc
  .envrc
Due: none

Revert "deploy to exp"
  .circleci/config.yml
Due: none

rename hasMtoShipments => hasAnyShipments
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Add comment to happo keys after adding them to chamber
  .envrc
Due: none

finish updating tests to verify prop updates correctly enable/disable form fields
  src/pages/MyMove/SelectMoveType.jsx
  src/pages/MyMove/SelectMoveType.test.jsx
Due: prettier, eslint

Initial build of react-table v7
  src/components/Table/Table.jsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.stories.jsx
  src/components/Table/utils.js
Due: prettier, eslint

removed createStringHeader in favor of createHeader function
  src/components/Table/Table.stories.jsx
  src/components/Table/utils.js
Due: prettier, eslint

unit tests
  src/components/Table/Table.jsx
  src/components/Table/Table.test.jsx
Due: prettier, eslint

Use correct customer remarks
  cypress/integration/mymove/hhg.js
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint

Simplify edit click path
  src/components/Customer/Review/ShipmentCard/HHGShipmentCard/index.jsx
  src/components/Customer/Review/ShipmentCard/PPMShipmentCard/index.jsx
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint

Add 1 margin bottom to move setup header and simplify handleEdit paths
  src/components/Customer/Review/ShipmentCard/ShipmentCard.stories.jsx
  src/components/Customer/Review/Summary/Summary.module.scss
  src/components/Customer/Review/Summary/index.jsx
Due: prettier, eslint

fix what I think was a bug from PR #4898
  src/pages/MyMove/Home/index.jsx
  src/pages/MyMove/Home/index.test.jsx
Due: prettier, eslint

fix review page add a shipment logic
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

fix post move submission shipment list behaviors
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
  src/components/Customer/Home/ShipmentList/ShipmentList.test.jsx
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Set proper agency qualifier code based on orders
  pkg/edi/segment/fa1.go
  pkg/edi/segment/fa1_test.go
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Added reference ID to PaymentServiceItem upon creation
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20201006145421_add_reference_id_to_psi.up.sql
  pkg/models/payment_service_item.go
  pkg/models/payment_service_item_test.go
Due: go-version

Secure Migration for Duncan's CAC (#4922)
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20201006180000_dspencer_cac.up.sql
Due: none

Add secure migration for gidjin cac update
  migrations/app/migrations_manifest.txt
  migrations/app/secure/20201006232216_gidjin_cac.up.sql
Due: none

Added new Payment Service Item reference ID to EDI
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

updated remaining error messages
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
Due: go-version

Update shipment list to have no #
  src/components/Customer/Home/ShipmentList/ShipmentList.stories.jsx
Due: prettier, eslint

review page add a shipment should not hide whole section :)
  src/scenes/Review/Summary.jsx
Due: prettier, eslint

home page add a shipment copy update
  src/pages/MyMove/Home/Home.module.scss
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Update Makefile to build generate-payment-request-edi
  Makefile
  create_payment_request.json
Due: none

Remove payment request JSON
  create_payment_request.json
Due: none

Add HS to FA1 segment validation
  pkg/edi/segment/fa1.go
Due: go-version

updated data-testid format for tests
  src/components/Table/Table.jsx
  src/components/Table/Table.test.jsx
Due: prettier, eslint

use more react-y way of setting state in tests
  src/pages/MyMove/SelectMoveType.test.jsx
Due: prettier, eslint

smol refactor ShipmentList canEdit handling
  src/components/Customer/Home/ShipmentList/index.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

clean up ShipmentList tests
  src/components/Customer/Home/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

Added reference ID to Payment Service Item payload
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_service_item.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/payment_service_item.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/services/event/notification_payloads.go
  swagger/ghc.yaml
  swagger/prime.yaml
Due: go-version, swagger

tests for utils.js file
  src/components/Table/utils.test.js
Due: prettier, eslint

extract form types
  src/components/Customer/MtoShipments/HHGDetailsForm.jsx
  src/components/Customer/MtoShipments/formTypes.js
Due: prettier, eslint

extract common elements of submitMtoShipment into util method
  src/components/Customer/MtoShipments/HHGDetailsForm.jsx
  src/components/Customer/MtoShipments/utils.js
Due: prettier, eslint

move details form to sub directory
  src/components/Customer/MtoShipments/HHGDetailsForm.jsx
  src/components/Customer/MtoShipments/HHGDetailsForm.module.scss
  src/components/Customer/MtoShipments/HHGDetailsForm.stories.jsx
  src/components/Customer/MtoShipments/HHGDetailsForm.test.jsx
  src/pages/MyMove/HHGShipmentSetup.jsx
Due: prettier, eslint

Added database comment for new column
  migrations/app/schema/20201006145421_add_reference_id_to_psi.up.sql
Due: none

add placeholder files
  src/components/Customer/MtoShipments/DeliveryDetailsForm.jsx
  src/components/Customer/MtoShipments/PickupDetails.jsx
Due: prettier, eslint

Use pre-commit-golang to run golangci-lint
  .pre-commit-config.yaml
  scripts/prereqs
Due: none

moves hint insdie fieldset
  src/components/Customer/EditShipment.jsx
Due: prettier, eslint

Run yarn install to revert unintended changes to yarn.lock
  yarn.lock
Due: none
