Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

add test for cancelled shipment
  src/components/Office/ShipmentHeading.test.jsx
Due: prettier, eslint

add in cancelled shipment test for tag
  src/components/Office/ShipmentDisplay/ShipmentDisplay.test.jsx
Due: prettier, eslint

hide request cancellation button if shipment is cancelled
  src/components/Office/ShipmentHeading.jsx
  src/components/Office/shipmentHeading.module.scss
Due: prettier, eslint

make commands to backup, restore and cleanup dev e2e data
  Makefile
Due: none

add prop status to shipment
  src/types/shipment.js
Due: prettier, eslint

fix name shipmentInfo
  src/components/Office/ShipmentContainer.stories.jsx
Due: prettier, eslint

add in additional information for shipment_hhg_cancelled sub scenario
  pkg/testdatagen/scenario/devseed.go
Due: go-version

show cancelled tag when shipment is cancelled
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.stories.jsx
Due: prettier, eslint

update test to use shipment status
  src/components/Office/ShipmentDisplay/ShipmentDisplay.test.jsx
Due: prettier, eslint

pass in shipment status to shipmentAddress component
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
Due: prettier, eslint

refactor subscenario to also run namedSubScenario on empty flag
  pkg/testdatagen/scenario/devseed.go
Due: go-version

specify locator id for subscenario
  pkg/testdatagen/scenario/devseed.go
Due: go-version

removes unused calssnames import
  src/components/Customer/SelectableCard.jsx
Due: prettier, eslint

naming is the hardest part
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/internalapi/mto_shipment.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/services/mocks/MTOShipmentUpdater.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

Upgrades React-USWDS to v2, fixes import errors
  package.json
  src/components/Office/ServicesCounseling/SCRequestShipmentCancellationModal/SCRequestShipmentCancellationModal.jsx
  yarn.lock
Due: prettier, eslint

Fix error formatting
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

validate status change
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/validation.go
  pkg/services/mto_shipment/validation_test.go
Due: go-version

Use UpdateMTOShipmentCustomer in test
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

Switch from Customer to UpdateMTOShipmentOffice
  pkg/handlers/ghcapi/mto_shipment.go
Due: go-version

Fix incorrect use of queryByText
  src/pages/MyMove/AmendOrders/AmendOrders.test.jsx
Due: prettier, eslint

Check that we have verrs before returning
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Return unformatted verrs
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Edits from review
  cypress/support/commands.js
  src/components/Admin/ImportCsvButton/index.jsx
Due: prettier, eslint

troubleshooting db connection in demo-env
  config/env/demo.migrations.env
Due: none

Remove tests
  cypress/integration/admin/officeUsers.js
  src/components/Admin/ImportCsvButton/index.jsx
Due: prettier, eslint

Remove cypress ocmmand
  cypress/support/commands.js
Due: prettier

MB-8373 add parsing functionality to admin app (#6831)
  cypress/fixtures/officeUsers.csv
  cypress/integration/admin/officeUsers.js
  src/components/Admin/ImportCsvButton/index.jsx
  src/constants/userRoles.js
  src/pages/Admin/OfficeUsers/OfficeUserList.jsx
  src/scenes/SystemAdmin/shared/RolesCheckboxes.jsx
  src/scenes/SystemAdmin/shared/rest_provider.js
Due: prettier, eslint

Add uploaded_amended_orders to OrdersShape
  src/types/customerShapes.js
Due: prettier, eslint

Fix 500 on login when amended orders are present
  pkg/handlers/internalapi/orders.go
Due: go-version

Show amended orders files on amended orders page
  src/pages/MyMove/AmendOrders/AmendOrders.jsx
  src/store/entities/selectors.js
Due: prettier, eslint

adjusts position of description text on larger screens
  src/components/Customer/SelectableCard.module.scss
Due: none

Enhance the NTSR Cypress Test
  cypress/integration/mymove/ntsr.js
Due: prettier

add amended orders to ghc payload definition, add document fetch to move order page component, amended orders devseed
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/order.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/testdatagen/scenario/bandwidth.go
  pkg/testdatagen/scenario/devseed.go
  src/hooks/queries.js
  src/pages/Office/MoveDocumentWrapper/MoveDocumentWrapper.jsx
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Adds baseline storybook entry
  src/pages/MyMove/Home/index.stories.jsx
Due: prettier, eslint

adds datatestid to radio card for test purposes
  src/components/Customer/SelectableCard.jsx
Due: prettier, eslint

try sass-loader v11 (needed for node-sass v6)
  package.json
Due: none

attempt to use ecs_user
  config/env/demo.migrations.env
Due: none

Adds content changes requested by design
  src/pages/MyMove/Home/HomeHelpers.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

Convert service param value lookups to per test txn
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups_test.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
