Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

markdown-toc:
  name: markdown-toc
  entry: scripts/generate-md-toc
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

mdspell:
  name: mdspell
  entry: scripts/pre-commit-spellcheck
  language: script

gen-docs:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

circleci-validate:
  name: circleci validate
  entry: scripts/pre-commit-circleci-validate
  language: script
  pass_filenames: false

Add dockerignore file
  cypress/.dockerignore
Due: none

payload for a list of service items, listMTOServiceItemsHandler
  pkg/handlers/ghcapi/mto_service_items.go
Due: go-version

hook up endpoint to handler
  pkg/handlers/ghcapi/api.go
Due: go-version

Revert "Prime API is authenticated with Mutual TLS"
  .envrc
  .gitignore
  .spelling
  README.md
  cmd/milmove/gen_orders_migration.go
  cmd/milmove/main.go
  cmd/milmove/serve.go
  config/tls/devlocal-mtls.cer
  config/tls/devlocal-mtls.key
  docs/how-to/migrate-the-database.md
  docs/how-to/upload-electronic-orders.md
  local_migrations/20191212230438_add_devlocal-mtls_client_cert.up.sql
  migrations/20191212225704_add_allow_prime.up.sql
  migrations_manifest.txt
  pkg/auth/auth_test.go
  pkg/auth/authentication/auth.go
  pkg/auth/cookie.go
  pkg/cli/hosts.go
  pkg/models/client_cert.go
  scripts/README.md
  scripts/check-hosts-file
  scripts/mutual-tls-extract-fingerprint
  scripts/mutual-tls-extract-subject
  scripts/prime-api
Due: go-version, markdown-toc, mdspell, gen-docs

Revert "MB-738 Datepicker improperly handles typing input"
  src/scenes/Moves/Ppm/api.js
  src/scenes/Office/Ppm/api.js
  src/shared/JsonSchemaForm/SingleDatePicker.jsx
  src/shared/JsonSchemaForm/reduxFieldNormalizer.js
  src/shared/JsonSchemaForm/validator.js
  src/shared/dates.js
  src/shared/dates.test.js
  src/shared/utils.js
Due: prettier, eslint

corrected test language
  src/shared/dates.test.js
Due: prettier, eslint

formatDateForSwagger no longer converts bad data into something that swagger will accept
  src/shared/dates.js
  src/shared/dates.test.js
Due: prettier, eslint

moved date formatting and parsing to dates.js and added unit tests
  src/scenes/Moves/Ppm/api.js
  src/scenes/Office/Ppm/api.js
  src/shared/JsonSchemaForm/SingleDatePicker.jsx
  src/shared/JsonSchemaForm/reduxFieldNormalizer.js
  src/shared/JsonSchemaForm/validator.js
  src/shared/dates.js
  src/shared/dates.test.js
  src/shared/utils.js
Due: prettier, eslint

make mocha/cypress work
  package.json
  yarn.lock
Due: none

MB-608 ma add roles to office user
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/office_user.go
  pkg/gen/adminmessages/role.go
  pkg/handlers/adminapi/office_users.go
  src/scenes/SystemAdmin/OfficeUsers/OfficeUserEdit.jsx
  swagger/admin.yaml
Due: go-version, prettier, eslint, swagger

interm update
  cypress.json
  cypress/integration/mymove/ppmCloseout.js
  src/shared/dates.js
Due: prettier, eslint

Add endpoint to prime.yaml
  swagger/prime.yaml
Due: swagger

Optionally create GHC models when a move is submitted.
  .envrc
  pkg/cli/featureflag.go
  pkg/handlers/internalapi/moves.go
  pkg/models/convert.go
  pkg/models/convert_test.go
Due: go-version

return query if querybuilder params nil
  pkg/services/query/query_builder.go
Due: go-version

Start work on new ecs-deploy binary with task-def generation ability
  Makefile
  cmd/ecs-deploy/main.go
  cmd/ecs-deploy/task_def.go
  config/env/experimental.send-post-move-survey.env
Due: go-version

corrected internal server error type for list handler
  pkg/handlers/ghcapi/mto_service_items.go
Due: go-version

test for list fetcher handler
  pkg/handlers/ghcapi/mto_service_items_test.go
Due: go-version

updated spec
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/m_t_o_service_item.go
  swagger/ghc.yaml
Due: go-version

use 4000 for cypress testing
  cypress.json
Due: none

updated payload to include reService code and name
  pkg/handlers/ghcapi/mto_service_items.go
Due: go-version

weight ticket should use formatDateForSwagger when passing date
  src/scenes/Moves/Ppm/WeightTicket.jsx
Due: prettier, eslint

upload weight tickets uses swagger date formatter
  cypress/integration/mymove/ppmCloseout.js
  src/shared/dates.js
Due: prettier, eslint

use cypress-multi-reporters...
  Dockerfile.cypress
  cypress.json
Due: none

get ppmMoveDocuments tests to work
  cypress/integration/office/ppmMoveDocuments.js
Due: prettier, eslint

MB-608 ma wire up roles on show and edit pages
  src/scenes/SystemAdmin/OfficeUsers/OfficeUserEdit.jsx
  src/scenes/SystemAdmin/OfficeUsers/OfficeUserShow.jsx
  src/scenes/SystemAdmin/shared/RolesCheckboxes.jsx
Due: prettier, eslint

fix failing tests
  src/scenes/Moves/Ppm/api.js
  src/shared/Entities/modules/ppms.js
  src/shared/dates.js
  src/shared/dates.test.js
Due: prettier, eslint

Avoid duplication'
  src/scenes/Moves/Ppm/WeightTicket.jsx
Due: prettier, eslint

add date formatting tests
  src/shared/dates.js
  src/shared/dates.test.js
Due: prettier, eslint

fix failing integration tests (#3232)
  Dockerfile.cypress
  cypress.json
  cypress/integration/office/ppmMoveDocuments.js
  package.json
  src/scenes/Moves/Ppm/WeightTicket.jsx
  src/scenes/Moves/Ppm/api.js
  src/scenes/Office/Ppm/api.js
  src/shared/Entities/modules/ppms.js
  src/shared/JsonSchemaForm/SingleDatePicker.jsx
  src/shared/JsonSchemaForm/reduxFieldNormalizer.js
  src/shared/JsonSchemaForm/validator.js
  src/shared/dates.js
  src/shared/dates.test.js
  src/shared/utils.js
  yarn.lock
Due: prettier, eslint

Add documentation on how to call the prime api
  docs/README.md
  docs/how-to/make-a-sample-prime-api-call.md
  docs/images/postman_client_cert.png
  docs/images/postman_collections_response.png
  docs/images/postman_import.png
  docs/images/postman_import_dialog.png
  docs/images/postman_settings_menu.png
  docs/images/postman_ssl_verification.png
  docs/postman/primeapi.postman_collection.json
Due: markdown-toc, mdspell, gen-docs

addressed lint warnings
  src/scenes/Moves/Ppm/Size.jsx
Due: prettier, eslint

Remove unused fields on mto
  migrations/20191216153941_create-mto-required-fields-v2.up.sql
  migrations_manifest.txt
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_task_order/update_move_task_order_status.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/handlers/ghcapi/move_task_order.go
  pkg/models/move_task_order.go
  pkg/services/mocks/MoveTaskOrderStatusUpdater.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order.go
  pkg/testdatagen/make_move_task_order.go
  swagger/ghc.yaml
Due: go-version

Add missing e2e test data and more test cases
  pkg/testdatagen/make_customer.go
  pkg/testdatagen/make_move_order.go
  pkg/testdatagen/scenario/e2ebasic.go
  src/scenes/Office/TOO/customerDetails.jsx
  src/scenes/Office/TOO/too.jsx
Due: go-version, prettier, eslint

Add and use handler to get all mtos for a move order
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_task_orders.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_task_orders_parameters.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_task_orders_responses.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_task_orders_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/move_orders.go
  pkg/services/mocks/MoveOrderFetcher.go
  pkg/services/mocks/MoveTaskOrderFetcher.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order.go
  pkg/services/move_task_order/move_task_order_test.go
  src/scenes/Office/TOO/customerDetails.jsx
  src/scenes/Office/index.jsx
  src/shared/Entities/modules/moveTaskOrders.js
  src/shared/Entities/schema.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint

Complete Customer moves page
  src/scenes/Office/TOO/customerDetails.jsx
  src/scenes/Office/TOO/too.jsx
  src/scenes/Office/index.jsx
  src/shared/Entities/modules/moveTaskOrders.js
Due: prettier, eslint

Add list move orders operation to yaml
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_orders/list_move_orders.go
  pkg/gen/ghcapi/ghcoperations/move_orders/list_move_orders_parameters.go
  pkg/gen/ghcapi/ghcoperations/move_orders/list_move_orders_responses.go
  pkg/gen/ghcapi/ghcoperations/move_orders/list_move_orders_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/move_task_order/list_move_task_orders.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/move_orders.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/move_orders.go
  swagger/ghc.yaml
Due: go-version

Add missing customer fields first_name and last_name
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/customer.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  swagger/ghc.yaml
Due: go-version

Add required fields for move_order and customer
  migrations/20191218163024_add_required_moveorder_and_customer_fields.up.sql
  migrations_manifest.txt
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move_orders.go
  pkg/models/customer.go
  pkg/models/move_order.go
  pkg/services/move_order.go
  pkg/services/move_order/move_order.go
  pkg/services/move_order/move_order_test.go
  pkg/testdatagen/make_customer.go
  pkg/testdatagen/make_move_order.go
  src/scenes/Office/TOO/too.jsx
  src/shared/Entities/modules/moveTaskOrders.js
  src/shared/Entities/schema.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint

Finish displaying of data in front end
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_orders.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_orders_parameters.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_orders_responses.go
  pkg/gen/ghcapi/ghcoperations/move_order/list_move_orders_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/move_order.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/move_orders.go
  pkg/models/move_order.go
  pkg/services/move_order/move_order.go
  pkg/services/move_order/move_order_test.go
  pkg/testdatagen/make_customer.go
  src/scenes/Office/TOO/too.jsx
  swagger/ghc.yaml
Due: go-version, prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger/ghc_*)
  markdown-toc: any of: \.md$
  gomod: any of: go.mod
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  gen-docs: any of: \.md$
  circleci-validate: any of: [.]circleci/config.yml$
