Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Updated display logic so SIT shows even when there are no extensions
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
Due: prettier, eslint

Resolving issues around date on SIT
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.test.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensionsTestParams.js
Due: prettier, eslint

SIT Jest tests
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.stories.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.test.jsx
Due: prettier, eslint

Accommodate test data changes
  pkg/testdatagen/scenario/shared.go
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.test.jsx
Due: go-version, prettier, eslint

Update MTO test data for SIT
  src/pages/Office/MoveTaskOrder/moveTaskOrderUnitTestData.js
Due: prettier, eslint

Start of testing SIT extension display
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.stories.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.test.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensionsTestParams.js
Due: prettier, eslint

MB-7289 TOO sees total number of days remaining for shipments in SIT FE
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.module.scss
Due: prettier, eslint

Resolved missing key error and made previous SIT list conditional
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.jsx
Due: prettier, eslint

Update condition for showing/hiding SIT data
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
Due: prettier, eslint

Happy little storybook scenarios
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.stories.jsx
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensionsTestParams.js
Due: prettier, eslint

lint space fix
  pkg/handlers/ghcapi/mto_shipment.go
Due: go-version

Does not show error when first mounting form
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.jsx
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.stories.jsx
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint

Remove all instances of shipment weight since it should show up in the design
  src/components/Office/ServiceItemCalculations/ServiceItemCalculations.test.jsx
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ServiceItemCalculations/helpers.test.js
Due: prettier, eslint

Resolved cypress test issue
  cypress/integration/office/txo/tooFlows.js
Due: prettier

Rename vars to be about Shipment instead of MTO
  pkg/payment_request/service_param_value_lookups/number_days_sit_lookup.go
Due: go-version

MB-9256 update service items calculations UI (#7463)
  pkg/testdatagen/scenario/shared.go
  src/components/Office/ServiceItemCalculations/ServiceItemCalculations.jsx
  src/components/Office/ServiceItemCalculations/ServiceItemCalculations.test.jsx
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ServiceItemCalculations/helpers.test.js
  src/components/Office/ServiceItemCalculations/serviceItemTestParams.js
  src/constants/serviceItems.js
Due: go-version, prettier, eslint

Assorted test console error message cleanup
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
  src/components/Office/PaymentRequestCard/PaymentRequestCard.test.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.test.jsx
Due: prettier, eslint

Hide part of the hint text for the max billable weight if there is no estimated weight
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.jsx
Due: prettier, eslint

Update health check to only check https
  .circleci/config.yml
Due: none

Add tests to make sure the hint text only shows up when it should
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.jsx
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint

remove everything related to deploying niprnet tasks
  .circleci/config.yml
  cmd/ecs-deploy/task_def.go
  config/env/prd.app-client-tls-niprnet.env
  config/env/prd.app-niprnet.env
  config/env/stg.app-client-tls-niprnet.env
  config/env/stg.app-niprnet.env
  scripts/README.md
  scripts/deploy-app-client-tls-niprnet
  scripts/deploy-app-niprnet
  scripts/ecs-deploy-service-container
Due: go-version

small refactor to pass the logger between functions so we don't have to make a second call
  pkg/handlers/ghcapi/mto_shipment.go
Due: go-version

MB-9602 TIO sees SIT Days Invoiced when reviewing SIT calculations
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.test.jsx
  src/components/Office/ServiceItemCalculations/helpers.test.js
  src/constants/serviceItems.js
Due: prettier, eslint

Date related test data fix
  src/components/Office/ShipmentSITExtensions/ShipmentSITExtensions.test.jsx
Due: prettier, eslint

created migration to add new column to moves for when billable weight was reviewed
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210930155650_add_billable_weights_reviewed_at_column_to_moves.up.sql
Due: none

cherry picked from original dependabot PR 3f9629b4c6216fbfa4681ee17e1d89bc2866f67d
  package.json
  yarn.lock
Due: none

updated the move model to include new column
  pkg/models/move.go
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
Due: go-version, prettier, eslint

Update to latest docker hash after merge to master
  Dockerfile.local
  Dockerfile.migrations_local
  Dockerfile.reviewapp
  Dockerfile.tasks_local
  Dockerfile.tools_local
  Dockerfile.webhook_client
  Dockerfile.webhook_client_dp3
  Dockerfile.webhook_client_local
  Makefile
  cypress/Dockerfile.cypress
  scripts/gen-assets
  scripts/gen-server
  scripts/pre-commit-swagger-validate
Due: none

Fix the hint text for the to fit value
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.jsx
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.jsx
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.stories.jsx
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

fix for duty station search box component
  src/components/DutyStationSearchBox/DutyStationSearchBox.jsx
Due: prettier, eslint

MB-9285 Add move weights to MTO left nav
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

fix tests
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.test.jsx
Due: prettier, eslint

Remove sandy and lynzt CAC access records
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210930202639_remove_sandy_and_lynzt_cac_access.up.sql
Due: none

Fix logic around when hint text should appear
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.jsx
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint

Add tests to check that the hint text does not show up for certain cases
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint

reverting cert name changes as they were RIGHT all along
  Makefile
  cmd/webhook-client/utils/connection.go
Due: go-version

deploy to experimental
  .circleci/config.yml
Due: none

MB-9088 notify prime sit extension status (#7457)
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/services/event/event.go
  pkg/services/event/ghc_endpoint.go
Due: go-version

Fix all the console output that was getting produced
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint

Add extra tests for when the hint text should show up
  src/components/Office/BillableWeight/EditBillableWeight/EditBillableWeight.test.jsx
Due: prettier, eslint
