Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate, codecov-validate

.pre-commit-config.yaml:

#documentation - docs/how-to/run-pre-commit-hooks.md
repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.17.1
    hooks:
      - id: golangci-lint
        entry: golangci-lint run

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.17.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: bin/swagger validate
        language: script
        files: swagger/*
        types: [yaml]

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: scripts/generate-md-toc
        language: script
        files: \.md$

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: scripts/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: gen-docs
        name: regenerate docs index
        entry: scripts/gen-docs-index
        language: script
        files: \.md$
        pass_filenames: false

  - repo: local
    hooks:
    - id: circleci-validate
      name: circleci validate
      entry: scripts/pre-commit-circleci-validate
      language: script
      files: '[.]circleci/config.yml$'
      pass_filenames: false

  - repo: local
    hooks:
    - id: codecov-validate
      name: codecov validate
      entry: scripts/pre-commit-codecov-validate
      language: script
      files: .codecov.yml
      pass_filenames: false

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
    - id: dockerfilelint
      stages: [commit]

  - repo: local
    hooks:
    - id: migrations-manifest
      name: migrations manifest
      entry: scripts/update-migrations-manifest
      language: script
      pass_filenames: false

Update .envrc
  .envrc
Due: none

Remove tempfiles after using them (#2447)
  pkg/handlers/internalapi/personally_procured_move_attachments.go
  pkg/paperwork/generator.go
  pkg/paperwork/generator_test.go
Due: go-version

List directory which is the problem for listing during migration
  cmd/milmove/migrate.go
Due: go-version

Capture an error where the client isn't passed to list bucket
  pkg/migrate/ListFiles.go
Due: go-version

Use a different task role for the migrations
  scripts/ecs-run-app-migrations-container
Due: none

Fix failing test
  pkg/paperwork/shipment_summary_test.go
  pkg/rateengine/rateengine.go
Due: go-version

Stop deploying to experimental
  .circleci/config.yml
Due: circleci-validate

Normalize the migration generation commands
  cmd/milmove/gen.go
  cmd/milmove/gen_disable_user_migration.go
  cmd/milmove/gen_migration.go
  cmd/milmove/gen_office_user_migration.go
Due: go-version

enable ineffassign hook
  .golangci.yml
  cmd/milmove/gen_disable_user_migration.go
  cmd/milmove/gen_office_user_migration.go
  pkg/auth/authentication/client_cert.go
  pkg/awardqueue/awardqueue.go
  pkg/cli/dbconn.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_attachments_test.go
  pkg/handlers/publicapi/shipment_line_items.go
  pkg/handlers/publicapi/shipment_line_items_test.go
  pkg/handlers/publicapi/storage_in_transits.go
  pkg/models/electronic_order.go
  pkg/models/electronic_orders_revision.go
  pkg/models/fuel_eia_diesel_price_test.go
  pkg/models/move_document_test.go
  pkg/models/move_test.go
  pkg/models/service_member.go
  pkg/models/storage_in_transit_test.go
  pkg/models/tariff400ng_full_pack_rate_test.go
  pkg/models/tariff400ng_full_unpack_rate_test.go
  pkg/models/tariff400ng_linehaul_rate_test.go
  pkg/models/tariff400ng_shorthaul_rate_test.go
  pkg/models/weight_ticket_set_document_test.go
  pkg/paperwork/generator_test.go
  pkg/rateengine/rateengine_test.go
  pkg/route/zip_locale_test.go
  pkg/services/fuelprice/diesel_fuel_price_storer.go
  pkg/services/invoice/update_invoice_submitted_test.go
  pkg/services/invoice/update_invoice_upload.go
  pkg/services/shipment/deliver_and_price_shipment_test.go
  pkg/services/shipment/process_recalculate_shipment_test.go
  pkg/services/shipment_line_item/recalculate_shipment_line_items.go
  pkg/services/storage_in_transit/create_storage_in_transit_test.go
  pkg/services/storage_in_transit/delete_storage_in_transit_test.go
  pkg/services/storage_in_transit/fetch_storage_in_transit_by_id_test.go
  pkg/testdatagen/make_tsp_records.go
  pkg/testdatagen/scenario/e2ebasic.go
  pkg/uploader/uploader_test.go
Due: go-version

enable ineffassign hook
  .golangci.yml
Due: none

Add users to staging. (#2437)
  local_migrations/20190723192710_add_staging_user.sql
  migrations/20190723192710_add_staging_user.up.fizz
  migrations_manifest.txt
Due: none

Clarifying hotreload backend server config
  Makefile
Due: none

Enable gosimple linter and fix failing checks
  .golangci.yml
  cmd/ecs-service-logs/main.go
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/client_cert.go
  pkg/auth/hostname_detector.go
  pkg/awardqueue/awardqueue.go
  pkg/cli/auth.go
  pkg/cli/certs.go
  pkg/dates/calculators.go
  pkg/db/dbfmt/dbfmt.go
  pkg/edi/invoice/generator_test.go
  pkg/handlers/internalapi/office.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_test.go
  pkg/handlers/internalapi/shipments.go
  pkg/handlers/publicapi/shipments.go
  pkg/iws/rbs_person_lookup.go
  pkg/middleware/context_logger_test.go
  pkg/middleware/request_logger_test.go
  pkg/middleware/valid_methods_static.go
  pkg/models/fuel_eia_diesel_price_test.go
  pkg/models/reimbursement_test.go
  pkg/models/shipment.go
  pkg/models/shipment_offer.go
  pkg/models/validators.go
  pkg/rateengine/rateengine.go
  pkg/services/fuelprice/diesel_fuel_price_storer.go
  pkg/services/fuelprice/diesel_fuel_price_storer_test.go
  pkg/services/invoice/invoice_service_test.go
  pkg/services/invoice/update_invoice_upload_test.go
  pkg/services/shipment/deliver_and_price_shipment.go
  pkg/services/shipment/process_recalculate_shipment.go
  pkg/testdatagen/make_shipment_line_items.go
Due: go-version

Fix broken test
  pkg/services/shipment/process_recalculate_shipment_test.go
Due: go-version

Return errors. s/FileName/Filename/g
  cmd/milmove/gen_disable_user_migration.go
  cmd/milmove/gen_office_user_migration.go
Due: go-version

Removing gin appPort since unused
  Makefile
Due: none

Fixing typo
  Makefile
Due: none

Rename scripts
  scripts/README.md
  scripts/cac-extract-cert
  scripts/cac-extract-fingerprint
  scripts/cac-extract-pubkey
Due: markdown-toc, mdspell, gen-docs

Add back script to generate pubkey from cert
  scripts/cac-generate-pubkey
Due: none

One liner for generating the pubkey from CAC
  scripts/cac-generate-pubkey
Due: none

Revert gitignore change
  .gitignore
  docs/how-to/upload-electronic-orders.md
Due: markdown-toc, mdspell, gen-docs

Update readme
  migrations_manifest.txt
  scripts/README.md
Due: markdown-toc, mdspell, gen-docs

Add better install instructions
  scripts/prereqs
Due: none

Make the generate commands look the same
  cmd/milmove/gen_office_user_migration.go
  cmd/milmove/gen_orders_migration.go
Due: go-version

Add a few scripts for working with a CAC
  scripts/README.md
  scripts/cac-generate-cert
  scripts/cac-generate-pubkey
  scripts/cac-info
Due: markdown-toc, mdspell, gen-docs

Add flag checking
  cmd/milmove/gen_orders_migration.go
Due: go-version

Use more perl
  scripts/cac-generate-fingerprint
Due: none

Add docs about uploading orders
  docs/README.md
  docs/how-to/upload-electronic-orders.md
Due: markdown-toc, mdspell, gen-docs

Update name of how-to doc
  docs/README.md
  docs/how-to/upload-electronic-orders.md
Due: markdown-toc, mdspell, gen-docs

Update cac-info script
  scripts/README.md
  scripts/cac-info
Due: markdown-toc, mdspell, gen-docs

Remove unnecessary script and merge its capability into the cac-generate-cert script
  scripts/cac-generate-cert
  scripts/cac-generate-pubkey
Due: none

Check for opensc tool
  scripts/prereqs
Due: none

Use the pkg/cli/ stuff correctly
  cmd/milmove/gen_orders_migration.go
Due: go-version

Add scripts that can get a cert from a CAC
  .gitignore
  migrations_manifest.txt
  scripts/cac-generate-fingerprint
  scripts/cac-generate-pubkey
Due: none

Use the pkg/cli/ stuff correctly
  cmd/milmove/gen_office_user_migration.go
  cmd/milmove/gen_orders_migration.go
Due: go-version

One liners for getting fingerprint and subject
  scripts/cac-generate-cert
  scripts/cac-generate-fingerprint
Due: none

Generate a migration that allows CAC user to upload orders
  cmd/milmove/gen_orders_migration.go
  cmd/milmove/main.go
Due: go-version

Add subject to fingerprint script. Remove identity file after using script. Hide stderr
  scripts/cac-generate-cert
  scripts/cac-generate-fingerprint
  scripts/cac-generate-pubkey
Due: none

One liner for showing certificate
  scripts/cac-generate-cert
Due: none

Remove execCopyFromStdin functions since they live in now.
  pkg/migrate/execCopyFromStdin.go
  pkg/migrate/execCopyFromStdin_test.go
Due: go-version
