Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, markdown-toc, gomod, mdspell, gen-docs, circleci-validate

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

markdown-toc:
  name: markdown-toc
  entry: scripts/generate-md-toc
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

mdspell:
  name: mdspell
  entry: scripts/pre-commit-spellcheck
  language: script

gen-docs:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

circleci-validate:
  name: circleci validate
  entry: scripts/pre-commit-circleci-validate
  language: script
  pass_filenames: false

do not use fqdn in env variable becuase the code will construct the fqdn at runtime
  .envrc
Due: none

convert env variable holding struct from strings to pointers
  pkg/storage/s3.go
Due: go-version

log failed region value
  pkg/cli/storage.go
Due: go-version

set assets domain variable for container definition, docker files and set cdn backend to s3 by default
  config/app.container-definition.json
  docker-compose.circle.yml
  docker-compose.local.yml
  docker-compose.yml
  pkg/cli/cdn.go
Due: go-version

remove local override for cdn endpoint, fix endpoint value in docker compose files and seta default value during pkg initialization
  .envrc
  docker-compose.circle.yml
  docker-compose.local.yml
  docker-compose.yml
  pkg/cli/cdn.go
Due: go-version

relocate cdn variable instructions for clarity
  .envrc
Due: none

update index for readme file becuase of update to the underlying doc
  docs/README.md
Due: markdown-toc, mdspell, gen-docs

add environment variables for cf distribution and add code path to enable cf signing of urls
  .envrc
  config/env/experimental.env
  config/env/prod.env
  config/env/staging.env
  pkg/cli/certs.go
  pkg/cli/featureflag.go
  pkg/cli/hosts.go
  pkg/storage/s3.go
  pkg/storage/storage.go
Due: go-version

stop skiping tests for experimental environment
  .circleci/config.yml
Due: circleci-validate

rename variable to stay consistent with naming conventions
  pkg/cli/storage.go
  pkg/storage/storage.go
Due: go-version

consolidate cdn and storage into a single package and move validation checks for centralization
  pkg/cli/cdn.go
  pkg/cli/cdn_test.go
  pkg/cli/storage.go
  pkg/storage/storage.go
Due: go-version

move s3 region variable into env files so we can use storage_backend env variable
  config/app-client-tls.container-definition.json
  config/app-migrations.container-definition.json
  config/app.container-definition.json
  config/env/experimental.env
  config/env/prod.env
  config/env/staging.env
Due: none

remove dupe check, flag already checked in storage pkg
  pkg/storage/storage.go
Due: go-version

remove changes that snuck in becuase of a rebase
  pkg/cli/hosts.go
Due: go-version

add storage backend variable to tls container definition
  config/app-client-tls.container-definition.json
Due: none

linter fixes
  pkg/cli/hosts.go
Due: go-version

stop deploying branch on experimental
  .circleci/config.yml
Due: circleci-validate

enable cdn on staging env to start leveraging assets.staging
  config/env/staging.env
Due: none

Revert "Remove 'a' tag from cy.get"
  cypress/integration/mymove/ppmCloseout.js
Due: prettier, eslint

Add test (failing) success test for create payment request upload service; add objects to Proof of Service creation
  pkg/services/payment_request/logger.go
  pkg/services/payment_request/payment_request_service_test.go
  pkg/services/payment_request/upload_creator.go
  pkg/services/payment_request/upload_creator_test.go
Due: go-version

Created special PPMX TSP to represent top PPM
  migrations/20191229183600_add_top_tsp_for_ppms.up.sql
  migrations_manifest.txt
Due: none

Deploy to experimental
  .circleci/config.yml
Due: circleci-validate

Revert "Deploy to experimental"
  .circleci/config.yml
Due: circleci-validate

Add conditional in loader for existing transaction; adjust file in test suite
  pkg/services/payment_request/payment_request_service_test.go
  pkg/services/payment_request/upload_creator_test.go
  pkg/uploader/uploader.go
Due: go-version

Fix shadow variable issue in service call; add asserts for success test
  pkg/services/payment_request/upload_creator.go
  pkg/services/payment_request/upload_creator_test.go
Due: go-version

fix test
  pkg/services/audit/audit_test.go
Due: go-version

Separate the mymove repo from the ppp-infra repo
  .envrc
  .envrc.chamber.template
  .spelling
  README.md
  scripts/README.md
  scripts/aws
  scripts/aws-vault-wrapper
  scripts/chamber
  scripts/check-aws-vault-version
  scripts/deploy-app
  scripts/deploy-app-client-tls
  scripts/deploy-app-migrations
  scripts/deploy-app-tasks
  scripts/prereqs
Due: markdown-toc, mdspell, gen-docs

Move the chamber vars up
  .envrc
Due: none

add create payment playload audit test
  pkg/handlers/primeapi/payment_request_test.go
Due: go-version

MB-608 ma fix some types/add parse
  pkg/handlers/adminapi/office_users.go
  src/scenes/SystemAdmin/shared/RolesCheckboxes.jsx
Due: go-version, prettier, eslint

Only allow circleci to describe parameters. Fix issue with service regions.
  .envrc
  cmd/ecs-deploy-task-container/main.go
  go.mod
  go.sum
  scripts/ecs-deploy-service-container
  scripts/ecs-run-app-migrations-container
Due: go-version, gomod

WIP
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/office_user_update_payload.go
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/adminapi/office_users_test.go
  swagger/admin.yaml
Due: go-version, swagger

Fix quotes used so variables can be detected
  scripts/ecs-deploy-service-container
  scripts/ecs-run-app-migrations-container
Due: none

Remove chamber from task def
  config/app-migrations.container-definition.json
Due: none

Extract service object for user / role associations
  pkg/handlers/adminapi/api.go
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/adminapi/office_users_test.go
  pkg/models/users_roles.go
  pkg/services/users_roles.go
  pkg/services/users_roles/users_roles.go
  pkg/services/users_roles/users_roles_service_test.go
  pkg/services/users_roles/users_roles_test.go
Due: go-version

Remove unused logger
  pkg/services/users_roles/users_roles.go
Due: go-version

Set the Name to the env var we want to use
  cmd/ecs-deploy-task-container/main.go
  scripts/ecs-deploy-service-container
Due: go-version

Fix ssm
  scripts/ecs-deploy-service-container
  scripts/ecs-run-app-migrations-container
Due: none

[MB-1047] Corrected Urls for missing orderslocal and primelocal
  scripts/check-hosts-file
Due: none

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger/ghc_*)
  markdown-toc: any of: \.md$
  gomod: any of: go.mod
  mdspell: any of: \.md$, but not: (?x)^(
  node_modules/|
  vendor/|
  docs/adr/index.md
)$

  gen-docs: any of: \.md$
  circleci-validate: any of: [.]circleci/config.yml$
