Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, markdown-toc, go-imports, go-lint, go-vet, gosec, gen-docs, dep-check

go-version:
  name: go version
  entry: bin/check_go_version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

markdown-toc:
  name: markdown-toc
  entry: bin/generate-md-toc.sh
  language: script

go-imports:
  name: go imports
  entry: bin/pre-commit-go-imports
  language: script

go-lint:
  name: go lint
  entry: bin/pre-commit-go-lint
  language: script

go-vet:
  name: go vet
  entry: bin/pre-commit-go-vet
  language: script
  pass_filenames: false

gosec:
  name: gosec scanner
  entry: bin/gosec -exclude=G104 -fmt text ./...
  language: script
  description: Inspects source code for security problems by scanning the Go AST.
  pass_filenames: false

gen-docs:
  name: regenerate docs index
  entry: bin/gen-docs-index
  language: script
  pass_filenames: false

dep-check:
  name: dep check
  entry: bin/pre-commit-dep-check
  language: script
  pass_filenames: false

Fix shadow vars in models
  pkg/models/move.go
  pkg/models/shipment_summary_worksheet.go
  pkg/models/traffic_distribution_list.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Run dependency update script.
  go.mod
  go.sum
Due: none

Fix shadow vars in auth cookies
  pkg/auth/cookie.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fix shadow vars in renderer
  cmd/renderer/main.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fix shadow vars in health checker
  cmd/health_checker/main.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fix shadow vars in ecs service logs
  cmd/ecs-service-logs/main.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Adjustments based on pairing review feedback. Simplify if statements in authorizeStorageInTransitHTTPRequest. The aforementioned function is renamed to that as well for the sake of clarity.
  pkg/handlers/publicapi/storage_in_transits.go
  pkg/services/storage_in_transit/create_storage_in_transit.go
  pkg/services/storage_in_transit/delete_storage_in_transit.go
  pkg/services/storage_in_transit/deliver_storage_in_transit.go
  pkg/services/storage_in_transit/fetch_storage_in_transit_by_id.go
  pkg/services/storage_in_transit/index_storage_in_transits.go
  pkg/services/storage_in_transit/patch_storage_in_transit.go
  pkg/services/storage_in_transit/place_into_sit_storage_in_transit.go
  pkg/services/storage_in_transit/release_storage_in_transit.go
  pkg/services/storage_in_transit/shared.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fix shadow variables in awardqueue
  pkg/awardqueue/awardqueue.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Fix formatting
  cmd/generate_shipment_edi/main.go
  cmd/health_checker/main.go
  pkg/paperwork/generator_test.go
  pkg/uploader/uploader.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

filter by log level and paginate through logs
  cmd/ecs-service-logs/main.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add coalesce statement for more robust move_date
  pkg/models/queue.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

WIP potential solution for icon
  src/scenes/Office/QueueTable.jsx
  src/scenes/Office/office.css
Due: prettier, eslint

Update path for admin interface and add tests
  src/scenes/Admin/customRoutes.js
  src/scenes/Admin/index.jsx
  src/scenes/Admin/index.test.jsx
Due: prettier, eslint

Updates move_id to user_id references. Adds more tests.
  go.mod
  go.sum
  migrations/20190422163230_create_access_code.up.fizz
  pkg/handlers/publicapi/access_code.go
  pkg/handlers/publicapi/access_code_test.go
  pkg/handlers/publicapi/api.go
  pkg/models/access_code.go
  pkg/services/accesscode/validate_access_code.go
  pkg/services/accesscode/validate_access_code_test.go
  swagger/api.yaml
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Modify script to work from any directory in the project
  scripts/pre-commit-go-vet
Due: none

No need to ignore vendor directory anymore
  scripts/pre-commit-go-vet
Due: none

Simplify getting directory, make readonly
  scripts/pre-commit-go-vet
Due: none

Reverts changes to go.mod and go.sum
  go.mod
  go.sum
  pkg/handlers/publicapi/access_code.go
  pkg/services/accesscode/validate_access_code.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add ability to provide quality band, best value score, linehaulrate and sitrate to tsp performance generator function
  pkg/awardqueue/awardqueue_test.go
  pkg/models/transportation_service_provider_performance_test.go
  pkg/testdatagen/make_tsp_performance_records.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add README for scripts directory
  scripts/README.md
Due: markdown-toc, gen-docs

revert changes done for deploy on experimental
  .circleci/config.yml
Due: none

Import new 400ng rates for 2019-05-15 thru 2020-05-15: 165550248 (#2036)
  migrations/20190424155008_import_400ng_from_move_mil_2019.up.sql
  migrations/20190424155037_translate_400ng_from_move_mil_2019.up.sql
  migrations/20190424192504_import_400ng_rate_items_2019.up.sql
  migrations/20190425162954_update_service_areas_with_sit_rates_2019.up.sql
Due: none

implement changes from design review
  src/shared/PreApprovalRequest/Code125Form.jsx
Due: prettier, eslint

Fix make targets
  .circleci/config.yml
  Makefile
Due: none

Remove a stamp
  Makefile
Due: none

Move server generation up to each milmove target
  Makefile
Due: none

Add secure migration pointers for adding tsp accounts for dev users in staging
  local_migrations/20190424212558_add_tsp_users_for_truss_devs.sql
  migrations/20190424212558_add_tsp_users_for_truss_devs.up.fizz
Due: none

Update test
  pkg/models/shipment_summary_worksheet_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

add missing item rate 130J
  migrations/20190426134841_insert_missing_400ng_item_rate_130J.up.sql
Due: none

Renamed base SIT service test file and struct to match other in-flight PR
  pkg/services/storage_in_transit/generate_storage_in_transit_number_test.go
  pkg/services/storage_in_transit/storage_in_transit_service_test.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add draft doc for importing 400ng data
  docs/data/tariff400ng_yearly_import.md
Due: markdown-toc, gen-docs

Add a comment to main.
  cmd/update_deps/main.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Merge Pull Request #2048 from mk-164438795-align-ssw-fields
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/paperwork/shipment_summary_worksheet.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Add small icon clock column
  src/scenes/Office/QueueTable.jsx
Due: prettier, eslint

Add more tests, code review changes.
  src/shared/PreApprovalRequest/Code125Form.test.js
  src/shared/PreApprovalRequest/DetailsHelper.js
Due: prettier, eslint

Remove deprecated data generator function and use new data generator function in e2ebasic data setup
  pkg/models/transportation_service_provider_performance_test.go
  pkg/testdatagen/make_tsp_performance_records.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

lowercaseed variable name
  src/shared/Address/index.test.js
Due: prettier, eslint

use data-cy instead of details-cy
  src/shared/PreApprovalRequest/Code125Details.jsx
Due: prettier, eslint

Remove unnecessary calls to MakeTSPPerformance
  pkg/awardqueue/awardqueue_test.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Switch public function to returning a pointer to avoid duplication in calls for SIT service objects.
  pkg/services/storage_in_transit/approve_storage_in_transit.go
  pkg/services/storage_in_transit/create_storage_in_transit.go
  pkg/services/storage_in_transit/delete_storage_in_transit.go
  pkg/services/storage_in_transit/deliver_storage_in_transit.go
  pkg/services/storage_in_transit/deny_storage_in_transit.go
  pkg/services/storage_in_transit/fetch_storage_in_transit_by_id.go
  pkg/services/storage_in_transit/index_storage_in_transits.go
  pkg/services/storage_in_transit/patch_storage_in_transit.go
  pkg/services/storage_in_transit/place_into_sit_storage_in_transit.go
  pkg/services/storage_in_transit/release_storage_in_transit.go
Due: go-version, go-imports, go-lint, go-vet, gosec, dep-check

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  markdown-toc: any of: \.md$
  go-imports: any of: \.go$, but not: vendor/
  go-lint: any of: \.go$, but not: vendor/
  go-vet: any of: \.go$, but not: vendor/
  gosec: any of: \.go$
  gen-docs: any of: \.md$
  dep-check: any of: (\.go|Gopkg\.toml|Gopkg\.lock)$
