Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$

moved all logic that interacts with the db to the services folder
  pkg/models/move.go
  pkg/models/move_test.go
  pkg/services/mocks/MoveWeights.go
  pkg/services/move.go
  pkg/services/move/move_weights.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

moved all logic that interacts with the db to the services folder
  pkg/models/move_test.go
Due: go-version, ato-go-linter, appcontext-linter

since only 1 change in this file is a whitespace change now, undoing it
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

since test coverage change, need to undo these additional tests
  src/components/Office/DefinitionLists/ShipmentInfoListSelector.test.jsx
  src/shared/entitlements.test.js
Due: prettier, eslint

corrected pointers so that the playwright tests work
  pkg/services/mocks/MoveWeights.go
  pkg/services/move.go
  pkg/services/move/move_weights.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

removed extraneous DB calls
  pkg/services/move/move_weights.go
Due: go-version, ato-go-linter, appcontext-linter

adjust task deployment
  .gitlab-ci.yml
Due: none

dp3 env changes corrected
  .gitlab-ci.yml
Due: none

fixed dp3 env from placeholder to integrationTesting
  .gitlab-ci.yml
Due: none

PR #14364 changes
  pkg/services/move/move_weights.go
  pkg/services/move/move_weights_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

more tests and refinement, almost there
  migrations/app/ddl_migrations/ddl_tables/20250228174901_tbl_ppm_closeouts.up.sql
  pkg/factory/moving_expense_factory.go
  pkg/factory/ppm_shipment_factory.go
  pkg/models/ppm_closeout_summary.go
  pkg/services/ppmshipment/ppm_estimator.go
  pkg/services/ppmshipment/ppm_estimator_test.go
  pkg/services/ppmshipment/ppm_shipment_new_submitter.go
  pkg/services/ppmshipment/ppm_shipment_new_submitter_test.go
  pkg/services/ppmshipment/ppm_shipment_review_documents_test.go
  pkg/services/ppmshipment/ppm_shipment_updated_submitter_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  src/components/Customer/PPM/Closeout/FinalCloseoutForm/FinalCloseoutForm.jsx
  src/components/Customer/PPM/Closeout/SmallPackageForm/SmallPackageForm.jsx
  src/components/Customer/PPM/Closeout/SmallPackageForm/SmallPackageForm.module.scss
  src/components/Office/PPM/ReviewExpense/ReviewExpense.jsx
  src/components/Office/PPM/ReviewExpense/ReviewExpense.module.scss
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

INT PR #14845 changes
  pkg/services/move/move_weights.go
  pkg/services/move/move_weights_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Added conditional to no request reweigh if one exists and added test.
  pkg/services/move/move_weights.go
  pkg/services/move/move_weights_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert accidental merge changes.
  .gitlab-ci.yml
  migrations/app/ddl_functions_manifest.txt
  migrations/app/ddl_tables_manifest.txt
Due: none

Implemented code fixes
  pkg/services/move/move_weights.go
  pkg/services/move/move_weights_test.go
Due: go-version, ato-go-linter, appcontext-linter

Forgot to use address of var in the query
  pkg/services/move/move_weights.go
Due: go-version, ato-go-linter, appcontext-linter

Switched to EagerPreload to avoid a bunch of duplicate DB hits for reweighs
  pkg/services/move/move_weights.go
Due: go-version, ato-go-linter, appcontext-linter

B-22707 pre commit happiness
  src/pages/PrimeUI/MoveTaskOrder/AcknowledgeMove.test.jsx
Due: prettier, eslint

INT SPECIFIC removing duplicate from stupid git
  migrations/app/dml_migrations_manifest.txt
Due: none

don't set updated_at
  migrations/app/ddl_migrations/ddl_functions/20250402213503_fn_flag_sent_to_gex_for_review.up.sql
Due: none

Manually added INT PR #15002 changes.
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/mto_service_items_test.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapiv2/api.go
  pkg/handlers/primeapiv2/mto_shipment_test.go
  pkg/handlers/primeapiv3/api.go
  pkg/handlers/primeapiv3/mto_shipment_test.go
  pkg/services/mocks/MoveWeights.go
  pkg/services/mocks/QueryAssociation.go
  pkg/services/mocks/QueryAssociations.go
  pkg/services/mocks/QueryFilter.go
  pkg/services/mocks/QueryOrder.go
  pkg/services/mocks/SFTPFiler.go
  pkg/services/mocks/SyncadaFileProcessor.go
  pkg/services/move.go
  pkg/services/move/move_weights.go
  pkg/services/move/move_weights_test.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/shipment_approver_test.go
  pkg/services/orchestrators/shipment/shipment_creator.go
  pkg/services/orchestrators/shipment/shipment_creator_test.go
  pkg/services/pptas_report/pptas_report_list_fetcher.go
  pkg/services/pptas_report/pptas_report_list_fetcher_test.go
  pkg/storage/mocks/FileStorer.go
Due: go-version, ato-go-linter, appcontext-linter

Reverting some unintentional changes to gitlab.yml and migrations
  .gitlab-ci.yml
  migrations/app/ddl_functions_manifest.txt
  migrations/app/ddl_tables_manifest.txt
Due: none

Git made me manually fix the yaml file
  .gitlab-ci.yml
Due: none

Revert changes not in INT
  pkg/handlers/internalapi/api.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-22538 Refactor useRolesPrivilegesQueries
  src/hooks/queries.js
Due: prettier, eslint

lets use variables, easier to change in future if need be
  migrations/app/ddl_migrations/ddl_functions/20250402213503_fn_flag_sent_to_gex_for_review.up.sql
Due: none

using payment_request_status enum
  migrations/app/ddl_migrations/ddl_functions/20250402213503_fn_flag_sent_to_gex_for_review.up.sql
Due: none

update cron schedule to 5:00 utc
  migrations/app/schema/20250402213810_B-22761_add_cron_schedule.up.sql
Due: none

updating tests
  package.json
  src/components/ButtonDropdownMenu/ButtonDropdownMenu.test.jsx
  src/components/Office/AppealModals/AppealModal.test.jsx
  src/components/Office/DefinitionLists/BoatShipmentInfoList.test.jsx
  src/components/Office/EvaluationReportView/EvaluationReportView.test.jsx
  src/components/Office/ReviewSITExtensionModal/ConfirmCustomerExpenseModal/ConfirmCustomerExpenseModal.test.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/CreateShipmentServiceItemForm.test.jsx
  src/components/PrimeUI/ServiceItem/ServiceItem.test.jsx
  src/components/RegistrationConfirmationModal/RegistrationConfirmationModal.test.jsx
  src/hooks/queries.test.jsx
  src/layout/LogoutOnInactivity.test.jsx
  src/pages/MyMove/AddOrders.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveHeader/MultiMovesMoveHeader.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesInfoList.test.jsx
  src/pages/MyMove/Profile/ResidentialAddress.test.jsx
  src/pages/Office/PaymentRequestReview/PaymentRequestReview.test.jsx
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.test.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.test.jsx
  yarn.lock
Due: prettier, eslint

init commit office profile page
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/ghcapi/office_users.go
  src/components/MilMoveHeader/MilMoveHeader.test.jsx
  src/components/MilMoveHeader/OfficeUserInfo.jsx
  src/components/MilMoveHeader/index.module.scss
  src/components/Office/Profile/ContactInfoDisplay.jsx
  src/components/Office/Profile/ContactInfoDisplay.module.scss
  src/components/Office/Profile/ContactInfoDisplay.stories.jsx
  src/components/Office/Profile/ContactInfoDisplay.test.jsx
  src/components/Office/Profile/ContactInfoForm/ContactInfoForm.jsx
  src/components/Office/Profile/ContactInfoForm/ContactInfoForm.stories.jsx
  src/components/Office/Profile/ContactInfoForm/ContactInfoForm.test.jsx
  src/constants/routes.js
  src/containers/Headers/OfficeLoggedInHeader.jsx
  src/pages/Office/Profile/ContactInfo.jsx
  src/pages/Office/Profile/ContactInfo.test.jsx
  src/pages/Office/Profile/Profile.jsx
  src/pages/Office/Profile/Profile.module.scss
  src/pages/Office/Profile/Profile.test.jsx
  src/pages/Office/index.jsx
  src/services/ghcApi.js
  src/styles/form.module.scss
  src/utils/formatters.js
  src/utils/formatters.test.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

add temp error message to weight_ticket handler and update front end to display the error
  pkg/handlers/internalapi/weight_ticket.go
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

story name fix
  src/components/Office/Profile/ContactInfoForm/ContactInfoForm.stories.jsx
Due: prettier, eslint

got moving expense update working.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_moving_expense.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  src/pages/Office/PPM/Closeout/Expenses/Expenses.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

most of the backend and tests are done
  pkg/models/ppm_shipment.go
  pkg/services/ppm_closeout/ppm_closeout.go
  pkg/services/ppm_closeout/ppm_closeout_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
Due: go-version, ato-go-linter, appcontext-linter

resolve duplicates
  migrations/app/ddl_migrations/ddl_functions/20250325161603_fn_fetch_move_history.up.sql
Due: none

adding asterisk msg
  src/components/Office/Profile/ContactInfoForm/ContactInfoForm.jsx
Due: prettier, eslint

backend tests
  pkg/handlers/ghcapi/ppm_document_test.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/models/moving_expense_test.go
Due: go-version, ato-go-linter, appcontext-linter

updated editform to change rank
  pkg/factory/order_factory_test.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/create_update_orders.go
  pkg/gen/internalmessages/orders.go
  pkg/gen/internalmessages/rank.go
  pkg/gen/internalmessages/service_member_payload.go
  pkg/handlers/internalapi/orders.go
  pkg/models/move.go
  pkg/models/order.go
  pkg/models/paygrade_rank.go
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Office/AddOrdersForm/AddOrdersForm.test.jsx
  src/constants/orders.js
  src/pages/MyMove/EditOrders.jsx
  src/pages/MyMove/EditOrders.test.jsx
  src/pages/MyMove/Orders.jsx
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger
