Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

Finished out MTO-related comments from spreadsheet
  migrations/app/schema/20200807135812_add_mto_db_comments.up.sql
Due: none

Pass move order duty station postal code when there is no destination
  src/components/Office/OrdersTable.jsx
  src/components/Office/OrdersTable.test.jsx
  src/components/Office/RequestedShipments.jsx
  src/components/Office/RequestedShipments.test.jsx
  src/components/Office/ShipmentApprovalPreview.jsx
  src/components/Office/ShipmentApprovalPreview.test.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/types/moveOrder.js
Due: prettier, eslint

update table mto_service_items columns move_task_order_id and re_service_id set to not null
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200807205040_update_mto_service_items_columns.up.sql
Due: none

revert, sorry Duncan!
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200807205040_update_mto_service_items_columns.up.sql
Due: none

Remove invalid Cypress test and increase timeout
  cypress/integration/mymove/ppmCloseout.js
Due: prettier

Add DLH and DPK service items to the e2ebasic setup
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

NOT NULL for columns move_task_order_id and re_service_id
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200807222709_update_mto_service_items_columns.up.sql
Due: none

[MB-3452] Reviewed payment request shows success alert with review date (#4547)
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized_Rejected.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_ServiceItemCards_Accepted_Request_Complete.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_ServiceItemCards_Rejected_Request_Complete.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized_Rejected.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ServiceItemCards_Accepted_Request_Complete.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ServiceItemCards_Rejected_Request_Complete.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/ReviewServiceItems/PaymentReviewed.jsx
  src/components/Office/ReviewServiceItems/PaymentReviewed.module.scss
  src/components/Office/ReviewServiceItems/PaymentReviewed.stories.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.module.scss
  src/components/Office/ReviewServiceItems/ServiceItemCard.stories.jsx
  src/pages/TIO/PaymentRequestReview.jsx
  src/shared/formatters.js
  src/shared/formatters.test.js
  src/types/moveOrder.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

update scripts and directions to include staging env
  Makefile
  scripts/README.md
  scripts/upload-secure-migration
Due: none

Adding components to deploy to app-stg env
  .circleci/config.yml
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/env/stg.migrations.env
  config/env/stg.post-file-to-gex.env
  config/env/stg.save-ghc-fuel-price-data.env
  config/env/stg.send-payment-reminder.env
  config/env/stg.send-post-move-survey.env
Due: none

Fixing a prereq for stg deploy
  .circleci/config.yml
Due: none

Moving SHA record to build step
  .circleci/config.yml
Due: none

Adding stg and prd as valid environments in ecs-deploy
  cmd/ecs-deploy/main.go
Due: go-version

Remove unecessary conditional
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/payment_request/service_param_value_lookups/distance_zip5_lookup.go
Due: go-version

Fix FSC pricer rounding issue.
  pkg/services/ghcrateengine/fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
Due: go-version

Approve orders table storybook diff
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Orders_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Orders_Table.png
Due: none

Hand FSC price decrease
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
Due: go-version

Use constants for weight based distance multiplier values
  pkg/payment_request/service_param_value_lookups/fsc_weight_based_distance_multiplier_lookup.go
Due: go-version

Update storybook object notation for orders table
  .loki/reference/chrome_iphone7_TOO_TIO_Components_OrdersTable_Orders_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_OrdersTable_Orders_Table.png
  src/components/Office/ordersTable.stories.jsx
Due: prettier, eslint

Fixing SHA harvesting and removing integration tests from stg deploy prereqs
  .circleci/config.yml
Due: none

Convert TextInputs to milmove text inputs and use formik fields
  src/components/Customer/HHGDetailsForm.jsx
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.jsx
  src/components/form/fields/DatePickerInput.jsx
  src/utils/formikValidators.js
Due: prettier, eslint

Add e2e tests for all the errors
  cypress/integration/mymove/hhg.js
Due: prettier

Update storybook screenshots
  .loki/reference/chrome_iphone7_Components_AddressFields_Basic.png
  .loki/reference/chrome_iphone7_Components_ContactInfoFields_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Components_AddressFields_Basic.png
  .loki/reference/chrome_laptop_Components_ContactInfoFields_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
Due: none

Add further validation for zip codes and general cleanup
  src/components/Customer/HHGDetailsForm.jsx
Due: prettier, eslint

Update maxLengths for relevant fields and improve validation
  src/components/Customer/HHGDetailsForm.jsx
  src/components/form/AddressFields/AddressFields.jsx
  src/utils/formikValidators.js
Due: prettier, eslint

Fix client tests
  src/components/form/AddressFields/AddressFields.test.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.test.jsx
Due: prettier, eslint

Add validation before clicking on next and for all fields except for agent fields
  src/components/Customer/HHGDetailsForm.jsx
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.jsx
Due: prettier, eslint

Refactor address fields to use Milmove TextInput instead of react-uswds text input
  src/components/form/AddressFields/AddressFields.jsx
  src/components/form/fields/TextInput.jsx
Due: prettier, eslint

Moving SHA harvesting back to push step and keying on ECR env
  .circleci/config.yml
Due: none

Fix tests
  .loki/reference/chrome_iphone7_Components_AddressFields_Basic.png
  .loki/reference/chrome_iphone7_Components_ContactInfoFields_Basic.png
  .loki/reference/chrome_laptop_Components_AddressFields_Basic.png
  .loki/reference/chrome_laptop_Components_ContactInfoFields_Basic.png
  src/components/form/AddressFields/AddressFields.stories.jsx
  src/components/form/ContactInfoFields/ContactInfoFields.stories.jsx
Due: prettier, eslint

incorporate draft status
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/m_t_o_shipment.go
  pkg/gen/internalmessages/m_t_o_shipment_status.go
  pkg/gen/internalmessages/update_shipment.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/mto_shipment.go
  pkg/handlers/internalapi/mto_shipment_test.go
  swagger/internal.yaml
Due: go-version, swagger

Update requested shipments story with orders info prop
  src/components/Office/requestedShipments.stories.jsx
Due: prettier, eslint

Turning off compare deployed commit in stg for initial deploy
  .circleci/config.yml
Due: none

updates loki images after merging from master
  .loki/reference/chrome_iphone7_Components_Modals_With_Content.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
Due: none

Add TOO approve shipment test
  cypress/integration/office/txo/tooFlows.js
Due: prettier

Fix TOO checks
  cypress/integration/office/txo/tooFlows.js
Due: prettier

Add TIO test
  cypress/integration/office/txo/tioFlows.js
  cypress/integration/office/txo/tooFlows.js
  cypress/support/commands.js
Due: prettier

Set SERVE_API_GHC to true, group TOO tests
  Makefile
  cypress/integration/office/txo/tooFlows.js
  docker-compose.circle.yml
  docker-compose.local.yml
  docker-compose.yml
Due: prettier

Created a command to test db with a test
  cmd/webhook-client/connection.go
  cmd/webhook-client/db_connection.go
  cmd/webhook-client/db_webhook_notify.go
  cmd/webhook-client/main.go
  cmd/webhook-client/shared.go
  cmd/webhook-client/webhook_test.go
Due: go-version

Added db-webhook-notify command
  cmd/webhook-client/connection.go
  cmd/webhook-client/db_webhook_notify.go
  cmd/webhook-client/main.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
