Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

required asterisks + test updates for WeightTicketForm
  src/components/Shared/PPM/Closeout/WeightTicketForm/WeightTicketForm.jsx
  src/components/Shared/PPM/Closeout/WeightTicketForm/WeightTicketForm.test.jsx
Due: prettier, eslint

update tests for Expenses and WeightTickets
  src/pages/MyMove/PPM/Closeout/Expenses/Expenses.test.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.test.jsx
  src/pages/Office/PPM/Closeout/Expenses/Expenses.test.jsx
  src/pages/Office/PPM/Closeout/WeightTickets/WeightTickets.test.jsx
Due: prettier, eslint

more client test fixes
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/mymove/additionalDocs.spec.js
  playwright/tests/my/mymove/boat.spec.js
  playwright/tests/my/mymove/hhg.spec.js
  playwright/tests/my/mymove/mobileHome.spec.js
  playwright/tests/my/mymove/nts.spec.js
Due: prettier, eslint, playwright_tsc

required asterisks + test updates for ProGearForm
  src/components/Shared/PPM/Closeout/ProGearForm/ProGearForm.jsx
  src/components/Shared/PPM/Closeout/ProGearForm/ProGearForm.test.jsx
Due: prettier, eslint

fixed initial MMF using wrong shipment for dates
  pkg/services/mto_service_item/mto_service_item_creator.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
Due: go-version, ato-go-linter, appcontext-linter

required asterisks + test updates for ExpenseForm, FinalCloseoutForm
  src/components/Shared/PPM/Closeout/ExpenseForm/ExpenseForm.jsx
  src/components/Shared/PPM/Closeout/ExpenseForm/ExpenseForm.test.jsx
  src/components/Shared/PPM/Closeout/FinalCloseoutForm/FinalCloseoutForm.jsx
  src/pages/MyMove/PPM/Closeout/Expenses/Expenses.test.jsx
  src/pages/Office/PPM/Closeout/Expenses/Expenses.test.jsx
Due: prettier, eslint

added stonebreaker changes that didn't make it through the merge editor.
  src/pages/Office/MoveQueue/MoveQueue.jsx
Due: prettier, eslint

pull in v1.4.5 to yarn.lock
  yarn.lock
Due: none

Alternate 22883 solution. Looks better
  src/components/DocumentViewer/Content/Content.module.scss
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
Due: none

tiny commit 2
  src/components/DocumentViewer/DocumentViewer.jsx
  src/components/DocumentViewer/DocumentViewer.test.jsx
Due: prettier, eslint

tiny commit 1
  src/shared/constants.js
Due: prettier, eslint

MAIN-B-23183 Refactor roles checkboxes and update tests
  src/components/Office/RequestAccountForm/RequestAccountForm.test.jsx
  src/components/form/OfficeAccountRequestFields/OfficeAccountRequestFields.jsx
  src/components/form/OfficeAccountRequestFields/OfficeAccountRequestFields.test.jsx
  src/pages/Office/RequestAccount/RequestAccount.jsx
  src/pages/Office/RequestAccount/RequestAccount.test.jsx
  src/utils/validation.js
Due: prettier, eslint

Reinstate error message
  src/components/DocumentViewer/DocumentViewer.jsx
Due: prettier, eslint

MAIN-B-23183 Fix value name for supervisor priv
  src/pages/Office/RequestAccount/RequestAccount.jsx
Due: prettier, eslint

test fixes
  src/shared/DocumentViewer/DocumentContent.jsx
  src/shared/DocumentViewer/DocumentContent.test.jsx
Due: prettier, eslint

MAIN-B-23183 Remove check for empty privileges in handler
  pkg/handlers/ghcapi/office_users.go
Due: go-version, ato-go-linter, appcontext-linter

Verified all images do not clip
  src/components/DocumentViewer/Content/Content.module.scss
Due: none

missed a spot
  src/components/DocumentViewer/DocumentViewer.jsx
Due: prettier, eslint

retest integration clean branch
  .gitlab-ci.yml
Due: none

remove need for DB team review
  migrations/app/ddl_migrations/ddl_functions/20250502144039_fn_calculate_ppm_closeouts.up.sql
Due: none

Update to match INT version
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fixing date ordering
  migrations/app/ddl_migrations/ddl_functions/20250508030850_fn_get_counseling_queue.up.sql
  pkg/services/move/fetch_counseling_queue_moves.go
Due: go-version, ato-go-linter, appcontext-linter

and more
  pkg/handlers/ghcapi/uploads.go
Due: go-version, ato-go-linter, appcontext-linter

remove SSWComupter from PPMShipmentReviewDocuments
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/ppm_document_test.go
  pkg/services/ppmshipment/ppm_shipment_review_documents.go
  pkg/services/ppmshipment/ppm_shipment_review_documents_test.go
Due: go-version, ato-go-linter, appcontext-linter

Fix double-scroll funkiness
  src/components/DocumentViewer/Content/Content.module.scss
Due: none

Description edit
  swagger-def/ghc.yaml
Due: none

retest integration clean branch
  Dockerfile_gitlabtests_dp3
Due: none

merge conflicts
  src/services/ghcApi.js
  src/shared/utils.js
Due: prettier, eslint

PR feedback - remove asterisk from city, state, zip, county
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
  src/components/form/AddressFields/AddressFields.jsx
Due: prettier, eslint

narrowing and adding to not sticky list
  src/components/Office/StickyOfficeHeader/StickyOfficeHeader.jsx
  src/components/Office/StickyOfficeHeader/StickyOfficeHeader.module.scss
  src/pages/Office/HeadquartersQueues/HeadquartersQueues.module.scss
  src/pages/Office/MoveQueue/MoveQueue.module.scss
  src/pages/Office/MoveSearch/MoveSearch.module.scss
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.module.scss
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
  src/pages/Office/index.jsx
  src/pages/PrimeUI/AvailableMoves/AvailableMovesQueue.jsx
  src/pages/PrimeUI/AvailableMoves/AvailableMovesQueue.module.scss
  src/pages/PrimeUI/PrimeBanner/PrimeBanner.module.scss
  src/pages/SelectApplication/SelectApplication.jsx
  src/styles/office.scss
Due: prettier, eslint

Better fix for bottom bar and pdfs. still a lot of whitespace
  src/components/DocumentViewer/Content/Content.module.scss
Due: none

Error box padding fix
  src/components/DocumentViewer/DocumentViewer.module.scss
Due: none

small cleanup
  src/components/DocumentViewer/Content/Content.module.scss
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
Due: none

removing ff from rest of files.
  .circleci/config.yml
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/flipt/storage/development.features.yaml
Due: none

Test additions
  pkg/services/move/fetch_counesling_queue_moves_test.go
Due: go-version, ato-go-linter, appcontext-linter

Generate swagger files
  swagger/prime.yaml
Due: swagger, spectral

PR feedback - remove asterisk from EstimatedWeightsProGearForm
  src/components/Customer/PPM/Booking/EstimatedWeightsProGearForm/EstimatedWeightsProGearForm.jsx
Due: prettier, eslint

PR feedback - add asterisks to AdvanceForm
  src/components/Customer/PPM/Booking/Advance/AdvanceForm.jsx
  src/components/Customer/PPM/Booking/Advance/AdvanceForm.test.jsx
Due: prettier, eslint

fixing a dumb test
  pkg/payment_request/service_param_value_lookups/per_unit_cents_lookup_test.go
Due: go-version, ato-go-linter, appcontext-linter

PR feedback - add asterisk to SubmitMoveForm
  src/components/Customer/SubmitMoveForm/SubmitMoveForm.jsx
  src/components/Customer/SubmitMoveForm/SubmitMoveForm.test.jsx
  src/pages/MyMove/Agreement.test.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
