Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

moves new css file out of the shared directory styles folder so danger stops yelling at me
  src/styles/_officeLayoutRules.scss
Due: none

Add/delete payment service item params and link to services
  migrations/app/schema/20211123155748_domestic_nts_packing_metadata.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/service_item_param_name.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/service_item_param_name.go
  pkg/models/service_item_param_key.go
  src/components/Office/ServiceItemCalculations/helpers.test.js
  src/components/Office/ServiceItemCalculations/serviceItemTestParams.js
  src/constants/serviceItems.js
  swagger-def/definitions/ServiceItemParamName.yaml
  swagger/ghc.yaml
  swagger/prime.yaml
Due: go-version, prettier, eslint, swagger, spectral

Added NTSPackingFactor to swagger enum
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/service_item_param_name.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/service_item_param_name.go
  swagger-def/definitions/ServiceItemParamName.yaml
  swagger/ghc.yaml
  swagger/prime.yaml
Due: go-version, swagger, spectral

Fixed failing client test
  src/components/Office/ShipmentServiceItemsTable/ShipmentServiceItemsTable.test.jsx
Due: prettier, eslint

Really fix the client test this time
  src/components/Office/ShipmentServiceItemsTable/ShipmentServiceItemsTable.test.jsx
Due: prettier, eslint

CSS clean up for form elements
  src/components/Modal/Modal.module.scss
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.jsx
  src/components/form/fields/DropdownInput.jsx
  src/components/form/fields/MaskedTextField/MaskedTextField.jsx
  src/components/form/fields/MaskedTextField/MaskedTextField.module.scss
  src/components/form/fields/TextField/TextField.jsx
  src/components/form/fields/TextField/TextField.module.scss
  src/styles/form.module.scss
Due: prettier, eslint

MB-9679 Add Origin Duty Location Column to TIO Queue (#7779)
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_urlbuilder.go
  pkg/gen/ghcmessages/queue_payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_list_fetcher.go
  pkg/services/payment_request/payment_request_list_fetcher_test.go
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Updated map to reference custom service type
  pkg/services/ghcimport/ghc_rateengine_importer.go
  pkg/services/ghcimport/import_re_domestic_accessorial_prices.go
  pkg/services/ghcimport/import_re_domestic_other_prices.go
  pkg/services/ghcimport/import_re_domestic_service_area_prices.go
  pkg/services/ghcimport/import_re_intl_accessorial_prices.go
  pkg/services/ghcimport/import_re_intl_other_prices.go
  pkg/services/ghcimport/import_re_intl_prices.go
  pkg/services/ghcimport/import_re_shipment_type_prices.go
  pkg/services/ghcimport/import_re_task_order_fees.go
  pkg/services/ghcimport/load_service_map.go
  pkg/services/ghcimport/load_service_map_test.go
Due: go-version

creates component to wrap office componets in storybook
  src/components/minWidth.jsx
Due: prettier, eslint

Change to ConflictError and check for existence of shipment facility id rather than facility itself
  pkg/services/move_task_order/move_task_order_updater.go
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version

removes superfluous aria form role from html form element
  src/components/Office/AccountingCodes/AccountingCodes.stories.jsx
  src/components/form/Form.jsx
  src/components/minWidth.jsx
Due: prettier, eslint

Added display for diversion
  src/components/PrimeUI/Shipment/Shipment.jsx
Due: prettier, eslint

repairing from merge conflict overwrites
  swagger/ghc.yaml
Due: swagger

Add test with facility info to check that it does get successfully updated
  pkg/services/move_task_order/move_task_order_updater_test.go
Due: go-version

rename form component
  src/components/PrimeUI/CreateShipmentServiceItemForm/CreateShipmentServiceItemForm.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/DomesticCratingForm.jsx
Due: prettier, eslint

- add data-testid for tests - import fixes
  src/components/PrimeUI/CreateShipmentServiceItemForm/DestinationSITServiceItemForm.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/OriginSITServiceItemForm.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/ShuttleSITServiceItemForm.jsx
Due: prettier, eslint

update shipment tests
  src/components/PrimeUI/Shipment/Shipment.test.jsx
Due: prettier, eslint

tests for CreateServiceItem and CreateShipmentServiceItemForm
  src/components/PrimeUI/CreateShipmentServiceItemForm/CreateShipmentServiceItemForm.test.jsx
  src/pages/PrimeUI/CreateServiceItem/CreateServiceItem.test.jsx
Due: prettier, eslint

More CSS fixes for form elements
  src/components/DutyStationSearchBox/DutyStationSearchBox.jsx
  src/components/DutyStationSearchBox/DutyStationSearchBox.module.scss
  src/components/form/fields/DatePickerInput.jsx
  src/shared/styles/_overrides.scss
Due: prettier, eslint

sentence case label
  src/components/PrimeUI/CreateShipmentServiceItemForm/DomesticCratingForm.jsx
Due: prettier, eslint

sentence case label
  src/components/PrimeUI/CreateShipmentServiceItemForm/ShuttleSITServiceItemForm.jsx
Due: prettier, eslint

test refactor
  src/components/PrimeUI/Shipment/Shipment.test.jsx
Due: prettier, eslint

simple tests for checking inputs and labels
  src/components/PrimeUI/CreateShipmentServiceItemForm/DomesticCratingForm.test.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/ShuttleSitServiceItemForm.test.jsx
Due: prettier, eslint

Add tests for page that updates the reweighs
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateReweigh.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateReweigh.test.jsx
Due: prettier, eslint

Trying to get inputs to work
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdate.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateForm.jsx
Due: prettier, eslint

reverting change to original state as service counselor queue work will happen in another PR
  pkg/handlers/ghcapi/queues.go
Due: go-version

putting back things that got overwritten in merge conflict resolution. rename origin duty station to location
  swagger/ghc.yaml
Due: swagger

test fixes, more renaming
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_moves_queue_urlbuilder.go
  pkg/gen/ghcmessages/queue_move.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/order.go
  pkg/services/order/order_fetcher.go
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Implement tests for the reweigh form
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateReweighForm.test.jsx
Due: prettier, eslint

Add notification that shows up when saving the reweigh weight
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateReweigh.jsx
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateReweigh.test.jsx
Due: prettier, eslint

add ntsr specific fields to shipment display
  src/components/Office/DefinitionLists/ShipmentInfoList.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/components/Office/ShipmentDisplay/ShipmentDisplay.stories.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

add more info to hhg story
  src/components/Office/ShipmentDisplay/ShipmentDisplay.stories.jsx
Due: prettier, eslint

Bump container limits on number of files
  cmd/ecs-deploy/task_def.go
Due: go-version

Increase db pool size
  pkg/cli/dbconn.go
Due: go-version

Try reverting to earlier collector
  cmd/ecs-deploy/task_def.go
Due: go-version

Try using public ecr image for aws otel collector
  cmd/ecs-deploy/task_def.go
Due: go-version

Try using otel metrics config for aws otel collector
  cmd/ecs-deploy/task_def.go
Due: go-version

remove unnecessary comments and defaultValue
  src/components/PrimeUI/CreateShipmentServiceItemForm/DomesticCratingForm.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/ShuttleSITServiceItemForm.jsx
Due: prettier, eslint

convert to table driven tests
  src/components/PrimeUI/CreateShipmentServiceItemForm/DomesticCratingForm.test.jsx
  src/components/PrimeUI/CreateShipmentServiceItemForm/ShuttleSitServiceItemForm.test.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
