Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Add temporary default for estimated incentive
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/models/ppm_shipment.go
Due: go-version

Simulate user roles in ShipmentWeightInput story
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.stories.jsx
Due: prettier, eslint

Rename duty station to duty location in support API
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/duty_location.go
  pkg/gen/supportmessages/duty_station.go
  pkg/gen/supportmessages/order.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/handlers/supportapi/move_task_order_test.go
  pkg/services/support/move_task_order/move_task_order_creator.go
  swagger-def/support.yaml
  swagger/support.yaml
Due: go-version, swagger, spectral

MB-11553 Update ppm shipment postal codes to include pattern
  swagger-def/internal.yaml
Due: swagger

test for invalid postal codes added
  cypress/integration/milmove/ppms/dateAndLocation.js
  src/components/Customer/PPMBooking/DateAndLocationForm/DateAndLocationForm.jsx
  src/utils/validation.js
Due: prettier, eslint

update sign in function
  cypress/integration/milmove/ppms/dateAndLocation.js
Due: prettier

Rename ServiceMember.DutyStation to DutyLocation
  pkg/handlers/internalapi/move_dates.go
  pkg/handlers/internalapi/moves_test.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/service_members.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/handlers/internalapi/users.go
  pkg/handlers/internalapi/users_test.go
  pkg/models/move.go
  pkg/models/personally_procured_move.go
  pkg/models/service_member.go
  pkg/models/shipment_summary_worksheet.go
  pkg/notifications/move_payment_reminder_test.go
  pkg/notifications/move_reviewed_test.go
  pkg/services/duty_stations/load_duty_stations.go
  pkg/services/order/order_updater.go
  pkg/services/order/order_updater_test.go
  pkg/services/ppmservices/estimate_calculator.go
  pkg/services/ppmservices/estimate_calculator_test.go
  pkg/services/support/move_task_order/move_task_order_creator.go
  pkg/testdatagen/make_service_member.go
Due: go-version

MB-11553 Add generated swagger/internal.yaml
  swagger/internal.yaml
Due: swagger

MB-11553 Update PPM generation func to add a submittedAt time
  pkg/testdatagen/make_ppm_shipment.go
  pkg/testdatagen/shared.go
Due: go-version

MB-11553 Add more useful messages for nil date/datetime testsuite checks
  pkg/handlers/apitests.go
Due: go-version

MB-11553 Add testdatagen func to create an approved PPM Shipment
  pkg/testdatagen/make_ppm_shipment.go
Due: go-version

MB-11553 Add ApprovedAt to the PPMShipment payload
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/p_p_m_shipment.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/internalapi/mto_shipment_test.go
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, swagger

MB-11553 Truncate precision beyond microsec datetime comparison
  pkg/handlers/apitests.go
Due: go-version

estimated incentive page and details component w/ secondary postal code stories, move formatCents formatter w/ truncating
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.jsx
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.module.scss
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.stories.jsx
  src/constants/routes.js
  src/pages/MyMove/CreateOrEditMtoShipment.jsx
  src/pages/MyMove/PPMBooking/DateAndLocation/DateAndLocation.jsx
  src/pages/MyMove/PPMBooking/DateAndLocation/DateAndLocation.module.scss
  src/pages/MyMove/PPMBooking/DateAndLocation/DateAndLocation.test.jsx
  src/pages/MyMove/PPMBooking/EstimatedIncentive/EstimatedIncentive.jsx
  src/pages/MyMove/PPMBooking/EstimatedIncentive/EstimatedIncentive.module.scss
  src/types/customerShapes.js
  src/utils/formatters.js
  src/utils/formatters.test.js
Due: prettier, eslint

MB-10675 Add first pass at EstimatedWeightsProGear.jsx
  src/constants/routes.js
  src/pages/MyMove/PPMBooking/EstimatedWeightsProGear.jsx
Due: prettier, eslint

Add Cypress test that checks for the left navigation and its tags
  cypress/integration/office/servicescounseling/servicesCounselingFlows.js
Due: prettier

Upgrade to cypress 9.5.0 + nodejs 16.13
  .circleci/config.yml
  .node-version
  Dockerfile.local
  Dockerfile.migrations_local
  Dockerfile.reviewapp
  Dockerfile.tasks_local
  Dockerfile.tools_local
  Dockerfile.webhook_client
  Dockerfile.webhook_client_dp3
  Dockerfile.webhook_client_local
  cypress/integration/office/documentViewer.js
  nix/default.nix
  nix/update.sh
  package.json
  scripts/gen-assets
  scripts/gen-server
  scripts/pre-commit-swagger-validate
  scripts/run-e2e-test-docker
  yarn.lock
Due: prettier

Cypress 9.5.0 warns on nodeVersion: system
  cypress.json
  cypress/cypress.json
Due: none

fixed invalid postal code test
  cypress/integration/milmove/ppms/dateAndLocation.js
  src/components/Customer/PPMBooking/DateAndLocationForm/DateAndLocationForm.jsx
Due: prettier, eslint

add unit tests for estimatedIncentiveDetails component
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.stories.jsx
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.test.jsx
Due: prettier, eslint

Upgrade to react-uswds 2.8.0 and uswds 2.11.2
  package.json
  yarn.lock
Due: none

unit tests for EstimatedIncentive page component
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.jsx
  src/pages/MyMove/PPMBooking/EstimatedIncentive/EstimatedIncentive.jsx
  src/pages/MyMove/PPMBooking/EstimatedIncentive/EstimatedIncentive.test.jsx
Due: prettier, eslint

working test
  cypress/integration/milmove/ppms/dateAndLocation.js
Due: prettier

Swap out cloneElement and copy the child element more literally
  src/components/LeftNav/LeftNav.jsx
Due: prettier, eslint

Add comment regarding why a nav was used instead of a LeftNav
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

MB-10675 Update estimated incentive route var to match #8219
  src/constants/routes.js
  src/pages/MyMove/PPMBooking/EstimatedWeightsProGear.jsx
Due: prettier, eslint

MB-10675 Move estimated weights page to be in subfolder
  src/pages/MyMove/PPMBooking/EstimatedWeightsProGear/EstimatedWeightsProGear.jsx
Due: prettier, eslint

change to sentence case
  src/components/Office/DefinitionLists/NTSRShipmentInfoList.jsx
  src/components/Office/ShipmentForm/ShipmentForm.test.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.jsx
  src/components/Office/ShipmentWeightInput/ShipmentWeightInput.test.jsx
Due: prettier, eslint

Update model and associated tests + conversions
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/update_p_p_m_shipment.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/services/ppmshipment/ppm_shipment_updater.go
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, swagger

use unused sm id
  cypress/integration/milmove/ppms/dateAndLocation.js
Due: prettier

add mobile styling and ppm customer routing
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.jsx
  src/components/Customer/PPMBooking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.module.scss
  src/components/Customer/PPMBooking/PPMBooking.module.scss
  src/pages/MyMove/PPMBooking/DateAndLocation/DateAndLocation.jsx
  src/pages/MyMove/PPMBooking/EstimatedIncentive/EstimatedIncentive.module.scss
  src/scenes/MyMove/index.jsx
Due: prettier, eslint

Optimized FetchServiceParamList queries and added test
  pkg/payment_request/service_param_list_fetcher.go
  pkg/payment_request/service_param_list_fetcher_test.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

Leaving overall cache on but turning off param cache part
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

Turn off service params cache
  pkg/services/payment_request/payment_request_creator.go
Due: go-version

add estimated incentive value to PPM testdatagen
  pkg/testdatagen/make_ppm_shipment.go
  pkg/testdatagen/scenario/shared.go
Due: go-version

MB-10675 Add state to prop mapping for estimated weights page
  src/pages/MyMove/PPMBooking/EstimatedWeightsProGear/EstimatedWeightsProGear.jsx
Due: prettier, eslint

MB-10675 Wire up estimated weights page
  src/scenes/MyMove/index.jsx
Due: prettier, eslint

Reorder import and use relative path for the css module to see if it helps the build
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Add destination type to unit test for shipments
  src/pages/Office/MoveDetails/MoveDetails.test.jsx
Due: prettier, eslint
