Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

DO NOT MERGE: deploy the webhook client
  .circleci/config.yml
Due: none

update tests to account for updated syntax
  cypress/integration/admin/users.js
Due: prettier

Added missing mocks from another PR
  pkg/services/mocks/DomesticDestinationAdditionalDaysSITPricer.go
  pkg/services/mocks/DomesticOriginAdditionalDaysSITPricer.go
Due: go-version

put userShow page back in SystemAdmin
  src/scenes/SystemAdmin/Users/UserShow.jsx
Due: prettier, eslint

move UserShow file to the pages folder
  src/pages/Admin/Users/UserShow.jsx
  src/scenes/SystemAdmin/Home.jsx
Due: prettier, eslint

update test to account for edits to text on the screen
  cypress/integration/admin/users.js
Due: prettier

MB-4397: Rm compare-secure-migrations cmd
  Makefile
  cmd/compare-secure-migrations/main.go
Due: go-version

SITDaysLookup WIP
  pkg/payment_request/service_param_value_lookups/number_days_sit_lookup.go
  pkg/payment_request/service_param_value_lookups/number_days_sit_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

Remove the Box Shadow When the Button is Disabled
  src/pages/MyMove/Home/Home.module.scss
Due: none

Update FetchMove to only return visible moves
  pkg/models/move.go
  pkg/models/move_test.go
Due: go-version

Add webhook subscription to yaml
  pkg/gen/adminapi/embedded_spec.go
  pkg/gen/adminmessages/webhook_subscription.go
  pkg/gen/adminmessages/webhook_subscription_status.go
  pkg/gen/adminmessages/webhook_subscriptions.go
  swagger/admin.yaml
Due: go-version, swagger

remove duplicate certificates
  Dockerfile.webhook_client
  Dockerfile.webhook_client_local
  config/tls/dod-root-ca-3.cer
  config/tls/dod-sw-ca-60.cer
Due: none

DO NOT MERGE: deploy to experimental
  .circleci/config.yml
Due: none

DO NOT MERGE: send a notification to stg from exp
  .circleci/config.yml
  Dockerfile.webhook_client
  cmd/ecs-deploy/task_def.go
  config/env/exp.app-webhook-client.env
Due: go-version

DO NOT MERGE: do not wait for service to stabilize
  scripts/ecs-deploy-service-container
Due: none

Add tac definition and path to swagger
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_order/get_move_order_parameters.go
  pkg/gen/ghcapi/ghcoperations/move_order/update_move_order_parameters.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/tac/tac_validation.go
  pkg/gen/ghcapi/ghcoperations/tac/tac_validation_parameters.go
  pkg/gen/ghcapi/ghcoperations/tac/tac_validation_responses.go
  pkg/gen/ghcapi/ghcoperations/tac/tac_validation_urlbuilder.go
  pkg/gen/ghcmessages/tac_valid.go
  swagger/ghc.yaml
Due: go-version, swagger

adding sit origin zip addresses
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_actual_address.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_original_address.go
Due: go-version

Revert "DO NOT MERGE: deploy the webhook client"
  .circleci/config.yml
Due: none

Write first test and create a handler
  pkg/handlers/ghcapi/tac.go
  pkg/handlers/ghcapi/tac_test.go
Due: go-version

re-add acceptance tests conditionally
  .circleci/config.yml
  cmd/milmove/main_test.go
  pkg/cli/environment.go
Due: go-version

run acceptance tests
  .circleci/config.yml
Due: none

update existing lookup for distance to use zip lookups instead of doing the the work itself
  pkg/payment_request/service_param_value_lookups/distance_zip_sit_origin_lookup.go
Due: go-version

bad check for nil
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_actual_address.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_original_address.go
Due: go-version

better error checking on SIT origin addresses
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_actual_address.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_original_address.go
Due: go-version

Revert "run acceptance tests"
  .circleci/config.yml
Due: none

Add EULA Modal to Storybook
  src/components/Customer/modals/CustomerModals.stories.jsx
  src/components/Customer/modals/EulaModal/EulaModal.jsx
Due: prettier, eslint

Add test for invalid tac and code to pass
  pkg/handlers/ghcapi/tac.go
  pkg/handlers/ghcapi/tac_test.go
Due: go-version

Remove the Box Shadow When the Button is Disabled (#5801)
  src/pages/MyMove/Home/Home.module.scss
Due: none

adding tests for SIT origin ZIP lookps
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_actual_address_test.go
  pkg/payment_request/service_param_value_lookups/zip_sit_origin_hhg_original_address_test.go
Due: go-version

remove aws_vars_legacy
  .circleci/config.yml
Due: none

delete unnecessary environment variables
  .circleci/config.yml
Due: none

Initial implementation; still needs some params and unit tests
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210201221927_adjust_params_for_sit_pickup.up.sql
  pkg/services/ghc_rate_engine.go
  pkg/services/ghcrateengine/domestic_origin_sit_pickup_pricer.go
  pkg/services/ghcrateengine/service_item_pricer.go
  pkg/services/ghcrateengine/service_item_pricer_test.go
  pkg/services/mocks/DomesticOriginSITPickupPricer.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
