Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Revert "B-18180 removed unused ppm estimated weight"
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240112205201_remove_ppm_estimated_weight.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/move_task_order_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/models/move.go
  pkg/services/event/notification_payloads.go
  pkg/services/support/move_task_order/move_task_order_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "B-18191 Moved Progear Weight Ticket query from handler into the service object"
  pkg/handlers/internalapi/progear_weight_ticket.go
  pkg/handlers/internalapi/progear_weight_ticket_test.go
  pkg/services/mocks/ProgearWeightTicketDeleter.go
  pkg/services/progear_weight_ticket.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Merge branch 'integrationTesting' into B-18111-Pay-Grade-And-Duty-Location-Flow-Changes"
  pkg/handlers/internalapi/progear_weight_ticket.go
  pkg/handlers/internalapi/progear_weight_ticket_test.go
  pkg/services/mocks/ProgearWeightTicketDeleter.go
  pkg/services/progear_weight_ticket.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Merge branch 'integrationTesting' into B-18111-Pay-Grade-And-Duty-Location-Flow-Changes"
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240112205201_remove_ppm_estimated_weight.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/move_task_order_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/models/move.go
  pkg/services/event/notification_payloads.go
  pkg/services/support/move_task_order/move_task_order_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Merge branch 'integrationTesting' into B-18111-Pay-Grade-And-Duty-Location-Flow-Changes"
  .circleci/config.yml
  .envrc
  cmd/milmove/serve.go
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  pkg/handlers/config.go
  pkg/services/feature_flag.go
  src/utils/featureFlags.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

removed integrationTesting merge
  .circleci/config.yml
Due: none

deply scripts
  .circleci/config.yml
Due: none

reverted integrationTesting merge
  migrations/app/migrations_manifest.txt
  pkg/assets/notifications/templates/move_issued_to_prime_template.html
  pkg/assets/notifications/templates/move_issued_to_prime_template.txt
  pkg/assets/notifications/templates/ppm_packet_email_template.html
  pkg/assets/notifications/templates/ppm_packet_email_template.txt
  pkg/handlers/apitests.go
  pkg/handlers/internalapi/api_test.go
  pkg/handlers/internalapi/ppm_shipment.go
  pkg/handlers/routing/base_routing_suite.go
  pkg/models/ppm_shipment.go
  pkg/notifications/move_issued_to_prime_test.go
  pkg/notifications/ppm_packet_email.go
  pkg/notifications/ppm_packet_email_test.go
  pkg/testdatagen/testharness/make_move.go
Due: go-version, ato-go-linter, appcontext-linter

Removed Deprecated PPM Incentive Handler
  pkg/gen/internalapi/configure_mymove.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/mymove_api.go
  pkg/gen/internalapi/internaloperations/ppm/show_p_p_m_incentive.go
  pkg/gen/internalapi/internaloperations/ppm/show_p_p_m_incentive_parameters.go
  pkg/gen/internalapi/internaloperations/ppm/show_p_p_m_incentive_responses.go
  pkg/gen/internalapi/internaloperations/ppm/show_p_p_m_incentive_urlbuilder.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Created getAllMoves handler
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/moves.go
Due: go-version, ato-go-linter, appcontext-linter

removing sit-delivery from prime api
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_s_i_t_delivery_request.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_s_i_t_delivery_request_parameters.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_s_i_t_delivery_request_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_s_i_t_delivery_request_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primeclient/mto_shipment/mto_shipment_client.go
  pkg/gen/primeclient/mto_shipment/update_s_i_t_delivery_request_parameters.go
  pkg/gen/primeclient/mto_shipment/update_s_i_t_delivery_request_responses.go
  pkg/gen/primemessages/s_i_t_delivery_update.go
  pkg/gen/primemessages/s_i_t_status.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/services/mocks/ShipmentSITStatus.go
  pkg/services/mto_shipment.go
  pkg/services/sit_status/shipment_sit_status.go
  pkg/services/sit_status/shipment_sit_status_test.go
  swagger-def/definitions/prime/SITDeliveryUpdate.yaml
  swagger-def/definitions/prime/SITStatus.yaml
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

removed unused field from move model
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240123193627_remove_ppm_estimated_weight.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/move_task_order_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/models/move.go
  pkg/services/event/notification_payloads.go
  pkg/services/support/move_task_order/move_task_order_creator.go
Due: go-version, ato-go-linter, appcontext-linter

serve prime simulator - load test
  config/env/loadtest.app.env
Due: none

changes to DateAndLocation.test
  src/pages/MyMove/PPM/Booking/DateAndLocation/DateAndLocation.test.jsx
Due: prettier, eslint

Revert "Merge branch 'integrationTesting' into B-18185-Remove-personally-procured-shared-handler"
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
Due: go-version, ato-go-linter, appcontext-linter

refactoring sm duty location out of internalapi and dependencies
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/service_member_payload.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/internalapi/service_members.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/handlers/internalapi/users.go
  pkg/handlers/internalapi/users_test.go
  pkg/models/personally_procured_move.go
  pkg/services/order/order_updater.go
  pkg/testdatagen/testharness/make_move.go
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Removed shared handler personally_procured_move. Added temp fix for incentive (as it's dependent on two of the shared methods).
  pkg/handlers/internalapi/personally_procured_move_incentive.go
  pkg/handlers/internalapi/personally_procured_move_shared.go
  pkg/handlers/internalapi/personally_procured_move_shared_test.go
Due: go-version, ato-go-linter, appcontext-linter

small change for swagger-def, removing rank from selectors.js
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/order_pay_grade.go
  src/store/entities/selectors.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Grade added to orders page, saves orders value. Service member rank still in place
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/internalapi/service_members_test.go
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/pages/MyMove/EditOrders.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Update service member rank to be BASED on order grade. Edit service info updates service member and ordres
  pkg/handlers/internalapi/orders.go
  src/pages/MyMove/Orders.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Pay grade edit added to Edit Orders. This updates both service member rank and order grade
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/pages/MyMove/EditOrders.jsx
Due: prettier, eslint

removed pay grade from dod info (first page) of customer flow
  src/components/Customer/DodInfoForm/DodInfoForm.jsx
  src/components/Customer/DodInfoForm/DodInfoForm.test.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Profile/DodInfo.jsx
  src/pages/MyMove/Profile/DodInfo.test.jsx
Due: prettier, eslint

reroute from contact info page to current address, skip duty location page and remove usage of duty location state and path
  src/constants/customerStates.js
  src/constants/routes.js
  src/pages/MyMove/Profile/ContactInfo.jsx
  src/pages/MyMove/Profile/ContactInfo.test.jsx
  src/pages/MyMove/Profile/ResidentialAddress.jsx
  src/pages/MyMove/Profile/ResidentialAddress.test.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/store/entities/selectors.js
  src/store/entities/selectors.test.js
  src/utils/customer.js
Due: prettier, eslint

remove comment from route.js
  src/constants/routes.js
Due: prettier, eslint

add curr duty location to order creation
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

add editing of current duty location to Edit Orders page
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/pages/MyMove/EditOrders.jsx
Due: prettier, eslint

add current duty location to orders page in overall flow
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/pages/MyMove/Orders.jsx
  src/scenes/Office/OrdersViewerPanel.js
Due: prettier, eslint

orders tests
  src/pages/MyMove/Orders.test.jsx
Due: prettier, eslint

fix grade and current duty location in a few playwright tests
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
Due: prettier, eslint

remove comments
  src/pages/MyMove/Orders.test.jsx
Due: prettier, eslint

uncomment some test lines
  src/pages/MyMove/Orders.test.jsx
Due: prettier, eslint

add not Office User check to forbidden error
  pkg/services/weight_ticket/weight_ticket_deleter.go
Due: go-version, ato-go-linter, appcontext-linter

Internal API is functional
  cmd/generate-shipment-summary/main.go
  newfill-2024-01-23T15:23:22Z.pdf
  newfill-2024-01-23T15:25:35Z.pdf
  newfill-2024-01-23T18:11:22Z.pdf
  newfill-2024-01-23T18:16:20Z.pdf
  pkg/handlers/internalapi/moves.go
  pkg/paperwork/generator.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  response_1706042671840.txt
  shipment-summary-worksheet-2024-01-23T15:23:22Z.pdf
  shipment-summary-worksheet-2024-01-23T15:25:35Z.pdf
  shipment-summary-worksheet-2024-01-23T18:11:22Z.pdf
  shipment-summary-worksheet-2024-01-23T18:16:20Z.pdf
  shipment-summary-worksheet-2024-01-23T19:15:54Z.pdf
  shipment-summary-worksheet-2024-01-23T19:16:21Z.pdf
  shipment-summary-worksheet-2024-01-23T19:18:52Z.pdf
  shipment-summary-worksheet-2024-01-23T19:20:55Z.pdf
  shipment-summary-worksheet-2024-01-23T19:21:46Z.pdf
  shipment-summary-worksheet-2024-01-23T19:23:13Z.pdf
  shipment-summary-worksheet-2024-01-23T19:23:37Z.pdf
  shipment-summary-worksheet-2024-01-23T19:24:48Z.pdf
  shipment-summary-worksheet-2024-01-23T19:35:36Z.pdf
  shipment-summary-worksheet-2024-01-23T19:50:18Z.pdf
  shipment-summary-worksheet-2024-01-23T19:55:13Z.pdf
  shipment-summary-worksheet-2024-01-23T19:59:09Z.pdf
  shipment-summary-worksheet-2024-01-23T20:09:01Z.pdf
  shipment-summary-worksheet-2024-01-23T20:50:21Z.pdf
Due: go-version, ato-go-linter, appcontext-linter

reverted back
  .circleci/config.yml
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/order_pay_grade.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/internalapi/service_members_test.go
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
  src/components/Customer/DodInfoForm/DodInfoForm.jsx
  src/components/Customer/DodInfoForm/DodInfoForm.test.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/constants/customerStates.js
  src/constants/routes.js
  src/pages/MyMove/EditOrders.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
  src/pages/MyMove/Profile/ContactInfo.jsx
  src/pages/MyMove/Profile/ContactInfo.test.jsx
  src/pages/MyMove/Profile/DodInfo.jsx
  src/pages/MyMove/Profile/DodInfo.test.jsx
  src/pages/MyMove/Profile/ResidentialAddress.jsx
  src/pages/MyMove/Profile/ResidentialAddress.test.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/scenes/Office/OrdersViewerPanel.js
  src/store/entities/selectors.js
  src/store/entities/selectors.test.js
  src/utils/customer.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

reverted back to previous commit
  .circleci/config.yml
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/order_pay_grade.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/internalapi/service_members_test.go
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
  src/components/Customer/DodInfoForm/DodInfoForm.jsx
  src/components/Customer/DodInfoForm/DodInfoForm.test.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.jsx
  src/components/Customer/EditOrdersForm/EditOrdersForm.test.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.stories.jsx
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/components/Office/ShipmentAddresses/ShipmentAddresses.jsx
  src/constants/customerStates.js
  src/constants/routes.js
  src/pages/MyMove/EditOrders.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
  src/pages/MyMove/Profile/ContactInfo.jsx
  src/pages/MyMove/Profile/ContactInfo.test.jsx
  src/pages/MyMove/Profile/DodInfo.jsx
  src/pages/MyMove/Profile/DodInfo.test.jsx
  src/pages/MyMove/Profile/ResidentialAddress.jsx
  src/pages/MyMove/Profile/ResidentialAddress.test.jsx
  src/scenes/MyMove/getWorkflowRoutes.jsx
  src/scenes/MyMove/getWorkflowRoutes.test.js
  src/scenes/Office/OrdersViewerPanel.js
  src/store/entities/selectors.js
  src/store/entities/selectors.test.js
  src/utils/customer.js
  src/utils/shipmentDisplay.jsx
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

remove commented out code
  pkg/services/weight_ticket/weight_ticket_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter
