Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Playwright tests can now use the mmFeature flag
  .envrc
  globalSetup.js
  package.json
  playwright.config.js
  playwright/tests/my/milmove/ppms/about.spec.js
Due: prettier, eslint

b-17910 work
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/NullEvent/undefined.jsx
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/updateMTOShipment.test.jsx
  src/pages/Office/MoveHistory/LabeledDetails.jsx
  src/pages/Office/MoveHistory/LabeledDetails.test.jsx
Due: prettier, eslint

audit events updated with tests
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/updateMTOShipment.test.jsx
  src/pages/Office/MoveHistory/LabeledDetails.jsx
  src/pages/Office/MoveHistory/LabeledDetails.test.jsx
Due: prettier, eslint

B-18560
  migrations/app/schema/20240214213247_updateTransportationOfficesGbloc.up.sql
  pkg/services/order/order_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

updated query to pass test
  pkg/notifications/move_payment_reminder.go
Due: go-version, ato-go-linter, appcontext-linter

Test passsing when multimove is disabled
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
  playwright/tests/my/mymove/hhg.spec.js
  playwright/tests/my/mymove/nts.spec.js
  playwright/tests/my/mymove/ntsr.spec.js
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
  playwright/tests/my/mymove/uploads.spec.js
Due: prettier, eslint

added downstream event from service counselor effect
  pkg/assets/sql_scripts/move_history_fetcher.sql
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/UpdateCloseoutOffice/updateCloseoutOffice.jsx
  src/constants/MoveHistory/EventTemplates/UpdateCloseoutOffice/updateCloseoutOffice.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/UIDisplay/Operations.js
Due: prettier, eslint

added link to tests for integration tests to pass
  pkg/notifications/move_payment_reminder.go
  pkg/notifications/move_payment_reminder_test.go
Due: go-version, ato-go-linter, appcontext-linter

add events related to customer PPM creation/modification to move history
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/CreateMTOShipment/CreateMTOShipmentUpdateMoves.jsx
  src/constants/MoveHistory/EventTemplates/CreateMTOShipment/CreateMTOShipmentUpdateMoves.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
Due: prettier, eslint

Identified which MultiMove tests are failing
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/expenses.spec.js
  playwright/tests/my/milmove/ppms/finalCloseout.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/progear.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/milmove/ppms/weightTickets.spec.js
  playwright/tests/my/mymove/hhg.spec.js
  playwright/tests/my/mymove/nts.spec.js
  playwright/tests/my/mymove/ntsr.spec.js
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
  playwright/tests/my/mymove/uploads.spec.js
Due: prettier, eslint

add events related to customer PPM closeout submission to move history
  pkg/assets/sql_scripts/move_history_fetcher.sql
  src/constants/MoveHistory/Database/BooleanFields.js
  src/constants/MoveHistory/Database/DateFields.js
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/Database/MonetaryFields.js
  src/constants/MoveHistory/Database/WeightFields.js
  src/constants/MoveHistory/EventTemplates/CreateMovingExpense/CreateMovingExpense.jsx
  src/constants/MoveHistory/EventTemplates/CreateMovingExpense/CreateMovingExpense.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateProGearWeightTicket/CreateProGearWeightTicket.jsx
  src/constants/MoveHistory/EventTemplates/CreateProGearWeightTicket/CreateProGearWeightTicket.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateUpload/CreatePPMUpload.jsx
  src/constants/MoveHistory/EventTemplates/CreateUpload/CreatePPMUpload.test.jsx
  src/constants/MoveHistory/EventTemplates/CreateWeightTicket/CreateWeightTicket.jsx
  src/constants/MoveHistory/EventTemplates/CreateWeightTicket/CreateWeightTicket.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteMovingExpense/DeleteMovingExpense.jsx
  src/constants/MoveHistory/EventTemplates/DeleteMovingExpense/DeleteMovingExpense.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteMovingExpense/DeleteMovingExpenseUserUploads.jsx
  src/constants/MoveHistory/EventTemplates/DeleteMovingExpense/DeleteMovingExpenseUserUploads.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteProGearWeightTicket/DeleteProGearWeightTicket.jsx
  src/constants/MoveHistory/EventTemplates/DeleteProGearWeightTicket/DeleteProGearWeightTicket.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteProGearWeightTicket/DeleteProGearWeightTicketUserUploads.jsx
  src/constants/MoveHistory/EventTemplates/DeleteProGearWeightTicket/DeleteProGearWeightTicketUserUploads.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicket.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicket.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicketPPMShipments.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicketPPMShipments.test.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicketUserUploads.jsx
  src/constants/MoveHistory/EventTemplates/DeleteWeightTicket/DeleteWeightTicketUserUploads.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/UpdateMTOShipmentPPMDetails.jsx
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/UpdateMTOShipmentPPMDetails.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateWeightTicket/UpdateWeightTicket.jsx
  src/constants/MoveHistory/EventTemplates/UpdateWeightTicket/UpdateWeightTicketPPMShipments.jsx
  src/constants/MoveHistory/EventTemplates/UpdateWeightTicket/UpdateWeightTicketPPMShipments.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/UIDisplay/Operations.js
  src/constants/ppmUploadTypes.js
  src/utils/formatPPMData.js
  src/utils/formatSITData.js
  src/utils/formatters.js
Due: prettier, eslint

remove extra fluff
  playwright/tests/office/qaecsr/csrFlows.spec.js
  src/components/Office/DefinitionLists/AllowancesList.test.jsx
  src/pages/Office/Orders/Orders.jsx
Due: prettier, eslint

Fix for ppm_closeout_test and added a couple new tests.
  pkg/services/ppm_closeout/ppm_closeout_test.go
Due: go-version, ato-go-linter, appcontext-linter

SSW File template opening potential fix
  cmd/generate-shipment-summary/main.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/ppm/show_shipment_summary_worksheet_responses.go
  pkg/handlers/internalapi/ppm_shipment.go
  pkg/services/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
  pkg/testdatagen/testdata/SSWPDFTemplate.pdf
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

initial commit, lots working with zero tests, need to update a lot and double check work
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/internal_move.go
  pkg/handlers/internalapi/moves.go
  pkg/models/move.go
  src/components/ShipmentList/ShipmentList.jsx
  src/constants/routes.js
  src/pages/MyMove/Home/MoveHome.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/UploadOrders.jsx
  src/sagas/entities.js
  src/scenes/MyMove/index.jsx
  src/store/entities/actions.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Added check to beginning of service item loop to avoid doing a bunch of unneeded work.
  pkg/services/ppm_closeout/ppm_closeout.go
Due: go-version, ato-go-linter, appcontext-linter

Edited err message and fixed ppm_closeout_test contract bug.
  pkg/services/ppm_closeout/ppm_closeout.go
  pkg/services/ppm_closeout/ppm_closeout_test.go
Due: go-version, ato-go-linter, appcontext-linter

Test edits
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/dateAndLocation.spec.js
Due: prettier, eslint

initial commit, added migration file
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240220145356_remove_rank_and_duty_location_columns_from_service_members_table.up.sql
Due: none

fixing tests that broke with enhancements, still need tests for MoveHome
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesInfoList.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

Test edit
  playwright/tests/my/milmove/ppms/advances.spec.js
Due: prettier, eslint

Tests edit
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/milmove/ppms/estimatedIncentive.spec.js
  playwright/tests/my/milmove/ppms/estimatedWeightsProgear.spec.js
  playwright/tests/my/milmove/ppms/navigateToUploadDocs.spec.js
  playwright/tests/my/milmove/ppms/review.spec.js
  playwright/tests/my/mymove/nts.spec.js
  playwright/tests/my/mymove/orders.spec.js
  playwright/tests/my/mymove/uploads.spec.js
Due: prettier, eslint

wrapped call to GetWeightAllotment in nil check
  pkg/services/order/order_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Test Edits
  playwright/tests/my/milmove/ppms/about.spec.js
  playwright/tests/my/milmove/ppms/advances.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentCloseout.spec.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
  playwright/tests/my/mymove/hhg.spec.js
  playwright/tests/my/mymove/nts.spec.js
  playwright/tests/my/mymove/ntsr.spec.js
  playwright/tests/my/mymove/onboarding.spec.js
  playwright/tests/my/mymove/orders.spec.js
  playwright/tests/my/mymove/uploads.spec.js
Due: prettier, eslint

turn mm feature flag off
  config/env/stg.app.env
Due: none

mm feature flag off
  .envrc
Due: none

Changes to actualWeight def.
  pkg/gen/ghcapi/embedded_spec.go
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Moved globalSetup.js file into src dir
  playwright.config.js
  src/globalSetup.js
Due: prettier, eslint

Fixed multiple issues with ppmCloseout request.
  src/hooks/queries.js
Due: prettier, eslint

Fixed ZIP codes and aoa logic.
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
Due: prettier, eslint

Added PPMCloseout query key for debugging.
  src/hooks/queries.js
Due: prettier, eslint

Moved AOA to incentives tab.
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
Due: prettier, eslint

Fixed actual net weight and pro gear weights. Both grabbed from frontend.
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
Due: prettier, eslint

updated and added tests for new component, holy cow
  src/pages/MyMove/Home/MoveHome.jsx
  src/pages/MyMove/Home/MoveHome.test.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Orders.jsx
  src/pages/MyMove/Orders.test.jsx
  src/sagas/entities.js
  src/sagas/entities.test.js
Due: prettier, eslint

Moved globalSetup.js to playwright test dir
  playwright.config.js
  playwright/tests/globalSetup.js
Due: prettier, eslint

Added more frontend logic for AOA "advance received" display.
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
Due: prettier, eslint

Now grabbing "Shipment Info" section completely from existing mtoShipment frontend values. Only calling getppmcloseout at summary screen.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/m_t_o_shipment.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/mto_shipment.go
  pkg/handlers/ghcapi/ppm_closeout_test.go
  pkg/services/ppm_closeout/ppm_closeout.go
  pkg/services/ppm_closeout/ppm_closeout_test.go
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.jsx
  src/components/Office/PPM/ReviewExpense/ReviewExpense.jsx
  src/components/Office/PPM/ReviewProGear/ReviewProGear.jsx
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
  src/hooks/queries.js
  src/pages/Office/PPM/ReviewDocuments/ReviewDocuments.jsx
  swagger-def/definitions/MTOShipment.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Fixed summary screen at end of review process, values now show correctly.
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
Due: prettier, eslint
