Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

Cleaned up logic and checked errors
  pkg/handlers/primeapi/mto_shipment_address.go
Due: go-version

Tests cleanup and prime.yaml documentation
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_address.go
  pkg/gen/primeclient/mto_shipment/mto_shipment_client.go
  pkg/handlers/primeapi/mto_shipment_address.go
  pkg/handlers/primeapi/mto_shipment_address_test.go
  pkg/testdatagen/make_mto_shipment.go
  swagger/prime.yaml
Due: go-version, swagger

Add Origin and Destination segments from Orders addresses
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Moved updating function to service object
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment_address.go
  pkg/handlers/primeapi/mto_shipment_address_test.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_address_updater.go
Due: go-version

Fixing etag issue in tests
  pkg/handlers/primeapi/mto_shipment_address.go
  pkg/handlers/primeapi/mto_shipment_address_test.go
Due: go-version

Add tests for file types
  src/components/DocumentViewer/DocumentViewer.jsx
  src/components/DocumentViewer/DocumentViewer.stories.jsx
  src/components/DocumentViewer/DocumentViewer.test.jsx
Due: prettier, eslint

Update edit shipment loki tests
  .loki/reference/chrome_iphone7_Customer_Components_EditShipment_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_EditShipment_Basic.png
Due: none

Add submitted_at migration to moves table
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200910033042_add-move-submitted-at.up.sql
Due: none

Add submitted_at to move payload
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/move_payload.go
  pkg/handlers/internalapi/moves.go
  pkg/models/move.go
  swagger/internal.yaml
Due: go-version, swagger

Update submit move test to include submitted_at
  pkg/handlers/internalapi/moves_test.go
Due: go-version

Add G62 segment object
  pkg/edi/segment/g62.go
  pkg/edi/segment/g62_test.go
Due: go-version

skips loki tests on HHG details form
  src/components/Customer/HHGDetailsForm.stories.jsx
Due: prettier, eslint

deletes ReviewServiceITem images and un-skips the HHG Details Form
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Basic.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_HHG.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Multiple_Shipments_Groups.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Non_Temporary_Storage.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_HHG.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Multiple_Shipments_Groups.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Non_Temporary_Storage.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  src/components/Customer/HHGDetailsForm.stories.jsx
Due: prettier, eslint

restores loki image for hhg detials form
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
Due: none

generates loki images for hhg detials form
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
Due: none

skips reviewserviceitems loki test
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

deletes reviewserviceitems loki images and adds in hhg one
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Basic.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_HHG.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Multiple_Shipments_Groups.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Non_Temporary_Storage.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Basic.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_HHG.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Multiple_Shipments_Groups.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Non_Temporary_Storage.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_ReviewDetails_Payment_Authorized.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Approved.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Payment_Reviewed_Rejected.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
Due: none

Adding tests
  src/pages/MyMove/MoveLanding.test.jsx
  src/scenes/Landing/index.test.js
  src/scenes/Moves/Ppm/Weight.jsx
  src/scenes/Moves/Ppm/Weight.test.js
Due: prettier, eslint

replaces merge conflict loki images
  .loki/reference/chrome_iphone7_Customer_Components_Step_Confirm_Move.png
  .loki/reference/chrome_laptop_Customer_Components_Step_Confirm_Move.png
Due: none

resolves eslint error in reviewserviceitems stories file
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

Fix E2E tests
  cypress/integration/mymove/hhg.js
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/support/commands.js
  src/shared/WizardPage/Form.jsx
Due: prettier, eslint

fix lint errors
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

updates confirm move loki images
  .loki/reference/chrome_iphone7_Customer_Components_Step_Confirm_Move.png
  .loki/reference/chrome_laptop_Customer_Components_Step_Confirm_Move.png
Due: none

puts loki images back to resolve the merge conlfict
  .loki/reference/chrome_iphone7_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Shipments.png
  .loki/reference/chrome_laptop_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_Step_Shipments.png
Due: none

modifies loki images casuing storybook failure
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_iphone7_Customer_Components_Step_Shipments.png
  .loki/reference/chrome_laptop_Customer_Components_ShipmentList_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_Step_Shipments.png
Due: none

un deletes hhg details form from loki images
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
Due: none

Create uploads for generated orders
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Return early if something went wrong
  src/pages/Office/MoveOrders/MoveOrders.jsx
Due: prettier, eslint

MB-3913 Add event trigger to updatePaymentRequestServiceItemStatus handler
  pkg/handlers/ghcapi/payment_service_items.go
Due: go-version

MB-3913 Add prime-available test to check for webhook notification + other test fixes
  pkg/handlers/ghcapi/payment_service_items_test.go
Due: go-version

Generate Payment Request EDI 858 CLI Utility WIP
  cmd/generate-payment-request-edi/logger.go
  cmd/generate-payment-request-edi/main.go
Due: go-version

Adjust code and tests to utilize /ppm for landing for ppm.js
  cypress/integration/mymove/ppm.js
  cypress/support/commands.js
  src/scenes/Legalese/index.jsx
  src/scenes/Moves/Ppm/PPMPaymentRequestActionBtns.jsx
Due: prettier, eslint

Adjust ppmCloseout.js to use /ppm landing page
  cypress/integration/mymove/ppmCloseout.js
Due: prettier

Apply alternate signin fn for ppm to rest of files; change some / paths to /ppm
  cypress/integration/mymove/homepage.js
  cypress/integration/mymove/landingPages.js
  cypress/integration/mymove/mymoveCSRFProtect.js
  cypress/integration/mymove/orders.js
Due: prettier

nil check for verrs variable
  pkg/handlers/errors.go
Due: go-version

Integrate orders edit form, create ghc update move order api
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move_order/update_move_order.go
  pkg/gen/ghcapi/ghcoperations/move_order/update_move_order_parameters.go
  pkg/gen/ghcapi/ghcoperations/move_order/update_move_order_responses.go
  pkg/gen/ghcapi/ghcoperations/move_order/update_move_order_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/move_order.go
  pkg/gen/ghcmessages/update_move_order_payload.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/orders.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/move_orders.go
  pkg/handlers/internalapi/duty_stations.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/service_members.go
  src/components/Office/OrdersDetailForm.jsx
  src/components/Office/OrdersDetailForm.module.scss
  src/components/Office/OrdersDetailForm.stories.jsx
  src/components/Office/OrdersDetailForm.test.jsx
  src/components/Office/OrdersTable/OrdersTable.jsx
  src/components/Office/OrdersTable/OrdersTable.module.scss
  src/components/form/fields/DutyStationInput.jsx
  src/constants/departmentIndicators.js
  src/constants/orders.js
  src/constants/queryKeys.js
  src/hooks/queries.js
  src/pages/Office/MoveOrders/MoveOrders.jsx
  src/pages/Office/MoveOrders/MoveOrders.module.scss
  src/scenes/ServiceMembers/DutyStationSearchBox.jsx
  src/services/ghcApi.js
  src/services/internalApi.js
  src/services/swaggerRequest.js
  src/shared/formatters.js
  src/types/moveOrder.js
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, prettier, eslint, swagger

Refactor setupPaymentServiceItemWithParams to be in testdatagen pkg
  pkg/services/ghcrateengine/counseling_services_pricer_test.go
  pkg/services/ghcrateengine/domestic_destination_pricer_test.go
  pkg/services/ghcrateengine/domestic_linehaul_pricer_test.go
  pkg/services/ghcrateengine/domestic_origin_pricer_test.go
  pkg/services/ghcrateengine/domestic_pack_pricer_test.go
  pkg/services/ghcrateengine/domestic_shorthaul_pricer_test.go
  pkg/services/ghcrateengine/domestic_unpack_pricer_test.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
  pkg/services/ghcrateengine/ghc_rate_engine_service_test.go
  pkg/services/ghcrateengine/management_services_pricer_test.go
  pkg/services/ghcrateengine/service_item_pricer_test.go
  pkg/testdatagen/make_payment_service_item_param.go
Due: go-version

Correct dateFormat
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Support adding RequestedPickupDate to Header
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
  pkg/testdatagen/make_payment_request.go
Due: go-version

Load paymentRequest relationships
  pkg/services/invoice/ghc_payment_request_invoice_generator.go
  pkg/services/invoice/ghc_payment_request_invoice_generator_test.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
