Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$

fixing devseed error
  pkg/factory/country.go
  pkg/testdatagen/scenario/shared.go
Due: go-version, ato-go-linter, appcontext-linter

transit time and oconus rate areas
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241002140154_addlocationObjects.up.sql
  migrations/app/schema/20241007184230_insertReOconusRateAreas.up.sql
  migrations/app/schema/20241007184259_insertReIntlTransTime.up.sql
  pkg/models/re_international_transit_time.go
  pkg/models/re_oconus_rate_area.go
Due: go-version, ato-go-linter, appcontext-linter

cancels move
  artifacts/accessibilityReport.html
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/office/cancel_move_parameters.go
  pkg/handlers/internalapi/office.go
  pkg/handlers/internalapi/office_test.go
  pkg/services/move.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
  src/components/ConfirmationModals/CancelMoveConfirmationModal.jsx
  src/components/ConfirmationModals/CancelMoveConfirmationModal.stories.jsx
  src/components/ConfirmationModals/CancelMoveConfirmationModal.test.jsx
  src/pages/MyMove/Home/Home.module.scss
  src/pages/MyMove/Home/MoveHome.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.module.scss
  src/services/internalApi.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

B-20766 - string instead of string pointer on filename.
  pkg/handlers/ghcapi/documents.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/uploads.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/storage/filesystem.go
  pkg/storage/filesystem_test.go
  pkg/storage/memory.go
  pkg/storage/memory_test.go
  pkg/storage/mocks/FileStorer.go
  pkg/storage/s3.go
  pkg/storage/storage.go
  pkg/storage/test/s3.go
  pkg/uploader/uploader.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup
  pkg/services/move/move_canceler.go
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/constants/shipments.js
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

B-20766 - filename removed from download attribute.
  src/components/UploadsTable/UploadsTable.jsx
Due: prettier, eslint

updating db-truncate, other enhancements
  migrations/app/schema/20241002134836_add_re_country_table_and_refactor.up.sql
  pkg/factory/country_test.go
  pkg/factory/transportation_office_factory.go
  pkg/handlers/internalapi/duty_locations_test.go
  pkg/handlers/internalapi/transportation_offices_test.go
  pkg/migrate/fixtures/copyFromStdinKeywords.sql
  pkg/models/address_test.go
  pkg/services/address/address_creator_test.go
  pkg/services/mto_service_item/mto_service_item_creator_test.go
  pkg/services/mto_service_item/mto_service_item_updater_test.go
  pkg/services/office_user/office_user_service_test.go
  pkg/services/office_user/office_user_updater_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
  scripts/db-truncate
Due: go-version, ato-go-linter, appcontext-linter

updates
  pkg/factory/address_factory.go
  pkg/factory/country.go
Due: go-version, ato-go-linter, appcontext-linter

test updates
  pkg/models/country_test.go
  pkg/models/duty_location_test.go
  pkg/models/transportation_office_test.go
Due: go-version, ato-go-linter, appcontext-linter

Server test debug
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove unncessary code
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version, ato-go-linter, appcontext-linter

migration to consolidate allowable weight from weight_tickets in ppm_shipments
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241008132316_consolidate_allowable_weight_in_ppm_shipments.up.sql
Due: none

Revert "migration to consolidate allowable weight from weight_tickets in ppm_shipments"
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241008132316_consolidate_allowable_weight_in_ppm_shipments.up.sql
Due: none

migration to consolidate allowable weight from weight_tickets in ppm_shipments
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241008133341_consolidate_allowable_weight_in_ppm_shipments.up.sql
Due: none

allow large tooltips
  src/shared/ToolTip/ToolTip.jsx
  src/shared/ToolTip/ToolTip.module.scss
Due: prettier, eslint

add storybook for tooltip component
  src/shared/ToolTip/ToolTip.stories.jsx
Due: prettier, eslint

tests for tooltip component
  src/shared/ToolTip/ToolTip.test.jsx
Due: prettier, eslint

add allowable weight to ppm shipment model and API
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/p_p_m_shipment.go
  pkg/gen/ghcmessages/update_p_p_m_shipment.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/p_p_m_shipment.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/models/ppm_shipment.go
  pkg/models/ppm_shipment_test.go
  swagger-def/definitions/PPMShipment.yaml
  swagger-def/ghc.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

cleanup
  migrations/app/schema/20241002151527_add_transportation_offices_AK_HI.up.sql
Due: none

updating missed swagger address definition
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/address.go
  pkg/models/address.go
  swagger-def/support.yaml
  swagger/support.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

removed allowable weight from weight tickets model and API and updated services to use value from the ppm shipment
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/ghcapi/internal/payloads/payload_to_model.go
  pkg/models/weight_ticket.go
  pkg/models/weight_ticket_test.go
  pkg/services/ppm_closeout/ppm_closeout.go
  pkg/services/weight_ticket/weight_ticket_updater.go
  pkg/services/weight_ticket/weight_ticket_updater_test.go
  swagger-def/definitions/WeightTicket.yaml
  swagger-def/ghc.yaml
  swagger-def/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter

calculate initial allowable weight when customer submits closeout plus some generated files
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_weight_ticket.go
  pkg/gen/ghcmessages/weight_ticket.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/update_weight_ticket.go
  pkg/gen/internalmessages/weight_ticket.go
  pkg/services/ppmshipment/ppm_shipment_new_submitter.go
  pkg/services/ppmshipment/ppm_shipment_new_submitter_test.go
  pkg/services/ppmshipment/ppm_shipment_updated_submitter.go
  pkg/services/ppmshipment/ppm_shipment_updated_submitter_test.go
  pkg/services/ppmshipment/ppm_shipment_updater_test.go
  pkg/services/ppmshipment/validation.go
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Removing waiting on customer from dropdown
  src/constants/queues.js
Due: prettier, eslint

code cleanup
  pkg/services/order/order_fetcher.go
  src/pages/Office/MoveQueue/MoveQueue.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

handling country values if provided in prime API, adding test coverage
  pkg/factory/address_factory.go
  pkg/factory/address_factory_test.go
  pkg/handlers/primeapi/payloads/payload_to_model.go
  pkg/handlers/primeapi/payloads/payload_to_model_test.go
  pkg/handlers/primeapiv2/payloads/payload_to_model.go
  pkg/handlers/primeapiv2/payloads/payload_to_model_test.go
  pkg/handlers/primeapiv3/payloads/payload_to_model.go
  pkg/handlers/primeapiv3/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

Server tests
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

doing country check when creating service items since they don't use the createAddress service object
  pkg/handlers/primeapiv3/mto_service_item_test.go
  pkg/services/mto_service_item/mto_service_item_creator.go
Due: go-version, ato-go-linter, appcontext-linter

fixing code changes in INT but not MAIN for added tests
  pkg/handlers/primeapiv3/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

changing timestamps of migration
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20241002164836_add_re_country_table_and_refactor.up.sql
Due: none

comment out update post region id for now
  migrations/app/schema/20241007224427_update_addresses_us_post_region_cities_id.up.sql
Due: none

tests pass
  pkg/handlers/internalapi/office_test.go
  pkg/services/mocks/MoveRouter.go
  pkg/services/move/move_canceler.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
Due: go-version, ato-go-linter, appcontext-linter

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

updating tests with only INT code changes
  pkg/handlers/primeapiv3/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

added country to eager for multi move fetch
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter
