Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, gen-docs-index

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js --ext .jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: bin/swagger validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

gen-docs-index:
  name: regenerate docs index
  entry: scripts/gen-docs-index
  language: script
  pass_filenames: false

Adding more logging to debug experimental
  cmd/milmove/serve.go
Due: go-version

Trigger new deployment
  pkg/cli/redis.go
Due: go-version

turn redis back on but use logger not fmt.println
  cmd/milmove/serve.go
  config/env/experimental.app.env
Due: go-version

disable redis health check
  cmd/milmove/serve.go
Due: go-version

Ignore storybook for experimental
  .circleci/config.yml
Due: none

Clean up Redis config and health check
  cmd/milmove/serve.go
  pkg/cli/redis.go
Due: go-version

add idletimeout
  pkg/cli/redis.go
Due: go-version

try dial instead of dialurl
  cmd/milmove/serve.go
  pkg/cli/redis.go
Due: go-version

Allow sign in to multiple apps at the same time
  cmd/milmove/serve.go
  pkg/auth/authentication/auth.go
  pkg/auth/authentication/auth_test.go
  pkg/auth/authentication/authgch_test.go
  pkg/auth/authentication/devlocal.go
  pkg/auth/authentication/devlocal_test.go
  pkg/auth/cookie.go
  pkg/auth/cookie_test.go
  pkg/handlers/contexts.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/service_members.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/handlers/mocks/HandlerContext.go
Due: go-version

Add a script that drops into redis docker container to use redis-cli
  .spelling
  scripts/README.md
  scripts/redis-dev
Due: gen-docs-index

Add redis targets to Makefile
  Makefile
Due: none

Enable TLS for Redis connection. Make all settings command line flags. Use durations instead of ints for flags.
  config/env/experimental.app.env
  pkg/cli/redis.go
Due: go-version

Use better health check variable name
  cmd/milmove/serve.go
Due: go-version

Reset redis for testing
  Makefile
Due: none

Properly close redis connections
  cmd/milmove/serve.go
Due: go-version

Update redis logging and add redis cli tests
  pkg/cli/redis.go
  pkg/cli/redis_test.go
Due: go-version

Fix failing tests
  pkg/auth/authentication/auth_test.go
  pkg/auth/cookie.go
  pkg/handlers/mocks/HandlerContext.go
Due: go-version

Redis pool needs a different connection created each time
  pkg/cli/redis.go
Due: go-version

Don't deploy to experimental
  .circleci/config.yml
Due: none

Move session setup to separate function
  Makefile
  cmd/milmove/serve.go
  pkg/auth/authentication/auth_test.go
  pkg/auth/cookie.go
  pkg/auth/cookie_test.go
  pkg/auth/session.go
  pkg/cli/session_test.go
Due: go-version

Update config env vars for staging/prod
  config/env/prod.app.env
  config/env/staging.app.env
Due: none

Moving trace middleware to root
  cmd/milmove/serve.go
Due: go-version

Fix backend for getting move by locator. Make it so OrdersTable renders on MoveDetails page.
  pkg/gen/ghcapi/embedded_spec.go
  pkg/handlers/ghcapi/move.go
  src/components/Office/OrdersTable.jsx
  src/pages/TOO/moveDetails.jsx
  src/scenes/Office/TOO/too.jsx
  src/scenes/Office/index.jsx
  src/shared/Entities/modules/moves.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Use zip3, not zip5; don't hit changehandler for estimate based on destination zip
  pkg/handlers/internalapi/personally_procured_move.go
  src/scenes/Review/EditDateAndLocation.jsx
Due: go-version, prettier, eslint

create distance zip3 lookup and tests
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup.go
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup_test.go
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version

customer info table tests
  src/components/Office/CustomerInfoTable.test.jsx
Due: prettier, eslint

customer info table component
  src/components/Office/CustomerInfoTable.jsx
Due: prettier, eslint

add customer info table to storybook
  src/stories/customerInfoTable.stories.jsx
Due: prettier, eslint

loki files
  .loki/reference/chrome_iphone7_TOO_TIO_Components_CustomerInfoTable_Customer_Info_Table.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_CustomerInfoTable_Customer_Info_Table.png
Due: none

Add TODO to fix issue where wrong SIT Discount rate is used
  pkg/handlers/internalapi/personally_procured_move_sit_estimate.go
Due: go-version

Fix cypress test text; add spacing in payment details
  cypress/integration/mymove/ppm.js
  src/scenes/Landing/MoveSummary/PpmMoveDetails.jsx
  src/scenes/Landing/MoveSummary/PpmMoveDetails.module.scss
Due: prettier, eslint

Makes responses in yaml using $ref uniform throughout the file
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/move_task_order/fetch_m_t_o_updates_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_move_task_order_customer_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/update_m_t_o_post_counseling_information_responses.go
  pkg/gen/primeapi/primeoperations/mto_service_item/create_m_t_o_service_item_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primeapi/primeoperations/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/gen/primeapi/primeoperations/payment_requests/create_payment_request_responses.go
  pkg/gen/primeapi/primeoperations/uploads/create_upload_responses.go
  pkg/gen/primeclient/move_task_order/fetch_m_t_o_updates_responses.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_customer_responses.go
  pkg/gen/primeclient/move_task_order/update_m_t_o_post_counseling_information_responses.go
  pkg/gen/primeclient/mto_service_item/create_m_t_o_service_item_responses.go
  pkg/gen/primeclient/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primeclient/mto_shipment/update_m_t_o_shipment_responses.go
  pkg/gen/primeclient/payment_requests/create_payment_request_responses.go
  pkg/gen/primeclient/uploads/create_upload_responses.go
  swagger/prime.yaml
Due: go-version, swagger

Move class to the correct location
  src/scenes/Landing/MoveSummary/PpmMoveDetails.jsx
Due: prettier, eslint

Adds back description and schema for 422
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/mto_shipment/create_m_t_o_shipment_responses.go
  pkg/gen/primeclient/mto_shipment/create_m_t_o_shipment_responses.go
  swagger/prime.yaml
Due: go-version, swagger

Add unit tests for SetupSessionManagers
  cmd/milmove/serve.go
  pkg/auth/session.go
  pkg/auth/session_test.go
Due: go-version

Update fetch MTOs handler to return additional payment request data
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/payment_request.go
  pkg/gen/primemessages/payment_service_item.go
  pkg/gen/primemessages/payment_service_item_param.go
  pkg/gen/primemessages/payment_service_item_params.go
  pkg/gen/primemessages/payment_service_item_status.go
  pkg/gen/primemessages/payment_service_items.go
  pkg/gen/primemessages/service_item_param_name.go
  pkg/gen/primemessages/service_item_param_origin.go
  pkg/gen/primemessages/service_item_param_type.go
  pkg/handlers/primeapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/models/service_item_param_key.go
  pkg/payment_request/service_param_value_lookups/distance_zip5_lookup_test.go
  pkg/payment_request/service_param_value_lookups/requested_pickup_date_lookup_test.go
  pkg/services/payment_request/payment_request_creator_test.go
  pkg/services/payment_request/upload_creator_test.go
  pkg/testdatagen/constants.go
  pkg/testdatagen/make_payment_request.go
  pkg/testdatagen/make_payment_service_item.go
  pkg/testdatagen/make_payment_service_item_param.go
  pkg/testdatagen/make_service_item_param_key.go
  pkg/testdatagen/shared.go
  swagger/prime.yaml
Due: go-version, swagger

alter tables to complete migration changes
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20200513151500_uploader_refactor_zero_down_alter_tables.up.sql
Due: none

add test for unimplememted zip3Distance calculation
  pkg/payment_request/service_param_value_lookups/distance_zip3_lookup_test.go
Due: go-version

adds markup for system level error to alerts
  src/stories/alerts.stories.jsx
Due: prettier, eslint

adds background color to system level error
  src/shared/styles/_overrides.scss
Due: none

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$
  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  gen-docs-index: any of: \.md$
