Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

.pre-commit-config.yaml:

repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: ^config/devlocal-.+\.key$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.10.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.2
    hooks:
      - id: shell-lint

  - repo: git://github.com/kintoandar/pre-commit.git
    rev: v2.1.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

  - repo: local
    hooks:
      - id: gas
        name: go abstract syntax (gas) scanner
        entry: bin/gas -exclude=G104 -fmt text -quiet ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: dep-status
        name: dep status
        entry: dep status -v
        language: system
        description: If this hook fails, try running `dep ensure`
        files: \.go$

Change testdatagen so that a destination address is different than the pickup address
  pkg/testdatagen/make_address.go
  pkg/testdatagen/make_shipment_records.go
Due: gas, dep-status

Make sure the invoice button is disabled if the hhg has not yet been approved
  src/scenes/Office/MoveInfo.jsx
Due: prettier

Add Pickup button to shipment info
  cypress/integration/tsp/shipShipment.js
  pkg/testdatagen/scenario/e2ebasic.go
  src/scenes/Review/EditProfile.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/api.js
  src/scenes/TransportationServiceProvider/ducks.js
  swagger/api.yaml
Due: prettier, gas, dep-status

Add a failure banner and invoice failure boolean to redux state
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/ducks.js
Due: prettier

Shorten the route for shipment info to remove the queue name, which has no bearing on a shipment
  src/scenes/TransportationServiceProvider/QueueTable.jsx
  src/scenes/TransportationServiceProvider/index.jsx
Due: prettier

Remove console.log
  src/scenes/Office/MoveInfo.jsx
Due: prettier

more merge cleanup
  pkg/models/shipment.go
Due: gas, dep-status

Add not hhgCompleted to disabled conditions; refactor successful invoice value
  src/scenes/Office/MoveInfo.jsx
Due: prettier

finish payload rename
  pkg/handlers/publicapi/shipments_test.go
Due: gas, dep-status

Fix existing test
  pkg/edi/invoice/generator_test.go
Due: gas, dep-status

Add e2e test for submit of invoice (don't click until we can avoid actually hitting the api)
  cypress/integration/office/officeUserHHG.js
Due: prettier

Add invoice handler test (but leaving commented until we know how to NOT make an actual GEX call during the test)
  pkg/handlers/internalapi/shipments_test.go
Due: gas, dep-status

Make L002 show no value instead of zero if it's not specified; change delimiter from ~ to *
  pkg/edi/invoice/generator.go
  pkg/edi/segment/l0.go
Due: gas, dep-status

respond to PR comments
  cypress/integration/tsp/shipShipment.js
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

This is an old version of gofmt?
  pkg/handlers/publicapi/shipments.go
Due: gas, dep-status

add deliver button to tsp
  cypress/integration/tsp/shipShipment.js
  pkg/handlers/publicapi/shipments.go
  pkg/handlers/publicapi/shipments_test.go
  src/scenes/TransportationServiceProvider/FormButton.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/api.js
  src/scenes/TransportationServiceProvider/ducks.js
  swagger/api.yaml
Due: prettier, gas, dep-status

Move function for running rate engine to be a function rateengine and remove standalone function
  pkg/handlers/internalapi/shipments.go
  pkg/rateengine/rateengine.go
  pkg/rateengine/shipments.go
Due: gas, dep-status

add prop types to formbutton
  src/scenes/TransportationServiceProvider/FormButton.jsx
Due: prettier

Change button style on success to match other button styles
  src/scenes/Office/MoveInfo.jsx
Due: prettier

Remove UI for sending an invoice to gex
  src/scenes/Gex/api.js
  src/scenes/Gex/ducks.js
  src/scenes/Gex/index.jsx
Due: prettier

Fix typo for content type prop
  src/shared/DocumentViewer/DocumentUploadViewer.jsx
Due: prettier

Update the e2e tests to fix the paths
  cypress/integration/tsp/declineShipment.js
  cypress/integration/tsp/generateGBL.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/integration/tsp/serviceAgents.js
  cypress/integration/tsp/tspUser.js
  cypress/integration/tsp/weightsAndItemsPanel.js
Due: prettier

Remove GEX route and root reducer reference
  src/appReducer.js
  src/scenes/Office/index.jsx
Due: prettier

Add contentType and filename as required props
  src/shared/DocumentViewer/DocumentContent.jsx
Due: prettier

Creates migration generation script to load duty stations
  Gopkg.lock
  cmd/load_duty_stations/main.go
  pkg/models/office_email.go
  pkg/models/office_phone_line.go
  pkg/models/transportation_office.go
Due: gas, dep-status

add package description and change to testing for zero value instead of just ID
  pkg/dbfmt/dbfmt.go
Due: gas, dep-status

fix up
  pkg/dbfmt/dbfmt.go
Due: gas, dep-status

readonly filesystem for containers
  config/app-client-tls.container-definition.json
  config/app-migrations.container-definition.json
  config/app.container-definition.json
Due: none

add tests for all handlers
  pkg/handlers/apitests.go
  pkg/handlers/errors.go
  pkg/handlers/publicapi/generic_move_documents.go
  pkg/handlers/publicapi/generic_move_documents_test.go
  pkg/handlers/publicapi/move_documents.go
  pkg/handlers/publicapi/move_documents_test.go
  pkg/handlers/publicapi/shipments.go
  pkg/handlers/publicapi/shipments_test.go
Due: gas, dep-status

Modify usage of import path
  src/shared/DocumentViewer/DocumentDetailPanel.jsx
Due: prettier

add disabled as prop on ConfirmWithReasonButton
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/ConfirmWithReasonButton/index.jsx
Due: prettier

e2e test for disabled reject button
  cypress/integration/tsp/declineShipment.js
Due: prettier

Recommend returning pointers to structs.
  docs/backend.md
Due: markdown-toc, mdspell

correct TSP header for app
  pkg/handlers/publicapi/service_members.go
  pkg/handlers/publicapi/shipments.go
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  swagger/api.yaml
Due: prettier, gas, dep-status

Remove dep status check from pre-commit. Rely instead on checking the dep version.
  .pre-commit-config.yaml
Due: none

rm unnecessary var
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

gbl generator and fix e2e test
  cypress/integration/tsp/shipShipment.js
  pkg/testdatagen/make_shipment_records.go
Due: prettier, gas, dep-status

Recommend returning pointers to structs. (#1032)
  docs/backend.md
Due: markdown-toc, mdspell

rm pre-creation of gbl num
  pkg/testdatagen/make_shipment_records.go
Due: gas, dep-status

Update reference to method for running a shipment through rateengine
  cmd/generate_shipment_edi/main.go
Due: gas, dep-status
