Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

update comment
  pkg/factory/privilege_factory.go
Due: go-version, ato-go-linter, appcontext-linter

wrong comment
  pkg/factory/privilege_factory.go
  pkg/factory/rank_factory.go
Due: go-version, ato-go-linter, appcontext-linter

echo variables...not sure why they aren't loading
  .gitlab-ci.yml
Due: none

fix server test for ppm shipment fetcher
  pkg/services/ppmshipment/ppm_shipment_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove extra
  pkg/services/mto_service_item/mto_service_item_updater.go
Due: go-version, ato-go-linter, appcontext-linter

remove comment
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
Due: prettier, eslint

remove comment
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
Due: prettier, eslint

updating truncate file
  scripts/db-truncate
Due: none

B-23333:Code refactoring
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserEdit.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserPrivilegeConfirm.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
  src/scenes/SystemAdmin/Home.jsx
Due: prettier, eslint

Adding test for VIntlLocations
  pkg/handlers/ghcapi/internal/payloads/model_to_payload_test.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload_test.go
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
Due: go-version, ato-go-linter, appcontext-linter

cleanup comments
  pkg/services/address/address_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Adding prime addresses test file
  pkg/handlers/primeapi/addresses_test.go
Due: go-version, ato-go-linter, appcontext-linter

improving readability
  pkg/services/address/address_lookup.go
Due: go-version, ato-go-linter, appcontext-linter

comment updates
  src/components/Shared/PPM/Closeout/AboutForm/AboutForm.test.jsx
Due: prettier, eslint

fix variables
  .gitlab-ci.yml
Due: none

Update syntax
  migrations/app/ddl_migrations/ddl_functions/20250624185654_fn_get_rate_area_id.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250624185808_fn_calculate_escalated_price_domestic.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250624185824_fn_calculate_ppm_incentive_conus.up.sql
Due: none

B-23333:Code clean up
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.module.scss
Due: none

B-23333:Reverted changes
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.module.scss
Due: none

initial script support to find and compare shas to an anchored config .txt sha file
  config/pdfium/README.md
  config/pdfium/scripts/compare_sha.sh
  config/pdfium/scripts/find_latest_sha.sh
  config/pdfium/sha.txt
Due: none

Revert "Merge branch 'integrationTesting' into B-23520-INT"
  .circleci/config.yml
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/flipt/storage/development.features.yaml
  migrations/app/ddl_migrations/ddl_functions/20250515124258_fn_get_ppm_closeout_queue.up.sql
  migrations/app/ddl_migrations/ddl_tables/20250528192635_tbl_backup_contacts.up.sql
  pkg/services/order/list_ppm_closeout.go
  pkg/services/order/list_ppm_closeout_test.go
  src/components/Office/DefinitionLists/CustomerInfoList.jsx
  src/components/Office/DefinitionLists/CustomerInfoList.test.jsx
  src/components/Office/DetailsPanel/DetailsPanel.stories.jsx
  src/components/Table/SearchResultsTable.jsx
  src/components/Table/SearchResultsTable.test.jsx
  src/pages/Office/HeadquartersQueues/HeadquartersQueues.jsx
  src/pages/Office/HeadquartersQueues/HeadquartersQueues.test.jsx
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.test.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Update syntax
  migrations/app/ddl_migrations/ddl_functions/20250624215416_fn_drop_calculate_ihpk_iubpk_price.up.sql
  migrations/app/ddl_migrations/ddl_functions/20250624215432_fn_drop_calculate_islh_ubp_price.up.sql
Due: none

Update 20250624215232_B-23853_insert_re_zip5_rate_areas.up.sql
  migrations/app/schema/20250624215232_B-23853_insert_re_zip5_rate_areas.up.sql
Due: none

Reapply "Merge branch 'integrationTesting' into B-23520-INT"
  .circleci/config.yml
  .envrc
  config/env/demo.app-client-tls.env
  config/env/demo.app.env
  config/env/exp.app-client-tls.env
  config/env/exp.app.env
  config/env/loadtest.app-client-tls.env
  config/env/loadtest.app.env
  config/env/prd.app-client-tls.env
  config/env/prd.app.env
  config/env/stg.app-client-tls.env
  config/env/stg.app.env
  config/flipt/storage/development.features.yaml
  migrations/app/ddl_migrations/ddl_functions/20250515124258_fn_get_ppm_closeout_queue.up.sql
  migrations/app/ddl_migrations/ddl_tables/20250528192635_tbl_backup_contacts.up.sql
  pkg/services/order/list_ppm_closeout.go
  pkg/services/order/list_ppm_closeout_test.go
  src/components/Office/DefinitionLists/CustomerInfoList.jsx
  src/components/Office/DefinitionLists/CustomerInfoList.test.jsx
  src/components/Office/DetailsPanel/DetailsPanel.stories.jsx
  src/components/Table/SearchResultsTable.jsx
  src/components/Table/SearchResultsTable.test.jsx
  src/pages/Office/HeadquartersQueues/HeadquartersQueues.jsx
  src/pages/Office/HeadquartersQueues/HeadquartersQueues.test.jsx
  src/pages/Office/MoveQueue/MoveQueue.jsx
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.test.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.jsx
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.test.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.test.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

B-23333:clean up
  src/scenes/SystemAdmin/Home.jsx
Due: prettier, eslint

removing unneeded test
  src/components/Shared/PPM/Closeout/AboutForm/AboutForm.test.jsx
Due: prettier, eslint

removing more unneeded test steps
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
Due: prettier, eslint

Experimental changes for gbloc solution
  pkg/handlers/pptasapi/pptas_report.go
  pkg/models/office_user.go
  pkg/models/transportation_office.go
  pkg/services/mocks/MoveFetcher.go
  pkg/services/mocks/PPTASReportListFetcher.go
  pkg/services/move.go
  pkg/services/move/move_fetcher.go
  pkg/services/pptas_report.go
  pkg/services/pptas_report/pptas_report_list_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

move to before script for service access
  .gitlab-ci.yml
Due: none

lint fix
  pkg/handlers/ghcapi/orders_test.go
  pkg/handlers/internalapi/orders_test.go
Due: go-version, ato-go-linter, appcontext-linter

updating tests
  pkg/handlers/ghcapi/addresses_test.go
  pkg/handlers/internalapi/addresses_test.go
  pkg/handlers/primeapi/addresses_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-23333:added changes from pr comments
  pkg/handlers/adminapi/requested_office_users.go
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserEdit.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserPrivilegeConfirm.jsx
  src/pages/Admin/RequestedOfficeUsers/RequestedOfficeUserShow.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

add pdfium as a required runtime dependency
  cmd/milmove/serve.go
Due: go-version, ato-go-linter, appcontext-linter

updating to log instead of return error
  pkg/services/address/address_lookup.go
Due: go-version, ato-go-linter, appcontext-linter

updating to trimspace
  pkg/services/address/address_lookup.go
Due: go-version, ato-go-linter, appcontext-linter

updating to handle nothing after comma
  pkg/services/address/address_lookup.go
Due: go-version, ato-go-linter, appcontext-linter

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
