Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

.pre-commit-config.yaml:

repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: ^config/devlocal-.+\.key$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.10.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.2
    hooks:
      - id: shell-lint

  - repo: git://github.com/kintoandar/pre-commit.git
    rev: v2.1.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

  - repo: local
    hooks:
      - id: gas
        name: go abstract syntax (gas) scanner
        entry: bin/gas -exclude=G104 -fmt text -quiet ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: dep-status
        name: dep status
        entry: dep status -v
        language: system
        description: If this hook fails, try running `dep ensure`
        files: \.go$

update to beeline-go
  Gopkg.lock
  cmd/webserver/main.go
Due: gas, dep-status

circleci pre_deps
  .circleci/config.yml
Due: none

Add linehaul discount into calculations for invoice
  cmd/generate_shipment_edi/main.go
  pkg/handlers/internalapi/shipments.go
  pkg/models/shipment.go
  pkg/rateengine/rateengine.go
Due: gas, dep-status

Adds tests, up migration
  .gitignore
  cmd/load_duty_stations/main.go
  internal/pkg/dutystationsloader/duty_stations_loader.go
  internal/pkg/dutystationsloader/duty_stations_loader_test.go
  internal/pkg/dutystationsloader/testdata/offices.xlsx
  internal/pkg/dutystationsloader/testdata/stations.xlsx
  migrations/20180924223800_8_21_duty_stations.up.sql
Due: gas, dep-status

Add basic panel component, playground route for testing in non prod envs, and basic panel test
  src/scenes/TransportationServiceProvider/index.jsx
  src/shared/BasicPanel/index.css
  src/shared/BasicPanel/index.jsx
  src/shared/BasicPanel/index.test.js
  src/shared/ScratchPad/index.jsx
Due: prettier

adding new office users
  bin/generate-secure-migration
  local_migrations/20180924221215_office-users.sql
  migrations/20180924221215_office-users.up.fizz
Due: none

Duplicate stations/offices are not added to migration
  cmd/load_duty_stations/main.go
  internal/pkg/dutystationsloader/duty_stations_loader.go
  migrations/20180924223800_8_21_duty_stations.up.sql
Due: gas, dep-status

Adjust comparison to include the last day of the rate cycle.
  pkg/models/transportation_service_provider_performance.go
  pkg/models/transportation_service_provider_performance_test.go
Due: gas, dep-status

Pass client into thunk middleware
  src/scenes/Moves/Hhg/ShipmentForm.jsx
  src/shared/Swagger/request.js
  src/shared/Swagger/request.test.js
  src/shared/store.js
Due: prettier

Convert rate cycle columns to dates.
  migrations/20180925155829_convert_rate_cycle_times_to_dates.up.sql
Due: none

Remove unused css file import
  src/shared/DocumentViewer/DocumentDetailPanel.jsx
Due: prettier

Update schema diagram.
  docs/schema/dp3.sqs
Due: none

Address feedback and fix tests.
  docs/swagger_redux.md
  src/shared/Entities/modules/shipments.js
  src/shared/Swagger/request.js
  src/shared/Swagger/request.test.js
Due: prettier, markdown-toc, mdspell

Don't pass client into thunk middleware.
  src/shared/store.js
Due: prettier

Updates tests
  internal/pkg/dutystationsloader/duty_stations_loader.go
  internal/pkg/dutystationsloader/duty_stations_loader_test.go
Due: gas, dep-status

edits to adr
  .spelling
  docs/adr/0028-Backend-State-Machine.md
  docs/adr/index.md
Due: markdown-toc, mdspell

Add actions for getting all shipment documents
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/api.js
  src/scenes/TransportationServiceProvider/ducks.js
Due: prettier

Updates pattern matching to better filter out duplicates
  internal/pkg/dutystationsloader/duty_stations_loader.go
  migrations/20180924223800_8_21_duty_stations.up.sql
  migrations/20180925185215_rename_kirkland.up.sql
Due: gas, dep-status

Function for similarity patterns
  internal/pkg/dutystationsloader/duty_stations_loader.go
Due: gas, dep-status

add proptypes to basicpanel
  src/shared/BasicPanel/index.jsx
Due: prettier

Fixes tests
  internal/pkg/dutystationsloader/duty_stations_loader.go
  internal/pkg/dutystationsloader/duty_stations_loader_test.go
Due: gas, dep-status

Add markup for document list and empty document list
  src/scenes/Office/MoveInfo.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier

Add actual GBL to invoice, with error handling
  pkg/edi/invoice/generator.go
Due: gas, dep-status

Tag on a compliant value for Order.TAC in make_order (not worth it's own PR)
  pkg/testdatagen/make_order.go
Due: gas, dep-status

Make GBL in generator a pointer; assign a GBL in the generator test by using shipment.AssignGNBLNumber()
  pkg/edi/invoice/generator.go
  pkg/edi/invoice/generator_test.go
Due: gas, dep-status

Added new endpoint for determining unavailable move dates
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/calendar.go
  pkg/handlers/internalapi/calendar_test.go
  swagger/internal.yaml
Due: gas, dep-status

Import DPS transit times as go func.
  pkg/models/transit_times.go
  pkg/models/transit_times_test.go
Due: gas, dep-status

Save the shipment after Assigning GBL number
  pkg/edi/invoice/generator_test.go
Due: gas, dep-status

Change action to use swagger request
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/Entities/modules/shipmentDocuments.js
Due: prettier

re-add dod ca
  config/tls/dod-sw-ca-54.pem
Due: none

remove root ca from dod-sw-ca-54
  config/tls/dod-sw-ca-54.pem
Due: none

append intermediate cert to TLS listeners
  .circleci/config.yml
  cmd/webserver/main.go
  config/tls/dod-sw-ca-54.pem
Due: gas, dep-status

Split root and intermediate CA certs
  config/tls/dod-root-ca-3.pem
Due: none

Add css classes for styling
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/tsp.css
Due: prettier

Add flag and function for sending the generated edi to GEX
  cmd/generate_shipment_edi/main.go
Due: gas, dep-status

Use new redux-swagger pattern to add move documents to entities reducer - destructure props from shipment
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/shared/Entities/modules/shipmentDocuments.js
  src/shared/Entities/reducer.js
  src/shared/Entities/schema.js
Due: prettier

Add the right logger to improve messages
  cmd/generate_shipment_edi/main.go
Due: gas, dep-status

customer info panel for tsp
  pkg/edi/segment/fa1.go
  pkg/handlers/internalapi/backup_contacts.go
  pkg/handlers/internalapi/entitlements.go
  pkg/handlers/internalapi/service_member_test.go
  pkg/handlers/internalapi/service_members.go
  pkg/handlers/publicapi/backup_contacts.go
  pkg/handlers/publicapi/service_members.go
  pkg/handlers/publicapi/shipments.go
  pkg/handlers/publicapi/shipments_test.go
  pkg/models/backup_contact.go
  pkg/models/backup_contact_test.go
  pkg/models/entitlements.go
  pkg/models/move_test.go
  pkg/models/service_member.go
  pkg/models/service_member_rank.go
  pkg/models/service_member_test.go
  pkg/models/shipment.go
  pkg/models/validators.go
  pkg/testdatagen/make_backup_contact.go
  pkg/testdatagen/make_service_member.go
  pkg/testdatagen/make_shipment_records.go
  src/scenes/TransportationServiceProvider/CustomerInfo.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/tsp.css
  swagger/api.yaml
Due: prettier, gas, dep-status

add preapproval request component
  src/App/index.jsx
  src/scenes/Office/index.jsx
  src/shared/PreApprovalRequest/index.css
  src/shared/PreApprovalRequest/index.jsx
  src/shared/PreApprovalRequest/index.test.js
  src/shared/ScratchPad/index.jsx
  src/shared/constants.js
  src/shared/shared.css
  src/shared/utils.js
Due: prettier

remove cruft
  src/scenes/TransportationServiceProvider/CustomerInfo.jsx
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
Due: prettier
