Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Removed TODO; added white space to get around linter comment concern
  pkg/cli/syncada_sftp.go
Due: go-version

Add test for multiple roles buttons
  src/pages/SelectApplication/SelectApplication.test.jsx
Due: prettier, eslint

MB-7431 Add getMoveTaskOrder endpoint to the Prime API
  pkg/gen/primeapi/configure_mymove.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_move_task_order.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_move_task_order_parameters.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_move_task_order_responses.go
  pkg/gen/primeapi/primeoperations/move_task_order/get_move_task_order_urlbuilder.go
  pkg/gen/primeapi/primeoperations/mymove_api.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_parameters.go
  pkg/gen/primeclient/move_task_order/get_move_task_order_responses.go
  pkg/gen/primeclient/move_task_order/move_task_order_client.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/move_task_order.go
  swagger/prime.yaml
Due: go-version, swagger, spectral

MB-7431 Correct the GetMoveTaskOrderHandler description
  pkg/handlers/supportapi/move_task_order.go
Due: go-version

Add params to pricer and basic test
  pkg/services/ghc_rate_engine.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
Due: go-version

Fix server tests
  pkg/handlers/ghcapi/queues_test.go
  pkg/testdatagen/make_office_user.go
Due: go-version

MB-7431 Add OriginDutyStation.Address to the FetchMoveTaskOrder query
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

Colocated all #nosec instances to be with annotation
  pkg/auth/cookie.go
  pkg/cli/auth.go
  pkg/cli/dps.go
  pkg/cli/gex.go
  pkg/cli/syncada_sftp.go
  pkg/storage/storage.go
Due: go-version

MB-5883 Fix styling for h2, p, and first labels on edit contact form
  src/components/Customer/EditContactInfoForm/EditContactInfoForm.jsx
  src/components/Customer/EditContactInfoForm/EditContactInfoForm.module.scss
Due: prettier, eslint

migration to add new fields to entitlements table: pro-gear and spouse pro-gear
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210420195709_adding_progear_and_spouse_entitlments.up.sql
Due: none

Added migration to change type of FSCPriceDifferenceInCents
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20210420200150_change_fsc_param_to_decimal.up.sql
Due: none

added new fields: pro gear and spouse pro gear to yaml definition
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_order_payload.go
  pkg/models/ghc_entitlements.go
  swagger/ghc.yaml
Due: go-version, swagger

Add seed users
  pkg/auth/authentication/devlocal.go
  pkg/testdatagen/scenario/devseed.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Increased test coverage and fixed a few oversights
  pkg/services/ghcrateengine/fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/fuel_surcharge_pricer_test.go
Due: go-version

Regenerated FuelSurchargePricer mock
  pkg/services/mocks/FuelSurchargePricer.go
Due: go-version

Add annotation for password in variable name
  pkg/cli/gex_sftp.go
Due: go-version

Filter by OriginGBLOC works
  pkg/handlers/ghcapi/queues.go
  pkg/services/order.go
  pkg/services/order/order_fetcher.go
Due: go-version

Test added
  pkg/services/order/order_fetcher_test.go
Due: go-version

update first failing test with NO mocks
  pkg/handlers/adminapi/office_users_test.go
Due: go-version

Clarify log messages for those less familiar with EDI formats
  cmd/milmove-tasks/process_edis.go
Due: go-version

add in fields RME and OCIE to swagger definition
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_order_payload.go
  swagger/ghc.yaml
Due: go-version, swagger

change type to pointer for pro gear fields
  pkg/models/ghc_entitlements.go
Due: go-version

nullable OCIE swagger definition
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/update_order_payload.go
  swagger/ghc.yaml
Due: go-version, swagger

hook up new fields so entitlements are updated with the new fields
  pkg/handlers/ghcapi/orders.go
  pkg/services/order/order_updater.go
Due: go-version

Add and Fix Testing for the Sign In
  cypress/integration/mymove/homepage.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/homepage.js
  src/components/MilMoveHeader/MilMoveHeader.stories.jsx
  src/components/MilMoveHeader/MilMoveHeader.test.jsx
Due: prettier, eslint

[MB-5918] Checks major version only, doesn't care about minor release.
  scripts/check-bash-version
Due: none

Add ApprovedAt field to service item updater
  pkg/services/mto_shipment/mto_shipment_updater.go
Due: go-version

RA Validation
  pkg/cli/gex_sftp.go
Due: go-version

MB-7431 Remove unnecessary Q()
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

MB-7431 Move NewMoveTaskOrderFetcher to top of file
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

MB-7431 Refactor ListMoveTaskOrderParams to MoveTaskOrderFetcherParams to genericize its use
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/supportapi/move_task_order.go
  pkg/services/mocks/MoveTaskOrderFetcher.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_fetcher.go
  pkg/services/move_task_order/move_task_order_fetcher_test.go
Due: go-version

RA Validation
  dangerfile.ts
Due: none

Fix inline eslint-disables, one of lint errors, and rules that are not used anymore
  eslint-plugin-ato/no-unapproved-annotation.js
  src/components/DataPoint/index.jsx
  src/components/Office/OrdersDetailForm/OrdersDetailForm.test.jsx
  src/pages/SelectApplication/SelectApplication.jsx
  src/pages/SelectApplication/SelectApplication.test.jsx
  src/registerServiceWorker.js
Due: prettier, eslint

MB-7431 Implement setMTOQueryFilters in the list MTO fetcher functions
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

MB-7431 Replace FetchMoveTaskOrderParams with MoveTaskOrderFetcherParams
  pkg/handlers/ghcapi/move_task_order.go
  pkg/handlers/supportapi/move_task_order.go
  pkg/services/mocks/MoveTaskOrderFetcher.go
  pkg/services/move_task_order.go
  pkg/services/move_task_order/move_task_order_fetcher.go
  pkg/services/move_task_order/move_task_order_fetcher_test.go
  pkg/services/move_task_order/move_task_order_updater.go
Due: go-version

Set environment variable FEATURE_FLAG_SERVICE_CONSELING to false in experimental
  config/env/exp.app.env
Due: none

Add assertion that will likely need some more refinement about ApprovedAt status not being nil
  pkg/services/mto_shipment/mto_shipment_updater_test.go
Due: go-version

MB-7431 Implement setMTOQueryFilters in FetchMoveTaskOrder
  pkg/services/move_task_order/move_task_order_fetcher.go
Due: go-version

MB-7431 Only get available moves with Prime API GetMoveTaskOrder
  pkg/handlers/primeapi/move_task_order.go
Due: go-version

Update milmove-cypress image tag
  cypress/Dockerfile.cypress
Due: none
