Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, playwright_tsc, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

playwright_tsc:
  name: playwright_tsc
  entry: node_modules/.bin/tsc -p playwright/tests/tsconfig.json
  language: node
  pass_filenames: false

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script
  require_serial: true

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Adding test for estimated weight
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: prettier, eslint, playwright_tsc

tests on tests on tests
  pkg/services/order/order_fetcher.go
  pkg/services/order/order_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

UI tests
  src/pages/Office/MoveQueue/MoveQueue.test.jsx
Due: prettier, eslint

handler test added
  pkg/handlers/ghcapi/queues_test.go
Due: go-version, ato-go-linter, appcontext-linter

Test Adjustment
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: prettier, eslint, playwright_tsc

cleanup unnecessary useEffect dependencies for SC and TOO move details
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

Add test for transportation office assignment fetcher
  pkg/services/transportation_office_assignments/transportation_office_assignments_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

Add test for transportation office assignment fetcher, add missing line
  pkg/services/transportation_office_assignments/transportation_office_assignments_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

B-21505 test coverage improvement
  pkg/apperror/errors_test.go
Due: go-version, ato-go-linter, appcontext-linter

Expanding tests for transportation office assignment fetcher
  pkg/services/transportation_office_assignments/transportation_office_assignments_fetcher_test.go
Due: go-version, ato-go-linter, appcontext-linter

circle CI test pass locally
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: prettier, eslint, playwright_tsc

Add test file for transportation office assignment updater
  pkg/services/transportation_office_assignments/transportation_office_assignments_fetcher_test.go
  pkg/services/transportation_office_assignments/transportation_office_assignments_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

Wrap update transportation office assignments in a transaction, as it always should have been
  pkg/services/transportation_office_assignments/transportation_office_assignments_updater.go
Due: go-version, ato-go-linter, appcontext-linter

Remove tests
  playwright/tests/office/primesimulator/primeSimulatorFlows.spec.js
Due: prettier, eslint, playwright_tsc

Remove default 0 value
  src/pages/PrimeUI/Shipment/PrimeUIShipmentUpdateForm.jsx
Due: prettier, eslint

syntax fixes and working on tests
  migrations/app/schema/20241208080706_add_internatinoal_nts_re_service_items.up.sql
  pkg/models/mto_shipments.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version, ato-go-linter, appcontext-linter

fix: Dockerfile.migrations to reduce vulnerabilities
  Dockerfile.migrations
Due: none

Limit UB weight allowance based on Studen Travel order type.
  pkg/models/entitlements.go
  pkg/models/entitlements_test.go
Due: go-version, ato-go-linter, appcontext-linter

removing added error logic and its handling
  pkg/models/mto_shipments.go
  pkg/models/mto_shipments_test.go
  src/components/Office/RequestedShipments/SubmittedRequestedShipments.jsx
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Change to using order type variable for comparison instead of pointer.
  pkg/models/entitlements.go
Due: go-version, ato-go-linter, appcontext-linter

testing
  pkg/services/mto_shipment/shipment_approver_test.go
Due: go-version, ato-go-linter, appcontext-linter

Edited comparison to be consistent with other ones in the file.
  pkg/models/entitlements.go
Due: go-version, ato-go-linter, appcontext-linter

Adding initial implementation and test fixes
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/domestic_origin_pricer_test.go
  pkg/services/ghcrateengine/pricer_helpers.go
  pkg/services/ghcrateengine/pricer_query_helpers.go
  pkg/services/ghcrateengine/pricer_query_helpers_test.go
  pkg/testdatagen/make_re_contract_year.go
Due: go-version, ato-go-linter, appcontext-linter

Fix error return
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Add Contract Years to model
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Remove unneeded err validations
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Err logging edit
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Err logging edit"
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Remove unneeded err validations"
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

return value adjustment
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

error logging change
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Adjustment for option period 3
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

Adding tests
  pkg/services/ghcrateengine/pricer_helpers.go
  pkg/services/ghcrateengine/pricer_helpers_test.go
Due: go-version, ato-go-linter, appcontext-linter

Test suite name change
  pkg/services/ghcrateengine/pricer_helpers_test.go
Due: go-version, ato-go-linter, appcontext-linter

Error logging fix
  pkg/services/ghcrateengine/pricer_helpers.go
  pkg/services/ghcrateengine/pricer_helpers_test.go
Due: go-version, ato-go-linter, appcontext-linter

Remove default on switch
  pkg/models/re_contract_year.go
Due: go-version, ato-go-linter, appcontext-linter

Return err when unexpected contract year
  pkg/models/re_contract_year.go
  pkg/services/ghcrateengine/pricer_helpers.go
Due: go-version, ato-go-linter, appcontext-linter

more transportation office related increased server test coverage
  pkg/factory/transportation_office_assignment_factory_test.go
  pkg/handlers/adminapi/offices.go
  pkg/handlers/adminapi/offices_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixed linter error due to missing space
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  playwright_tsc: any of: ^playwright/tests/.*\.js$
  swagger: any of: swagger/.* and \.(yaml|yml)$ and not (swagger-def/.*)
  gomod: any of: go.mod
  spectral: any of: swagger/(admin|prime|prime_v2|prime_v3|support|pptas).yaml and \.(yaml|yml)$
