Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, gas, mdspell, dep-status

.pre-commit-config.yaml:

repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.3.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: ^config/devlocal-.+\.key$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.10.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.2
    hooks:
      - id: shell-lint

  - repo: git://github.com/kintoandar/pre-commit.git
    rev: v2.1.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    rev: v0.3.2
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

  - repo: local
    hooks:
      - id: gas
        name: go abstract syntax (gas) scanner
        entry: bin/gas -exclude=G104 -fmt text -quiet ./...
        language: script
        description: Inspects source code for security problems by scanning the Go AST.
        files: \.go$

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: local
    hooks:
      - id: dep-status
        name: dep status
        entry: dep status -v
        language: system
        description: If this hook fails, try running `dep ensure`
        files: \.go$

Move CostByShipment struct to generator in edi; add placeholders for planner in NewRateEngine args and linehaul discount in ComputeShipment arg
  cmd/generate_shipment_edi/main.go
  pkg/edi/invoice/generator.go
Due: gas, dep-status

using some FSM state changes
  Gopkg.lock
  pkg/models/move.go
  pkg/models/move_test.go
Due: gas, dep-status

using some FSM state changes
  pkg/models/move.go
Due: gas, dep-status

Modify EDI generator to take in a slice of structs CostByShipment and pull out shipments from it to use in the function
  cmd/generate_shipment_edi/main.go
  pkg/edi/invoice/generator.go
Due: gas, dep-status

is this where these two funcs should be called?
  pkg/models/move.go
  pkg/models/move_test.go
Due: gas, dep-status

Pass through move assertions to MakeShipment and don't call MakeMove. Change move status based on shipment status
  pkg/testdatagen/make_shipment_offer_records.go
Due: gas, dep-status

Display hhg status in hhg tab
  src/scenes/Office/MoveInfo.jsx
Due: prettier

start on handler, add shipment_id fields to move doc model
  pkg/handlers/publicapi/api.go
  pkg/handlers/publicapi/shipments.go
  pkg/models/move_document.go
Due: gas, dep-status

Refactor test premove survey so we can use the setup separate from the tests.
  cypress/integration/office/officePremoveSurvey.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/support/testPremoveSurvey.js
Due: prettier

Add tests for the contents panel.
  cypress/integration/tsp/contentsPanel.js
Due: prettier

First pass at GBL data fetching function
  pkg/models/gov_bill_of_lading.go
  pkg/models/gov_bill_of_lading_test.go
Due: gas, dep-status

Adding basic field layout for weights panel.
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Use atual classes for styling headings and subheadings.
  src/scenes/TransportationServiceProvider/Weights.jsx
  src/shared/EditablePanel/index.css
Due: prettier

Only include fields we're editing in the list of weightsFields.
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Begin work on weights panel
  src/scenes/TransportationServiceProvider/ShipmentInfo.jsx
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Add tests for the contents panel.
  cypress/integration/tsp/weightsAndItemsPanel.js
Due: prettier

Remove unnecessary mapDispatchToProps
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

fetch move docs by type and shipment working
  pkg/handlers/publicapi/shipments.go
  pkg/models/move_document.go
Due: gas, dep-status

fixup! Adding basic field layout for weights panel.
  src/scenes/TransportationServiceProvider/Weights.jsx
Due: prettier

Remove all resetDB() calls and comment out function code
  cypress/integration/mymove/orders.js
  cypress/integration/mymove/ppm.js
  cypress/integration/mymove/serviceMemberProfile.js
  cypress/integration/mymove/shipment.js
  cypress/integration/office/documentViewer.js
  cypress/integration/office/incentiveCalculator.js
  cypress/integration/office/officePremoveSurvey.js
  cypress/integration/office/officeUserPPM.js
  cypress/integration/office/officeUserShipment.js
  cypress/integration/office/storageReimbursementCalculator.js
  cypress/integration/tsp/premoveSurvey.js
  cypress/integration/tsp/serviceAgents.js
  cypress/integration/tsp/tspUser.js
  cypress/support/commands.js
Due: prettier

Add seed data for new scenario and don't reset db between runs.
  cypress/integration/tsp/weightsAndItemsPanel.js
  pkg/testdatagen/scenario/e2ebasic.go
Due: prettier, gas, dep-status

adapt createmovedocument to accept ppm or shipment ids, add a test for fetching move docs by type and shipment
  pkg/handlers/publicapi/shipments.go
  pkg/models/move.go
  pkg/models/move_document.go
  pkg/models/move_document_test.go
  pkg/models/move_documents_extractor.go
Due: gas, dep-status

Change the default 'make server_run' command to always rebuild on swagger change
  Makefile
  bin/prereqs
Due: none

Rename hhg test record
  pkg/testdatagen/scenario/e2ebasic.go
Due: gas, dep-status

fetch SM Id to create move document
  pkg/models/shipment.go
Due: gas, dep-status

Update e2e tests after merge
  cypress/integration/tsp/weightsAndItemsPanel.js
Due: prettier

Remove resetDB() from e2e test
  cypress/integration/office/officeUserHHG.js
Due: prettier

Do error handling properly of call to HandleRunRateEngineOnShipment; extend comments to TODOs and add TODOs
  cmd/generate_shipment_edi/main.go
Due: gas, dep-status

Remove old comment
  Makefile
Due: none

updated test file and updated model
  pkg/models/gov_bill_of_lading.go
  pkg/models/gov_bill_of_lading_test.go
Due: gas, dep-status

Change TODO comment to be accurate as to state of accepted
  cmd/generate_shipment_edi/main.go
Due: gas, dep-status

Putting shipment into awarded state after AQ offers it to a TSP
  pkg/awardqueue/awardqueue.go
  pkg/awardqueue/awardqueue_test.go
  pkg/handlers/internalapi/shipments.go
  pkg/models/shipment.go
Due: gas, dep-status

Add a post endpoint to internal api for approving a shipment
  swagger/internal.yaml
Due: none

Add a handler to approve HHGs
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/shipments.go
Due: gas, dep-status

Add Approve() to the shipment state machine
  pkg/models/shipment.go
Due: gas, dep-status

remove old comment about internal rest api
  pkg/handlers/internalapi/shipments.go
Due: gas, dep-status

Changes mergeModels to handle pointers
  pkg/testdatagen/shared.go
Due: gas, dep-status

Updates shipment generator to use assertion values
  pkg/testdatagen/make_shipment_records.go
Due: gas, dep-status

Add tests for approving a shipment
  pkg/handlers/internalapi/shipments_test.go
  pkg/models/shipment_test.go
Due: gas, dep-status
