Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

fix nts card text.
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

change you'll to you will
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
Due: prettier, eslint

change movers to customer service rep
  src/components/Customer/MtoShipmentForm/MtoShipmentForm.jsx
Due: prettier, eslint

remove contractions
  src/components/Customer/PPM/Booking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.jsx
Due: prettier, eslint

Add LOA test
  pkg/models/line_of_accounting.go
  pkg/models/line_of_accounting_test.go
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adds an authz check for requests to create a pro gear weight ticket
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/progear_weight_ticket.go
  pkg/handlers/internalapi/progear_weight_ticket_test.go
Due: go-version, ato-go-linter, appcontext-linter

remove contractions
  src/components/Customer/PPM/Booking/Advance/AdvanceForm.jsx
Due: prettier, eslint

remove contractions and add additional text.
  src/components/Customer/PPM/Booking/Advance/AdvanceForm.jsx
Due: prettier, eslint

Fetch proof of service docs and uploads from db
  pkg/services/payment_request/payment_request_list_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

content changes
  src/pages/MyMove/Home/HomeHelpers.jsx
Due: prettier, eslint

remove bullet.
  src/pages/MyMove/Home/HomeHelpers.jsx
Due: prettier, eslint

delete changes
  src/pages/MyMove/Home/HomeHelpers.jsx
Due: prettier, eslint

Filter out deleted files
  pkg/models/prime_upload.go
  pkg/services/payment_request/payment_request_list_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

Leverage payment request's proof of service docs to display weight tickets
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.jsx
Due: prettier, eslint

Update tests to reflect new usage of component and removal of order document fetching
  src/pages/Office/ReviewBillableWeight/ReviewBillableWeight.test.jsx
Due: prettier, eslint

Modified parsed TAC struct and added additional capabilities and tests for pruning expired tacs. Also added consolidation functionality for duplicate TACs found
  pkg/parser/tac/parse.go
  pkg/parser/tac/parse_test.go
Due: go-version, ato-go-linter, appcontext-linter

content changes
  src/components/Customer/Home/Contact/index.jsx
Due: prettier, eslint

content changes to alert
  src/pages/MyMove/Profile/Profile.jsx
Due: prettier, eslint

Add LOA test with values for all fields
  pkg/models/line_of_accounting_test.go
Due: go-version, ato-go-linter, appcontext-linter

Test updating the reviewapp Dockerfile since check_go_version relies on .tool-versions now
  Dockerfile.reviewapp
Due: none

updated helper to use correct formatting function
  pkg/testdatagen/scenario/shared.go
  src/components/Office/ServiceItemCalculations/helpers.js
  src/components/Office/ServiceItemCalculations/serviceItemTestParams.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Fixed parser issues with time. Adjusted time parse format and added set values in test to prevent mismatched time.now. Fixed consildating function and test. Fixed expired tac test
  pkg/models/transportation_accounting_code_trdm_file_parsed.go
  pkg/parser/tac/parse.go
  pkg/parser/tac/parse_test.go
Due: go-version, ato-go-linter, appcontext-linter

Add todo for more TAC tests
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Validate and save
  pkg/models/line_of_accounting_test.go
Due: go-version, ato-go-linter, appcontext-linter

change text in playwright test.
  playwright/tests/my/mymove/nts.spec.js
Due: prettier, eslint

fix select shipment type client test.
  src/pages/MyMove/SelectShipmentType.test.jsx
Due: prettier, eslint

change alert test.
  src/pages/MyMove/Profile/Profile.test.jsx
Due: prettier, eslint

change fix test.
  src/components/Customer/PPM/Booking/EstimatedIncentiveDetails/EstimatedIncentiveDetails.test.jsx
Due: prettier, eslint

Use factory in unit tests
  pkg/factory/line_of_accounting_factory.go
  pkg/factory/shared.go
  pkg/models/line_of_accounting_test.go
Due: go-version, ato-go-linter, appcontext-linter

Refactored TAC parse function to reduce cognitive complexity
  pkg/parser/tac/parse.go
  pkg/parser/tac/parse_test.go
Due: go-version, ato-go-linter, appcontext-linter

Updated code to reflect only payment service item status, not payment request
  pkg/services/payment_request/rules.go
  pkg/services/payment_request/rules_test.go
Due: go-version, ato-go-linter, appcontext-linter

content changes
  src/pages/MyMove/MovingInfo.jsx
Due: prettier, eslint

change hhg label description.
  src/pages/MyMove/SelectShipmentType.jsx
Due: prettier, eslint

Use validate and save in TAC tests
  pkg/models/transportation_accounting_code_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding interface and mocks for DOSFSC
  pkg/services/ghc_rate_engine.go
  pkg/services/mocks/DomesticOriginSITFuelSurchargePricer.go
Due: go-version, ato-go-linter, appcontext-linter

Adding in the service for DOSFSC;
  pkg/payment_request/service_param_value_lookups/weight_billed_lookup.go
  pkg/services/ghcrateengine/domestic_origin_sit_fuel_surcharge_pricer.go
  pkg/services/ghcrateengine/domestic_origin_sit_fuel_surcharge_pricer_test.go
  pkg/services/ghcrateengine/service_item_pricer.go
Due: go-version, ato-go-linter, appcontext-linter

show original address instead of final address in edit service item modal
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Adding DOSFSC to MTO service item updater
  pkg/services/mto_service_item/mto_service_item_updater.go
Due: go-version, ato-go-linter, appcontext-linter
