Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

MB-7989 Move ValidateAgent tests to correct file
  pkg/services/mto_agent/mto_agent_updater_test.go
  pkg/services/mto_agent/mto_agent_validator.go
  pkg/services/mto_agent/mto_agent_validator_test.go
Due: go-version

MB-7989 Move agent validation code to new package in mto_agent service
  pkg/services/mto_agent/mto_agent_creator.go
  pkg/services/mto_agent/mto_agent_updater.go
  pkg/services/mto_agent/mto_agent_validator_rules.go
  pkg/services/mto_agent/validation/mto_agent_validation_service_test.go
  pkg/services/mto_agent/validation/mto_agent_validator.go
  pkg/services/mto_agent/validation/mto_agent_validator_rules.go
  pkg/services/mto_agent/validation/mto_agent_validator_rules_test.go
  pkg/services/mto_agent/validation/mto_agent_validator_test.go
Due: go-version

MB-7989 Rename file again, for brevity
  pkg/services/mto_agent/validation/mto_agent_rules.go
  pkg/services/mto_agent/validation/mto_agent_rules_test.go
Due: go-version

- update order of fields - add new fields
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.jsx
Due: prettier, eslint

MoveAllowances page for service counseling
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.test.jsx
Due: prettier, eslint

move document wrapper for SC
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.jsx
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.module.scss
  src/pages/Office/ServicesCounselingMoveDocumentWrapper/ServicesCounselingMoveDocumentWrapper.test.jsx
Due: prettier, eslint

set notRequired for pro-gear fields and RME
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

enable edit button
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.jsx
Due: prettier, eslint

update story with controls
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.stories.jsx
Due: prettier, eslint

passing in entitlement fields so they don't get unset
  src/pages/Office/Orders/Orders.jsx
Due: prettier, eslint

add transform validation to RME allowance to avoid NaN error
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

- styles - update initial formik values - update request payload to include new fields
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

form test update
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.test.jsx
Due: prettier, eslint

remove validation for unused input
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

add document wrapper to info page
  src/pages/Office/ServicesCounselingMoveInfo/ServicesCounselingMoveInfo.jsx
Due: prettier, eslint

update mask prop to include function type expected
  src/components/form/fields/MaskedTextField.jsx
Due: prettier, eslint

Fix sentence case in test that I missed in prior commit.
  src/components/Office/AllowancesTable/AllowancesTable.test.jsx
Due: prettier, eslint

Ensure sentence casing for Edit allownces button and Dependents authorized label.
  cypress/integration/office/txo/tooFlows.js
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.jsx
  src/components/Office/AllowancesTable/AllowancesTable.jsx
Due: prettier, eslint

update cypress test to include new entitlement fields
  cypress/integration/office/txo/tooFlows.js
Due: prettier

- new fields - make authorized weight field switch to read-only or enable input - add hints to pro gear fields
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.jsx
Due: prettier, eslint

update styling
  src/components/Office/AllowancesDetailForm/AllowancesDetailForm.module.scss
Due: none

transform value if NaN
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
Due: prettier, eslint

update tests to test new fields
  src/pages/Office/MoveAllowances/MoveAllowances.test.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.test.jsx
Due: prettier, eslint

add prop to change form group classname for masked text field
  src/components/form/fields/MaskedTextField.jsx
Due: prettier, eslint

make sure that regular move allowances can update new fields
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
Due: prettier, eslint

Remove experimental use of isCanceled
  cmd/prime-api-dev/scripts/payment_requests.go
Due: go-version

Quick comment update
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue_parameters.go
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
Due: go-version, prettier, eslint

MB-7989 Add checkAgentType rule
  pkg/services/mto_agent/validation/mto_agent_rules.go
  pkg/services/mto_agent/validation/mto_agent_rules_test.go
Due: go-version

MB-7989 Add ImplementationError error type
  pkg/services/errors.go
Due: go-version

MB-7735 update date filter to use time stamp (#6534)
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_payment_requests_queue_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue_parameters.go
  pkg/gen/ghcapi/ghcoperations/queues/get_services_counseling_queue_urlbuilder.go
  pkg/handlers/ghcapi/queues.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/order.go
  pkg/services/order/order_fetcher.go
  pkg/services/order/order_fetcher_test.go
  pkg/services/payment_request.go
  pkg/services/payment_request/payment_request_list_fetcher.go
  src/components/Table/Filters/DateSelectFilter.jsx
  src/components/Table/Filters/DateSelectFilter.test.jsx
  src/pages/Office/PaymentRequestQueue/PaymentRequestQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/shared/dates.js
  src/shared/dates.test.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

MB-7989 Add checkAgentID rule
  pkg/services/mto_agent/validation/mto_agent_rules.go
  pkg/services/mto_agent/validation/mto_agent_rules_test.go
Due: go-version

MB-7989 Add new rules to agent validator
  pkg/services/mto_agent/validation/mto_agent_validator.go
  pkg/services/mto_agent/validation/mto_agent_validator_test.go
Due: go-version

MB-7989 Implement agent validator in CreateMTOAgent
  pkg/services/mto_agent/mto_agent_creator.go
  pkg/services/mto_agent/mto_agent_creator_test.go
Due: go-version

MB-7989 Fix comment in UpdateMTOAgent
  pkg/services/mto_agent/mto_agent_updater.go
Due: go-version

Use Variable For Hex color
  src/scenes/Office/office.scss
Due: none

MB-7989 Add validation helper functions to new validation.go file
  pkg/services/validation.go
Due: go-version

MB-7989 Implement generic validation helpers in setNewMTOServiceItem
  pkg/services/mto_service_item/mto_service_item_validators.go
Due: go-version

MB-7989 Implement generic validation helpers in setFullAgent
  pkg/services/mto_agent/validation/mto_agent_rules.go
Due: go-version

Use constants that already exist for branch and rank formatting in allowances table
  src/components/Office/DefinitionLists/AllowancesList.jsx
  src/utils/branchRankFormatters.js
  src/utils/branchRankFormatters.test.js
Due: prettier, eslint
