Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-version
        name: go version
        entry: scripts/check-go-version
        language: script
        types: [go]

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
        exclude: >
          (?x)^(
            config/tls/devlocal-.+\.key$|
            pkg/server/testdata/localhost.key$|
            pkg/server/testdata/localhost-invalid.key$|
            pkg/server/testdata/officelocal.key$|
            pkg/auth/authentication/auth_test.go$|
            pkg/cli/auth.go$|
            .envrc.local.template|
          )$
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/golangci/golangci-lint
    rev: v1.23.6
    hooks:
      - id: golangci-lint
        entry: bash -c 'exec golangci-lint run -v ${GOLANGCI_LINT_VERBOSE} -j=${GOLANGCI_LINT_CONCURRENCY:-1}' # custom bash so we can override concurrency for faster dev runs

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.22.0
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    rev: 1.0.5
    hooks:
      - id: shell-lint

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
        language: node
        files: \.(js|jsx)$
        exclude: >
          (?x)^(
            cypress/|
            .storybook/|
            wallaby.js|
            config-overrides.js
          )

  - repo: local
    hooks:
      - id: swagger
        name: Swagger
        entry: scripts/pre-commit-swagger-validate
        language: script
        files: swagger/*
        types: [yaml]

  - repo: local
    hooks:
      - id: gomod
        name: gomod
        entry: scripts/pre-commit-go-mod
        language: script
        files: go.mod
        pass_filenames: false

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v0.0.3
    hooks:
      - id: gen-docs
        args: ['docs/adr']
      - id: circleci-validate
      - id: markdown-toc
      - id: mdspell
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

  - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
    rev: v0.1.0
    hooks:
      - id: dockerfilelint

  - repo: local
    hooks:
      - id: migrations-manifest
        name: migrations manifest
        entry: scripts/update-migrations-manifest
        language: script
        pass_filenames: false

  - repo: local
    hooks:
      - id: scripts-docs
        name: scripts are documented
        entry: scripts/find-scripts-missing-in-readme
        language: script
        pass_filenames: false

Revert "Revert "MB-2650 update save-fuel-price-data scheduled task to save-ghc-fuel-price-data""
  .circleci/config.yml
  Makefile
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  cmd/milmove-tasks/post_file_to_gex.go
  cmd/milmove-tasks/save_ghc_fuel_price_data.go
  config/env/experimental.save-ghc-fuel-price-data.env
  config/env/prod.save-ghc-fuel-price-data.env
  config/env/staging.save-ghc-fuel-price-data.env
  scripts/deploy-app-tasks
Due: go-version

MB-2892 Copy service item validation into create shipment service object
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Add service object to create service items with shipment
  pkg/handlers/primeapi/mto_shipment.go
  pkg/services/mto_shipment.go
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Add handler for updating payment service request statuses in the ghcapi
  go.mod
  go.sum
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcapi/ghcoperations/payment_service_item/update_payment_service_item_status.go
  pkg/gen/ghcapi/ghcoperations/payment_service_item/update_payment_service_item_status_parameters.go
  pkg/gen/ghcapi/ghcoperations/payment_service_item/update_payment_service_item_status_responses.go
  pkg/gen/ghcapi/ghcoperations/payment_service_item/update_payment_service_item_status_urlbuilder.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/payment_service_items.go
  pkg/handlers/ghcapi/payment_service_items_test.go
  swagger/ghc.yaml
Due: go-version, swagger, gomod

Remove error handling due to breaking e2e test data setup
  pkg/handlers/internalapi/users.go
Due: go-version

Rename prop to renderExistingAddressCheckbox
  src/components/form/AddressFields/AddressFields.jsx
Due: prettier, eslint

Fix client tests
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
  cypress/integration/mymove/hhg.js
  src/components/Customer/HHGDetailsForm.jsx
Due: prettier, eslint

Fix error handling for MTO and update loki screenshots
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
  pkg/handlers/internalapi/users.go
Due: go-version

Update Loki tests
  .loki/reference/chrome_iphone7_Components_Alerts_Error.png
  .loki/reference/chrome_iphone7_Components_Alerts_Info.png
  .loki/reference/chrome_iphone7_Components_Alerts_Success.png
  .loki/reference/chrome_iphone7_Components_Alerts_Warning.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  .loki/reference/chrome_laptop_Components_Alerts_Error.png
  .loki/reference/chrome_laptop_Components_Alerts_Info.png
  .loki/reference/chrome_laptop_Components_Alerts_Success.png
  .loki/reference/chrome_laptop_Components_Alerts_Warning.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
Due: none

Add tests for rejecting and approving a previously rejected payment service item. Ensure that approving a service item wipes rejection reason. Add API function call to frontend entities.
  pkg/handlers/ghcapi/payment_service_items.go
  pkg/handlers/ghcapi/payment_service_items_test.go
  src/shared/Entities/modules/paymentServiceItems.js
Due: go-version, prettier, eslint

Fix tests for CI
  .loki/reference/chrome_iphone7_Customer_Components_HHGDetailsForm_Basic.png
  .loki/reference/chrome_laptop_Customer_Components_HHGDetailsForm_Basic.png
  cypress/integration/mymove/hhg.js
Due: prettier

removes extra borders from table cells that shouldn't have them
  src/components/Office/ShipmentDisplay.module.scss
Due: none

removes width attribute from the td/th first child styling
  src/components/Office/ShipmentDisplay.module.scss
Due: none

shortens sass syntax
  src/components/Office/ShipmentDisplay.module.scss
Due: none

Go to next page in integration tests
  cypress/integration/mymove/hhg.js
Due: prettier

adding spacing adjustments to the table cells
  src/components/Office/ShipmentDisplay.module.scss
Due: none

Add ADR for consolidating moves and MTOs tables
  .spelling
  docs/adr/0053-consolidate-moves-and-mtos.md
  docs/adr/index.md
Due: none

Remove unused variable
  cypress/integration/mymove/hhg.js
Due: prettier

Add test cases for interstitial skeleton pages
  cypress/integration/mymove/hhg.js
Due: prettier

[MB-2892] PR cleanup. Removes comments.
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

Some tweaks to the ADR
  docs/adr/0053-consolidate-moves-and-mtos.md
Due: none

Fetch payment request on PaymentRequestReview page
  src/pages/TIO/PaymentRequestReview.jsx
Due: prettier, eslint

Return PaymentServiceItems from GHC API
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_request.go
  pkg/gen/ghcmessages/payment_service_item.go
  pkg/gen/ghcmessages/payment_service_item_param.go
  pkg/gen/ghcmessages/payment_service_item_params.go
  pkg/gen/ghcmessages/payment_service_item_status.go
  pkg/gen/ghcmessages/payment_service_items.go
  pkg/gen/ghcmessages/re_service_code.go
  pkg/gen/ghcmessages/service_item.go
  pkg/gen/ghcmessages/service_item_param_name.go
  pkg/gen/ghcmessages/service_item_param_origin.go
  pkg/gen/ghcmessages/service_item_param_type.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  swagger/ghc.yaml
Due: go-version, swagger

Load data on PaymentRequestReview and pass to UI
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/payment_request.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/pages/TIO/PaymentRequestReview.jsx
  src/pages/TOO/moveTaskOrder.jsx
  src/scenes/Office/TIO/paymentRequestIndex.jsx
  src/shared/Entities/modules/mtoShipments.js
  src/types/index.js
  src/types/moveOrder.js
  swagger/ghc.yaml
Due: go-version, prettier, eslint, swagger

Add PRR tests
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
  src/pages/TIO/PaymentRequestReview.jsx
  src/pages/TIO/PaymentRequestReview.test.jsx
Due: prettier, eslint

fix borken test from master merge
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
Due: prettier, eslint

WIP form submission for payment service item persistence.
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.module.scss
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.module.scss
  src/pages/TIO/PaymentRequestReview.jsx
  src/shared/Entities/modules/paymentServiceItems.js
  src/types/moveOrder.js
Due: prettier, eslint

Fix line erroneously added during merge
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
Due: prettier, eslint

MB-3097 Add service items to ID checker for create mto shipment
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

MB-3097 Update the agents handling to set the new agent data
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

loki test changes
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
Due: none

add prop to disable scroll into view
  src/components/Office/ReviewServiceItems/ReviewServiceItems.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.stories.jsx
Due: prettier, eslint

storybook changes
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_iphone7_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_Basic_With_Two_Items.png
  .loki/reference/chrome_laptop_TOO_TIO_Components_ReviewServiceItems_With_Status_And_Reason.png
Due: none

MB-3097 Fix nil dereference bug with ID checker
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

MB-3097 Fix tests for mto shipment creator
  pkg/services/mto_shipment/mto_shipment_creator_test.go
Due: go-version

MB-3097 Add more helpful message
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

MB-3097 Remove redundant errors check
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

MB-3097 Clean up checkShipmentIDFields code
  pkg/services/mto_shipment/mto_shipment_creator.go
Due: go-version

add back in save-fuel-price-task
  .circleci/config.yml
  Makefile
  cmd/ecs-deploy/put_target.go
  cmd/ecs-deploy/task_def.go
  scripts/deploy-app-tasks
Due: go-version

add save fuel env vars
  config/env/experimental.save-fuel-price-data.env
  config/env/prod.save-fuel-price-data.env
  config/env/staging.save-fuel-price-data.env
Due: none
