Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

added test for authorized end date
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplay.test.jsx
  src/components/Office/ShipmentSITDisplay/ShipmentSITDisplayTestParams.js
Due: prettier, eslint

return serviceItemNotFound to fix server test failure
  pkg/handlers/primeapi/mto_service_item.go
Due: go-version, ato-go-linter, appcontext-linter

checked for null dereference issues where I'm making the call to send email
  pkg/handlers/ghcapi/move_task_order.go
Due: go-version, ato-go-linter, appcontext-linter

initial commit, added migration file and updated shipment_address_update model
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240122193356_update_shipment_address_update_table_sit_and_distance_columns.up.sql
  pkg/models/shipment_address_updates.go
Due: go-version, ato-go-linter, appcontext-linter

moved the sending of the email to a separate function to see if it resolves any issues with testing
  pkg/handlers/ghcapi/move_task_order.go
Due: go-version, ato-go-linter, appcontext-linter

changes to DateAndLocationForm and Test
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.jsx
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
Due: prettier, eslint

Fixed missing space in test strings.
  pkg/notifications/ppm_packet_email_test.go
Due: go-version, ato-go-linter, appcontext-linter

Changed "Remaining Reimbursement Owed to Customer" to "Remaining Incentive"
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.stories.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.stories.jsx
Due: prettier, eslint

Tweak error message and more unit tests
  pkg/handlers/primeapi/move_task_order.go
  pkg/handlers/primeapi/move_task_order_test.go
Due: go-version, ato-go-linter, appcontext-linter

have a happy path, updated model to payload, allowing for updating of new columns in backend
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/shipment_address_update.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/shipment_address_update.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/shipment_address_update.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/shipment_address_update/shipment_address_update_requester.go
  swagger-def/definitions/ShipmentAddressUpdate.yaml
  swagger/ghc.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

attempting utilization of a go channel to handle the sending of the email notification
  pkg/handlers/ghcapi/move_task_order.go
Due: go-version, ato-go-linter, appcontext-linter

whoops forgot to make it a pointer so it can be null
  migrations/app/schema/20240122193356_update_shipment_address_update_table_sit_and_distance_columns.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/models/shipment_address_updates.go
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

add not Office User check to forbidden error
  pkg/services/weight_ticket/weight_ticket_deleter.go
Due: go-version, ato-go-linter, appcontext-linter

updated shipment_address_update_requester to handle nil values when shipment is not SIT
  pkg/services/shipment_address_update/shipment_address_update_requester.go
Due: go-version, ato-go-linter, appcontext-linter

added configuration for the notification sender on the handler
  pkg/handlers/ghcapi/move_task_order_test.go
Due: go-version, ato-go-linter, appcontext-linter

put the email sending logic back into the appropriate handler code
  pkg/handlers/ghcapi/move_task_order.go
Due: go-version, ato-go-linter, appcontext-linter

add authorized check to weight ticket update
  pkg/services/weight_ticket/weight_ticket_updater.go
  pkg/services/weight_ticket/weight_ticket_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

changed test to not use destination SIT to avoid nil pointer errors
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

Removed personally_procured_moves from moves.go model.
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/users.go
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
  pkg/models/move.go
  pkg/models/shipment_summary_worksheet.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
  pkg/services/paperwork/form_creator_test.go
  pkg/testdatagen/make_personally_procured_move.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, ato-go-linter, appcontext-linter

working template filling, creating SIT data
  cmd/generate-shipment-summary/main.go
  newfill-2024-01-23T01:05:40Z.pdf
  newfill-2024-01-23T01:06:55Z.pdf
  newfill-2024-01-23T01:09:33Z.pdf
  newfill-2024-01-23T01:12:39Z.pdf
  newfill-2024-01-23T01:15:46Z.pdf
  pkg/paperwork/generator.go
  pkg/services/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  shipment-summary-worksheet-2024-01-19T19:05:52Z.pdf
  shipment-summary-worksheet-2024-01-19T19:26:04Z.pdf
  shipment-summary-worksheet-2024-01-19T19:38:39Z.pdf
  shipment-summary-worksheet-2024-01-19T19:42:29Z.pdf
  shipment-summary-worksheet-2024-01-19T19:46:25Z.pdf
  shipment-summary-worksheet-2024-01-19T19:52:31Z.pdf
  shipment-summary-worksheet-2024-01-19T20:05:31Z.pdf
  shipment-summary-worksheet-2024-01-23T01:05:40Z.pdf
  shipment-summary-worksheet-2024-01-23T01:06:55Z.pdf
  shipment-summary-worksheet-2024-01-23T01:09:33Z.pdf
  shipment-summary-worksheet-2024-01-23T01:12:39Z.pdf
  shipment-summary-worksheet-2024-01-23T01:15:46Z.pdf
Due: go-version, ato-go-linter, appcontext-linter

updates
  src/components/ShipmentList/ShipmentList.stories.jsx
Due: prettier, eslint

removed formatCity added shipmentType check
  src/components/Office/ShipmentAddresses/ShipmentAddresses.jsx
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

updated tests, still some failures
  src/components/Customer/PPM/Booking/DateAndLocationForm/DateAndLocationForm.test.jsx
Due: prettier, eslint

fix storybook
  src/components/Customer/Home/Step/Step.stories.jsx
Due: prettier, eslint

Fixed extra period
  pkg/assets/notifications/templates/ppm_packet_email_template.html
  pkg/assets/notifications/templates/ppm_packet_email_template.txt
Due: none

SIT Data added, committing for dev meeting
  cmd/generate-shipment-summary/main.go
  newfill-2024-01-23T13:10:16Z.pdf
  newfill-2024-01-23T13:36:16Z.pdf
  newfill-2024-01-23T15:05:42Z.pdf
  newfill-2024-01-23T15:21:41Z.pdf
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  shipment-summary-worksheet-2024-01-23T13:10:16Z.pdf
  shipment-summary-worksheet-2024-01-23T13:36:16Z.pdf
  shipment-summary-worksheet-2024-01-23T15:05:42Z.pdf
  shipment-summary-worksheet-2024-01-23T15:21:41Z.pdf
Due: go-version, ato-go-linter, appcontext-linter

Fixed find and replace mistake.
  pkg/notifications/ppm_packet_email_test.go
Due: go-version, ato-go-linter, appcontext-linter

removed deprecated ppmid from signedcertification model
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240123152424_remove_ppmid_from_signedcertification_table.up.sql
  pkg/factory/signed_certification_factory.go
  pkg/factory/signed_certification_factory_test.go
  pkg/handlers/internalapi/internal/payloads/payload_to_model.go
  pkg/handlers/internalapi/signed_certifications.go
  pkg/handlers/internalapi/signed_certifications_test.go
  pkg/models/move.go
  pkg/models/shipment_summary_worksheet_test.go
  pkg/models/signed_certification.go
  pkg/models/signed_certification_test.go
  pkg/services/paperwork/form_creator_test.go
  pkg/services/ppmshipment/ppm_shipment_fetcher_test.go
  pkg/services/signed_certification/rules.go
  pkg/services/signed_certification/rules_test.go
  pkg/services/signed_certification/signed_certification_updater_test.go
Due: go-version, ato-go-linter, appcontext-linter

added tests
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
Due: go-version, ato-go-linter, appcontext-linter

Revert "Merge branch 'integrationTesting' into B-17975-Customer-Submitted-Final-PPM-Email"
  .circleci/config.yml
Due: none

changed conditional rendering for previous moves based on APPROVED move status instead of COMPLETED based on gov response, updated test data
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
  src/pages/MyMove/Multi-Moves/MultiMovesTestData.js
Due: prettier, eslint

calculate weight allotment on order update
  pkg/handlers/internalapi/orders.go
Due: go-version, ato-go-linter, appcontext-linter

removed unused ppm estimated weight (#11743)
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240112205201_remove_ppm_estimated_weight.up.sql
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  pkg/handlers/primeapiv2/move_task_order_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  pkg/handlers/supportapi/internal/payloads/payload_to_model.go
  pkg/models/move.go
  pkg/services/event/notification_payloads.go
  pkg/services/support/move_task_order/move_task_order_creator.go
Due: go-version, ato-go-linter, appcontext-linter

initial commit, added in conditional rendering of banner, changed color, updated tests
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.jsx
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.test.jsx
  src/components/Office/ShipmentAddressUpdateReviewRequestModal/ShipmentAddressUpdateReviewRequestModal.jsx
Due: prettier, eslint

moved query from handler into the service object (#11773)
  pkg/handlers/internalapi/progear_weight_ticket.go
  pkg/handlers/internalapi/progear_weight_ticket_test.go
  pkg/services/mocks/ProgearWeightTicketDeleter.go
  pkg/services/progear_weight_ticket.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter.go
  pkg/services/progear_weight_ticket/progear_weight_ticket_deleter_test.go
Due: go-version, ato-go-linter, appcontext-linter

adjusted message to reflect requested gov changes, tests updated
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.jsx
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.test.jsx
Due: prettier, eslint

add test
  src/components/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

reverted commit, I think?
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240122193356_update_shipment_address_update_table_sit_and_distance_columns.up.sql
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/shipment_address_update.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/shipment_address_update.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/shipment_address_update.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/models/shipment_address_updates.go
  pkg/services/mto_shipment/mto_shipment_fetcher.go
  pkg/services/shipment_address_update/shipment_address_update_requester.go
  pkg/services/shipment_address_update/shipment_address_update_requester_test.go
  swagger-def/definitions/ShipmentAddressUpdate.yaml
  swagger/ghc.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

initial commit, all logic and tests working and passing
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.jsx
  src/components/Office/AddressUpdatePreview/AddressUpdatePreview.test.jsx
  src/components/Office/ShipmentAddressUpdateReviewRequestModal/ShipmentAddressUpdateReviewRequestModal.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
