Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

ato-go-linter:
  name: ato-go-linter
  entry: scripts/pre-commit-go-custom-linter ato-linter
  pass_filenames: false
  language: script

appcontext-linter:
  name: appcontext-linter
  entry: scripts/pre-commit-go-custom-linter appcontext-linter
  pass_filenames: false
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

Fronted side of cancel eval report
  src/components/ConfirmationModals/DeleteEvaluationReportConfirmationModal.jsx
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
  src/pages/Office/EvaluationReports/EvaluationReports.module.scss
  src/pages/Office/ShipmentEvaluationReport/ShipmentEvaluationReport.jsx
Due: prettier, eslint

Add boilerplate info to support the update endpoint
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/services/event/internal_endpoint.go
Due: go-version, ato-go-linter, appcontext-linter

Clean up logic around uploading and deleting files
  src/components/Customer/PPM/Closeout/WeightTicketForm/WeightTicketForm.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
Due: prettier, eslint

Update tests associated with uploading and deleting files
  src/components/Customer/PPM/Closeout/WeightTicketForm/WeightTicketForm.stories.jsx
  src/components/Customer/PPM/Closeout/WeightTicketForm/WeightTicketForm.test.jsx
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.test.jsx
Due: prettier, eslint

Integrate patch api and add etag
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalmessages/weight_ticket.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  src/services/internalApi.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

create and use unique users for test
  cypress/integration/milmove/ppms/weightTickets.js
  cypress/support/ppmCustomerShared.js
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version, ato-go-linter, appcontext-linter, prettier

Update cypress to 9.7.0
  cypress/Dockerfile.cypress
  package.json
  yarn.lock
Due: none

add in mocked weigh ticket data to tests, check for complete weigh ticket validation
  pkg/testdatagen/scenario/shared.go
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.jsx
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.stories.jsx
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
  src/pages/MyMove/PPM/Closeout/Review/Review.test.jsx
  src/store/entities/selectors.js
  src/utils/ppmCloseout.jsx
  src/utils/shipments.js
  src/utils/shipments.test.js
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

Update cypress to 10.3.1
  package.json
  yarn.lock
Due: none

Refactor existing handlers and add weightTicket modelToPayload function
  pkg/handlers/internalapi/documents.go
  pkg/handlers/internalapi/generic_move_documents.go
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/internalapi/move_documents.go
  pkg/handlers/internalapi/moves.go
  pkg/handlers/internalapi/moving_expense_documents.go
  pkg/handlers/internalapi/mto_shipment.go
  pkg/handlers/internalapi/orders.go
  pkg/handlers/internalapi/personally_procured_move.go
  pkg/handlers/internalapi/personally_procured_move_attachments.go
  pkg/handlers/internalapi/uploads.go
  pkg/handlers/internalapi/weight_ticket_set_documents.go
Due: go-version, ato-go-linter, appcontext-linter

Fix violations column in QA reports table
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
Due: prettier, eslint

Remove unused fields from test data
  src/components/Office/EvaluationReportTable/EvaluationReportTable.test.jsx
Due: prettier, eslint

Update how documentIds were being determined to accurately attach uploads to the correct doc
  src/pages/MyMove/PPM/Closeout/WeightTickets/WeightTickets.jsx
Due: prettier, eslint

Clean up and combine model to payload functions for getting weightTicket information
  pkg/handlers/internalapi/internal/payloads/model_to_payload.go
  pkg/handlers/internalapi/weight_ticket.go
Due: go-version, ato-go-linter, appcontext-linter

mobile responsive reflow order using flexbox
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.jsx
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.module.scss
Due: prettier, eslint

add in sample weight ticket data until API fetcher is finished
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
  src/pages/MyMove/PPM/Closeout/Review/Review.test.jsx
Due: prettier, eslint

Add number of counseling reports to header
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
Due: prettier, eslint

Add some missing stories and tests for Evaluation Reports
  src/components/Office/EvaluationReportTable/EvaluationReportTable.stories.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportTable.test.jsx
  src/components/Office/EvaluationReportTable/ShipmentEvaluationReports.stories.jsx
  src/components/Office/EvaluationReportTable/ShipmentEvaluationReports.test.jsx
Due: prettier, eslint

Create evaluation reports tab
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/components/Office/TXOTabNav/TXOTabNav.jsx
  src/constants/routes.js
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/types/evaluationReport.js
Due: prettier, eslint

Rough markup for evaluation reports page
  src/constants/queryKeys.js
  src/hooks/queries.js
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
  src/services/ghcApi.js
  src/shared/Entities/schema.js
Due: prettier, eslint

Update address and shipment number in shipment info component
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.stories.jsx
  src/components/Office/EvaluationReportTable/ShipmentEvaluationReports.jsx
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
  src/utils/formatters.js
Due: prettier, eslint

Format dates in evaluation report table
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
Due: prettier, eslint

Hide table headings for view report/download columns
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
Due: prettier, eslint

Format QA report IDs
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/utils/formatters.js
  src/utils/formatters.test.js
Due: prettier, eslint

Switch to using separate endpoints for counseling/shipment reports
  src/constants/queryKeys.js
  src/hooks/queries.js
  src/pages/Office/EvaluationReports/EvaluationReports.jsx
  src/services/ghcApi.js
Due: prettier, eslint

Rough markup for evaluation report page components
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.stories.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportTable.stories.jsx
  src/components/Office/EvaluationReportTable/ShipmentEvaluationReports.jsx
  src/components/Office/EvaluationReportTable/ShipmentEvaluationReports.stories.jsx
Due: prettier, eslint

Fix display of missing date in reports table
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportTable.stories.jsx
Due: prettier, eslint

Format location in evaluation report table
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/utils/formatters.js
Due: prettier, eslint

Add client tests for different shipment types
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.test.jsx
Due: prettier, eslint

Add placeholder view report and download links
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
Due: prettier, eslint

Handle NTS, NTSR, PPM shipments
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.test.jsx
Due: prettier, eslint

Add create evaluation report for shipment endpoint
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/create_evaluation_report_for_shipment.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/create_evaluation_report_for_shipment_parameters.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/create_evaluation_report_for_shipment_responses.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/create_evaluation_report_for_shipment_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  pkg/gen/ghcmessages/create_shipment_evaluation_report.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/evaluation_report.go
  pkg/models/evaluation_report.go
  pkg/services/evaluation_report.go
  pkg/services/evaluation_report/evaluation_report_creator.go
  pkg/services/mocks/EvaluationReportCreator.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Add FE stub shipment eval report page/creation and related routing
  src/components/Office/EvaluationReportTable/EvaluationReportShipmentInfo.jsx
  src/components/Office/EvaluationReportTable/EvaluationReportTable.jsx
  src/components/Office/TXOTabNav/TXOTabNav.jsx
  src/pages/Office/ShipmentEvaluationReport/ShipmentEvaluationReport.jsx
  src/pages/Office/ShipmentEvaluationReport/ShipmentEvaluationReport.module.scss
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.jsx
  src/pages/Office/TXOMoveInfo/TXOMoveInfo.test.jsx
  src/services/ghcApi.js
Due: prettier, eslint

Add swagger def for delete eval report
  pkg/gen/ghcapi/configure_mymove.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/delete_evaluation_report.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/delete_evaluation_report_parameters.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/delete_evaluation_report_responses.go
  pkg/gen/ghcapi/ghcoperations/evaluation_reports/delete_evaluation_report_urlbuilder.go
  pkg/gen/ghcapi/ghcoperations/mymove_api.go
  src/services/ghcApi.js
  swagger-def/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint

fix wonkiness at breakpoint for storybook
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.jsx
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.module.scss
Due: prettier, eslint

create skeleton cypress.config.js
  cypress/cypress.config.js
Due: prettier

check for NaN values in sum functions, tweak delete and edit container flexbox
  src/components/Customer/PPM/Closeout/ReviewItems/ReviewItems.module.scss
  src/pages/MyMove/PPM/Closeout/Review/Review.jsx
Due: prettier, eslint

Post rebase fixes and add back full EvaluationReport type
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/evaluation_report.go
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

Rename tab to 'Quality assurance'
  src/components/Office/TXOTabNav/TXOTabNav.jsx
Due: prettier, eslint

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
