Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

remove /root/project
  .circleci/config.yml
Due: none

maybe fix ci
  .circleci/config.yml
Due: none

typo
  .circleci/config.yml
Due: none

remove extra-steps
  .circleci/config.yml
Due: none

sets this back to master
  .circleci/config.yml
Due: none

update sql query
  pkg/services/reweigh/reweigh_creator.go
Due: go-version

explicitly scan the repo
  .circleci/config.yml
Due: none

back to master
  .circleci/config.yml
Due: none

adds move with shipments to devseed, add missing statuses to move details and move queue count
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
  pkg/testdatagen/make_mto_shipment.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
  src/components/Office/ShipmentDisplay/ShipmentDisplay.jsx
  src/pages/Office/MoveDetails/MoveDetails.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.test.jsx
Due: go-version, prettier, eslint

working renames of handlerconfig in test files
  pkg/handlers/dpsapi/authentication_test.go
  pkg/handlers/ghcapi/api_test.go
  pkg/handlers/ghcapi/customer_test.go
  pkg/handlers/ghcapi/documents_test.go
  pkg/handlers/ghcapi/move_task_order_test.go
  pkg/handlers/ghcapi/orders_test.go
  pkg/handlers/ghcapi/payment_request_test.go
  pkg/handlers/ghcapi/queues_test.go
  pkg/handlers/ghcapi/tac_test.go
  pkg/handlers/internalapi/access_code_test.go
  pkg/handlers/internalapi/documents_test.go
  pkg/handlers/internalapi/dps_auth_cookie_url_test.go
  pkg/handlers/internalapi/generic_move_documents_test.go
  pkg/handlers/internalapi/move_documents_test.go
  pkg/handlers/internalapi/moves_test.go
  pkg/handlers/internalapi/moving_expense_documents_test.go
  pkg/handlers/internalapi/office_test.go
  pkg/handlers/internalapi/orders_test.go
  pkg/handlers/internalapi/personally_procured_move_attachments_test.go
  pkg/handlers/internalapi/personally_procured_move_estimate_test.go
  pkg/handlers/internalapi/personally_procured_move_incentive_test.go
  pkg/handlers/internalapi/postal_codes_test.go
  pkg/handlers/internalapi/service_members_test.go
  pkg/handlers/internalapi/uploads_test.go
  pkg/handlers/internalapi/users_test.go
  pkg/handlers/internalapi/weight_ticket_set_documents_test.go
  pkg/handlers/primeapi/move_task_order_test.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/handlers/primeapi/upload_test.go
  pkg/handlers/supportapi/move_task_order_test.go
  pkg/handlers/supportapi/mto_service_item_test.go
  pkg/handlers/supportapi/webhook_notification_test.go
Due: go-version

update creator to search if shipment ID exists
  pkg/services/reweigh/reweigh_creator.go
Due: go-version

MB-7285 e2e test coverage for Enabling Crating & Shuttling
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Added comments to e2e seed for clarifying questions
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Swap In Actual Shipment List
  src/components/Office/BillableWeightCard/BillableWeightCard.jsx
  src/components/ShipmentList/index.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
  src/shared/constants.js
Due: prettier, eslint

Replace Mock Props With Actual Data for Billable Weights Card
  src/components/Office/BillableWeightCard/BillableWeightCard.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.stories.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.test.jsx
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
Due: prettier, eslint

Finished styling ShipmentCard
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.jsx
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.module.scss
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.stories.jsx
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.test.jsx
Due: prettier, eslint

Refactored component to use dynamic values
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.jsx
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.stories.jsx
  src/shared/formatters.js
Due: prettier, eslint

Unit tested shipment card component
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.jsx
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.stories.jsx
  src/components/Office/BillableWeightCard/ShipmentCard/ShipmentCard.test.jsx
Due: prettier, eslint

Reorganized ShipmentCard and BillableWeightCard
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.jsx
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.module.scss
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.stories.jsx
  src/components/Office/BillableWeight/BillableWeightCard/BillableWeightCard.test.jsx
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.jsx
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.module.scss
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.stories.jsx
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.test.jsx
Due: prettier, eslint

Removed missing styling when there is a reweigh provided and used classnames instead of template strings
  src/components/Office/BillableWeight/ShipmentCard/ShipmentCard.jsx
Due: prettier, eslint

Adds timeouts, removes new tests
  src/components/Customer/OrdersInfoForm/OrdersInfoForm.test.jsx
  src/pages/MyMove/Orders.test.jsx
  src/scenes/ServiceMembers/DutyStationSearchBox.test.jsx
  src/scenes/ServiceMembers/api.test.js
Due: prettier, eslint

fix some tests
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.jsx
  src/pages/Office/ServicesCounselingAddShipment/ServicesCounselingAddShipment.test.jsx
  src/pages/Office/ServicesCounselingEditShipmentDetails/ServicesCounselingEditShipmentDetails.test.jsx
Due: prettier, eslint

created the weight summary card with storybook story
  src/components/Office/WeightSummary/WeightSummary.jsx
  src/components/Office/WeightSummary/WeightSummary.module.scss
  src/components/Office/WeightSummary/WeightSummary.stories.jsx
  src/components/Office/WeightSummary/WeightSummary.test.jsx
  src/components/ShipmentList/index.jsx
  src/utils/shipmentIsOverweight.js
  src/utils/shipmentIsOverweight.test.js
Due: prettier, eslint

Clean up miscellaneous console messages
  src/layout/LogoutOnInactivity.test.jsx
  src/services/swaggerRequest.test.js
  src/utils/formatters.js
  src/utils/formatters.test.js
Due: prettier, eslint

fix mto shipment validations by providing rejection reason in assertions since it's removed from factory
  pkg/handlers/ghcapi/queues_test.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/services/mto_shipment/shipment_approver_test.go
  pkg/services/mto_shipment/shipment_cancellation_requester_test.go
  pkg/services/mto_shipment/shipment_diversion_approver_test.go
  pkg/services/mto_shipment/shipment_diversion_requester_test.go
  pkg/services/mto_shipment/shipment_rejecter_test.go
  pkg/services/mto_shipment/shipment_reweigh_requester_test.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

Regen mocks and assets
  pkg/assets/assets.go
  pkg/services/mocks/AdminUserCreator.go
Due: go-version

MB-7690 MB-5595 MB-5597 add wrapper function to handle console logs (#7222)
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/registerServiceWorker.js
  src/scenes/.eslintrc
  src/scenes/PpmLanding/PPMStatusTimeline.js
  src/scenes/SystemAdmin/Home.jsx
  src/services/swaggerRequest.js
  src/shared/.eslintrc
  src/shared/ApproveRejectModal/index.jsx
  src/shared/ApproveRejectModal/index.test.js
  src/shared/ConfirmWithReasonButton/index.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.jsx
  src/shared/Swagger/api.js
  src/shared/Swagger/request.js
  src/shared/WizardPage/utils.js
  src/shared/featureFlags.js
  src/shared/reduxLogger.js
  src/utils/milmoveLog.js
Due: prettier, eslint

Resolved missing roles info on e2e seed
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version

more clean up
  src/pages/Office/CustomerInfo/CustomerInfo.test.jsx
  src/pages/Office/ServicesCounselingMoveDetails/ServicesCounselingMoveDetails.test.jsx
Due: prettier, eslint

Add Note Regarding Authorzed Weight
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.jsx
Due: prettier, eslint

move shipment status conditional to function and add comments to payload purpose
  pkg/handlers/ghcapi/internal/payloads/model_to_payload.go
Due: go-version

add console.error spy
  src/pages/Office/CustomerInfo/CustomerInfo.test.jsx
Due: prettier, eslint

Fix Tests So That There Are No Console Warnings
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.test.jsx
Due: prettier, eslint

Add Tests to Check that the Sidebar Renders Properly
  src/pages/Office/MovePaymentRequests/MovePaymentRequests.test.jsx
Due: prettier, eslint

fix some tests
  src/shared/dates.js
  src/shared/formatters.test.js
Due: prettier, eslint

Add Missing Props for BillableWeight Card
  src/components/Office/BillableWeightCard/BillableWeightCard.stories.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.test.jsx
Due: prettier, eslint

add logger and appContext
  pkg/services/reweigh/reweigh_service_test.go
  pkg/services/reweigh/rules.go
  pkg/services/reweigh/rules_test.go
  pkg/services/reweigh/validation.go
Due: go-version
