Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

Updating formatAddress to be specific;
  src/components/Office/ServiceItemUpdateModal/EditSitAddressChangeForm.jsx
  src/utils/shipmentDisplay.jsx
Due: prettier, eslint

Updating the copy to include the word First;
  src/components/Office/RequestedServiceItemsTable/RequestedServiceItemsTable.test.jsx
  src/components/Office/ServiceItemDetails/ServiceItemDetails.jsx
  src/components/Office/ServiceItemsTable/ServiceItemsTable.test.jsx
Due: prettier, eslint

Refactoring the ConnectedServiceItemUpdateModal;
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

Removing the duplicated state variable;
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

whackamole wip
  pkg/models/mto_service_items.go
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/sit_address_update/approved_sit_address_update_creator.go
Due: go-version, ato-go-linter, appcontext-linter

Fix close button and rouge style
  src/components/Office/ServiceItemUpdateModal/ServiceItemUpdateModal.module.scss
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

wip from working with Donald
  pkg/services/mto_service_item/mto_service_item_updater_test.go
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/sit_address_update/approved_sit_address_update_creator_test.go
  pkg/services/sit_address_update/sit_address_update_request_approver_test.go
Due: go-version, ato-go-linter, appcontext-linter

Upgrades storybook and related dependencies to 7.0.17
  package.json
  yarn.lock
Due: none

add checks to SITDestinationOriginalAddress validator
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
Due: go-version, ato-go-linter, appcontext-linter

Adding in the CircleCI configuration schema;
  .circleci/config.yml
Due: none

Schema expects either 2 or 2.1 here only
  .circleci/config.yml
Due: none

Have key be arrays when they shouldn't be objects
  .circleci/config.yml
Due: none

Have key be objects when they shouldn't be arrays
  .circleci/config.yml
Due: none

Use strings rather than booleans because POSIX;
  .circleci/config.yml
Due: none

Smaller changes due to tooling;
  .circleci/config.yml
Due: none

Add validation and Error state story to ServiceItemCard.
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.module.scss
  src/components/Office/ReviewServiceItems/ServiceItemCard.stories.jsx
Due: prettier, eslint

payload to model testing
  pkg/handlers/primeapi/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

testing suggested by Donald for coverage
  pkg/factory/sit_address_update_factory_test.go
Due: go-version, ato-go-linter, appcontext-linter

removed comment
  pkg/handlers/primeapi/payloads/payload_to_model_test.go
Due: go-version, ato-go-linter, appcontext-linter

incremented cache number
  .circleci/config.yml
Due: none

bumping cache number to correct version
  .circleci/config.yml
Due: none

updated cache number in the correct section this time
  .circleci/config.yml
Due: none

Adding test for the new utils/ function;
  src/utils/shipmentDisplay.jsx
  src/utils/shipmentDisplay.test.jsx
Due: prettier, eslint

Updating the version of the cached converage
  .circleci/config.yml
Due: none

MB-13973 remove -Preload from Eager loading
  pkg/services/mto_shipment/mto_shipment_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

MB-13873 refactor TIO playwright test to specifically verify Total and Max billable weights
  playwright/tests/office/txo/tioFlows.spec.js
Due: prettier, eslint

Mocks the storyRendered date of ReviewSITExtensionModal on a Happo run.
  src/components/Office/ReviewSITExtensionModal/ReviewSITExtensionModal.stories.jsx
Due: prettier, eslint

MB-13873 refactor conditional
  pkg/services/mto_shipment/shipment_billable_weight.go
Due: go-version, ato-go-linter, appcontext-linter

MB-13873 replace Eager w EagerPreload
  pkg/services/mto_shipment/mto_shipment_fetcher.go
Due: go-version, ato-go-linter, appcontext-linter

modal is setup and displaying expected information
  src/components/Office/ServiceItemUpdateModal/ReviewSitAddressChange.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
Due: prettier, eslint

tag is added css still needs attention
  src/components/Office/ServiceItemUpdateModal/ServiceItemUpdateModal.jsx
  src/components/Office/ServiceItemUpdateModal/ServiceItemUpdateModal.module.scss
Due: prettier, eslint

Correct typo for clarity
  pkg/gen/primeapi/embedded_spec.go
  swagger-def/prime.yaml
  swagger/prime.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

Revert ServiceItemCard and add NewServiceItemCard.
  src/components/Office/ReviewServiceItems/NewServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/NewServiceItemCard.module.scss
  src/components/Office/ReviewServiceItems/NewServiceItemCard.stories.jsx
  src/components/Office/ReviewServiceItems/NewServiceItemCard.test.jsx
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
Due: prettier, eslint

Update and add tests.
  src/components/Office/ReviewServiceItems/ReviewServiceItems.test.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.jsx
  src/components/Office/ReviewServiceItems/ServiceItemCard.test.jsx
Due: prettier, eslint

MB-13873 remove comment in code that no longer represents reality
  pkg/services/mto_shipment/shipment_billable_weight.go
Due: go-version, ato-go-linter, appcontext-linter

Update param to use service item's original address
  pkg/payment_request/service_param_value_lookups/service_param_value_lookups.go
Due: go-version, ato-go-linter, appcontext-linter

Update prime simulator for easier testing
  src/components/PrimeUI/CreateShipmentServiceItemForm/DestinationSITServiceItemForm.jsx
Due: prettier, eslint
