Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdown-toc, mdspell

.pre-commit-config.yaml:

repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v1.2.3
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        exclude: config/database.yml # database.yml is not a valid yaml file, it contains go templating
      - id: detect-private-key
      - id: trailing-whitespace
        exclude: public/swagger-ui/*

  - repo: git://github.com/igorshubovych/markdownlint-cli
    sha: v0.7.1
    hooks:
      - id: markdownlint
        entry: markdownlint --ignore .github/*.md

  - repo: git://github.com/detailyang/pre-commit-shell
    sha: 1.0.2
    hooks:
      - id: shell-lint

  - repo: git://github.com/kintoandar/pre-commit.git
    sha: v2.1.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write
        language: node
        files: \.(js|jsx)$

  - repo: local
    hooks:
      - id: swagger
        name: API Swagger
        entry: bin/swagger validate swagger/api.yaml
        language: script

  - repo: local
    hooks:
      - id: swagger
        name: Internal Swagger
        entry: bin/swagger validate swagger/internal.yaml
        language: script

  # Ensure markdown files have updated table of contents
  - repo: local
    hooks:
      - id: markdown-toc
        name: markdown-toc
        entry: bin/generate-md-toc.sh
        language: script
        files: \.md$

  - repo: git://github.com/dnephin/pre-commit-golang
    sha: v0.3
    hooks:
    -   id: go-fmt
    -   id: go-vet
    -   id: go-lint

  - repo: local
    hooks:
      - id: mdspell
        name: mdspell
        entry: bin/pre-commit-spellcheck
        language: script
        files: \.md$
        exclude: >
          (?x)^(
            node_modules/|
            vendor/|
            docs/adr/index.md
          )$

show no contact info message if no PPPO
  src/shared/TransportationOffices/TransportationOfficeContactInfo.jsx
  src/shared/TransportationOffices/TransportationOfficeContactInfo.test.js
Due: prettier

Show moves in the appropriate queue.
  pkg/handlers/move_queue_items_test.go
  pkg/models/queue.go
Due: none

Remove link to the troubleshooting queue.
  src/scenes/Office/QueueList.jsx
Due: prettier

Comment out 500 response when email sending fails.
  pkg/handlers/office.go
Due: none

disabled text message is preferred checkbox
  src/scenes/Review/EditContactInfo.jsx
  src/scenes/ServiceMembers/ContactInfo.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  swagger/internal.yaml
Due: prettier

Other DD Method of Receipt
  migrations/20180530230508_change_other_methodofreceipt_to_other_dd.up.sql
  pkg/handlers/errors.go
  pkg/handlers/office.go
  pkg/models/reimbursement.go
  pkg/models/reimbursement_test.go
  pkg/testdatagen/make_reimbursement.go
  swagger/internal.yaml
Due: none

Fixed missing quotes in example
  README.md
Due: markdown-toc, mdspell

updates to the secure migrator script
  bin/apply-secure-migration.sh
Due: none

fixup incorect telephone numbers
  migrations/20180529232602_connect_station_and_office.up.fizz
Due: none

adding the migration source in the output
  bin/apply-secure-migration.sh
Due: none

add link
  src/scenes/Landing/MoveSummary.jsx
  src/shared/constants.js
Due: prettier

added help links
  src/scenes/Moves/MoveType.css
  src/scenes/Moves/MoveType.jsx
  src/scenes/Moves/Ppm/DateAndLocation.jsx
  src/scenes/Moves/Ppm/Weight.jsx
Due: prettier

make button a link
  src/scenes/Landing/MoveSummary.jsx
Due: prettier

fix error reporting for advance request amount
  src/scenes/Moves/Ppm/Weight.jsx
Due: prettier

activate all ppm info packe tlinks
  src/scenes/Landing/MoveSummary.jsx
Due: prettier

Migration to fix database
  migrations/20180530234038_fix_initial_office_users.up.fizz
  migrations/secure-dev/20180530234038_fix_initial_office_users.up.sql
Due: none

change advance status on move submission
  pkg/handlers/moves.go
  pkg/handlers/moves_test.go
Due: none

add three missing duty stations
  migrations/20180531001833_add-three-duty-stations.up.fizz
Due: none

Fixed issue with SQL secure migrations masking .fizz versions.
  .envrc
  README.md
  local_migrations/20180424010930_test.sql
  local_migrations/20180518011909_2018_tdl_secure_migration.sql
  local_migrations/20180529024018_add_initial_office_users.up.sql
  local_migrations/20180530234038_fix_initial_office_users.up.sql
  migrations/20180529024018_add_initial_office_users.up.fizz
Due: markdown-toc, mdspell

Fixed secure migration location in circleci config
  .circleci/config.yml
Due: none

instructions on how to make a tspp table
  .spelling
  docs/data/tspp-data-creation.md
Due: markdown-toc, mdspell

format error message
  src/scenes/Moves/Ppm/Weight.jsx
Due: prettier

return is_profile_complete: false if backupcontacts are empty
  pkg/models/service_member.go
Due: none

adding email copy
  pkg/notifications/move_approved.go
Due: none

Add useful logging information for authenticated user
  pkg/auth/authentication/auth.go
Due: none

Made office app check for new office_users when known user logs in
  pkg/auth/authentication/auth.go
Due: none

Repaired order of user creation in new user case
  pkg/auth/authentication/auth.go
Due: none

handlers for logged_in and service_members/:serviceMemberId include backup contacts
  pkg/handlers/backup_contacts.go
  pkg/handlers/service_members.go
  pkg/models/service_member.go
  pkg/models/service_member_test.go
Due: none

ducks for serviceMembers extracts backup contact information properly
  src/scenes/MyMove/index.jsx
  src/scenes/ServiceMembers/ducks.js
  src/scenes/ServiceMembers/ducks.test.js
  src/shared/User/sampleLoggedInUserPayload.js
Due: prettier

First step for showing a banner on the edit page
  src/appReducer.js
  src/scenes/Review/EditProfile.jsx
  src/scenes/Review/Summary.jsx
  src/scenes/Review/ducks.js
Due: prettier

Use get to handle data that hasn't loaded yet.
  src/scenes/Office/PPMEstimatesPanel.jsx
Due: prettier

don't log /health requests
  cmd/webserver/main.go
Due: none

Add basic form validation to panels to prevent silent failures when invalid data is entered.
  src/scenes/Office/AccountingPanel.jsx
  src/scenes/Office/BackupInfoPanel.jsx
  src/scenes/Office/CustomerInfoPanel.jsx
  src/scenes/Office/OrdersPanel.jsx
  src/scenes/Office/PPMEstimatesPanel.jsx
  src/scenes/Office/editablePanel.jsx
  src/shared/EditablePanel/index.jsx
Due: prettier

dates and locations does not try to get an estimate for sit if there are missing zips
  src/scenes/Moves/Ppm/DateAndLocation.jsx
Due: prettier

hide editable content on estimates panel
  src/scenes/Office/MoveInfo.jsx
  src/scenes/Office/editablePanel.jsx
  src/scenes/Office/office.css
  src/shared/EditablePanel/index.css
Due: prettier

Generate backup contact for every SM
  cmd/generate_test_data/main.go
  pkg/testdatagen/make_backup_contact.go
  pkg/testdatagen/make_service_member.go
Due: none

Create addresses when creating SMs.
  pkg/testdatagen/make_service_member.go
Due: none

Add save banner to all edit panels
  src/scenes/Review/EditBackupContact.jsx
  src/scenes/Review/EditContactInfo.jsx
  src/scenes/Review/EditDateAndLocation.jsx
  src/scenes/Review/EditOrders.jsx
  src/scenes/Review/EditWeight.jsx
Due: prettier

transactionify saving move and advance statuses
  pkg/handlers/moves.go
  pkg/models/move.go
Due: none

serve ppm info packet locally
  cmd/webserver/main.go
  package.json
  public/downloads/ppm_info_sheet.pdf
  src/shared/constants.js
Due: prettier
