Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, prettier, eslint, swagger, gomod, spectral

go-version:
  name: go version
  entry: scripts/check-go-version
  language: script

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write
  language: node

eslint:
  name: eslint
  entry: node_modules/.bin/eslint --ext .js,.jsx --max-warnings=0
  language: node

swagger:
  name: Swagger
  entry: scripts/pre-commit-swagger-validate
  language: script

gomod:
  name: gomod
  entry: scripts/pre-commit-go-mod
  language: script
  pass_filenames: false

spectral:
  name: Spectral yaml linter
  entry: scripts/lint-yaml-with-spectral
  language: script

fix tests
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.test.jsx
Due: prettier, eslint

add notificationSender to context in handler test
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version

created base styling for new version of the shipmentlistitem component, added examples to storybook
  src/components/Customer/Home/ShipmentList/ShipmentList.module.scss
  src/components/Customer/Home/ShipmentList/ShipmentList.stories.jsx
  src/components/Customer/Home/ShipmentList/index.jsx
  src/icons.js
Due: prettier, eslint

fix test
  pkg/handlers/ghcapi/mto_shipment_test.go
Due: go-version

Create Devseed Data for Reweighs
  pkg/testdatagen/make_reweigh.go
  pkg/testdatagen/scenario/devseed.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version

refactor name reweighs to reweigh
  pkg/models/mto_shipments.go
  pkg/services/reweigh/reweigh_creator.go
  pkg/services/reweigh/reweigh_test.go
  pkg/services/reweigh/reweigh_updater.go
  pkg/services/reweigh/rules.go
  pkg/services/reweigh/validation.go
  pkg/services/reweighs/reweighs_creator.go
  pkg/services/reweighs/reweighs_test.go
  pkg/services/reweighs/reweighs_updater.go
  pkg/services/reweighs/rules.go
  pkg/services/reweighs/validation.go
Due: go-version

MB-9020 Add user activity templates to static assets
  pkg/assets/assets.go
Due: go-version

MB-9020 Remove trace ID from email templates
  pkg/notifications/user_account_modified.go
Due: go-version

moves shipmentlist to shared components folder, updated storybook
  src/components/Customer/Home/ShipmentList/ShipmentList.stories.jsx
  src/components/Customer/Home/Step/Step.stories.jsx
  src/components/ShipmentList/ShipmentList.module.scss
  src/components/ShipmentList/ShipmentList.stories.jsx
  src/components/ShipmentList/ShipmentList.test.jsx
  src/components/ShipmentList/index.jsx
  src/pages/MyMove/Home/index.jsx
Due: prettier, eslint

removed required onshipmentclick func
  src/components/ShipmentList/ShipmentList.stories.jsx
  src/components/ShipmentList/index.jsx
Due: prettier, eslint

updated unit test
  src/components/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

added shipment cards to the billable weight card component with test
  src/components/Office/BillableWeightCard/BillableWeightCard.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.module.scss
  src/components/Office/BillableWeightCard/BillableWeightCard.stories.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.test.jsx
  src/components/ShipmentList/ShipmentList.stories.jsx
Due: prettier, eslint

MB-9020 Add ContextError to services
  pkg/services/errors.go
Due: go-version

add reweigh to services
  pkg/services/reweigh.go
  pkg/services/reweigh/reweigh_creator.go
Due: go-version

MB-9020 Return ContextErrors from new func
  pkg/notifications/user_account_modified.go
Due: go-version

Added DocumentViewerSidebar component to storybook with styling
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.jsx
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.module.scss
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.stories.jsx
Due: prettier, eslint

Mock NotificationSender for testing
  pkg/notifications/mocks/NotificationSender.go
  pkg/notifications/notification_sender.go
  pkg/notifications/notification_stub.go
Due: go-version

MB-9020 Update OfficeUserCreator to send email
  pkg/handlers/adminapi/api.go
  pkg/handlers/adminapi/office_users.go
  pkg/handlers/adminapi/office_users_test.go
  pkg/services/mocks/OfficeUserCreator.go
  pkg/services/office_user.go
  pkg/services/office_user/office_user_creator.go
  pkg/services/office_user/office_user_creator_test.go
Due: go-version

pr fixes
  src/components/Office/BillableWeightCard/BillableWeightCard.jsx
  src/components/Office/BillableWeightCard/BillableWeightCard.test.jsx
  src/components/ShipmentList/ShipmentList.test.jsx
Due: prettier, eslint

Tested DocumentViewerSidebar component
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.jsx
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.stories.jsx
  src/pages/Office/DocumentViewerSidebar/DocumentViewerSidebar.test.jsx
Due: prettier, eslint

Add logger to req context to fix admin API tests
  pkg/handlers/adminapi/office_users_test.go
Due: go-version

Add ctx and notificationSender to AdminUserCreator
  pkg/handlers/adminapi/admin_users.go
  pkg/handlers/adminapi/admin_users_test.go
  pkg/handlers/adminapi/api.go
  pkg/services/admin_user.go
  pkg/services/admin_user/admin_user_creator.go
  pkg/services/admin_user/admin_user_creator_test.go
  pkg/services/mocks/AdminUserCreator.go
Due: go-version

MB-8771 Display Reweigh tags in MTO tab (#7200)
  pkg/testdatagen/scenario/shared.go
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.jsx
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.module.scss
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.test.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.test.jsx
Due: go-version, prettier, eslint

Implement the email in AdminUserCreator
  pkg/services/admin_user/admin_user_creator.go
Due: go-version

Display the lower of either the reweigh or initial move weight on the MTO page
  pkg/testdatagen/scenario/shared.go
  src/components/Office/ShipmentDetails/ShipmentDetailsMain.jsx
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.jsx
  src/utils/returnLowestValue.js
  src/utils/returnLowestValue.test.js
Due: go-version, prettier, eslint

Add notificationSender to UserUpdater service
  pkg/handlers/adminapi/api.go
  pkg/handlers/adminapi/users_test.go
  pkg/services/user/user_updater.go
  pkg/services/user/user_updater_test.go
Due: go-version

Add test
  src/components/Office/ShipmentWeightDetails/ShipmentWeightDetails.test.jsx
Due: prettier, eslint

Add context as input to UserUpdater
  pkg/handlers/adminapi/users.go
  pkg/services/mocks/UserUpdater.go
  pkg/services/user.go
  pkg/services/user/user_updater.go
  pkg/services/user/user_updater_test.go
Due: go-version

add wrapper function to handle logs
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/registerServiceWorker.js
  src/scenes/PpmLanding/PPMStatusTimeline.js
  src/scenes/SystemAdmin/Home.jsx
  src/shared/ApproveRejectModal/index.jsx
  src/shared/ConfirmWithReasonButton/index.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.jsx
  src/shared/Swagger/api.js
  src/shared/Swagger/request.js
  src/shared/WizardPage/utils.js
  src/shared/constants.js
  src/shared/featureFlags.js
  src/shared/milmoveLog.js
  src/shared/reduxLogger.js
Due: prettier, eslint

fixed some lint issues
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/registerServiceWorker.js
  src/scenes/SystemAdmin/Home.jsx
  src/shared/ApproveRejectModal/index.jsx
  src/shared/ConfirmWithReasonButton/index.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.jsx
  src/shared/Swagger/request.js
Due: prettier, eslint

more milmove log statements
  src/registerServiceWorker.js
  src/services/swaggerRequest.js
Due: prettier, eslint

fix lint issues
  src/services/swaggerRequest.js
Due: prettier, eslint

Rename Functions and Add New Function To Simulate No Reweigh Weight
  pkg/testdatagen/make_reweigh.go
  pkg/testdatagen/scenario/shared.go
Due: go-version

use format weight and simply logic
  src/components/ShipmentList/index.jsx
Due: prettier, eslint

move mimoveLog to utils folder and remove previously mitigated console statements
  src/pages/Office/MoveAllowances/MoveAllowances.jsx
  src/pages/Office/MoveTaskOrder/MoveTaskOrder.jsx
  src/pages/Office/Orders/Orders.jsx
  src/pages/Office/ServicesCounselingMoveAllowances/ServicesCounselingMoveAllowances.jsx
  src/pages/Office/ServicesCounselingOrders/ServicesCounselingOrders.jsx
  src/registerServiceWorker.js
  src/scenes/.eslintrc
  src/scenes/PpmLanding/PPMStatusTimeline.js
  src/scenes/SystemAdmin/Home.jsx
  src/services/swaggerRequest.js
  src/shared/.eslintrc
  src/shared/ApproveRejectModal/index.jsx
  src/shared/ConfirmWithReasonButton/index.jsx
  src/shared/JsonSchemaForm/JsonSchemaField.js
  src/shared/JsonSchemaForm/index.jsx
  src/shared/Swagger/api.js
  src/shared/Swagger/request.js
  src/shared/WizardPage/utils.js
  src/shared/constants.js
  src/shared/featureFlags.js
  src/shared/reduxLogger.js
  src/utils/milmoveLog.js
Due: prettier, eslint

move weights service, entitlements improvements, devseed data
  pkg/handlers/ghcapi/api.go
  pkg/handlers/ghcapi/internal/payloads/notes
  pkg/handlers/ghcapi/mto_shipment_test.go
  pkg/handlers/internalapi/api.go
  pkg/handlers/internalapi/mto_shipment_test.go
  pkg/handlers/primeapi/api.go
  pkg/handlers/primeapi/mto_shipment.go
  pkg/handlers/primeapi/mto_shipment_test.go
  pkg/models/entitlements.go
  pkg/services/move.go
  pkg/services/move/move_weights.go
  pkg/services/mto_shipment/mto_shipment_updater.go
  pkg/services/mto_shipment/mto_shipment_updater_test.go
  pkg/testdatagen/scenario/bandwidth.go
  pkg/testdatagen/scenario/shared.go
  pkg/testdatagen/scenario/subscenarios.go
Due: go-version

Remove DCRTSA from prime
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/m_t_o_service_item_domestic_crating.go
  pkg/gen/primemessages/m_t_o_service_item_model_type.go
  pkg/gen/primemessages/re_service_code.go
  pkg/handlers/primeapi/mto_service_item_test.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  swagger/prime.yaml
Due: go-version, swagger, spectral

Remove DCRTSA from support API
  pkg/gen/supportapi/embedded_spec.go
  pkg/gen/supportmessages/m_t_o_service_item_domestic_crating.go
  pkg/gen/supportmessages/m_t_o_service_item_model_type.go
  pkg/gen/supportmessages/re_service_code.go
  pkg/handlers/supportapi/internal/payloads/model_to_payload.go
  swagger/support.yaml
Due: go-version, swagger, spectral

Remove type from crating service item prime api
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/dimension_type.go
  pkg/gen/primemessages/m_t_o_service_item_dimension.go
  pkg/handlers/primeapi/payloads/model_to_payload.go
  swagger/prime.yaml
Due: go-version, swagger, spectral

Make AdminUserCreator use interface, not bool
  pkg/services/admin_user/admin_user_creator.go
Due: go-version

Path conditions:
  go-version: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$
