Repository transcom/mymove: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger, gomod, spectral

Path conditions:
  go-version: any of: \.go$
  ato-go-linter: any of: \.go$
  appcontext-linter: any of: \.go$
  prettier: any of: \.(js|jsx)$
  eslint: any of: \.(js|jsx)$, but not: (?x)^(
  cypress/|
  .storybook/|
  wallaby.js|
  config-overrides.js|
  .happo.js
)

  swagger: any of: swagger/* and \.(yaml|yml)$ and not (swagger-def/*)
  gomod: any of: go.mod
  spectral: any of: swagger/(support|prime).yaml and \.(yaml|yml)$

fixing linter issue
  src/pages/MyMove/Multi-Moves/MultiMovesMoveContainer/MultiMovesMoveContainer.jsx
Due: prettier, eslint

Renamed SSPPMShipments to PPMShipments. Added certification fixes, linter spelling fix
  pkg/factory/ppm_shipment_factory.go
  pkg/models/move.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing another silly linter issue
  src/pages/MyMove/Multi-Moves/MultiMovesMoveInfoList/MultiMovesMoveInfoList.jsx
Due: prettier, eslint

removed comments in code
  src/pages/MyMove/Orders.jsx
Due: prettier, eslint

remove swagger-def stuff, just add to go struct
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcmessages/shipment_address_update.go
  pkg/gen/primeapi/embedded_spec.go
  pkg/gen/primemessages/shipment_address_update.go
  pkg/gen/primev2api/embedded_spec.go
  pkg/gen/primev2messages/shipment_address_update.go
  pkg/models/mto_service_items.go
  swagger-def/definitions/ShipmentAddressUpdate.yaml
  swagger/ghc.yaml
  swagger/prime.yaml
  swagger/prime_v2.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger, spectral

config to deploy to loadtest
  .circleci/config.yml
Due: none

cleaned up css
  src/components/MoveSearchForm/MoveSearchForm.module.scss
  src/components/Table/SearchResultsTable.module.scss
  src/components/Table/TableQueue.module.scss
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
Due: prettier, eslint

added test
  src/components/MoveSearchForm/MoveSearchForm.jsx
  src/components/MoveSearchForm/MoveSearchForm.test.jsx
Due: prettier, eslint

moved tabs from movesearch component into the ServicesCounselorQueue and removed tabs from TableQueue
  src/components/MoveSearchForm/MoveSearchForm.jsx
  src/components/MoveSearchForm/MoveSearchForm.test.jsx
  src/components/Table/TableQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
Due: prettier, eslint

removed old css and clean up
  src/components/MoveSearchForm/MoveSearchForm.module.scss
  src/components/Table/TableQueue.module.scss
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.module.scss
Due: prettier, eslint

carrying over changes from the previous branch
  pkg/assets/sql_scripts/move_history_fetcher.sql
  src/constants/MoveHistory/Database/FieldMappings.js
  src/constants/MoveHistory/EventTemplates/CreateMTOShipment/createMTOShipment.jsx
  src/constants/MoveHistory/EventTemplates/UpdateCloseoutOffice/updateCloseoutOffice.jsx
  src/constants/MoveHistory/EventTemplates/UpdateCloseoutOffice/updateCloseoutOffice.test.jsx
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/updateMTOShipment.test.jsx
  src/constants/MoveHistory/EventTemplates/index.js
  src/constants/MoveHistory/UIDisplay/Operations.js
  src/pages/Office/MoveHistory/LabeledDetails.jsx
Due: prettier, eslint

updated links in Home index.js to add params, added backend logic for upload deletion, updated routes and EditOrders component
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/uploads/delete_upload_parameters.go
  pkg/gen/internalapi/internaloperations/uploads/delete_upload_urlbuilder.go
  pkg/handlers/internalapi/uploads.go
  pkg/services/mocks/UploadInformationFetcher.go
  pkg/services/upload.go
  pkg/services/upload/upload_information_fetcher.go
  src/constants/routes.js
  src/pages/MyMove/EditOrders.jsx
  src/pages/MyMove/Home/MoveHome.jsx
  src/pages/MyMove/Home/index.jsx
  src/services/internalApi.js
  swagger-def/internal.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, prettier, eslint, swagger

Added migration, columns appear
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240223144515_add_pro_gear_weights_to_mto_shipments.up.sql
Due: none

initial commit, removing conditional rendering for landing page
  src/pages/MyMove/Multi-Moves/MultiMovesLandingPage.jsx
Due: prettier, eslint

create Supervisor checkbox
  src/constants/elevatedPrivileges.js
  src/pages/Admin/OfficeUsers/OfficeUserCreate.jsx
  src/pages/Admin/OfficeUsers/OfficeUserEdit.jsx
  src/scenes/SystemAdmin/shared/ElevatedPrivilegeCheckboxes.jsx
Due: prettier, eslint

create us_post_region_cities
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240223154843_us_post_region_city_trdm_table_creation.up.sql
Due: none

add zips to west point and miami
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240223200739_updateDutyLocationsZip.up.sql
Due: none

missing semi colon
  migrations/app/schema/20240223200739_updateDutyLocationsZip.up.sql
Due: none

added status filtering based on office role
  src/components/Table/SearchResultsTable.jsx
  src/constants/queues.js
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.jsx
Due: prettier, eslint

Added updates removing PersonallyProcuredMoves from Move model and references using this field.
  pkg/handlers/internalapi/users.go
  pkg/handlers/primeapi/payloads/model_to_payload_test.go
  pkg/handlers/primeapiv2/payloads/model_to_payload_test.go
  pkg/models/move.go
  pkg/models/order.go
  pkg/models/ppm_shipment.go
  pkg/models/weight_ticket.go
  pkg/services/move/move_router.go
  pkg/services/move/move_router_test.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet.go
  pkg/services/shipment_summary_worksheet/shipment_summary_worksheet_test.go
  pkg/testdatagen/make_personally_procured_move.go
  pkg/testdatagen/scenario/e2ebasic.go
Due: go-version, ato-go-linter, appcontext-linter

Removed PayloadForPPMModel function
  pkg/handlers/internalapi/moves.go
Due: go-version, ato-go-linter, appcontext-linter

search queue now only shows results for services counselors when appropriate
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/move/search_moves.go
  pkg/services/move/move_searcher.go
  swagger-def/ghc.yaml
  swagger/ghc.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger

removed empty test
  src/pages/Office/ServicesCounselingQueue/ServicesCounselingQueue.test.jsx
Due: prettier, eslint

Added missing code for TestSaveMoveDependenciesFail
  pkg/models/move.go
Due: go-version, ato-go-linter, appcontext-linter

added allowable fields logic
  migrations/app/migrations_manifest.txt
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
Due: go-version, ato-go-linter, appcontext-linter

Update migrations_manifest.txt
  migrations/app/migrations_manifest.txt
Due: none

Merge branch 'B-18883-Allow-Serviceitem-Update-With-PaymentRequest-MAIN' into B-18883-Allow-Serviceitem-Update-With-PaymentRequest-INT
  migrations/app/migrations_manifest.txt
  pkg/services/mto_service_item/mto_service_item_validators.go
  pkg/services/mto_service_item/mto_service_item_validators_test.go
Due: go-version, ato-go-linter, appcontext-linter

fixing issue with unnaprove annotation
  src/constants/MoveHistory/EventTemplates/UpdateMTOShipment/updateMTOShipment.test.jsx
Due: prettier, eslint

Added sql script to add county column to addresses
  migrations/app/migrations_manifest.txt
  migrations/app/schema/20240226183440_add_county_column_to_address_table.up.sql
Due: none

Added Domestic and Origin Price. Added price for storage receipts and changed wording to "authorized price" instead of "amount"
  src/components/Office/PPM/PPMHeaderSummary/HeaderSection.jsx
  src/components/Office/PPM/PPMHeaderSummary/PPMHeaderSummary.jsx
  src/components/Office/PPM/ReviewDocumentsSidePanel/ReviewDocumentsSidePanel.jsx
Due: prettier, eslint

fixed failing playwright tests after merge
  playwright/tests/my/milmove/ppms/customerPpmTestFixture.js
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
Due: prettier, eslint

Revert earlier changes to allowableWeight var on frontend.
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
Due: prettier, eslint

Decoupled weight ticket values so that weights from one ticket don't overwrite the values in a subsequent ticket.
  src/components/Office/PPM/ReviewWeightTicket/ReviewWeightTicket.jsx
Due: prettier, eslint

created model, factories, and tests for usprc
  pkg/factory/shared.go
  pkg/factory/us_post_region_city_factory.go
  pkg/factory/us_post_region_city_factory_test.go
  pkg/models/us_post_region_city.go
  pkg/models/us_post_region_city_test.go
Due: go-version, ato-go-linter, appcontext-linter

revert too old date
  pkg/notifications/move_payment_reminder.go
Due: go-version, ato-go-linter, appcontext-linter

removed comment block
  playwright/tests/my/milmove/ppms/entireShipmentOnboarding.spec.js
Due: prettier, eslint

setup
  migrations/app/migrations_manifest.txt
  pkg/gen/ghcapi/embedded_spec.go
  pkg/gen/ghcapi/ghcoperations/mto_shipment/update_m_t_o_shipment.go
  pkg/gen/internalapi/embedded_spec.go
  pkg/gen/internalapi/internaloperations/mto_shipment/update_m_t_o_shipment.go
  swagger-def/ghc.yaml
  swagger-def/internal.yaml
  swagger/ghc.yaml
  swagger/internal.yaml
Due: go-version, ato-go-linter, appcontext-linter, swagger
